{% extends "base.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load cl_extras %}
{% load breadcrumbs %}
{% load entity_renderer %}

{% block title %}| {% get_template_entity_name template.entity_class template as entity_shortname %}{% if form_method.value == 1 %} Create {{ entity_shortname }}{% else %} Update {{ entity_shortname }}{% endif %}{% endblock title %}

{% block embedding_wrapper %}
  {% get_template_entity_name template.entity_class template as entity_shortname %}
  {% if form_method.value == 1 %}
    {% render_og_tags header='Create '|add:entity_shortname %}
  {% else %}
    {% render_og_tags header='Update '|add:entity_shortname %}
  {% endif %}
{% endblock embedding_wrapper %}

{% block indexing_robots %}
  {% with stop_robot_indexing=True %}
    {{ block.super }}
  {% endwith %}
{% endblock indexing_robots %}

{% block container %}
  {% get_brand_map_rules as brand_mapping %}
  <script src="{% static 'js/lib/simple-datatables/simple-datatables.min.js' %}"></script>
  <script src="{% static 'js/lib/easymde/easymde.min.js' %}"></script>
  <script src="{% static 'js/lib/moment.min.js' %}"></script>
  <script src="{% static 'js/lib/xlsx.mini.min.js' %}"></script>

  {% compress js %}
    <script type="text/javascript" src="{% static 'js/lib/lightpick.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/clinicalcode/components/numberInput.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/clinicalcode/components/dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/clinicalcode/components/tooltipFactory.js' %}"></script>
    <script type="module" src="{% static 'js/clinicalcode/components/entityCreator.js' %}"></script>
    <script type="module" src="{% static 'js/clinicalcode/components/stepsWizard.js' %}"></script>
    <script type="module" src="{% static 'js/clinicalcode/components/toastNotification.js' %}"></script>
  {% endcompress %}

  {% compress css %}
    <link rel="stylesheet" href="{% sass_src 'scss/pages/create.scss' %}" type="text/css" />
  {% endcompress %}

  {% get_template_entity_name template.entity_class template as entity_shortname %}
  <header class="main-header">
    <div class="main-header__inner-container main-header__inner-container--centre-constrained">
      <section class="breadcrumbs">
        <span class="breadcrumb-item">
          <span class="marker"></span>
          <span class="breadcrumb">
            <a href="/">Home</a>
          </span>
        </span>
        <span class="breadcrumb-item">
          <span class="marker"></span>
          <span class="breadcrumb">
            <a href="/HDRN/create/4">Create {{ entity_shortname }}</a>
          </span>
        </span>
      </section>
    </div>
  </header>
  
  <main class="main-content">
    {% render_wizard_navigation %}
    {% endrender_wizard_navigation %}

    <div class="main-content__inner-container main-content__inner-container--constrained main-content__inner-container--centred">
      <article class="phenotype-creation">
        <section class="phenotype-creation__header">
          {% if form_method.value == 1 %}
            <h1>Create a new {{ entity_shortname }}:<span>step by step</span></h1>
            <p>Follow the steps below to create and publish your {{ entity_shortname }}.</p>
          {% else %}
            <h1>Update your {{ entity_shortname }}:<span>step by step</span></h1>
            <p>Follow the steps below to update and publish your {{ entity_shortname }}.</p>
          {% endif %}
        </section>
        
        {% if is_historical %}
          <section class="phenotype-creation__alert">
            <div class="phenotype-creation__alert-content">
              <div class="phenotype-creation__alert-icon"></div>
              <div class="text">
                <h3>Legacy {{ entity_shortname }}</h3>
                <p>You are editing a legacy version of this {{ entity_shortname }}.</p>
                <p>
                  <strong>Please note: </strong>
                  If you save any changes to this {{ entity_shortname }} it will overwrite the most recent version.
                </p>
              </div>
            </div>
          </section>
        {% endif %}
        
        <ol class="phenotype-progress" id="main-wizard">
          {% render_wizard_sections %}
          {% endrender_wizard_sections %}
        </ol>

        <section class="phenotype-creation__completed" id="completed-section">
          <div class="phenotype-creation__completed-row">
            <button class="secondary-btn text-accent-darkest bold washed-accent" aria-label="Save Draft" id="cancel-entity-btn">
              Cancel
            </button>
            <button class="primary-btn text-accent-darkest bold tertiary-accent icon icon-create sweep-left" aria-label="Create or Update Entity" id="submit-entity-btn">
              {% if form_method.value == 1 %}
                Create {{ entity_shortname }}
              {% else %}
                Update {{ entity_shortname }}
              {% endif %}
            </button>
          </div>
        </section>
      </article>
    </div>
  </main>

  {% url 'search_entities' as referral_url %}
  {% to_json_script None data-owner="entity-creator" id="referral-links" name="links" desc-type="text/json" referral-url=referral_url %}

  <script type="application/json" data-owner="entity-creator" id="form-method" name="method" desc-type="int">{{ form_method.value }}</script>
  <script type="application/json" data-owner="entity-creator" id="historical-data" name="is_historical" desc-type="int">
    {% if is_historical %}
      1
    {% else %}
      0
    {% endif %}
  </script>
  <script type="application/json" data-owner="entity-creator" id="derived-from-group" name="derived_access" desc-type="int">
    {% if derived_ownership %}
      1
    {% else %}
      0
    {% endif %}
  </script>

  {% to_json_script metadata data-owner="entity-creator" id="metadata-data" name="metadata" desc-type="text/json" %}
  {% to_json_script template data-owner="entity-creator" id="template-data" name="template" desc-type="text/json" %}
  {% to_json_script brand_mapping data-owner="entity-creator" id="mapping-data" name="mapping" desc-type="text/json" data-shortname=entity_shortname %}

  {% if entity is not None %}
    {% to_json_script entity data-owner="entity-creator" id="entity-data" name="entity" desc-type="text/json" %}
  {% endif %}

  {% if object_reference is not None %}
    {% url 'entity_history_detail' pk=object_reference.id history_id=object_reference.history_id as entity_referral %}
    {% to_json_script object_reference data-owner="entity-creator" id="entity-object" name="object" desc-type="text/json" referral-url=entity_referral %}
  {% endif %}
{% endblock container %}
