{% extends "base_scss.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load cl_extras %}
{% load breadcrumbs %}
{% load entity_renderer %}

{% block title %}| Create a Phenotype {% endblock title %}

{% block indexing_robots %}
  {% with stop_robot_indexing=True %}
    {{ block.super }}
  {% endwith %}
{% endblock indexing_robots %}

{% block container %}
  <!-- Page Stylesheets -->
  <link href="{% sass_src 'scss/pages/select.scss' %}" rel="stylesheet" type="text/css" />

  <!-- Dependencies -->
  {% compress js file %}
  <script type="module" src="{% static 'js/clinicalcode/redesign/forms/entitySelector.js' %}"></script>
  {% endcompress %}

  <!-- Main -->
  <header class="main-header banner">
    <div class="banner__container">
      <h2 class="banner__title">Create a Phenotype</h2>
      <p class="banner__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl amet aliquet at.
      </p>
      <div class="banner__cards"></div>
    </div>
  </header>
  
  <main class="main-content">
    <div class="main-content__inner-container">
      <article class="entity-panel">
        <!-- Select entity type -->
        <section class="entity-panel__group">
          <h3 class="entity-panel__title">1. Select a Phenotype</h3>
          <p class="entity-panel__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl amet aliquet at.</p>
          <div class="entity-panel__container slim-scrollbar" id="entity-options"></div>
        </section>
        
        <!-- Contextual entity templates -->
        <section class="entity-panel__group hide">
          <h3 class="entity-panel__title">2. Select a Template</h3>
          <p class="entity-panel__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl amet aliquet at.</p>
          <div class="entity-panel__container slim-scrollbar" id="entity-templates"></div>
        </section>

        <!-- Confirmation -->
        <section class="entity-panel__interaction">
          <button class="primary-btn text-accent-darkest bold secondary-accent icon r-arrow-icon sweep-left"
            aria-label="Go Next" id="next-btn" disabled>
            Continue
          </button>
        </section>
      </article>
    </div>
  </main>

  <!-- Card template -->
  <template name="card" data-owner="entity-selector">
    <article class="entity-panel__card" data-type="${type}" data-id="${id}">
      <div class="entity-panel__card-body">
        <span class="entity-panel__card-hint">${hint}</span>
        <h3 class="entity-panel__card-title">${title}</h3>
        <p class="entity-panel__card-description">${description}</p>
        <div class="entity-panel__card-interface">
          <button class="primary-btn text-accent-darkest bold tertiary-accent"
            aria-label="Select Item" id="select-btn">
            Select
          </button>
        </div>
      </div>
    </article>
  </template>

  <!-- Entity data -->
  <data name="data" data-owner="entity-selector" type="text/json">{% if entity_data %} {{ entity_data|jsonify|safe }} {% endif %}</data>
{% endblock container %}