<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
<p>Please note:</p>
<ul>
  <li>The e-mail could end up in your spam inbox so please make sure to check there;</li>
  <li>And that it might take up to 30 minutes for it to arrive in your inbox.</li>
</ul>
<p>
  If you still haven't received the reset e-mail after following the above instructions then please do
  <a href="{% url 'contact_us' %}">contact us</a>
  for assistance.
</p>
