@import "../_methods";
@import "../_variables";
@import "../_media";
@import "../_utils";

.row {
  &__about {

    background-color: white;

    @include grid-template(false, 2, 1fr);

    border-radius: 1em;
    padding: 1.5em;
    margin: 0 5em 0 -5em;

    position: absolute;
    top: 0;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.15);

    .content-container {
      list-style: none;
      

      &__full{
        grid-column: 1 / span 2;
        list-style: none;
      }

     

    }

  

    .item-dropdown {
      display: flex;
      justify-content: flex-start;
      padding: 0.5em 0;
      margin: 0 22px;
      text-decoration: none;
      flex-direction: row;

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 16px;
        border-radius: 1em;
        border-radius: 6px;
        background: #f2f2f2;
        @include prefix(transition, all 250ms ease-in, webkit moz o);
      }

      &__text {
        @include prefix(transition, all 250ms ease-in, webkit moz o);
        flex-grow: 1;
      }

      &__title {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        color: black;
      }

      &__description {
        word-break: break-word;
        color: #6e6d7a;
        line-height: 16px;
        font-size: 12px;
        font-weight: 400;
      }
    }

    hr {
      display: block;
      height: 1px;
      border: 0;
      margin-right: 1.5em;
      margin-left: 1.5em;
      background: #e7e7e9;
    }



 
  }
}
