@import "../_methods";
@import "../_variables";
@import "../_media";
@import "../_utils";

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  width: 100%;
  right: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  .sub-menu {
    position: absolute;
    top: 7em;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    min-width: 27.5em;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 999;
    margin-left: -5em;
    clip-path: inset(0 10em 10em 15em);
    opacity: 0;
    font-weight: initial;
    padding: 1.5em;
    transition: all 0.25s ease-out, opacity 0.25s ease-in,
      margin-left 0.25s ease-out, clip-path 0.15s ease-out;
  }

  &:hover {
    display: flex;
  }
}

.dropdown-content {
  &:hover {
    .sub-menu {
      pointer-events: all;
      clip-path: inset(0 0 0 0);
    }
  }
}

#sub-menu-container {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  top: 2.5em;
  width: 100%;
}

.dropdown-content {
  &:hover {
    ~ {
      #sub-menu-container {
        #sub-menu-holder {
          animation: clipPath 0.25s ease-out 1 forwards;
          transition: clip-path 0.25s ease-out, left 0.15s ease-out,
            height 0.15s ease-out;
          opacity: 1;
          right: auto;
        }
      }
    }
  }
  &:nth-of-type(1) {
    &:hover {
      ~ {
        #sub-menu-container {
          #sub-menu-holder {
            clip-path: inset(0 28.75em 0 0 round 10px);
            height: 14em;
            left: calc(-9em + -1px);
          }
        }
      }
    }
  }
  &:nth-of-type(4) {
    &:hover {
      ~ {
        #sub-menu-container {
          #sub-menu-holder {
            clip-path: inset(0 28.75em 0 0 round 10px);
            height: 14em;
            left: calc(19em + 1px);
          }
        }
      }
    }
  }
  &:nth-of-type(2) {
    &:hover {
      ~ {
        #sub-menu-container {
          #sub-menu-holder {
            clip-path: inset(0 15em 0 0 round 10px);
            left: calc(-6.5em + -1px);
            height: 18.75em;
          }
        }
      }
    }
  }
  &:nth-of-type(3) {
    &:hover {
      ~ {
        #sub-menu-container {
          #sub-menu-holder {
            clip-path: inset(0 15em 0 0 round 10px);
            left: calc(2.75em + 1px);
            height: 24.5em;
          }
        }
      }
    }
  }
}

menu-text {
  &:after {
    transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.01s;
    opacity: 0;
    content: "";
    position: absolute;
    pointer-events: none;
    bottom: -5em;
    left: calc(50% - 10px);
    border-color: transparent transparent white transparent;
    border-width: 10px;
    border-style: solid;
  }
}
.menu-item {
  &:hover {
    .menu-text {
      &:after {
        bottom: 0.5em;
        opacity: 1;
        transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.15s;
      }
    }
    .sub-menu {
      opacity: 1;
      margin-left: 0;
    }
    ~ {
      #sub-menu-container {
        #sub-menu-holder {
          transition: transform 0.25s ease-out, opacity 0.25s ease-out,
            clip-path 0.25s ease-out;
        }
      }
    }
  }
}
