@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// Simple accordian
///   @desc An accordian that defaults to transparent, can be filled.
///         Used for filters currently
.accordian {
  width: 100%;

  &__input {
    display: none;
  }

  &__label {
    --accordian-accent: col(accent-transparent);

    cursor: pointer;
    overflow: hidden;
    display: block;
    padding: 0.5rem 1rem 0.5rem 0;
    background-color: var(--accordian-accent);

    & > h4 {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: content-box;
      font-size: 14px;
    }

    &:after {
      @include prefix(transition, transform 250ms ease-in-out, webkit moz o);
      content: '\f107';
      display: block;
      position: absolute;
      font-family: var(--icons-name);
      font-style: var(--icons-style);
      font-size: var(--icons-size);
      right: 0;
      top: 0;
      width: 2em;
      height: 100%;
      line-height: 2.25em;
      text-align: center;
      background-color: var(--accordian-accent);
    }
  }

  &__input:checked + &__label:after {
    @include prefix(transform, rotate(180deg), webkit moz o);
  }

  &__container {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  &__input:not(:checked) ~ &__container {
    * {
      display: none;
    }
  }

  &__input:checked ~ &__container {
    opacity: 1;
    height: auto;
  }
}

/// Fill accordian
///   @desc A filled, toggleable accordian with stylistic state. 
///         Used to control visibility of content in the phenotype/create page
.fill-accordian {
  @include flex-col();
  position: relative;
  width: 100%;
  max-width: 100%;

  &__input {
    display: none;
  }

  &__input:checked + &__label {
    background-color: col(accent-darkish);

    .fill-accordian__name-input {
      --bg-color: var(--color-accent-darkish);
      --dot-color: rgb(0, 0, 0);
    }

    .fill-accordian__input-title {
      display: flex;
    }
  }

  &__input:checked + &__label:after {
    content: '\f077';
  }

  &__input:checked ~ &__container {
    opacity: 1;
    height: auto;
  }

  &__label:hover {
    background-color: col(accent-darkish);

    .fill-accordian__name-input {
      --bg-color: var(--color-accent-darkish);
    }
  }

  // Used to define an input field within the accordian, used exclusively for create page
  &__input-title {
    display: none;
    color: col(text-dark);
    max-width: 10ch;
    margin-right: 0.5rem;
    font-weight: bold;
  }

  &__name-input {
    @include remove-appearance();
    @include prefix(transition, 'background-color 250ms ease-in-out, border-color 250ms ease-in-out', webkit moz o);
    --bg-color: var(--color-accent-lightest);
    --dot-color: transparent;

    color: col(text-dark);
    font-family: inherit;
    margin: 0;
    resize: none;
    border: 2px solid transparent;
    border-bottom: 2px dotted var(--dot-color);
    padding: 0.25rem 0.5rem;
    width: 100%;
    max-width: 50%;
    background-color: var(--bg-color);

    @include media('<tablet', 'screen') {
      max-width: 30%;
    }
  
    &:focus {
      outline: none;
      border-radius: 5px;
      border: 2px solid col(accent-dark);
      background-color: col(accent-lightest);
    }
  
    &:disabled {
      opacity: 0.5;
    }

    &--invalid {
      border-radius: 5px;
      border: 2px solid col(accent-danger);
    }
  }

  &__label {
    @include prefix(transition, background-color 250ms ease-in-out, webkit moz o);
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    padding: 0.5rem 1rem;
    background-color: col(accent-lightest);
    max-width: calc(100% - 2em);

    span {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:not(.fill-accordian__input-title) {
        width: 20ch;

        @include media(">desktop", "screen") {
          width: 75%;
        }
      }
    }

    &:after {
      @include prefix(transition, background-color 250ms ease-in-out, webkit moz o);
      content: '\f107';
      display: block;
      position: absolute;
      font-family: var(--icons-name);
      font-style: var(--icons-style);
      font-size: var(--icons-size);
      right: 0;
      top: 0;
      width: 2em;
      height: 100%;
      line-height: 2.25em;
      text-align: center;
      background-color: col(accent-lightest);
    }
  }


  &__container {
    @include prefix(transition, opacity 250ms ease-in-out, webkit moz o);
    @include flex-col();
    flex-wrap: nowrap;
    position: relative;
    opacity: 0;
    height: 0;
    max-width: 100%;
    overflow: hidden;
  }
}
