@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// Simple accordion
///   @desc An accordion that defaults to transparent, can be filled.
///         Used for filters currently
.accordion {
  width: 100%;

  &__input {
    display: none;
  }

  &__label {
    --accordion-accent: col(accent-transparent);

    cursor: pointer;
    overflow: hidden;
    display: block;
    padding: 0.5rem 1rem 0.5rem 0;
    background-color: var(--accordion-accent);

    & > h4 {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: content-box;
      font-size: 14px;
    }

    &:after {
      @include prefix(transition, transform 250ms ease-in-out, webkit moz o);
      content: '\f107';
      display: block;
      position: absolute;
      font-family: var(--icons-name);
      font-style: var(--icons-style);
      font-size: var(--icons-size);
      right: 0;
      top: 0;
      width: 2em;
      height: 100%;
      line-height: 2.25em;
      text-align: center;
      background-color: var(--accordion-accent);
    }
  }

  &__input:checked + &__label:after {
    @include prefix(transform, rotate(180deg), webkit moz o);
  }

  &__container {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  &__input:not(:checked) ~ &__container {
    * {
      display: none;
    }
  }

  &__input:checked ~ &__container {
    opacity: 1;
    height: auto;
  }
}

/// Fill accordion
///   @desc A filled, toggleable accordion with stylistic state. 
///         Used to control visibility of content in the phenotype/create page
.fill-accordion {
  @include flex-col(false, true);
  position: relative;
  width: 100%;
  max-width: 100%;

  &:has(.fill-accordion__input:checked) {
    outline: 1px solid col(accent-washed);
  }

  &__input {
    display: none;
  }

  &__input:checked + &__label {
    outline: 0;

    &:not(:hover) {
      background-color: col(accent-darkish);

      .fill-accordion__label-icon {
        background-color: col(accent-darkish);
      }
    }

    .fill-accordion__name-input {
      --bg-color: var(--color-accent-darkish);
      --dot-color: rgb(0, 0, 0);
    }

    .fill-accordion__input-title {
      display: flex;
    }

    .fill-accordion__label-icon:after {
      content: '\f077';
    }
  }

  &__input:checked ~ &__container {
    opacity: 1;
    height: auto;
  }

  // Used to define an input field within the accordion, used exclusively for create page
  &__input-title {
    display: none;
    color: col(text-dark);
    max-width: 10ch;
    margin-right: 0.5rem;
    font-weight: bold;
  }

  &__wrap-label {
    white-space: normal !important;
    text-overflow: initial;
    word-break: break-word;
    max-width: calc(100% - 2.5rem);
  }

  &__label:hover {
    background-color: col(accent-washed);

    .fill-accordion__name-input {
      --bg-color: var(--color-accent-darkish);
    }

    & .fill-accordion__label-icon {
      background-color: col(accent-washed);
    }
  }

  &__name-input {
    @include remove-appearance();
    @include prefix(transition, 'background-color 250ms ease-in-out, border-color 250ms ease-in-out', webkit moz o);
    --bg-color: var(--color-accent-lightest);
    --dot-color: transparent;

    color: col(text-dark);
    font-family: inherit;
    margin: 0;
    resize: none;
    border: 2px solid transparent;
    border-bottom: 2px dotted var(--dot-color);
    padding: 0.25rem 0.5rem;
    width: 100%;
    max-width: 50%;
    background-color: var(--bg-color);

    @include media('<tablet', 'screen') {
      max-width: 30%;
    }
  
    &:focus {
      outline: none;
      border-radius: 5px;
      border: 2px solid col(accent-dark);
      background-color: col(accent-lightest);
    }
  
    &:disabled {
      opacity: 0.5;
    }

    &--invalid {
      border-radius: 5px !important;
      border: 2px solid col(accent-danger) !important;
    }
  }

  &__label {
    @include prefix(transition, background-color 250ms ease-in-out, webkit moz o);
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    padding: 0;
    background-color: col(accent-lightest);
    max-width: 100%;
    outline: 1px solid col(accent-washed);

    span:not(.fill-accordion__label-icon) {
      padding: 1rem 0.5rem;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:not(.fill-accordion__input-title):not(.fill-accordion__wrap-label) {
        width: 20ch;

        @include media(">desktop", "screen") {
          width: 75%;
        }
      }
    }


    &__delete-icon {
      background: transparent;
      border: none;
    
    &:after {
      @include fontawesome-icon();
      content: '\f1f8';
      color: col(accent-danger);
    }
  }

    & .fill-accordion__label-icon {
      display: block;
      position: relative;
      width: 3em;
      height: 100%;
      padding: 1rem 0;
      margin-left: auto;
      background-color: col(accent-lightest);
      @include prefix(transition, 'background-color 250ms ease-in-out, border-color 250ms ease-in-out', webkit moz o);

      &:after {
        content: '\f107';
        display: block;
        position: relative;
        font-family: var(--icons-name);
        font-style: var(--icons-style);
        font-size: var(--icons-size);
        top: calc(50% - 1em);
        width: 100%;
        height: 100%;
        line-height: 2em;
        text-align: center;
        color: transparent;
        background: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        filter: invert(1) contrast(200%);
        -webkit-filter: invert(1) contrast(200%);
      }
    }
  }

  &__container {
    @include prefix(transition, opacity 250ms ease-in-out, webkit moz o);
    @include flex-col();
    flex-wrap: nowrap;
    position: relative;
    opacity: 0;
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0rem 0.5rem;
  }
}
