@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

// Banner
//  @desc defines a rectangular banner shown along the top of a page
.banner {
  @include flex-col();

  &--background {
    background-color: var(--banner-bg-color, #000);
  }

  &--ontology-background {
    background-color: $golden_peach;
  }

  & > div:first-child:not(.banner--background):not(.banner--ontology-background) {
    background-color: var(--phenotype-banner-bg-color);
  }

  &-image {
    background: var(--banner-url);
    background-repeat: no-repeat;
    background-position: center;

    &:not(.banner-image--transparent) {
      background-color: var(--banner-bg-color, #000);
    }

    @include media('<tablet', 'screen') {
      background-position: 50% 50%;
      background-size: cover;
    }
  }

  &__container {
    @include flex-col();
    padding: 0.5rem 0 0.5rem 0;
    width: var(--phenotype-article-lg-size);
    max-width: var(--phenotype-article-lg-size);
    align-items: flex-start;
    align-self: center;
  
    @include media(">desktop", "screen") {
      width: var(--phenotype-article-sm-size);
      max-width: var(--phenotype-article-sm-size);
    }
  
    @include media("<desktop", "screen") {
      width: var(--phenotype-article-lg-size);
      max-width: var(--phenotype-article-lg-size);
    }

    &.container {
      &--desktop-lg {
        @include media("<desktop-lg", "screen") {
          width: var(--phenotype-article-lg-size);
          max-width: var(--phenotype-article-lg-size);
        }
      }
    }

    &--lg-container {
      @include media("<desktop", "screen") {
        width: var(--phenotype-article-lg-size);
        max-width: var(--phenotype-article-lg-size);
      }

      @include media(">desktop", "<desktop-lg", "screen") {
        width: var(--phenotype-article-lg-size);
        max-width: calc(var(--phenotype-article-lg-size) - 8rem);
      }

      @include media(">desktop-lg", "screen") {
        width: var(--phenotype-article-lg-size);
        max-width: var(--phenotype-article-lg-size);
      }
    }
   
    &__left-landing-page {
      width: 50%;
      max-width: 450px;
      padding-left: 6rem;
      padding-top: 2rem;
      align-content: left;

      @include media("<tablet", "screen") {
        padding: 1rem 0 0 2rem;
      }
    }
  }

  &__flex-title-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 1rem;
    padding: 0;
    align-items: center;
    margin: 2rem 0 0 0;

    & > h2 {
      display: flex;
      flex-flow: row nowrap;
      padding: 0;
      margin: 0;
      word-break: break-word;

      & > a {
        display: inline-block;
        align-self: center;
        justify-self: center;
        vertical-align: middle;
      }
    }

    & > div:last-of-type {
      margin-left: auto;
    }

    &__back-button {
      text-decoration: none;
      border-radius: 100%;
      color: var(--color-text-darkest);
      transition: transform 0.2s ease, color 0.2s ease, filter 0.2s ease;

      &:after {
        @include fontawesome-icon();
        content: '\f060';
        color: inherit;
      }

      &:hover {
        color: col(accent-highlight);
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.95);
      }

      &:focus,
      &:focus-within,
      &:focus-visible,
      &__highlighted,
      &[aria-selected="true"] {
        outline: none;

        &:after {
          outline: none;
          color: col(accent-highlight);
        }
      }
    }

    @include media('<tablet', 'screen') {
      flex-flow: column nowrap;
    }
  }

  &__title {
    padding: 0;
    margin: 2rem 0 0.5rem 0;
    font-size: var(--phenotype-banner-title-size);
    font-weight: bold;
    line-height: 1;
    color: var(--phenotype-banner-title-color);
  }

  &__description {
    margin: 1rem 0 0.5rem 0;
    
    &__landing-page {
      color: var(--color-accent-bright);
    }

    &--pad-btm {
      margin: 1rem 0 1rem 0;
    }
  }

  &__footer-items {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 2rem;
    margin: 1rem 0 0.5rem 0;

    & > p {
      margin: 0;

      & > a, & > a:visited, & > a:hover, & > a:active {
        color: col(accent-anchor);
      }
    }

    .email-icon:before {
      @include fontawesome-icon();
      content: '\f0e0';
      margin: 0 0.25rem 0 0;
      cursor: initial;
    }
    
    .website-icon:before {
      @include fontawesome-icon();
      content: '\f0ac';
      margin: 0 0.25rem 0 0;
      cursor: initial;
    }
  }

  &__cards {
    @include flex-col();
    padding: 1rem 0 2rem 0;
    align-self: center;
    overflow: none;
    max-width: 100%;

    @include media(">phone", "screen") {
      width: 300px;
    }

    @include media(">=tablet", "screen") {
      width: 600px;
    }

    @include media(">=desktop", "screen") {
      width: 100%;
    }
  }
}
