@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// Quit icon button
///   @desc i.e. used for single tap action to exit a behaviour, action or event
.quit-button {
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  right: 1rem;

  &:after {
    content: '\f057';
    cursor: pointer;
    position: absolute;
    pointer-events: auto;
    aspect-ratio: 1 / 1;
    font-family: var(--icons-name);
    font-style: var(--icons-style);
    font-size: var(--icons-size);
    color: col(accent-dark);
    text-align: center;
    transition: all 250ms ease;
  } 

  &:disabled {
    opacity: 0.5;
  }

  &:focus-visible:after {
    outline: 1px solid col(accent-dark);
    border-radius: 2pt;
  }

  &:hover:after {
    color: col(accent-danger);
  }
}

/// Stylised buttons with modifiable presentation
///   @desc e.g. Single tab buttons for actions
.primary-btn {
  @include app-font-style();

  cursor: pointer;
  pointer-events: auto;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  background-color: col(accent-transparent);
  color: col(text-darkest);
	border-radius: 0.25rem;
  margin: 0;
  padding: 1rem 2rem;

  @include media('<tablet', 'screen') {
    padding: 0.5rem 1rem;
  }
  
  &:not(:disabled):active {
    transition: all 250ms ease;
    @include prefix(transform, translateY(0.2rem), webkit moz o);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 1px solid col(accent-dark);
    border-radius: 2pt;
  }
  
  /* Icon style */
  &.save-icon:after {
    content: '\f0c7';
    cursor: pointer;
    position: absolute;
    pointer-events: auto;
    height: 100%;
    top: 1.1rem;
    aspect-ratio: 1 / 1;
    font-family: var(--icons-name);
    font-style: var(--icons-style);
    font-size: var(--icons-size);
    text-align: center;
  }
  
  &.create-icon:after {
    content: '\f382';
    cursor: pointer;
    position: absolute;
    pointer-events: auto;
    height: 100%;
    top: 1.1rem;
    aspect-ratio: 1 / 1;
    font-family: var(--icons-name);
    font-style: var(--icons-style);
    font-size: var(--icons-size);
    text-align: center;
  }

  &.next-icon:after {
    content: '\f35a';
    cursor: pointer;
    position: absolute;
    pointer-events: auto;
    height: 100%;
    top: 1.1rem;
    aspect-ratio: 1 / 1;
    font-family: var(--icons-name);
    font-style: var(--icons-style);
    font-size: var(--icons-size);
    text-align: center;
  }
  
  &.r-arrow-icon:after {
    content: '\f061';
    cursor: pointer;
    pointer-events: auto;
    position: absolute;
    right: 0;
    height: 100%;
    top: 32.75%;
    aspect-ratio: 1 / 1;
    font-family: var(--icons-name);
    font-style: var(--icons-style);
    font-size: var(--icons-size);
    text-align: center;
  }

  /* Effects */
  &.sweep-left {
    padding: 1rem 3rem;

    &:after {
      right: -3rem;
    }

    &:not(:disabled):hover:after {
      right: 0rem;
      transition: all 250ms ease;
    }
  }

  &.sweep-right {
    padding: 1rem 3rem;

    &:after {
      left: -3rem;
    }

    &:not(:disabled):hover:after {
      left: 0rem;
      transition: all 250ms ease;
    }
  }

  /* Text style */
  &.text-accent-darkest {
    color: col(text-darkest);

    &:after {
      color: col(text-darkest);
    }
  }

  &.text-accent-brightest {
    color: col(text-brightest);

    &:after {
      color: col(text-brightest);
    }
  }

  &.bold {
    font-weight: bold;

    &:after {
      font-weight: bold;
    }
  }

  &.text-danger{
    color: col(text-danger);
  }

  &.text-success{
    color: col(text-success);
  }

  &.text-warning{
    color: col(text-warning);
  }




  /* Outline accents */
  &.outline {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;

    &.primary-outline {
      border-color: col(accent-primary);
    }
    &.secondary-outline {
      border-color: col(accent-secondary);
    }
    &.tertiary-outline {
      border-color: col(accent-tertiary);
    }
    &.washed-outline {
      border-color: col(accent-washed);
    }
    &.bubble-outline {
      border-color: col(accent-bubble);
    }
  }
  
  /* Fill accents */
  &.primary-accent {
    background-color: col(accent-primary);
  }
  &.secondary-accent {
    background-color: col(accent-secondary);
  }
  &.tertiary-accent {
    background-color: col(accent-tertiary);
  }
  &.washed-accent {
    background-color: col(accent-washed);
  }
  &.bubble-accent {
    background-color: col(accent-bubble);
  }
  &.danger-accent {
    background-color: col(accent-danger);
  }
}

.secondary-btn {
  --accent-color: var(--transparent);

  @include app-font-style();
  cursor: pointer;
  pointer-events: auto;
  position: relative;
	white-space: nowrap;
	overflow: hidden;
	background-color: var(--accent-color);
	color: col(text-darkest);
	border-radius: 0.25rem;
  text-align: center;
  border: none;
  padding: 1rem 2rem;

  @include media('<tablet', 'screen') {
    padding: 0.5rem 1rem;
  }

  &:focus-visible {
    outline: 1px solid col(accent-dark);
    border-radius: 2pt;
  }

  &:disabled {
    opacity: 0.5;
  }

  /* Icon style */
  &.icon {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    text-align: left;
  }

  &.import-icon:after {
    content: '\f381';
    cursor: pointer;
    pointer-events: auto;
    position: absolute;
    right: 0;
    height: 100%;
    top: 25%;
    aspect-ratio: 1 / 1;
    font-family: var(--icons-name);
    font-style: var(--icons-style);
    font-size: var(--icons-size);
    text-align: center;
  }

  &.create-icon:after {
    content: '\f0cb';
    cursor: pointer;
    pointer-events: auto;
    position: absolute;
    right: 0;
    height: 100%;
    top: 25%;
    aspect-ratio: 1 / 1;
    font-family: var(--icons-name);
    font-style: var(--icons-style);
    font-size: var(--icons-size);
    text-align: center;
  }

  &.ruleset-icon:after {
    content: '\f542';
    cursor: pointer;
    pointer-events: auto;
    position: absolute;
    right: 0;
    height: 100%;
    top: 25%;
    aspect-ratio: 1 / 1;
    font-family: var(--icons-name);
    font-style: var(--icons-style);
    font-size: var(--icons-size);
    text-align: center;
  }

  &.file-icon:after {
    content: '\f574';
    cursor: pointer;
    pointer-events: auto;
    position: absolute;
    right: 0;
    height: 100%;
    top: 25%;
    aspect-ratio: 1 / 1;
    font-family: var(--icons-name);
    font-style: var(--icons-style);
    font-size: var(--icons-size);
    text-align: center;
  }

  /* Text style */
  &.text-accent-darkest {
    color: col(text-darkest);

    &:after {
      color: col(text-darkest);
    }
  }

  &.text-accent-brightest {
    color: col(text-brightest);

    &:after {
      color: col(text-brightest);
    }
  }

  &.bold {
    font-weight: bold;

    &:after {
      font-weight: bold;
    }
  }

  /* Outline accents */
  &.outline {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;

    &.primary-outline {
      --accent-color: var(--color-accent-primary);
      border-color: col(accent-primary);
    }
    &.secondary-outline {
      --accent-color: var(--color-accent-secondary);
      border-color: col(accent-secondary);
    }
    &.tertiary-outline {
      --accent-color: var(--color-accent-tertiary);
      border-color: col(accent-tertiary);
    }
    &.washed-outline {
      --accent-color: var(--color-accent-washed);
      border-color: col(accent-washed);
    }
    &.bubble-outline {
      --accent-color: var(--color-accent-bubble);
      border-color: col(accent-bubble);
    }
  }
  
  /* Fill accents */
  &.primary-accent {
    --accent-color: var(--color-accent-primary);
    background-color: col(accent-primary);
  }
  &.secondary-accent {
    --accent-color: var(--color-accent-secondary);
    background-color: col(accent-secondary);
  }
  &.tertiary-accent {
    --accent-color: var(--color-accent-tertiary);
    background-color: col(accent-tertiary);
  }
  &.washed-accent {
    --accent-color: var(--color-accent-washed);
    background-color: col(accent-washed);
  }
  &.bubble-accent {
    --accent-color: var(--color-accent-bubble);
    background-color: col(accent-bubble);
  }

  /* Effects */
  &:not(:disabled):active {
    transition: all 250ms ease;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }

  &:not(:disabled):hover {
    box-shadow: 0 0 0 2px col(bg), 0 0 0 4px var(--accent-color);
  }
}

.tertiary-btn {
  @include app-font-style();

  cursor: pointer;
  pointer-events: auto;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  background-color: col(accent-transparent);
  color: col(text-darkest);
	border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0;
  padding: 1rem 2rem;

  @include media('<tablet', 'screen') {
    padding: 0.5rem 1rem;
  }

  &:disabled {
    opacity: 0.5;
  }
  
  &:focus-visible {
    outline: 1px solid col(accent-dark);
    border-radius: 2pt;
  }

  &:not(:disabled):active {
    transition: all 250ms ease;
    transform: translateY(0.2rem);
    -webkit-transform: translateY(0.2rem);
  }

  &.import-icon:after {
    content: '\f0c7';
    cursor: pointer;
    position: absolute;
    pointer-events: auto;
    height: 100%;
    top: 0.75rem;
    right: 0;
    aspect-ratio: 1 / 1;
    font-family: var(--icons-name);
    font-style: var(--icons-style);
    font-size: var(--icons-size);
    text-align: center;
  }

  &.icon {
    padding: 0.5rem 2rem 0.5rem 0.5rem;

    &.left {
      padding: 0.5rem 0.5rem 0.5rem 2rem;

      &:after {
        left: 0;
      }
    }
  }

  &.text-accent-darkest {
    color: col(text-darkest);

    &:after {
      color: col(text-darkest);
    }
  }

  &.text-accent-brightest {
    color: col(text-brightest);

    &:after {
      color: col(text-brightest);
    }
  }

  &.bold {
    font-weight: bold;

    &:after {
      font-weight: bold;
    }
  }

  /* Outline accents */
  &.outline {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;

    &.primary-outline {
      border-color: col(accent-primary);
    }
    &.secondary-outline {
      border-color: col(accent-secondary);
    }
    &.tertiary-outline {
      border-color: col(accent-tertiary);
    }
    &.washed-outline {
      border-color: col(accent-washed);
    }
    &.bubble-outline {
      border-color: col(accent-bubble);
    }
  }
  
  /* Fill accents */
  &.primary-accent {
    background-color: col(accent-primary);
  }
  &.secondary-accent {
    background-color: col(accent-secondary);
  }
  &.tertiary-accent {
    background-color: col(accent-tertiary);
  }
  &.washed-accent {
    background-color: col(accent-washed);
  }
  &.bubble-accent {
    background-color: col(accent-bubble);
  }
}
