@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// Horizontal stack of cards
///   @desc Stacks cards horizontally
.hstack-cards-banner {
  @include flex-row($gap: 0rem);
  align-items: baseline;
  flex-flow: row nowrap;
  align-items: center;
  align-self: center;

  @include media('>tablet', 'screen') {
    &-justify-content-space-evenly {
      justify-content: space-evenly;
    }
  }

  @include media('<tablet', 'screen') {
    flex-flow: row nowrap;
    max-width: 300px;
    overflow-x: scroll;

    & > .referral-card {
      min-width: fit-content;
    }
  }

  @include media('<phone', 'screen') {
    max-width: 100%;
  }
}

/// Referral card
///   @desc Flexible container used to refer users to other pages and/or content
.referral-card {
  @include prefix(transition, all 250ms ease, webkit moz o);
  @include flex-col();
  cursor: pointer;
  word-wrap: break-word;
  margin: 1rem;
  padding: 1rem 1rem;
  background-clip: border-box;
  min-width: 0;
  height: auto;
  width: auto;

  &--landing-card {
    min-width: 250px;
  }

  &-bannerised {
    max-width: 25%;
  
    @include media("<tablet", "screen") {
      max-width: 300px;
    }
  }

  &:hover {
    @include prefix(transform, scale(1.05), webkit moz o);
  }

  &:active,
  &__title:active {
    @include prefix(transform, scale(0.98), webkit moz o);
  }

  &__header {
    @include flex-col();
    margin: 0;
    padding: 0 2rem 0 0;
    width: 100%;

    &--icon-row {
      @include flex-row();
      justify-content: flex-start;
      align-content: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }
    &--icon-column {
      @include flex-col();
      justify-content: flex-start;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  }

  &__icon-before {
    cursor: pointer;
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23687FCB'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");

    &__plus {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='%23687FCB'%3e%3cpath d='M38 21H27V10h-6v11H10v6h11v11h6V27h11v-6z'/%3e%3c/svg%3e") 
    }
  }

  //&__icon-before--plus {
  //  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16' id='IconChangeColor'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z' id='mainIconPathAttribute'%3E%3C/path%3E%3C/svg%3E%0A");
  //}
 
  &__title {
    @include clear-anchor();
    color: var(--referral-card-anchor-color);
    font-weight: bold;
    font-size: 18px;
    max-width: 100%;

    &-icon::after {
      content: '\f061';
      cursor: pointer;
      margin-left: 0.25rem;
      pointer-events: auto;
      aspect-ratio: 1 / 1;
      font-family: var(--icons-name);
      font-style: var(--icons-style);
      font-size: var(--icons-size);
      text-align: center;
    }

    &--align-centre {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &__anchor {
    text-decoration: none;
    color: inherit;
    margin-top: auto;
    padding: 0rem 1rem;
    background-color: var(--color-bg);
    transition: background-color 0.4s ease;
    border: 1px solid var(--entity-card-anchor-color);

    &:hover {
      background-color: var(--entity-card-anchor-color);
      p {
        color: var(--color-bg); 
      }
    }

    &:active {
      background-color: var(--entity-card-anchor-color);
    }
  }

  &__body {
    @include flex-col();
    flex: 1 1 auto;
    max-width: 100%;

    &--hide-overflow {
      overflow: hidden;
    }
  }

  &__footer {
    @include flex-col();
    margin: 0 0 1rem 0;
  }
  
  /* Style modifiers */
  &-fill-area {
    align-self: stretch;
    flex: 1 1 auto;
  }

  &-fill-area-evenly {
    align-self: stretch;
    flex: 1 1 0;
  }

  &-fit-content {
    min-width: fit-content;
  }

  &-shadow {
    @include box-shadow(0px, 5px, 10px, var(--card-shadow-color));
  }

  &-border-radius {
    border-radius: var(--card-border-radius);
  }

  &-no-margin {
    margin: 1rem 2rem 1rem 0;

    &:last-child {
      margin: 1rem 0 1rem;
    }

    @include media('<tablet', 'screen') {
      margin: 1rem;

      &:last-child {
        margin: 1rem;
      }
    }
  }

  /* Outline */
  &.primary-outline {
    border-width: 1px;
    border-style: solid;
    border-color: col(accent-primary);
  }
  &.secondary-outline {
    border-width: 1px;
    border-style: solid;
    border-color: col(accent-secondary);
  }
  &.tertiary-outline {
    border-width: 1px;
    border-style: solid;
    border-color: col(accent-tertiary);
  }
  &.washed-outline {
    border-width: 1px;
    border-style: solid;
    border-color: col(accent-washed);
  }
  &.bubble-outline {
    border-width: 1px;
    border-style: solid;
    border-color: col(accent-bubble);
  }
  &.dark-outline {
    border-width: 1px;
    border-style: solid;
    border-color: col(accent-dark);
  }
  &.bright-outline {
    border-width: 1px;
    border-style: solid;
    border-color: col(accent-bright);
  }

  /* Accents */
  &.primary-accent {
    background-color: col(accent-primary);
  }
  &.secondary-accent {
    background-color: col(accent-secondary);
  }
  &.tertiary-accent {
    background-color: col(accent-tertiary);
  }
  &.washed-accent {
    background-color: col(accent-washed);
  }
  &.bubble-accent {
    background-color: col(accent-bubble);
  }
  &.bright-accent {
    background-color: col(accent-bright);
  }
  &.dark-accent {
    background-color: col(accent-dark);
  }
}

/// Entity cards
///   @desc used exclusively for entity search page
.entity-card {
  @include prefix(transition, all 250ms ease, webkit moz o);
  @include flex-col();
  cursor: pointer;
	font: inherit;
	background: none;
	color: inherit;
  outline: inherit;
	border: none;
  border-bottom: 1px solid col(accent-dark);
  padding: 0 0 1.5rem 0;
  margin: 0 0 1rem 0;

  &:not(.inactive) {
    &:active {
      /* Should we animate it? */
      @include prefix(transform, scale(0.99), webkit moz o);
    }
  
    &:focus-visible {
      outline: 1px solid col(accent-dark);
      border-radius: 2pt;
    }
  }

  &__click {
    @include clear-anchor();
    display: block;
  }

  &__header {
    @include flex-row();
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0.25rem;

    &__item {
      @include flex-col();
      margin: 0;
    }
  }

  &__title {
    @include flex-row();
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: var(--entity-card-anchor-color);
    width: 100%;
    word-break: break-all;
    white-space: normal;
  }

  &__author {
    padding: 0;
    margin: 0.5rem 0 0 0;
    word-break: break-all;
    white-space: normal;
    font-size: 16px;
  }

  &__snippet {
    @include flex-col();

    &-metadata {
      @include flex-row();
      margin: 0.5rem 0 0 0;

      &-divider:after {
        content: '•';
        margin: 0 0.5rem;
        font-weight: bold;
      }
    }

    &-tags {
      @include flex-row();
      justify-content: space-between;
      align-items: center;

      &-group {
        @include flex-row($gap: 0.5rem);
        flex: 1 auto;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem 0 0 0;

        &:not(:first-child):not(:last-child) {
          justify-content: center;
        }

        &:last-child {
          justify-content: flex-end;
        }
      }
    }

    &-datagroup {
      @include flex-col();
      flex-wrap: nowrap;
      width: 100%;
      max-width: calc(100% - 8px);
      gap: 0.25rem;
      margin-left: 2px;
    }
  }
}
