@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// Meta chips
///   @desc e.g. used for metadata chips/tags etc
.meta-chip {
  @include flex-row();
  align-items: center;
  gap: 0 0.2rem;
  background-color: var(--base-metachip-bg-color);
  border-radius: 0.1rem;
  padding: 0.25rem 0.5rem;

  &-shadow {
    @include box-shadow(0, 0.1rem, 0.2rem, rgba(0, 0, 0, 0.2));
  }

  &-center-text {
    justify-content: center;
  }

  &__name {
    text-transform: uppercase;
    color: col(text-brightest);

    &-bold {
      font-weight: bold;
    }

    &-text-accent-darkest {
      color: col(text-darkest);
    }

    &-text-accent-darker {
      color: col(text-darker);
    }

    &-text-accent-dark {
      color: col(text-dark);
    }

    &-text-accent-washed {
      color: col(text-washed);
    }
  
    &-text-accent-brightest {
      color: col(text-brightest);
    }
  }

  &:has(a.meta-chip__name) {
    --sat-trg: 1;

    border-radius: 5pt;
    filter: saturate(var(--sat-trg));
  }

  &:has(a.meta-chip__name:hover) {
    --sat-trg: 0;
  }

  &:has(a.meta-chip__name:active) {
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
  }

  & a.meta-chip__name {
    color: col(text-dark);
    font-weight: bold;
    text-transform: none;
    text-decoration-style: dashed;

    &:visited {
      font-weight: normal;
    }
  }

  &-primary-accent {
    background-color: col(accent-primary);
  }
  &-secondary-accent {
    background-color: col(accent-secondary);
  }
  &-tertiary-accent {
    background-color: col(accent-tertiary);
  }
  &-washed-accent {
    background-color: col(accent-washed);
  }
  &-bubble-accent {
    background-color: col(accent-bubble);
  }
  &-bright-accent {
    background-color: col(accent-bright);
  }
  &-dark-accent {
    background-color: col(accent-dark);
  }
  &-danger-accent {
    background-color: col(accent-danger);
  }
}

/// Ontology chip
///   @desc e.g. used to display ontology item(s) on the detail page
.ontology-group {
  @include flex-row($gap: 0.5rem);

  position: relative;
  margin: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hide;
  max-height: 100px;
  padding: 0.5rem 0.5rem calc(0.5rem + 12px) 0.2rem;

  &--shade:after {
    content: '';
    display:block;
    position: absolute;
    height: 24px;
    width: calc(100% - 10px);
    margin: 0 auto;
    bottom: 0;
    border: 0;
    background:
      linear-gradient(rgba(255, 255, 255, 0), white 95%) center bottom,
      radial-gradient(farthest-side at 50% 100%, rgba(255, 255, 255, 0.71), rgba(0, 0, 0, 0)) center bottom;
  }

  &__item {
    --type: 1;
    --maxValue: 10;
    --shiftValue: 0.25;

    --hue: calc(((var(--type) / var(--maxValue)) + var(--shiftValue)) * 360);
    --text-color: var(--color-text-darkest);

    display: flex;
    margin: 0;
    padding: 0.25rem 0.5rem;
    width: auto;
    height: auto;
    max-width: calc(50% - 0.5rem);
    background-color: hsla(var(--hue), 60%, 85%, 0.75);
    border-radius: 0.5rem;
    color: var(--text-color);
    font-weight: bold;
    transition: background-color 250ms ease, box-shadow 250ms ease;
    box-shadow: 0 0 0 2px hsla(var(--hue), 40%, 30%, 0.25);
    align-items: center;

    & > a {
      display: -webkit-box;
      height: fit-content;
      max-width: 400px;
      max-height: 50px;
      overflow: hidden;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      word-wrap:break-word;
      text-overflow: ellipsis;
      vertical-align: middle;
      text-decoration: none;
    }
  }
}

/// Chips
///   @desc e.g. used to make selections, filter content, trigger actions or present small tag-like information
.chips-group {
  @include flex-row($gap: 0.5rem);

	margin: 0;
	padding: 0;
  max-width: 100%;
	list-style-type: none;

  &--dense {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    grid-auto-flow: row dense;
    max-width: 100%;
    gap: 1ch;
    justify-items: flex-start;

    & > .chip {
      display: flex;
      height: calc(100% - 0.5rem);
      align-items: center;

      & > a,
      & > p {
        display: -webkit-box;
        width: max-content;
        max-width: 17ch;
        margin-top: auto;
        margin-bottom: auto;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    @include media('<=phone', 'screen') {
      grid-template-columns: 1fr;

      & > .chip a,
      & > .chip p {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &--presentation {
    overflow-x: hide;
    overflow-y: auto;
    max-height: 100px;
    padding: 0.5rem 0.5rem calc(0.5rem + 12px) 0.2rem;
  }
}

.chip {
  --accent-color: var(--color-accent-washed);
  --text-color: var(--color-text-darkest);
  --icon-color: var(--color-text-darkest);

  &[disabled] {
    cursor: default;
    pointer-events: none;
  }

  align-self: center;
  border-radius: 0.2rem;
  background: col(accent-transparent);
  color: var(--text-color);
  font-weight: bold;
  margin: 0.25rem 0;
  transition: background-color 250ms ease, box-shadow 250ms ease;
	box-shadow: 0 0 0 2px var(--accent-color);
  width: fit-content;

  &.bold {
    &>.chip-text {
      font-weight: bold;
    }
  }

  & .chip-text {
    @include clear-anchor();

    display: inline-block;
    position: relative;
    color: var(--text-color);
    padding: 0.25rem 1rem 0.25rem 2rem;

    &[href="#"] {
      cursor: inherit;
      pointer-events: none;

      &:before {
        cursor: inherit;
        pointer-events: none;
      }
    }

    &:before {
      content: '';
      cursor: inherit;
      pointer-events: inherit;
      position: absolute;
      top: 50%;
      left: 1rem;
      width: .5rem;
      height: .5rem;
      border-radius: 100%;
      background-color: var(--icon-color);
      transform: translateY(-50%);
    }

    &.no-icon {
      padding: 0.25rem 0.5rem !important;

      &:before {
        display: none !important;
      }
    }
  }

  &:not(:disabled):hover {
    background-color: var(--accent-color);
    box-shadow: 0 0 0 calc(2px + .25rem) var(--accent-color);
  }

  &.codelist-icon {
    & .chip-text {
      &:before {
        @include fontawesome-icon();
  
        content: '\f02d';
        cursor: inherit;
        pointer-events: inherit;
        position: absolute;
        top: 50%;
        left: 0.75rem;
        width: .5rem;
        height: .5rem;
        color: var(--icon-color);
        background-color: col(accent-transparent);
        transform: translateY(-95%);
      }
    }
  }

  &.documentation-icon {
    & .chip-text {
      &:before {
        @include fontawesome-icon();
  
        content: '\f02d';
        cursor: inherit;
        pointer-events: inherit;
        position: absolute;
        top: 50%;
        left: 0.5rem;
        width: 0.75rem;
        height: 0.75rem;
        color: var(--icon-color);
        background-color: col(accent-transparent);
        transform: translateY(-95%);
      }
    }
  }

  &.alert-icon {
    & .chip-text {
      &:before {
        @include fontawesome-icon();
  
        content: '\f06a';
        cursor: inherit;
        pointer-events: inherit;
        position: absolute;
        top: 50%;
        left: 0.5rem;
        width: 0.75rem;
        height: 0.75rem;
        color: var(--icon-color);
        background-color: col(accent-transparent);
        transform: translateY(-95%);
      }
    }
  }

  &.draft-icon {
    & .chip-text {
      &:before {
        @include fontawesome-icon();
  
        content: '\f249';
        cursor: inherit;
        pointer-events: inherit;
        position: absolute;
        top: 50%;
        left: 0.75rem;
        width: .5rem;
        height: .5rem;
        color: var(--icon-color);
        background-color: col(accent-transparent);
        transform: translateY(-95%);
      }
    }
  }

  &.primary-accent {
    --accent-color: var(--color-accent-primary);
  }
  &.secondary-accent {
    --accent-color: var(--color-accent-secondary);
  }
  &.tertiary-accent {
    --accent-color: var(--color-accent-tertiary);
  }
  &.bubble-accent {
    --accent-color: var(--color-accent-bubble);
  }
  &.highlight-accent {
    --accent-color: var(--color-accent-highlight);
  }
  &.warning-accent {
    --accent-color: var(--color-accent-warning);
  }
  &.danger-accent {
    --accent-color: var(--color-accent-danger);
  }
  &.washed-accent {
    --accent-color: var(--color-accent-washed);
  }

  &.text-accent-darkest {
    --text-color: var(--color-text-darkest);
  }
  &.text-accent-brightest {
    --text-color: var(--color-text-brightest);
  }

  &.icon-accent-primary {
    --icon-color: var(--color-accent-primary);
  }
  &.icon-accent-secondary {
    --icon-color: var(--color-accent-secondary);
  }
  &.icon-accent-tertiary {
    --icon-color: var(--color-accent-tertiary);
  }
  &.icon-accent-washed {
    --icon-color: var(--color-accent-washed);
  }
  &.icon-accent-bubble {
    --icon-color: var(--color-accent-bubble);
  }
  &.icon-accent-highlight {
    --icon-color: var(--color-accent-highlight);
  }
  &.icon-accent-warning {
    --icon-color: var(--color-accent-warning);
  }
  &.icon-accent-danger {
    --icon-color: var(--color-accent-danger);
  }
  &.icon-accent-darkest {
    --icon-color: var(--color-accent-dark);
  }
  &.icon-accent-brightest {
    --icon-color: var(--color-accent-bright);
  }
}
