@import "../_methods";
@import "../_variables";
@import "../_media";
@import "../_utils";

.cookie_card {
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    background: var(--color-accent-bright);
    border-radius: 1em;
    box-sizing: border-box;
    -webkit-box-shadow: var(--dropdown-shadow);
    box-shadow: var(--dropdown-shadow);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 300ms ease-in;
    
    &.show{
      opacity: 0.5;
      visibility: visible;
      transform: translateY(0%);
      transition: all 300ms ease-out;
      z-index: 200;
    }

}