@import "../_methods";
@import "../_variables";
@import "../_media";
@import "../_utils";

/// Navigation dropdown
/// @desc describes the dropdown, used exclusively in the navigation component
.nav-dropdown {
  float: left;
  overflow: hidden;

  &__content {
    display: none;
    position: fixed;
    padding: 1em 1.5em;
    box-sizing: border-box;
    z-index: 1;
  }

  &:hover {
  
    .nav-dropdown__content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      -webkit-box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.15);
    }

    @include media("<desktop", "screen") {
      .nav-dropdown__content{
        display: none;
      }

    }


    .nav-dropdown__text {
      a {
        @include prefix(transform, translateY(-2px), webkit moz o);
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &__text::after {
    left: calc(50% - 10px);
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    content: "";
    opacity: 0;
    z-index: 999;
    bottom: 0;
    position: absolute;
  }

  &__support-field{
    z-index: 999;
  }

  @include media("<desktop", "screen") {

    .nav-dropdown__content{
      &.open{
        display: contents;
      }
     
    }
   
  }



}

/* Define styles for the mobile version */
@include media("<desktop", "screen") {
  .nav-dropdown {
   display: flex;
   justify-content: center;
   align-items: center;
  flex-direction: column;

  }
  .content-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-dropdown{
    display: none;
  }
}



