

card {
    display: block;
    border: 0.0625rem solid #ddd;
    box-shadow: 0 0.1875rem 1.25rem rgba(0, 0, 0, 0.15);
    padding: 1.25em;
    margin: 1.25em 0;
    border-radius: 0.625rem;
    text-decoration: none;
    color: black;
  
    h2 {
      color: #4e69c2;
    }
  
    p {
      color: #8c8c8c;
    }
  }