@import "../_methods";
@import "../_variables";
@import "../_media";
@import "../_utils";

.email-notification {
  background-color: #ebebeb;
  margin: 0;
  padding: 1rem; 
  text-align: left;

  box-sizing: border-box;
  
  &__content {
    margin: 0 auto;
    padding: 2em;
    max-width: 33.5rem;
    background-color: #ffffff;
    border-radius: 0.625rem;

    h2 {
      color: #525252; // Changed the color of the title here
    }
  }

  &__footer {
    p {
      color: #8c8c8c;
    }

    &__footer-icons {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 1.5rem;
      margin-top: 1rem;

      img {
        height: 35px;
      }
    }
  }
}

.status-button {
  background-color: #ffcc00;
  color: #ffffff;
  padding: 0.625em;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  text-decoration: none;
}

.title-icon {
  height: 50px;
  margin-right: 0.625em;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .content {
    width: 100%;
    padding: 0;
  }

  .footer .footer-icons img,
  .title-icon {
    width: 100%;
    height: auto;
  }
}
