@import "../_methods";
@import "../_variables";
@import "../_media";
@import "../_utils";


.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}
