@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// Footer
///   @desc Used exclusively by footer.html to present the footer content of each page
.page-footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: var(--footer-page-offset) 0;

  &__row {
    @include flex-row();
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    max-width: 2160px;
    margin: 0 var(--footer-gutter);
    padding: var(--footer-top-offset) 0 var(--footer-bottom-offset) 0;
    width: calc(100% - var(--footer-gutter) - var(--footer-gutter));

    @include media('<desktop', 'screen') {
      margin: 0 var(--footer-mobile-gutter);
      width: calc(100% - var(--footer-mobile-gutter) - var(--footer-mobile-gutter));
    }
  }

  &__copyright {
    @include app-font-style();
    font-size: var(--footer-copyright-size);
    text-overflow: ellipsis;
    white-space: wrap;
    text-align: left;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    flex: 1;
    margin-right: var(--footer-row-gap);
    margin-left: var(--footer-row-gap);

    a, a:visited {
      @include clear-anchor();
      @include app-font-style();
      color: col(text-washed);
    }
    
    a:hover {
      color: col(text-darkest);
    }

    a:active {
      font-weight: bold;
    }
  }

  &__listlinks {
    display: grid;
    gap: 1rem;
    flex: 1;

    a, a:visited {
      @include clear-anchor();
      @include app-font-style();
      color: col(text-washed);
    }
    
    a:hover {
      color: col(text-darkest);
    }

    a:active {
      font-weight: bold;
    }

    p {
      white-space: normal;
      text-align: left;
    }

    p, a {
      margin: 0 0 0 0;
    }
  }

  @include media("<=tablet", "screen") {
    &__copyright {
      flex: 0.15;
    }

    &__items {
      @include flex-row($gap: 0.5rem);
    }
  }
}

// footer
//  @desc defines containers & elements within the footer
.footer {
  &-links{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  &-hr{
    margin: 0; 
    align-self: stretch;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
  }

  &-alert {
    display: flex;
    margin-top: 5px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;

    &--warning {
      // background-image: -webkit-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);
      background-image: -o-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);
      background-image: -webkit-gradient(linear,left top,left bottom,from(#fcf8e3),to(#f8efc0));
      background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
      background-repeat: repeat-x;
      border-color: #f5e79e;
    
      text-shadow: 0 1px 0 rgba(255,255,255,.2);
      box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
    
      color: #8a6d3b;
      background-color: #fcf8e3;
    }
    
    &--right {
      margin-left: auto;
    }
  }
}
