@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// Footer
///   @desc Used exclusively by footer.html to present the footer content of each page
.page-footer {
  display: flex;
  &__row {
    @include flex-row();
    flex: 1;
    max-width: 100%;
    margin: var(--footer-page-offset) 0 0 0;
    padding: var(--footer-top-offset) var(--footer-gutter) var(--footer-bottom-offset) var(--footer-gutter);
    justify-content: space-between;
    
    @include media("<=tablet", "screen") {
      & {
        padding-left: var(--footer-mobile-gutter);
        padding-right: var(--footer-mobile-gutter);
      }
    }
  }

  &__copyright {
    @include app-font-style();
    flex: 1;
    font-size: var(--footer-copyright-size);
    text-overflow: ellipsis;
    white-space: wrap;
    text-align: right;
  }

  &__items {
    @include flex-row($gap: 1.5rem);
    flex: 3;
    margin-right: var(--footer-row-gap);

    a, a:visited {
      @include clear-anchor();
      @include app-font-style();
      color: col(text-washed);
    }
    
    a:hover {
      color: col(text-darkest);
    }

    a:active {
      font-weight: bold;
    }
  }

  @include media("<=tablet", "screen") {
    & {
      padding-left: var(--footer-mobile-gutter);
      padding-right: var(--footer-mobile-gutter);
    }

    &__copyright {
      flex: 0.15;
    }

    &__items {
      @include flex-row($gap: 0.5rem);
    }
  }
}