@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// Footer
///   @desc Used exclusively by footer.html to present the footer content of each page
.page-footer {
  display: flex;
  &__row {
    @include flex-row();
    flex: 1;
    max-width: 100%;
    margin: var(--footer-page-offset) 0 0 0;
    padding: var(--footer-top-offset) var(--footer-gutter) var(--footer-bottom-offset) var(--footer-gutter);
    justify-content: space-between;
    
    @include media("<=tablet", "screen") {
      & {
        padding-left: var(--footer-mobile-gutter);
        padding-right: var(--footer-mobile-gutter);
      }
    }
  }

  &__copyright {
    @include app-font-style();
    flex: 1;
    font-size: var(--footer-copyright-size);
    text-overflow: ellipsis;
    white-space: wrap;
    text-align: left;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    flex: 1;
    margin-right: var(--footer-row-gap);
    margin-left: var(--footer-row-gap);

    a, a:visited {
      @include clear-anchor();
      @include app-font-style();
      color: col(text-washed);
    }
    
    a:hover {
      color: col(text-darkest);
    }

    a:active {
      font-weight: bold;
    }
  }

  &__listlinks {
    display: grid;
    gap: 1.5rem;
    flex: 1;
    margin-right: var(--footer-row-gap);
    margin-left: var(--footer-row-gap);

    a, a:visited {
      @include clear-anchor();
      @include app-font-style();
      color: col(text-washed);
    }
    
    a:hover {
      color: col(text-darkest);
    }

    a:active {
      font-weight: bold;
    }
  }

  @include media("<=tablet", "screen") {
    & {
      padding-left: var(--footer-mobile-gutter);
      padding-right: var(--footer-mobile-gutter);
    }

    &__copyright {
      flex: 0.15;
    }

    &__items {
      @include flex-row($gap: 0.5rem);
    }
  }
}

// footer
//  @desc defines containers & elements within the footer
.footer {
  &-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
  }

  &-hr{
    margin: 0; 
    align-self: stretch;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
  }

  &-alert {  
    margin-top: 5px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;

    &-warning {
      // background-image: -webkit-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);
      background-image: -o-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);
      background-image: -webkit-gradient(linear,left top,left bottom,from(#fcf8e3),to(#f8efc0));
      background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
      background-repeat: repeat-x;
      border-color: #f5e79e;
    
      text-shadow: 0 1px 0 rgba(255,255,255,.2);
      // -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
      box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
    
      color: #8a6d3b;
      background-color: #fcf8e3;
      // border-color: #faebcc;
    }
  }
}
