@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

// row-landing-page
//  @desc defines a row of headlines or cards, primarily used within the homepage
.row-landing-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

// Headline
//  @desc primarily used for homepage to describe a container of text with headline(s)
.headline {
  display: flex;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;

  &__image {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 2rem;
    background-image: var(--headline-url);
    background-repeat: no-repeat;
    background-size: cover;
	  height: 400px;
	  width: 40%;

    @include media('<600px', 'screen') {
      display: none;
    }
  }
  
  &__text {
    flex: 2;
  }
  
  &__heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  &__section {
    display: flex;
    flex-flow: column nowrap;

    & > h3 {
      margin-bottom: 0rem;
    }
  
    &__general {
      margin: 1rem 4rem 2rem 4rem;
      
      @include media('<600px', 'screen') {
        margin-top: 0rem;
      }
    }
  
    &__outside_with_background {
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: var(--phenotype-banner-bg-color);
    }
  }
}
