@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// Markdown editor
///   @desc Markdown editor panel for create/update pages
.markdown-editor {
  max-width: 100%;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid col(accent-dark);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/// Markdown commandbar
///   @desc markdown command bar, used for wrapper surrounding MDE within create/update pages
.markdown-command-bar {
  max-width: 100%;
}

/// Markdown TMCommandBar
///   @desc Markdown command bar element, used for MDE within create/update pages
.TMCommandBar {
  max-width: 100%;
  border: 1px solid col(accent-dark) !important;
  border-bottom: 0px !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
