@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

@keyframes loading-rotation {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes loading-rotation {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg)
  }
}

.loading-spinner {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999999999;

  &__icon {
    display: block;
    position: absolute;
    top: calc(50% - 28px/2);
    right: calc(50% - 28px/2);
    border: 4px solid var(--loading-spinner-color);
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    width: calc(28px - 8px);
    height: calc(28px - 8px);
    opacity: 0.8;
    border-radius: 50%;
    animation: loading-rotation 0.5s infinite linear;
    -webkit-animation: loading-rotation 0.5s infinite linear;
  }

  &:after {
    content: 'LOADING';
    display: block;
    position: absolute;
    top: calc(50% + 25px);
    right: calc(50% - 3.5ch - 11px);
    letter-spacing: 3px;
    color: var(--loading-spinner-text-color);
  }
}
