@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// modal-open
///   @desc stops body from scrolling when modal open
.modal-open {
  overflow: hidden;
  position: fixed;
}

/// Target modal
///   @desc CSS-driven modal, used in create.html of Concept Creation
.target-modal {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  
  &:target {
    visibility: visible;
    opacity: 1;
  }
  
  &:target:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
  }

  &-sm {
    .target-modal__container {
      top: 20%;
      left: 37.5%;
      width: 25%;
    }
  }

  &-md {
    .target-modal__container {
      top: 20%;
      left: 25%;
      width: 50%;
    }
  }

  &-lg {
    .target-modal__container {
      top: 10%;
      left: 12.5%;
      width: 75%;
    }
  }
  
  &__container {
    position: fixed;
    border: 1px solid col(accent-darkish);
    border-radius: 0.25rem;
    background: #fefefe;

    @include prefix(transform, translate(0, 500%), webkit moz o ms);
    @include prefix(transition, transform 250ms ease-in-out, webkit moz o ms);
    z-index: 999999;
  }
  
  &:target &__container {
    @include prefix(transform, translate(0, 0), webkit moz o ms);
  }

  &__header {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid col(accent-washed);

    &-close {
      width: 1rem;
      aspect-ratio: 1 / 1;
      &:before {
        content: '\f057';
        cursor: pointer;
        position: absolute;
        pointer-events: auto;
        aspect-ratio: 1 / 1;
        font-family: var(--icons-name);
        font-style: var(--icons-style);
        font-size: var(--icons-size);
        color: col(accent-dark);
        text-align: center;
        transition: all 250ms ease;
      }

      &:hover:before {
        color: col(accent-danger);
      }
    }
  }

  &__body {
    max-height: 90vh;
    padding: 1rem;

    &.no-pad {
      padding: 0;
    }

    
    
    ul{
      list-style: none;
    }

    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
      
    }

  }

  &__footer {
    @include flex-row($gap: 1rem);
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
    border-top: 1px solid col(accent-washed);
  }
  
}

.text-danger{
  color: col(text-danger);
}

.text-success{
  color: col(text-success);
}

.text-warning{
  color: col(text-warning);
}
.cross::before{
  color: col(text-danger);
  content: "\2715";
  margin-right: 0.5rem;
  
}