@import "../_methods";
@import "../_variables";
@import "../_media";
@import "../_utils";

.nested-menu{
    
    border-radius: 1em;
    display: none;
    list-style: none;
    background: #fff;
    -webkit-box-shadow: var(--dropdown-shadow);
    box-shadow: var(--dropdown-shadow);
    z-index: 999;
    @include prefix(transform, translate(-20%,-12%), webkit moz o);
    position: absolute;
    width: 100%;
    padding: 1rem;


   
   
}    


.content-container{
 
    &:hover{
    .nested-menu{
        display: block;

        &::after {
            border-top: 10px solid transparent;
            border-bottom: 10px solid #ffffff;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            top: -19%;
            z-index: 999;
            left: calc(50% - 48px);
            content: "";
            position: absolute;
          }
        
        
        }
    }
}


