@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// Slim scrollbar 
///   @desc used for table content

/* Webkit rules, see {@link "Slim scrollbar"} */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .slim-scrollbar {
    &:not(.slim-scrollbar--thick)::-webkit-scrollbar {
      width: var(--slim-scrollbar-width);
      height: var(--slim-scrollbar-height);
    }

    &--thick::-webkit-scrollbar {
      width: auto;
      height: auto;
    }

    &::-webkit-scrollbar-track {
      background: var(--slim-scrollbar-track-color);
      border-radius: var(--slim-scrollbar-radius);
      -webkit-border-radius: var(--slim-scrollbar-radius);
    }
    
    &::-webkit-scrollbar-thumb {
      background: var(--slim-scrollbar-inactive-color);
      border-radius: var(--slim-scrollbar-radius);
      -webkit-border-radius: var(--slim-scrollbar-radius);
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: var(--slim-scrollbar-active-color);
    }

    &::-webkit-scrollbar-thumb:window-inactive {
      background-color: col(clear);
    }
  }
}

/* Moz rules, see {@link "Slim scrollbar"} */
@-moz-document url-prefix() {
  .slim-scrollbar {
    scrollbar-color: var(--slim-scrollbar-active-color) transparent !important;

    &:not(.slim-scrollbar--thick) {
      scrollbar-width: thin !important;
    }

    &--thick {
      scrollbar-width: auto;
    }
  }
}

/// Filter scrollbar
///   @desc vertical scrollbar used for filters on search pages

/* Webkit rules, see {@link "Filter scrollbar"} */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .filter-scrollbar {
    &:not(.slim-scrollbar--thick)::-webkit-scrollbar {
      width: 6px;
      height: 12px;
    }

    &--thick::-webkit-scrollbar {
      width: auto;
      height: auto;
    }

    &::-webkit-scrollbar-track {
      background: col(accent-transparent);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--slim-scrollbar-inactive-color);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--slim-scrollbar-active-color);
    }
  }
}

/* Moz rules, see {@link "Filter scrollbar"} */
@-moz-document url-prefix() {
  .filter-scrollbar {
    scrollbar-color: var(--slim-scrollbar-active-color) transparent !important;

    &:not(.filter-scrollbar--thick) {
      scrollbar-width: thin !important;
    }

    &--thick {
      scrollbar-width: auto;
    }
  }
}

