@import "../_methods";
@import "../_variables";
@import "../_media";
@import "../_utils";

.search-navigation {
  &__search {
    position: relative;
    padding: 0;
    margin: 0;

    &-input {
      @include prefix(transition, all 250ms ease, webkit moz ms o);

      box-sizing: border-box;
      position: relative;
      height: 2rem;
      width: 0;
      padding: 0 2rem 0 0.5rem;
      color: col(text-darkest);
      background-color: col(accent-bright);
      outline: none;
      border: none;

      &:focus {
        @include box-shadow(0px, 10px, 20px, var(--search-shadow-active-color));
        outline: none;
        border-radius: 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-color: col(accent-washed);
        padding: 0 2.5rem 0 1rem;
        width: calc(100%);
        height: 2.5rem;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    &-icon {
      all: unset;

      cursor: pointer;
      display: block;
      position: absolute;
      height: 2.5rem;
      top: 0;
      padding: 0;
      margin: 0;
      background-color: transparent;
      outline: 0;
      border: 0;
      aspect-ratio: 1 / 1;
      right: 0;

      &:before {
        @include fontawesome-icon();
        content: "\f002";
        position: absolute;
        right: 0;
        top: 25%;
        color: col(accent-primary);
      }
    }
  }
}
