{% extends "base_scss.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load breadcrumbs %}

{% block title %}| Publications {% endblock title %}

{% block container %}
<!-- Page Stylesheets -->
<link href="{% sass_src 'scss/pages/about.scss' %}" rel="stylesheet" type="text/css" />

<!-- Dependencies -->
{% compress js file %}
  <script type="text/javascript" src="{% static 'js/clinicalcode/redesign/components/scrollspy.js' %}"></script>
{% endcompress %}

<!-- Main -->
<header class="main-header">
</header>

<main class="main-content">
  <div class="main-content__inner-container">
    <article class="about-container">
      <section class="page-split">
        <div class="page-split__left">
          <aside class="scrollspy">
            <div class="scrollspy__container">
              <button class="scrollspy__container__item scrollspy__container__item--tertiary active"
                aria-label="Go to Publications in 2021" data-target="#home">
                <a href="#home">2021</a>
              </button>
              <button class="scrollspy__container__item scrollspy__container__item--tertiary"
                aria-label="Go to Publications in 2020" data-target="#year-2020">
                <a href="#year-2020">2020</a>
              </button>
              <button class="scrollspy__container__item scrollspy__container__item--tertiary"
                aria-label="Go to Publications in 2019" data-target="#year-2019">
                <a href="#year-2019">2019</a>
              </button>
            </div>
          </aside>
        </div>
        <div class="page-split__right">
          <div class="page-split__container">
            <h2>
              Publications
            </h2>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="home"></span>
                2021
              </h3>
              <ul class="padded">
                <li>
                  Chapman, M., Mumtaz, S., Rasmussen, L. V., Karwath, A., Gkoutos,
                  G. V., Gao, C., Thayer, D., Pacheco, J. A., Parkinson, A.,
                  Richesson, R. L., Jefferson, E., Spiros, S., Curcin, V. Desiderata
                  for the development of next-generation electronic health record
                  phenotype libraries, GigaScience, Volume 10, Issue 9, September
                  2021, giab059,
                  <a href="https://doi.org/10.1093/gigascience/giab059">
                    10.1093/gigascience/giab059
                  </a>
                </li>
                <li>
                  Banerjee A, Chen S, Pasea L, Lai A, Katsoulis M, Denaxas S,
                  Nafilyan V, Williams B, Wong WK, Bakhai A, Khunti K, Pillay D,
                  Noursadeghi M, Wu H, Pareek N, Bromage D, Mcdonagh T, Byrne J,
                  Teo JT, Shah A, Humberstone B, Tang LV, Shah AS, Rubboli A, Guo Y,
                  Hu H, Sudlow CLM, Lip GYH, Hemingway H. Excess deaths in people
                  with cardiovascular diseases during the COVID-19 pandemic. 2021.
                  European Journal of Preventive Cardiology, zwaa155,
                  <a href="https://doi.org/10.1093/eurjpc/zwaa155">
                    10.1093/eurjpc/zwaa155
                  </a>
                </li>
                <li>
                  Banerjee A, Pasea L, Manohar S, HDR UK COVID-19 PPIE Panel, Lai
                  AG, Hemingway E, Sofer I, Katsoulis M, Sood H, Morris A, Cake C,
                  Fitzpatrick NK, Williams B, Denaxas S, Hemingway H. "What is the
                  risk to me from Covid?": Public involvement in providing mortality
                  risk information for people with 'high risk' conditions for
                  COVID-19 (OurRisk.CoV). Accepted. Clinical Medicine. 2021. doi:
                  <a href="https://doi.org/10.7861/clinmed.2021-0386">
                    10.7861/clinmed.2021-0386
                  </a>
                </li>
                <li>
                  Chapman M, Domínguez J, Fairweather E, Delaney BC, Curcin V. Using
                  Computable Phenotypes in Point-of-Care Clinical Trial Recruitment.
                  Stud Health Technol Inform. 2021 May 27;281:560-564. doi:
                  <a href="https://doi.org/10.3233/shti210233">
                    10.3233/SHTI210233
                  </a>
                </li>
                <li>
                  Chapman M, Rasmussen LV, Pacheco JA, Curcin V. Phenoflow: A
                  Microservice Architecture for Portable Workflow-based Phenotype
                  Definitions. AMIA Annu Symp Proc. 2021 May 17;2021:142-151. PMID:
                  34457128; PMCID:
                  <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8378606/">
                    PMC8378606
                  </a>
                </li>
                <li>
                  Chung S, Sofat R, Acosta-Mena D, Taylor JA, Lambiase PD, Casas JP,
                  Providencia R. Atrial fibrillation epidemiology, disparity and
                  healthcare contacts: a population-wide study of 5.6 million
                  individuals. The Lancet Regional Health - Europe. 2021. Volume 7
                  100157.
                  <a href="https://doi.org/10.1016/j.lanepe.2021.100157">
                    10.1016/j.lanepe.2021.100157
                  </a>
                </li>
                <li>
                  Handy A, Banerjee A, Wood A, Dale CE, Sudlow C, Tomlinson C, Bean
                  D, Thygesen JH, Mizani MA, Katsoulis M, Sofat R, Dobson R, Takhar
                  R, Hollings S, Denaxas S, Walker V and on behalf of the
                  CVD-COVID-UK Consortium. Evaluation of antithrombotic use and
                  COVID-19 outcomes in a nationwide atrial fibrillation cohort.
                  medRxiv
                  <a href="https://doi.org/10.1101/2021.09.03.21263023">
                    10.1101/2021.09.03.21263023
                  </a>
                </li>
                <li>
                  Lai AG, Chang WH, Parisinos CA, Katsoulis M, Blackburn RM, Shah
                  AD, Nguyen V, Denaxas S, Davey Smith G, Gaunt TR, Nirantharakumar
                  K, Cox MP, Forde D, Asselbergs F, Harris S, Richardson S, Sofat R,
                  Dobson RJB, Hingorani A, Patel R, Sterne J, Banerjee A, Denniston
                  AK, Ball S, Sebire NJ, Shah NH, Foster GR, Williams B, Hemingway
                  H. An Informatics Consult approach for generating clinical
                  evidence for treatment decisions. medRxiv 2021.01.10.21249331;
                  doi:
                  <a href="https://doi.org/10.1101/2021.01.10.21249331">
                    10.1101/2021.01.10.21249331
                  </a>
                </li>
                <li>
                  Subota A, Jette N, Josephson CB, McMillan J, Keezer MR,
                  Gonzalez-Izquierdo A, Holroyd-Leduc J. Risk factors for
                  dementia development, frailty, and mortality in older
                  adults with epilepsy - A population-based analysis. Epilepsy &
                  Behavior 2021; 120:108006 medRxiv 2021.01.10.21249331; doi:
                  <a href="https://doi.org/10.1016/j.yebeh.2021.108006">
                    10.1016/j.yebeh.2021.108006
                  </a>
                </li>
              </ul>
            </section>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="year-2020"></span>
                2020
              </h3>
              <ul class="padded">
                <li>
                  Banerjee A, Pasea L, Harris S, Gonzalez-Izquierdo A, Torralbo A,
                  Shallcross L, Noursadeghi M, Pillay D, Sebire N, Holmes C, Pagel
                  C, Wong WK, Langenberg C, Williams B, Denaxas S, Hemingway H.
                  Estimating excess 1-year mortality associated with the COVID-19
                  pandemic according to underlying conditions and age: a
                  population-based cohort study. The Lancet 2020 May 12.
                  DOI:
                  <a href="https://doi.org/10.1016/S0140-6736(20)30854-0">
                    10.1016/S0140-6736(20)30854-0
                  </a>
                </li>
                <li>
                  Chapman, M., Rasmussen, L. V, Pacheco, J. A., & Curcin, V. (2020).
                  Phenoflow: Portable Workflow-based Phenotype Definitions.
                  Available as a pre-print at MedRxiv:
                  <a href="https://doi.org/10.1101/2020.07.01.20144196">
                    10.1101/2020.07.01.20144196
                  </a>
                </li>
                <li>
                  Chung S-C, Providencia R, Sofat R. Association between Angiotensin
                  Blockade and Incidence of Influenza in the United Kingdom. New
                  Engl J Med (Letter). 2020. May 8, 2020 DOI:
                  <a href="https://doi.org/10.1056/NEJMc2005396">
                    10.1056/NEJMc2005396
                  </a>
                </li>
                <li>
                  Curcin C. Special Issue: Human Phenomics and the Learning Health
                  System. Learning Health Systems 2020; Volume 4, Issue 4. First
                  published 14 October 2020. Incl Guest Curcin V. Why does human
                  phenomics matter today? Editor Commentary. Published 28 September
                  2020.
                  <a href="https://doi.org/10.1002/lrh2.10249">
                    10.1002/lrh2.10249
                  </a>
                </li>
                <li>
                  Denaxas S, Shah A, Mateen BA, Kuan V, Quint JK, Fitzpatrick NK,
                  Torralbo A, Fatemifar G, Hemingway H. A semi-supervised approach
                  for rapidly creating clinical biomarker phenotypes in the UK
                  Biobank using different primary care EHR and clinical terminology
                  systems. JAMIA Open, Volume 3, Issue 4, December 2020, Pages
                  545-556,
                  <a href="https://doi.org/10.1093/jamiaopen/ooaa047">
                    10.1093/jamiaopen/ooaa047
                  </a>
                </li>
                <li>
                  Dennis JM, Mateen BA, Sonabend R, Thomas NJ, Patel KA, Hattersley
                  AT, Denaxas S, McGovern AP, Vollmer SJ. Type 2 Diabetes and
                  COVID-19-Related Mortality in the Critical Care Setting: A
                  National Cohort Study in England, March-July 2020. Diabetes Care.
                  2021 Jan;44(1):50-57. doi: 10.2337/dc20-1444. Epub 2020 Oct 23.
                  PMID: 33097559; PMCID: PMC7783930
                  <a href="https://doi.org/10.2337%2Fdc20-1444">
                    10.2337/dc20-1444
                  </a>
                </li>
                <li>
                  Hobbs M, Patel R, Morrison PD, Kalk N, Stone JM. Synthetic
                  cannabinoid use in psychiatric patients and relationship to
                  hospitalisation: A retrospective electronic case register study.
                  Journal of Psychopharmacology. 2020;34(6):648-653.
                  doi:
                  <a href="https://doi.org/10.1177/0269881120907973">
                    10.1177/0269881120907973
                  </a>
                </li>
                <li>
                  Katsoulis M, Gomes M, Lai AG, Henry A, Denaxas S, Lagiou P,
                  Nafilyan V, Humberstone B, Banerjee A, Hemingway H, Lumbers RT.
                  Estimating the effect of reduced attendance at emergency
                  departments for suspected cardiac conditions on cardiac mortality
                  during the COVID-19 pandemic. Circ Cardiovasc Qual Outcomes.
                  2020 Dec 20. doi:
                  <a href="https://doi.org/10.1161/CIRCOUTCOMES.120.007085">
                    10.1161/CIRCOUTCOMES.120.007085
                  </a>
                  . Epub ahead of print. PMID: 33342219
                </li>
                <li>
                  Katsoulis M, Pasea L, Lai AG, Dobson RJB, Denaxas S, Hemingway H,
                  Banerjee A. Obesity during the COVID-19 pandemic: both cause of
                  high risk and potential effect of lockdown? A population-based
                  electronic health record study. Public Health 2021; 191: 41-47.
                  doi:
                  <a href="https://doi.org/10.1016/j.puhe.2020.12.003">
                    10.1016/j.puhe.2020.12.003
                  </a>
                </li>
                <li>
                  Katsoulis M, Lai AG, Diaz-Ordaz K, Gomes M, Pasea L, Banerjee A,
                  Denaxas S, Tsilidis K, Lagiou P, Misirli G, Bhaskaran K,
                  Wannamethee G, Dobson R, Batterham RL, Kipourou DK, Lumbers RT,
                  Wareham N, Langenberg C, Hemingway H. Identifying high-risk groups
                  for change in weight and body mass index: population cohort of 11
                  million measurements in 2.3 million adults. medRxiv
                  2021.01.19.21249898; doi:
                  <a href="https://doi.org/10.1101/2021.01.19.21249898">
                    10.1101/2021.01.19.21249898
                  </a>
                </li>
                <li>
                  Lai AG, Pasea L, Banerjee A, Hall G, Denaxas S, Chang, WH,
                  Katsoulis M, Williams B, Pillay D, Noursadeghi M, Linch D,
                  Hughes D, Forster MD, Turnbull C, Fitzpatrick NK, Boyd K, Foster
                  GR, Enver T, Nafilyan V, Humberstone B, Neal RD, Cooper M, Jones
                  M, Pritchard-Jones K, Sullivan R, Davie C, Lawler M, Hemingway H.
                  Estimated impact of the COVID-19 pandemic on cancer services and
                  excess 1-year mortality in people with cancer and multimorbidity:
                  near real-time data on cancer care, cancer deaths and a
                  population-based cohort study. BMJ Open 2020; 10:e043828. doi:
                  <a href="https://doi.org/10.1136/bmjopen-2020-043828">
                    10.1136/bmjopen-2020-043828
                  </a>
                </li>
                <li>
                  Mansfield KE, Mathur R, Tazare J, Henderson AD, Mulick A, Carreira
                  H, Matthews AA, Bidulka P, Gayle A, Forbes H, Cook S, Wong A,
                  Strongman H, Wing K, Warren-Gash C, Cadogan SL, Smeeth L, Hayes
                  J, Quint J, McKee M, Langan S. COVID-19 collateral: Indirect
                  acute effects of the pandemic on physical and mental health in
                  the UK. medRxiv 2020.10.29.20222174; doi:
                  <a href="https://doi.org/10.1101/2020.10.29.20222174">
                    10.1101/2020.10.29.20222174
                  </a>
                </li>
                <li>
                  Nind T, Sutherland J, McAllister G, Hardy D et al. An extensible
                  big data software architecture managing a research resource of
                  real-world clinical radiology data linked to other health data
                  from the whole Scottish population, GigaScience, Volume 9, Issue
                  10, October 2020, giaa095,
                  <a href="https://doi.org/10.1093/gigascience/giaa095">
                    10.1093/gigascience/giaa095
                  </a>
                </li>
                <li>
                  Thayer D, Rees A, Kennedy J, et al. Measuring follow-up time in
                  routinely-collected health datasets: Challenges and solutions.
                  PLoS One. 2020;15(2):e0228545. Published 2020 Feb 11.
                  doi:
                  <a href="https://doi.org/10.1371/journal.pone.0228545">
                    10.1371/journal.pone.0228545
                  </a>
                </li>
                <li>
                  Zylbersztejn A, Verfürden M, Hardelid P, Gilbert R, Wijlaars L.
                  Phenotyping congenital anomalies in administrative hospital
                  records. Paediatr Perinat Epidemiol. 2020 Jan;34(1):21-28. doi:
                  <a href="https://doi.org/10.1111/ppe.12627">
                    10.1111/ppe.12627
                  </a>
                  . PMID: 31960476; PMCID: PMC7003968.
                </li>
              </ul>
            </section>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="year-2019"></span>
                2019
              </h3>
              <ul class="padded">
                <li>
                  Banerjee A, Chen S, Fatemifar G, Hemingway H, Lumbers T, Denaxas
                  S. P5705 Machine learning for phenotyping and risk prediction in
                  cardiovascular diseases: a systematic review, Eur Heart J, Volume
                  40, Issue Supplement_1, October 2019, ehz746.0646, doi:
                  <a href="https://doi.org/10.1093/eurheartj/ehz746.0646">
                    10.1093/eurheartj/ehz746.0646
                  </a>
                </li>
                <li>
                  Banerjee A, Allan V, Denaxas S, Shah A, Kotecha D, Lambiase PD,
                  Joseph J, Lund LH, Hemingway H. Subtypes of atrial fibrillation
                  with concomitant valvular heart disease derived from electronic
                  health records: phenotypes, population prevalence, trends and
                  prognosis. Europace. 2019 Dec 1;21(12):1776-1784. doi:
                  <a href="https://doi.org/10.1093/europace/euz220">
                    10.1093/europace/euz220
                  </a>
                  . PMID: 31408153; PMCID: PMC6888023.
                </li>
                <li>
                  Bromage DI, Godec TR, Pujades-Rodriguez M, Gonzalez-Izquierdo A,
                  Denaxas S, Hemingway H, Yellon DM. Metformin use and
                  cardiovascular outcomes after acute myocardial infarction in
                  patients with type 2 diabetes: a cohort study. Cardiovasc
                  Diabetol. 2019 Dec 9;18(1):168. doi:
                  <a href="https://doi.org/10.1186/s12933-019-0972-4">
                    10.1186/s12933-019-0972-4
                  </a>
                  . PMID: 31815634; PMCID: PMC6900858.
                </li>
                <li>
                  Denaxas S, Gonzalez-Izquierdo A, Fitzpatrick NK, Direk K,
                  Hemingway H. Phenotyping UK Electronic Health Records from 15
                  Million Individuals for Precision Medicine: The CALIBER Resource.
                  Stud Health Technol Inform. 2019 Jul 4;262:220-223. DOI:
                  <a href="https://doi.org/10.3233/SHTI190058">
                    10.3233/SHTI190058
                  </a>
                </li>
                <li>
                  Denaxas S, Gonzalez-Izquierdo A, Direk K, Fitzpatrick NK,
                  Fatemifar G, Banerjee A, Dobson R, Howe LJ, Kuan V, Lumbers T,
                  Pasea L, Patel RS, Shah AD, Hingorani AD, Sudlow C, Hemingway H.
                  UK phenomics platform for developing and validating EHR
                  phenotypes: CALIBER. J Am Med Inform Assoc 22 Jul 2019 DOI:
                  <a href="https://doi.org/10.1101/539403">
                    10.1101/539403
                  </a>
                </li>
                <li>
                  Denaxas, S; Parkinson, H; Fitzpatrick, N; Sudlow, C; Hemingway, H;
                  (2019) Analyzing the heterogeneity of rule-based EHR phenotyping
                  algorithms in CALIBER and the UK Biobank. In: Wiratunga, N and
                  Coenen, F and Sani, S, (eds.) CEUR Workshop Proceedings vol 2429.
                  (pp. pp. 6-14). CEUR: Macao, China.
                  <a href="http://ceur-ws.org/Vol-2429/paper2.pdf">
                    http://ceur-ws.org/Vol-2429/paper2.pdf
                  </a>
                </li>
                <li>
                  Dickerman BA, García-Albéniz X, Logan RW, Denaxas S, Hernán MA.
                  Avoidable flaws in observational analyses: an application to
                  statins and cancer. Nature Medicine 2019; 25:1601-1606. DOI:
                  <a href="https://doi.org/10.1038/s41591-019-0597-x">
                    10.1038/s41591-019-0597-x
                  </a>
                </li>
                <li>
                  Hopkins C, Williamson E, Morris S, Clarke CS, Thomas M, Evans H,
                  Little P, Lund VJ, Blackshaw H, Schilder A, Philpott C, Carpenter
                  J, Denaxas S; MACRO programme team. Antibiotic usage in chronic
                  rhinosinusitis: analysis of national primary care electronic
                  health records. Rhinology. 2019 Dec 1;57(6):420-429. doi:
                  <a href="https://doi.org/10.4193/Rhin19.136">
                    10.4193/Rhin19.136
                  </a>
                  . PMID: 31490466.
                </li>
                <li>
                  Kuan V, Denaxas S, Gonzalez-Izquierdo A, Direk K, Bhatti O, Husain
                  S, Sutaria S, Hingorani M, Nitsch D, Parisinos CA, Lumbers RT,
                  Mathur R, Sofat R, Casas JP, Wong ICK, Hemingway H, Hingorani AD.
                  A Chronological Map of 308 Physical and Mental Health Conditions
                  From 4 Million Individuals in the English National Health Service.
                  Lancet Digit Health 2019 May 20;1(2):e63-e77. DOI:
                  <a href="https://doi.org/10.1016/S2589-7500(19)30012-3">
                    10.1016/S2589-7500(19)30012-3
                  </a>
                </li>
                <li>
                  Mackintosh M, Aldridge R, Rossor M, González-Izquierdo A, Whitaker
                  K, Ford E, Direk K, Denaxas S. (2019). Dementia recognition,
                  diagnosis, and treatment in the UK, 1997-2017: a change-point
                  analysis. The Lancet. 394. S70. doi:
                  <a href="https://doi.org/10.1016/S0140-6736(19)32867-3">
                    10.1016/S0140-6736(19)32867-3
                  </a>
                </li>
                <li>
                  Pasea L, Chung SC, Pujades-Rodriguez M, Shah AD, Alvarez-Madrazo
                  S, Allan V, Teo JT, Bean D, Sofat R, Dobson R, Banerjee A, Patel
                  RS, Timmis A, Denaxas S, Hemingway H. Bleeding in cardiac patients
                  prescribed antithrombotic drugs: electronic health record
                  phenotyping algorithms, incidence, trends and prognosis. BMC Med.
                  2019 Nov 20;17(1):206. doi:
                  <a href="https://doi.org/10.1186/s12916-019-1438-y">
                    10.1186/s12916-019-1438-y
                  </a>
                  . PMID: 31744503; PMCID: PMC6864929.
                </li>
                <li>
                  Pikoula M, Quint JK, Nissen F, Hemingway H, Smeeth L, Denaxas S.
                  Identifying clinically important COPD sub-types using data-driven
                  approaches in primary care population based electronic health
                  records. BMC Med Inform Decis Mak. 2019 Apr 18;19(1):86. doi:
                  <a href="https://doi.org/10.1186/s12911-019-0805-0">
                    10.1186/s12911-019-0805-0
                  </a>
                  . PMID: 30999919; PMCID: PMC6472089.
                </li>
                <li>
                  Rafiq M, Hayward A, Warren-Gash C, Denaxas S, Gonzalez-Izquierdo
                  A, Lyratzopoulos G, Thomas S. Socioeconomic deprivation and
                  regional variation in Hodgkin's lymphoma incidence in the UK: a
                  population-based cohort study of 10 million individuals. BMJ Open.
                  2019 Sep 20;9(9):e029228. doi:
                  <a href="https://doi.org/10.1136/bmjopen-2019-029228">
                    10.1136/bmjopen-2019-029228
                  </a>
                  . PMID: 31542744; PMCID: PMC6756616.
                </li>
                <li>
                  Uijl A, Koudstaal S, Direk K, Denaxas S, Groenwold RHH, Banerjee
                  A, Hoes AW, Hemingway H, Asselbergs FW. Risk factors for incident
                  heart failure in age- and sex-specific strata: a population-based
                  cohort using linked electronic health records. Eur J Heart Fail.
                  2019 Oct;21(10):1197-1206. doi:
                  <a href="https://doi.org/10.1002/ejhf.1350">
                    10.1002/ejhf.1350
                  </a>
                  . Epub 2019 Jan 7. PMID: 30618162; PMCID: PMC7074015.
                </li>
                <li>
                  Williamson E, Denaxas S, Morris S, Clarke CS, Thomas M, Evans H,
                  Direk K, Gonzalez-Izquierdo A, Little P, Lund V, Blackshaw H,
                  Schilder A, Philpott C, Hopkins C, Carpenter J, Programme Team
                  OBOTM. Risk of mortality and cardiovascular events following
                  macrolide prescription in chronic rhinosinusitis patients: a
                  cohort study using linked primary care electronic health records.
                  Rhinology. 2019 Aug 1;57(4):252-260. doi:
                  <a href="https://doi.org/10.4193/Rhin18.237">
                    10.4193/Rhin18.237
                  </a>
                  . PMID: 30928998.
                </li>
              </ul>
            </section>
          </div>
        </div>
      </section>
    </article>
  </div>
</main>

{% endblock container %}
