{% extends "base_scss.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load breadcrumbs %}

{% block title %}| The Team {% endblock title %}

{% block container %}
<!-- Page Stylesheets -->
<link href="{% sass_src 'scss/pages/about.scss' %}" rel="stylesheet" type="text/css" />

<!-- Dependencies -->
{% compress js file %}
  <script type="text/javascript" src="{% static 'js/clinicalcode/redesign/components/scrollspy.js' %}"></script>
{% endcompress %}

<!-- Main -->
<header class="main-header">
</header>

<main class="main-content">
  <div class="main-content__inner-container main-content__inner-container--constrained main-content__inner-container--centred">
    <article class="about-container">
      <section class="page-split">
        <div class="page-split__left">
          <aside class="scrollspy">
            <div class="scrollspy__container">
              <button class="scrollspy__container__item scrollspy__container__item--tertiary active"
                aria-label="Go to Team" data-target="#home">
                <a href="#home">Team</a>
              </button>
              <button class="scrollspy__container__item scrollspy__container__item--tertiary"
                aria-label="Go to Collaborators" data-target="#collaborators">
                <a href="#collaborators">Collaborators</a>
              </button>
            </div>
          </aside>
        </div>
        <div class="page-split__right">
          <div class="page-split__container">
            <section class="about-container__section">
              <h2>
                Team and Collaborators
              </h2>
              <h3 class="subheader">
                <span class="scrollspy-target" id="home"></span>
                Team
              </h3>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/martin-chapman.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Dr Martin Chapman</h3>
                    <p>Research Fellow</p>
                    <p>marin.chapman@kcl.ac.uk</p>
                  </div>
                </div>
                <p>
                  Martin is a researcher working in Health Informatics at King's
                  College London. He is currently involved in developing models and
                  tooling for computational phenotypes, funded by Health Data Research
                  UK and the NIHR Biomedical Research Centre.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/vasa-curcin.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Dr Vasa Curcin</h3>
                    <p>Reader in Health Informatics</p>
                    <p>vasa.curcin@kcl.ac.uk</p>
                  </div>
                </div>
                <p>
                  Vasa is a Senior Lecturer in Health Informatics, leading the
                  Biomedical Informatics Group at School of Population Health and
                  Environmental Sciences at King's College London. His research
                  focuses on the theoretical informatics foundations and resulting
                  software infrastructures for the Learning Health Systems,
                  specifically in the areas of clinical trials and decision support
                  systems, together with the role of data provenance in delivering
                  reproducibility and auditability to scientific tasks.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/spiros-denaxas.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Prof Spiros Denaxas (PI)</h3>
                    <p>Professor in Biomedical Informatics</p>
                    <p>s.denaxas@ucl.ac.uk</p>
                  </div>
                </div>
                <p>
                  Spiros is Professor of Biomedical Informatics based at the UCL
                  Institute of Health Informatics. His lab's research focuses on
                  creating and evaluating computational approaches for phenotyping in
                  structured electronic health records, clinical and genomic data.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/natalie-fitzpatrick.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Natalie Fitzpatrick</h3>
                    <p>HDR UK Phenomics Programme Manager</p>
                    <p>n.fitzpatrick@ucl.ac.uk</p>
                  </div>
                </div>
                <p>
                  Natalie is the Phenomics Programme Manager for the Health Data
                  Research UK (HDR UK) National Phenomics Resource and National Text
                  Analytics Implementation projects. She is based at the UCL Institute
                  of Health Informatics and co-leads the Institute's Phenomics Group.
                  Natalie has more than 20 years' experience managing complex research
                  programmes involving large linked electronic health record data. She
                  also leads on facilitating research collaborations for the CALIBER
                  platform (https://www.ucl.ac.uk/health-informatics/caliber) and leads
                  on patient and public engagement for the Institute.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/chuang-gao.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Dr Chuang Gao</h3>
                    <p>Data Scientist</p>
                    <p>CGao001@dundee.ac.uk</p>
                  </div>
                </div>
                <p>
                  Chuang is a Data Scientist working in the Health Informatics Centre
                  (HIC), University of Dundee. His research focuses on creating and
                  evaluating novel models and tooling for Electronic Health Record
                  federation system. He is also currently involved in UK national
                  phenotypes portal development, guideline development of
                  multimorbidity clinical trials.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/george-gkoutos.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Prof George Gkoutos</h3>
                    <p>Professor in Clinical Bioinformatics</p>
                    <p>G.Gkoutos@bham.ac.uk</p>
                  </div>
                </div>
                <p>
                  George is a Professor in Clinical Bioinformatics, a joint
                  appointment between the University of Birmingham Medical School and
                  the University Hospitals Birmingham NHS Foundation Trust. He is a
                  Faculty Affiliate Professor of Clinical Bioinformatics, Berkeley Lab,
                  Associate Director of MRC Health Data Research UK, Co-Director of the
                  WCH-Birmingham Research Institute and Alan Turing Fellow. His lab's
                  research lie in the fields of translational research and integrative
                  systems biology, biomedical knowledge formalisation, standardisation
                  and representation, AI based multimodal large data harmonisation,
                  interoperability, integration and analysis, comparative phenomics,
                  genomics and multiomics integration and analytics.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/emily-jefferson.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Prof Emily Jefferson</h3>
                    <p>
                      Professor of Health Data Science and Director of Health
                      Informatics Centre, Dundee
                    </p>
                    <p>e.r.jefferson@dundee.ac.uk</p>
                  </div>
                </div>
                <p>
                  Emily is the academic lead and Director of the Health Informatics
                  Centre (HIC) at the University of Dundee and Chair of Health Data
                  Science. She has a team of c.55 people providing research and
                  services to over 1000 different research projects bringing expertise
                  in health informatics, data science, data management, governance,
                  machine learning and AI. She is responsible for an ISO27001 certified
                  infrastructure and a Scottish Government accredited Safe Haven.
                  Emily's main research interest is in innovative automated methods
                  for the provision of sensitive linked data which meets both data
                  governance requirements and those of the research community. HIC
                  have provided >2000 linked data extracts for research utilising
                  phenotype definitions. Her team will bring this expertise to the
                  project and be able to utilise the portal to support reusable
                  phenotypes at UK wide scale. Emily is also the Alleviate Pain Hub
                  Director and will be incorporating detailed pain phenotypes into
                  the portal.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/andreas-karwath.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Dr Andreas Karwath</h3>
                    <p>Rutherford Research Fellow</p>
                    <p>a.karwath@bham.ac.uk</p>
                  </div>
                </div>
                <p>
                  Andreas is generally interested in research in and development of
                  semantic-based "information commons for research" health care-related
                  data frameworks. These frameworks should serve as fully integrated
                  health research information platforms, with access to both deep
                  clinical data and extensive unstructured and large data on individual
                  patients and populations.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/shahzad-mumtaz.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Dr Shahzad Mumtaz</h3>
                    <p>
                      Postdoctoral research assistant / Health data scientist at the
                      Health Informatics Centre (HIC), University of Dundee
                    </p>
                    <p>SMumtaz001@dundee.ac.uk</p>
                  </div>
                </div>
                <p>
                  Shahzad has a PhD in computer science from Aston University, UK.
                  His masters and BSc degrees are also in computer science from The
                  Islamia University of Bahawalpur, Pakistan. Just after PhD, he
                  worked as a postdoctoral researcher for an 11 months project at Aston
                  University, UK. His research interests are in machine learning models
                  both in terms of their mathematical foundations and their application
                  to health care and bioinformatics problems. He has worked on projects
                  like: An analysis of protein family of major histocompatibility
                  complex, demand forecasting for National Health Services (NHS)
                  emergency departments of West-Midlands hospitals, UK, probabilistic
                  modelling of blood glucose via eye parameters and development of Data
                  Visualisation and Modelling System.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/helen-parkinson.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Dr Helen Parkinson</h3>
                    <p>Head of Molecular Archival Resources, EMBL-EBI</p>
                    <p>parkinso@ebi.ac.uk</p>
                  </div>
                </div>
                <p>
                  Helen is Head of Molecular Archival Resources at EMBL-EBI. Helen's
                  team manages, analyses, and distributes complex high-throughput
                  phenotypic data from mammals and promotes phenomic data integration
                  internationally. They also develop open-source software tools for
                  managing data, developing and integrating ontologies and data, and
                  integrating semantic web technologies.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/daniel-thayer.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Daniel Thayer</h3>
                    <p>Senior Data Scientist</p>
                    <p>d.s.thayer@swansea.ac.uk</p>
                  </div>
                </div>
                <p>
                  Dan leads a team of data scientists that support research with the
                  SAIL Databank, a repository of anonymised Welsh population data. He
                  is responsible for handling enquiries about SAIL, supporting all
                  existing research projects, and developing tools and infrastructure
                  to improve the research process, as well as sitting on the SAIL
                  operations group.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/leandro-tramma.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Leandro Tramma</h3>
                    <p>Application Development Technical Manager</p>
                    <p>l.tramma@dundee.ac.uk</p>
                  </div>
                </div>
                <p>
                  Leandro is an experienced software developer with great passion for
                  beautifully crafted software and a keen interest in Application
                  Lifecycle Management and good Software Design. In 2013 he joined HIC
                  as a Senior Software Developer. Leandro currently manages multiple
                  projects within the ADP team, providing technical expertise and
                  guidance for the team. He is involved in the design and development
                  of the Research Data Management Platform for HIC Services. Leandro
                  graduated in Telecommunications Engineering at the University of Rome
                  "La Sapienza" and in 2007 he moved to Scotland from Italy.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/susheel-varma.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Dr Susheel Varma</h3>
                    <p>Director of Engineering, Health Data Research UK</p>
                    <p>Susheel.Varma@hdruk.ac.uk</p>
                  </div>
                </div>
                <p>
                  Susheel is Director of Engineering (a.k.a Director of Possibilities)
                  at HDR UK.
                </p>
              </section>
              <section class="about-container__section__team">
                <div class="about-container__section__team__card">
                  <img src="{% static  'img/brands/HDRUK/team/harry-hemingway.jpg'%}" />
                  <div class="about-container__section__team__card__details">
                    <h3>Prof Harry Hemingway (FFPH FRCP FMedSci)</h3>
                    <p>
                      Research Director at HDR UK, Institute Director at the
                      Institute of Health Informatics, UCL Professor of Clinical
                      Epidemiology
                    </p>
                    <p>h.hemingway@ucl.ac.uk</p>
                  </div>
                </div>
                <p>
                  Harry is Research Director at HDR UK, Institute Director at the
                  Institute of Health Informatics UCL and Professor of Clinical
                  Epidemiology. He has over 25 years of experience in leadership in
                  using rapidly changing patient and population data resources for
                  research and has contributed to establishing, growing and critically
                  evaluating the field of data science for health nationally and
                  internationally. The central focus of his research is to develop
                  underpinning methods to exploit the scale and phenotypic resolution
                  of electronic health records (EHR) to accelerate early and late phase
                  translational research. He has published over 200 papers, has an
                  h-index of 57 with 27,657 citations with research cited in seven
                  major clinical guidelines and public health policies with
                  implications for the health of millions. As Research Director Health
                  Data Research UK (2017-), with £120m initial investment and long
                  term (15+ years) horizons, he delivered an historic 'first ever' pan
                  London research partnership in biomedicine around his science vision
                  across London's five universities (Imperial, King's, QMUL, LSHTM and
                  UCL) establishing governance arrangements and legal contracts. HDR UK
                  London has influenced ministerial decisions to award the Digital
                  Innovation Hubs Programme to HDR UK.
                </p>
              </section>
            </section>
            <section class="about-container__section">
              <h3 class="subheader">
                <span class="scrollspy-target" id="collaborators"></span>
                Collaborators
              </h3>
              <section class="about-container__section__collaborators">
                <div>
                  <h3>Swansea University</h3>
                  <ul>
                    <li>
                      <a href="https://saildatabank.com/">
                        Hannah Davies
                      </a> (SAIL Databank)
                    </li>
                    <li>
                      <a href="https://saildatabank.com/">
                        Dr Muhammad Elmessary
                      </a> (SAIL Databank)
                    </li>
                    <li>
                      <a href="https://saildatabank.com/">
                        Ieuan Scanlon
                      </a> (SAIL Databank)
                    </li>
                    <li>
                      <a href="https://saildatabank.com/">
                        Artur Zinnurov
                      </a> (SAIL Databank)
                    </li>
                    <li>
                      <a href="https://saildatabank.com/">
                        Alex-Ioan Coldea
                      </a> (SAIL Databank)
                    </li>
                    <li>
                      <a href="https://saildatabank.com/">
                        Dr Jack Scanlon
                      </a> (SAIL Databank)
                    </li>
                    <li>
                      <a href="https://www.swansea.ac.uk/staff/medicine-health-life-science/">
                        Prof Sinead Brophy
                      </a>
                    </li>
                  </ul>
                </div>
                <div>
                  <h3>University of Oxford</h3>
                  <ul>
                    <li>
                      <a href="https://www.cs.ox.ac.uk/people/jim.davies/">
                        James Welch
                      </a>
                    </li>
                    <li>
                      <a href="https://www.cs.ox.ac.uk/people/jim.davies/">
                        Prof Jim Davies
                      </a>
                    </li>
                  </ul>
                </div>
                <div>
                  <h3>University of Birmingham</h3>
                  <ul>
                    <li>
                      <a href="https://www.birmingham.ac.uk/staff/profiles/cancer-genomic/basu-tanmay.aspx">
                        Dr Tanmay Basu
                      </a>
                    </li>
                  </ul>
                </div>
                <div>
                  <h3>UCL Institute of Health Informatics</h3>
                  <ul>
                    <li>
                      <a href="https://www.kcl.ac.uk/people/richard-dobson">
                        Prof Richard Dobson
                      </a>
                      (King's College London)
                    </li>
                    <li>
                      <a href="https://www.ucl.ac.uk/child-health/people/gilbert-ruth">
                        Prof Ruth Gilbert
                      </a>
                      (UCL Great Ormond Street Institute of Child Health)
                    </li>
                    <li>
                      <a href="http://iris.ucl.ac.uk">
                        Dr Arturo Gonzalez-Izquierdo
                      </a>
                    </li>
                  </ul>
                </div>
                <div>
                  <h3>University of St Andrews</h3>
                  <ul>
                    <li>
                      <a href="https://www.st-andrews.ac.uk/medicine/people/cm434">
                        Prof Colin McCowan
                      </a>
                    </li>
                  </ul>
                </div>
                <div>
                  <h3>University of Edingburgh</h3>
                  <ul>
                    <li>
                      <a href="https://www.ed.ac.uk/profile/kristiina-rannikmae">
                        Kristiina Rannikmae
                      </a>
                    </li>
                  </ul>
                </div>
                <div>
                  <h3>University College London Hospitals</h3>
                  <ul>
                    <li>
                      <a href="https://www.uclh.nhs.uk/our-services/find-consultant/dr-steve-harris">
                        Dr Steve Harris
                      </a>
                    </li>
                  </ul>
                </div>
              </section>
            </section>
          </div>
        </div>
      </section>
    </article>
  </div>
</main>

{% endblock container %}
