{% extends "base_scss.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load breadcrumbs %}

{% block title %}| Technical Details {% endblock title %}

{% block container %}
<!-- Page Stylesheets -->
<link href="{% sass_src 'scss/pages/about.scss' %}" rel="stylesheet" type="text/css" />

<!-- Dependencies -->
{% compress js %}
  <script type="text/javascript" src="{% static 'js/clinicalcode/redesign/components/templateDetailRenderer.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/clinicalcode/redesign/components/scrollspy.js' %}"></script>
{% endcompress %}

<!-- Build templates -->
<script type="text/javascript">
  const url = '{% url "api:get_template_detail" template_id=1 %}';

  fetch(url, { method: 'GET' })
    .then((response) => response.json())
    .then((data) => {
      domReady.finally(() => {
        const container = document.querySelector('#template-detail-output');
        renderTemplateDetail(container, data);
      });
    })
    .catch((error) => console.error(error));
</script>

<!-- Main -->
<main class="main-content">
  <div class="main-content__inner-container main-content__inner-container--constrained main-content__inner-container--centred">
    <article class="about-container">
      <section class="page-split">
        <div class="page-split__left">
          <aside class="scrollspy">
            <div class="scrollspy__container">
              <button class="scrollspy__container__item scrollspy__container__item--tertiary active"
                aria-label="Go to Phenotype Library Inclusion Criteria" data-target="#home">
                <a href="#home">Phenotype Library Inclusion Criteria</a>
              </button>
              <button class="scrollspy__container__item scrollspy__container__item--tertiary"
                aria-label="Go to Phenotype Library Inclusion Criteria" data-target="#specification">
                <a href="#specification">Specification</a>
              </button>
              <button class="scrollspy__container__item scrollspy__container__item--tertiary"
                aria-label="Go to Phenotype Definition File" data-target="#phenotype-definition">
                <a href="#phenotype-definition">Phenotype Definition File</a>
              </button>
              <button class="scrollspy__container__item scrollspy__container__item--tertiary"
                aria-label="Go to Defining a Concept" data-target="#concept-definition">
                <a href="#concept-definition">Defining a Concept</a>
              </button>
              <button class="scrollspy__container__item scrollspy__container__item--tertiary"
                aria-label="Go to How to Submit Data" data-target="#submit">
                <a href="#submit">How to Submit Data</a>
              </button>
            </div>
          </aside>
        </div>
        <div class="page-split__right">
          <div class="page-split__container">
            <h2>
              Technical Documentation
            </h2>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="home"></span>
                Phenotype Library Inclusion Criteria
              </h3>
              <ul>
                <li>
                  Define a disease (e.g. hypertension), life style risk factor (e.g. smoking) 
                  or biomarker (e.g. blood pressure)
                </li>
                <li>
                  Derive information from one or more electronic health record data sources. 
                  This can include national and local sources. The definition of EHR includes 
                  administrative data such as billing/claims data, and clinical audits.
                </li>
                <li>
                  Have one or more peer-reviewed outputs associated with it e.g. journal 
                  publication, scientific conferences, policy white papers etc.
                </li>
                <li>
                  Provide evidence of how the phenotyping algorithm was validated.
                </li>
              </ul>
            </section>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="specification"></span>
                Specification
              </h3>
              <p>
                Phenotyping algorithms are stored in the Phenotype Library usign a combination 
                of YAML and CSV files. There are two main components to each algorithm:
              </p>
              <ul class="decimal">
                <li>
                  The phenotype definition file (which is defined in a YAML file); and,
                </li>
                <li>
                  One or more teminology files (also known as codelists) which can be stored 
                  inline within the YAML file or in linked CSV files
                </li>
              </ul>
            </section>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="phenotype-definition"></span>
                Phenotype Definition
              </h3>
              <p>
                The phenotype definition file is a YAML header file. The YAML file is used to 
                record metadata fields capturing information about the algorithm, the data 
                sources, controlled clinical terminologies and other information.
              </p>
              <p>
                Clinical-Coded Phenotype Template:
              </p>
              <div class="template-detail slim-scrollbar" id="template-detail-output">
                
              </div>
            </section>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="concept-definition"></span>
                Defining a Concept
              </h3>
              <p>
                Existing concepts can be linked to new phenotypes using their concept id and version id,
                new ones can be uploaded via a csv file.
              </p>
              <div class="template-detail slim-scrollbar" id="template-detail-output">
                <div class="template-detail__container">
                  <h3>From an existing concept:</h3>
                  <p><strong>name: </strong>The name of the concept<p>
                  <p><strong>type: </strong>existing_concept<p>
                  <p>
                    <strong>concept_id: </strong>
                    The concept ID as displayed on the Phenotype Library
                  <p>
                  <p>
                    <strong>concept_version_id: </strong>
                    The concent version ID as displayed on the Phenotype Library
                  </p>
                </div>
                <div class="template-detail__container">
                  <h3>Through uploading a csv file:</h3>
                  <p><strong>name: </strong>The name of the concept<p>
                  <p><strong>type: </strong>csv<p>
                  <p><strong>filepath: </strong>Location of the csv file, e.g. C:/my/csv/file.csv<p>
                  <p>
                    <strong>code_column: </strong>
                    The name of the code column in your csv
                  <p>
                  <p>
                    <strong>description_column: </strong>
                    The name of the description column in your csv
                  <p>
                </div>
              </div>
            </section>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="submit"></span>
                How to Submit Data
              </h3>
              <p>
                You can download a sample 
                <a href="https://raw.githubusercontent.com/SwanseaUniversityMedical/ConceptLibraryClient/main/template.yaml">
                  template file
                </a>
                from the repository.
              </p>
              <p>
                If you have a phenotyping algorithm that meets the eligibility requirements, we invite you to submit your data by one of the following ways:
              </p>
              <ul>
                <li>
                  By using the
                  {% if not CLL_READ_ONLY %}
                    <a href="{% url 'create_phenotype' %}">
                      Phenotype Builder
                    </a>
                  {% else %}
                    Phenotype Builder
                  {% endif %}
                </li>
                <li>
                  By using the 
                  <a href="https://github.com/SwanseaUniversityMedical/ConceptLibraryClient">
                    ConceptLibraryClient R Package
                  </a>
                </li>
                <li>
                  By 
                  <a href="{% url 'contact_us' %}">
                    contacting us
                  </a>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </section>
    </article>
  </div>
</main>

{% endblock container %}
