
.form-group {
    margin-bottom: 10px;
}


.modal-body {
    padding: 5px 15px;
}

.panel-body {
    padding: 3em 6em;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 15px;
}

.panel {
    margin-bottom: 10px;
}


.material-textfield {
    position: relative;
}

.label-material {
    position: absolute;
    font-size: 13px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #333;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

.input-material {
    font-size: 14px;
    outline: none;
    border: 1px solid #8499d6;
    border-radius: 5px;
    padding: 6px 12px;
    color: gray;
    transition: 0.1s ease-out;
}

.bootstrap-tagsinput {
     font-size: 14px;
    outline: none;
    border: 1px solid #8499d6;
    border-radius: 5px;
    padding: 6px 12px;
    color: gray;
    transition: 0.1s ease-out;

}

.table-button{
    margin-top: 17px;
    height: 35px;
    background-image: none;
}



.form-control {
    margin-bottom: 8px;
    height: 35px;
}


.input-material:focus {
    border-color: #4285f4;
}

.input-material:focus + .label-material {
    color: #4285f4;
    top: 0;
    transform: translateY(-50%) scale(.9);
}




.input-material:not(:placeholder-shown) + .label-material {
    top: 0;
    transform: translateY(-50%) scale(.9);
}

.label-select {
    position: absolute;
    font-size: 13px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #333;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;


}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .label-select {
    color: #9b9191;
    z-index: 1;
    background-color: transparent;

}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .label-select::before {
    border-top: 3px;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    background-color: #eee;
    z-index: -1;
}

.row-form-flex {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.upload-button {

    padding: 2px 85px;

    color: #ffffff;
    margin: 0 2rem;
    background: #4285f4;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height:30px
}


.upload-button:hover {
    background: #2b6cb0;
}

.save-button {
    padding: 2px 37px;
    color: #ffffff;
    margin: 0 2rem;
    background: #4285f4;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height:30px
}




