	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title"><i class="fa fa-cog" aria-hidden="true"></i> View codes for select codes individually and/or import codes component</h4>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3">Name:</label>
				<div class="col-sm-7">
					{{ object.name }}
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3">Comment:</label>
				<div class="col-sm-7">
					{{ object.comment }}
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3">Type:</label>
				<div class="col-sm-7">								
					{{ object.get_logical_type_display }}
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3">Regex type:</label>
				<div class="col-sm-7">								
					{{ coderegex.get_regex_type_display }}
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3">Column to search:</label>
				<div class="col-sm-7">
					{{ coderegex.get_column_search_display }}
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3">Pattern:</label>
				<div class="col-sm-7">
					{{ coderegex.regex_code }}
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3">case sensitive search:</label>
				<div class="col-sm-7">
					{{ coderegex.case_sensitive_search }}					
				</div>
			</div>
			
			<hr/>
			<div class="row">
				<div class="col-md-8">
					<h4><i class="fa fa-barcode" aria-hidden="true"></i> Codes</h4>
				</div>
				<div class="col-md-4 text-right">
					<span class="expressionSelectAmount label label-primary"></span>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="clusterize" style="height: 500px;">
						<table id="expressionSelectTable" class="table table-striped small-table" style="margin-bottom: 0px;">
							<thead>
								<tr>
									<th style="width: 120px; border: none;">Code</th>
									<th style="border: none;">Description</th>
								</tr>
							</thead>
						</table>
						<div id="expressionSelectScrollArea" class="clusterize-scroll" style="max-height: 450px;">
							<table class="table table-striped small-table">
								<thead>
									<tr>
										<th style="width: 120px; border: none;"></th>
										<th style="border: none;"></th>
									</tr>
								</thead>
								<tbody id="expressionSelectContentArea" class="clusterize-content">
								
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-right">
					<span class="expressionSelectAmount label label-primary"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
	
<script>
	var regexCodes = {{ codes|safe }};
	
	$(function(){
		var formatCodes = function(data){
			return data.map(function(row){
				return "<tr><td>" + row.code + "</td><td>" + row.description + "</td></tr>";
			});
		}
		
		var rowsData = formatCodes(regexCodes);
		var expressionSelectClusterize = new Clusterize({
			rows: rowsData,
			scrollId: 'expressionSelectScrollArea',
			contentId: 'expressionSelectContentArea'
		});
		$('.expressionSelectAmount').text('Rows: ' + expressionSelectClusterize.getRowsAmount());
	})
</script>