{% extends "base_scss.html" %}
{% load static %}
{% load compress %}
{% load sass_tags %}
{% load cl_extras %}
{% load breadcrumbs %}
{% load entity_renderer %}
{% block title %}| HDRUK_HOMEPAGE {% endblock title %}
{% block container %}

<!-- Page Stylesheets -->
<link href="{% sass_src 'scss/pages/home/HDRUK.scss' %}" rel="stylesheet" type="text/css" />

<!-- Main -->
<header class="main-header banner image">
  <div
    class="main-header__inner-container main-header__inner-container--constrained-no-pad main-header__inner-container--centred">
    <div class="banner__container__left-landing-page">
      <h3 class="banner__description__landing-page ">
        The HDR UK Phenotype Library is a comprehensive, open access resource providing the research community with
        information, tools and phenotyping algorithms for UK electronic health records.
      </h3>
    </div>
    <div class="search-banner__container-landing">
      <form class="search-container" data-controller="filter" data-class="searchbar" data-field="search"
        action="{% url 'search_phenotypes' %}" method="GET">
        <input type="text" placeholder="Search our Phenotype Library" id="searchbar"
          class="search-container__field washed-outline" data-class="searchbar" data-field="search" name="search"
          value="{{ search|default_if_none:'' }}" aria-label="Search our Phenotype Library" />

        <button class="search-container__icon-landing" name="page" value="1" aria-label="Search Phenotypes"
          tabindex="0">
        </button>
      </form>
    </div>
  </div>
</header>
<main class="main-content">
  <div
    class="main-content__inner-container main-content__inner-container--constrained main-content__inner-container--centred">
    <section class="counter-section">
      <div class="counter-section__counter">
        <div class="counter-section__counter__number">
          <span id="statSpan" tooltip="A phenotype defines how to measure real-world attributes of human health in data"
            direction="up">{{ published_phenotype_count|stylise_number }}</span>
        </div>
        <div class="counter-section__counter__title">phenotypes
        </div>
      </div>
      <div class="counter-section__counter">
        <div class="counter-section__counter__number">
          <span id="statSpan"
            tooltip="Concepts are individual lists of clinical codes defining a condition, treatment, etc."
            direction="up">{{ published_concept_count|stylise_number }}</span>
        </div>
        <div class="counter-section__counter__title">codelists
        </div>
      </div>
      <div class="counter-section__counter">
        <div class="counter-section__counter__number">
          <span id="statSpan"
            tooltip="Health data is gathered in many different settings and organizations; phenotypes may be specific to data from one source or apply across a number of data sources"
            direction="up">{{datasources_component_count}}</span>
        </div>
        <div class="counter-section__counter__title">data sources
        </div>
      </div>
      <div class="counter-section__counter">
        <div class="counter-section__counter__number">
          <span id="statSpan"
            tooltip="Clinical codes are the 'words' in standardized languages used to create electronic health records"
            direction="up">{{ published_clinical_codes|stylise_number }}</span>
        </div>
        <div class="counter-section__counter__title">clinical codes
        </div>
      </div>
      <div class="counter-section__counter">
        <div class="counter-section__counter__number">
          <span id="statSpan"
            tooltip="Clinical coding systems are the languages used to capture electronic health records in a standardized format; different systems are used in different settings and for different purposes"
            direction="up">{{ clinical_terminologies|stylise_number }}</span>
        </div>
        <div class="counter-section__counter__title">clincal terminologies
        </div>
      </div>
    </section>
    <div class="headline">
      <div class="headline__image"> </div>
      <div class="headline__text">
        <div class="headline__section">
          <h3>What is a phenotyping algorithm?</h3>
          <p>Phenotyping algorithms are complex computer programs that extract useful information from electronic health
            records so they can be used for health research.</p>
        </div>
        <h3>What is the HDR UK Phenotype Library?</h3>
        <div class="headline__section">
          <p>Our aim is to provide researchers with the “GitHub of phenotyping”: an open platform for storage,
            dissemination, re-use, evaluation and citation of their own curated algorithms and metadata (data source(s),
            clinical terminologies, and other information) in order to reduce duplication of effort and improve research
            reproducibility.</p>
        </div>
      </div>
    </div>
    <div class="headline__section__general">
      <h3>How are we enabling this work?</h3>
      <p>
        The HDR UK Phenotype Library is a platform to host phenotyping algorithms and harness their power for research.
        Our aim is to provide researchers with the “GitHub of phenotyping”: an open platform for creation, storage,
        dissemination, re-use, evaluation, and citation of curated algorithms and metadata. Our goal is for this to be a
        place where researchers can share their own work, benefit from what others have shared, and even build new
        collaborations.
        As a funded project of HDR UK, our primary goal is to develop a national platform supporting researchers within
        the United Kingdom, but we don’t want to stop there: we welcome contributions from members of the health
        research community worldwide.
      </p>
    </div>
    <div class="headline__section__outside_with_background">
      <div class="row-landing-page">
        <article
          class="referral-card referral-card--landing-card referral-card-fill-area-evenly bright-accent referral-card-shadow referral-card-border-radius referral-card-no-margin">
          <div class="referral-card__header referral-card__header--icon-column">
            <div class="referral-card__icon-before"></div>
            <p class="referral-card__title referral-card__title--align-centre">Search</p>
          </div>
          <div class="referral-card__body referral-card__body--hide-overflow">
            <a class="referral-card__anchor" href="{% url 'search_phenotypes' %}">
              <p>Start here to explore phenotypes in our library.</p>
            </a>
          </div>
        </article>
        <article
          class="referral-card referral-card--landing-card referral-card-fill-area-evenly bright-accent referral-card-shadow referral-card-border-radius referral-card-no-margin">
          <div class="referral-card__header referral-card__header--icon-column">
            <div class="referral-card__icon-before referral-card__icon-before__plus"></div>
            <p class="referral-card__title referral-card__title--align-centre">Submit a phenotype</p>
          </div>
          <div class="referral-card__body referral-card__body--hide-overflow">

            {% if not CLL_READ_ONLY%}
            <a class="referral-card__anchor" href="{% url 'create_phenotype' %}">
              <p>Learn how you contribute your phenotypes to our library.</p>
            </a>
            {% endif %}
          </div>
        </article>
      </div>
    </div>
    <section class="key-section">
      <h2 class="key-section__title">Key Principles</h2>
      <div class="key-section__columns">
        <div class="key-section__column">
          <p>The Library stores phenotyping algorithms, metadata and tools only. No data are stored in the Library.</p>
        </div>
        <div class="key-section__column">
          <p>Ideally, phenotypes that are deposited in the Library will have undergone some form of peer-review to
            assess validity and quality either through peer-reviewed publication or some other means of sharing the
            definition(s)</p>
        </div>
        <div class="key-section__column">
          <p>All material deposited in the Library remain the intellectual property of the research group who created
            the phenotype(s) – the default licensing agreement that information is available under is the Creative
            Commons Attribution 4.0 (CC-A)</p>
        </div>
        <div class="key-section__column">
          <p>Phenotype definitions will be assigned a unique Digital Object Identifier (DOI) to facilitate
            identification of the phenotype</p>
        </div>
        <div class="key-section__column">
          <p>Users should cite the Phenotype Library in all publications, presentations and reports as follows: "HDR UK
            CALIBER Phenotype Library https://portal.caliberresearch.org/"</p>
        </div>
        <div class="key-section__column">
          <p>The aim of the Library is not to standardize or harmonize disease definitions, therefore several phenotypes
            may be stored for the same condition and the onus is on individual researchers to explore which phenotypes
            they wish to use</p>
        </div>
      </div>
    </section>
    <section class="key-section">
      <h2 class="key-section__title">How to contribute?</h2>
      <div class="headline__section__general">
        <p>
          To submit an EHR phenotyping algorithm to the Phenotype Library please read <a
            href="{% url 'about_page' 'hdruk_about_technical_details' %}" target=_blank rel="noopener noreferrer">our
            documentation pages</a>.
        </p>
      </div>
    </section>
  </div>
</main>
{% endblock container %}