{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock title %}
{% block description %} HDR-UK Phenotype Library {% endblock description %}
{% block keywords %}, hdr-uk, Phenotype, Phenotypes, Library, Data Science, Concepts, Clinical Codes, Data Sources, Coding Systems, algorithm, Github of phenotyping, EHR phenotyping, algoritm, Caliber {% endblock keywords %}
{% block head %}
<link href="{% static 'css/brands/HDRUK/landingPageStyles.css' %}" rel="stylesheet" />
<meta charset="UTF-8">
{% endblock head %}
{% block container_fluid %}
<div class="big-banner">
   <div class="container" >
      <div style="padding-left:0px; padding-top:50px; color: #FFFFFF;">
         <div style="width:100%; padding-left:20px; max-width:500px;">
            <p class="welcome-text-design">HDR UK Phenotype Library is a comprehensive, open access resource providing the research community
               with information, tools and phenotyping algorithms for UK electronic health records.
            </p>
         </div>
         <div style="display: flex; flex-wrap:nowrap; ">
            <form class= "row" style="padding-top:15px; padding-left:30px;" id="basic-form" action="{% url 'phenotype_list' %}" method="POST" >
               {% csrf_token %}
               <div class="search_box">
                  <div class="search_field" style="padding-left:10px; display: flex; flex-wrap: nowrap;">
                     <input type="text" class="input" placeholder="Search our Phenotype library" name="search" id="search1" value="{{ search|default_if_none:'' }}">
                  </div>
               </div>
               <div style="padding-left:10px; display: flex; flex-wrap: nowrap;">
                  <button class="btn" name="page" value="1" style="height:50px;width:50px"><i class="fa fa-search"></i></button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock container_fluid %}
{% block container %}
<div>
   <!--<h2 class="header-design">Welcome to the Concept Library</h2>
      <p>The concept library is a system for storing, managing, sharing, and documenting clinical code lists in health research. The specific goals of this work are
         storing code lists along with metadata that captures important information about quality, author and
         storing version history and provide a way to unambiguously reference a particular version of a code list,
         allowing programmatic interaction with code lists via an API, so that they can be directly used in queries, statistical scripts, etc.
         A key goal would also be to provide a mechanism for sharing code lists between projects and organizations.
         </p> -->
   {% block content %}
   <div class="row mt-4 text-padding-top">
      <div class="col-sm-1"></div>
      <div class="col-sm-2 text-style-center">
         <div class="number-design">
            {{ published_phenotype_count }}
         </div>
         <div class="data-design">
            Phenotypes
         </div>
      </div>
      <div class="col-sm-2 text-style-center">
         <div class="number-design">
            {{ published_concept_count }}
         </div>
         <div class="data-design">
            Concepts
         </div>
      </div>
      <div class="col-sm-2 text-style-center">
         <div class="number-design">
            {{ published_clinical_codes }}
         </div>
         <div class="data-design">
            Clinical Codes
         </div>
      </div>
      <div class="col-sm-2 text-style-center">
         <div class="number-design">
            {{datasources_component_count}}
         </div>
         <div class="data-design">
            Data Sources
         </div>
      </div>
      <div class="col-sm-2 text-style-center">
         <div class="number-design">
            {{clinical_terminologies}}
            <!--   100+ -->
         </div>
         <div class="data-design">
            Coding Systems
         </div>
      </div>
   </div>
   {% endblock %}
   <div class="container">
      <table class="spacing">
         <tr>
            <th></th>
            <td>
               <div class="info-pic"></div>
            </td>
            <td style="padding-left: 30px;">
               <div class="text-bottom-header">What is a phenotyping algorithm?</div>
               <div class="paddingText">
                  When using electronic data sources for health research, understanding the contents of health records and how they relate to the real world is a significant challenge. Health data typically contains a wide variety of detailed information about patients’ health care and treatments, which researchers need to process to answer questions such as “which patients have diabetes?”
               </div>
               <div class="paddingText">
                  Phenotyping algorithms are the solutions that researchers create to map complex, sometimes messy health data to real-world concepts of interest, so that the valuable information in these records can be used for research to improve health and well-being..
               </div>
            </td>
         </tr>
      </table>
   </div>

      <div class="overview-text-spacing">
   <div class="text-bottom-header" style="padding-top: 30px;">How are we enabling this work?</div>
               <div class="paddingText">
                  The <b>HDR UK Phenotype Library</b> is a platform to host phenotyping algorithms and harness their power for research. Our aim is to provide researchers with the “GitHub of phenotyping”: an open platform for
                  <b>creation, storage, dissemination, re-use, evaluation, and citation </b>of curated algorithms and metadata. Our goal is for this to be a place where researchers can share their own work, benefit from what others have shared, and even build new collaborations.
               As a funded project of <a href="https://www.hdruk.ac.uk/projects/national-phenomics-resource/" target=_blank   rel="noopener noreferrer">HDR UK</a> , our primary goal is to develop a national platform supporting researchers within the United Kingdom, but we don’t want to stop there: we welcome contributions from members of the health research community worldwide.
               </div>
               <div class="paddingText">
            As a funded project of <a href="https://www.hdruk.ac.uk/projects/national-phenomics-resource/" target=_blank   rel="noopener noreferrer">HDR UK</a> , our primary goal is to develop a national platform supporting researchers within the United Kingdom, but we don’t want to stop there: we welcome contributions from members of the health research community worldwide.
               </div>
      </div>

   <div class="row text-padding-top">
      <div class="column">
         <a style="text-decoration: none; color:black;" href="{% url 'phenotype_list' %}">
            <div class="card pointer">
               <i class="fa fa-search" style="position:relative; right: 47.5%; font-size: 32px;"></i>
               <h4 style="text-align:left">Search</h4>
               <p style="text-align:left">Start here to explore phenotypes in our library.</p>
            </div>
         </a>
      </div>
      <div class="column">
         <a style="text-decoration: none; color:black;" href="{% url 'about_page' 'hdruk_about_technical_details' %}">
            <div class="card pointer" >
               <i class="fa fa-plus" style="position:relative;  right: 47.5%; font-size: 32px;"></i>
               <h4 style="text-align:left">Submit a Phenotype</h4>
               <p id="card" style="text-align:left">Learn how to contribute your phenotypes to our library.</p>
            </div>
         </a>
      </div>
   </div>
   <div class="text-bottom-header text-style-center text-padding-top">Key Principles</div>
   <table class="key-principles-spacing">
      <tr>
         <td>
            <div>The aim of the Library is not to standardize or harmonize disease definitions, therefore several phenotypes may be stored for the same condition and the onus is on individual researchers to explore which phenotypes they wish to use</div>
         </td>
         <td>
            <div>Phenotype definitions will be assigned a unique Digital Object Identifier (DOI) to facilitate identification of the phenotype</div>
         </td>
      </tr>
      <tr>
         <td>
            <div>
                Ideally, phenotypes that are deposited in the Library will have undergone some form of peer-review to assess validity and quality either through peer-reviewed publication or some other means of sharing the definition(s)
            </div>
         </td>
         <td>
            <div>
               All material deposited in the Library remain the intellectual property of the research group who created the phenotype(s) the default licensing agreement that information is available under is the Creative Commons Attribution 4.0 (CC A).
            </div>
         </td>
      </tr>
      <tr>
         <td>
            <div>The Library stores phenotyping algorithms, metadata and tools only. No data are stored in the Library.
            </div>
         </td>
         <td>
            <div>Users should cite the Phenotype Library in all publications, presentations and reports as follows: “HDR UK Phenotype Library phenotypes.healthdatagateway.org”</div>
         </td>
      </tr>
   </table>
   <div class="text-bottom-header text-style-center text-padding-top">How to contribute?</div>
   <div class="key-principles-spacing">
      <div class="text-contribute-design">
         To submit an EHR phenotyping algorithm to the Phenotype Library please read <a href="https://portal.caliberresearch.org" target=_blank   rel="noopener noreferrer">our documentation pages</a>.
      </div>
   </div>
</div>
{% endblock container %}
{% block scripts %}
{% endblock scripts %}

