{% extends "base_scss.html" %}

{% load static %}
{% load cl_extras %}
{% load breadcrumbs %}
{% load entity_renderer %}

{% block title %}| Create a Phenotype{% endblock title %}

{% block container %}
  <header class="main-header">
    <div class="main-header__inner-container">
      {% breadcrumbs useMap=False includeHome=True includeHeader=False %}
      {% endbreadcrumbs %}
    </div>
  </header>
  
  <main class="main-content">
    {% render_wizard_navigation %}
    {% endrender_wizard_navigation %}

    <div class="main-content__inner-container">
      <article class="phenotype-creation">
        <section class="phenotype-creation__header">
          <h1>Create a new Phenotype:<span>step by step</span></h1>
          <p>Follow the steps below to create and publish your phenotype.</p>
        </section>
        
        <ol class="phenotype-progress">
          {% render_wizard_sections %}
          {% endrender_wizard_sections %}
        </ol>

        <section class="phenotype-creation__completed" id="completed-section">
          <div class="phenotype-creation__completed-row">
            <button class="secondary-btn text-accent-darkest bold washed-accent" aria-label="Save draft" id="save-draft">
              Save as Draft
            </button>
            <button class="primary-btn text-accent-darkest bold tertiary-accent icon create-icon sweep-left" aria-label="Create Phenotype" id="create-phenotype">
              Create Phenotype
            </button>
          </div>
        </section>
      </article>
    </div>
  </main>
{% endblock container %}
