{% extends "base_scss.html" %}

{% load static %}
{% load markdownify %}
{% load cl_extras %}
{% load breadcrumbs %}
{% load entity_renderer %}
{% load entity_publish_request %}
{% load compress %}
{% load sass_tags %}

{% block title %}| {{ entity_class }}: {{ entity_fields.name.value }}{% endblock title %}
{% block description %}{{ entity_fields.name.value }}{% endblock description %}
{% block keywords %}, {{ entity_fields.name.value }}{% endblock keywords %}

{% block canonical_path %}
	<link rel="canonical" href="{{ page_canonical_path }}" />
{% endblock canonical_path %}


{% block container %}
  <!-- Page Stylesheets -->
  <link href="{% sass_src 'scss/pages/create.scss' %}" rel="stylesheet" type="text/css" />

  <!-- Form -->
  <header class="main-header">
    <div class="main-header__inner-container">
      {% breadcrumbs useMap=False includeHome=True includeHeader=False %}
      {% endbreadcrumbs %}

		<section class="breadcrumbs">
			<span class="breadcrumb-item">
				<span class="marker"></span>
				<span class="breadcrumb"><a href="{% url 'search_entity' %}">search</a></span>
			</span>
			<span class="breadcrumb-item">
				<span class="marker"></span>
				<span class="breadcrumb">{{ entity_fields.name.value }}</span>
			</span>
		</section>
    
    </div>
  </header>
  
  <main class="main-content">
    {% render_wizard_navigation with section_name="detail_page_sections" %}
    {% endrender_wizard_navigation %}
    
<aside class="steps-wizard">
  <section class="steps-wizard__panel" onselectstart="return false;">
    <span class="steps-wizard__header">Skip to step...</span>
    
      <span class="steps-wizard__item" id="definition-step" data-value="1" data-target="definition-progress">Definition</span>
    
      <span class="steps-wizard__item" id="clinical_code_list-step" data-value="2" data-target="clinical_code_list-progress">Clinical Code List</span>
    
      <span class="steps-wizard__item" id="implementation-step" data-value="3" data-target="implementation-progress">Implementation</span>
    
      <span class="steps-wizard__item" id="validation-step" data-value="4" data-target="validation-progress">Validation</span>
    
      <span class="steps-wizard__item" id="publication-step" data-value="5" data-target="publication-progress">Publication</span>
    
      <span class="steps-wizard__item" id="permissions-step" data-value="6" data-target="permissions-progress">Permissions</span>
    
  </section>
</aside>

    <div class="main-content__inner-container">
      <article class="phenotype-creation">
        <section class="phenotype-creation__header">
          {% if form_method.value == '1' %}
            <h1>Create a new Entity:<span>step by step</span></h1>
            <p>Follow the steps below to create and publish your entity.</p>
          {% else %}
            <h1>Update your Entity:<span>step by step</span></h1>
            <p>Follow the steps below to update and publish your entity.</p>
          {% endif %}
        </section>
        
        <ol class="phenotype-progress">
          {% render_wizard_sections %}
          {% endrender_wizard_sections %}
        </ol>

        <section class="phenotype-creation__completed" id="completed-section">
          <div class="phenotype-creation__completed-row">
            <button class="secondary-btn text-accent-darkest bold washed-accent" aria-label="Save Draft" id="cancel-entity-btn">
              Cancel
            </button>
            <button class="primary-btn text-accent-darkest bold tertiary-accent icon create-icon sweep-left" aria-label="Create or Update Entity" id="submit-entity-btn">
              {% if form_method.value == '1' %}
              Create Entity
              {% else %}
              Update Entity
              {% endif %}
            </button>
          </div>
        </section>
      </article>
    </div>
  </main>


{% endblock container %}

{% block scripts %}
  <!-- script -->
{% endblock scripts %}
	
	
