{% load static %}
{% load cl_extras %}
{% load entity_publish_renderer %}


<div id="topButtons" class="box-container action-buttons-container">

  <div class="row">    
    <div class="col-md-12 text-align-right">
      <fieldset class="dropdown-btn">
        <label aria-label="Export {{ entity_class }}" role="dropdown" tabindex="0" id="dropdown-label" for="dropdown-opener">
          <input type="radio" class="dropdown-btn__input" name="dropdown-item" id="dropdown-opener" {% if not user_can_export %} disabled title="Component concept(s) deleted or revoked access!!" {% endif %}>
      
          <!-- dropdown title -->
          <div class="dropdown-btn__label">Export {{ entity_class }} <span class="caret"></span></div>
      
          <input type="radio" class="dropdown-btn__close" name="dropdown-item" id="dropdown-closer">
          <label aria-label="Close dropdown info" role="button" tabindex="0" id="close-dropdown-btn" class="dropdown-btn__close-label" for="dropdown-closer"></label>
      
          <!-- dropdown menu content -->
          <ul class="dropdown-btn__menu fall-right">
            <li aria-label="Export phenotype as JSON" role="button" tabindex="0">
              <a {% if user_can_export %}
                  href="{% url 'api:api_generic_entity_detail_by_version' entity.id entity.history_id %}?format=json"
                  target=_blank 
                  {% endif %}
                class="dropdown-item">
                  JSON
              </a>
            </li>
            <li aria-label="Export phenotype as XML" role="button" tabindex="0">
              <a {% if user_can_export %}
                  href="{% url 'api:api_generic_entity_detail_by_version' entity.id entity.history_id %}?format=xml"
                  target=_blank 
                  {% endif %}
                class="dropdown-item">
                  XML
              </a>
            </li>
          </ul>
        </label>
      </fieldset>
      
      
      {% if user.is_authenticated and not CLL_READ_ONLY %}
        {% comment %} {% if user_can_edit %}
          <button role="link" onClick="window.location.href='{% url 'update_entity' entity.id entity.history_id %}';" >EDIT .......</button>
            <a href="{% url 'update_entity' entity.id entity.history_id %}" class="btn btn-outline-primary btn-cl btn-cl-secondary">
              Edit
            </a>
        {% endif %} {% endcomment %}

        {% if is_published and approval_status == APPROVED_STATUS_DICT.APPROVED %}
            <button class="primary-btn dropdown-btn__label" disabled title="This version is already published" style='color: green;'>
              &nbsp;<strong>Published</strong>&nbsp;
            </button>
        {% else %}    
            {% comment %} {% render_publish_button %}           {% endcomment %}
        {% endif %}
      {% endif %}
    </div>
  </div>
  
</div>


{% comment %} <script>
  promptClientModal({
    title: 'Are you sure?',
    content: '<p>Are you sure you want to delete this Concept from your Phenotype?</p>',
    showFooter: true,
    buttons: {
      reject: {
        html: `<button class="secondary-btn text-accent-darkest bold washed-accent" aria-label="Cancel" id="reject-button"></button>`,
        name: 'Cancel',
      },
      confirm: {
        html: `<button class="primary-btn text-accent-darkest bold secondary-accent" aria-label="Confirm" id="confirm-button"></button>`,
        name: 'Confirm',
      }
    }
  })
  .then(() => {
    // do stuff because the user has accepted the prompt
    alert('then');
  })
  .catch(() => {
    // do stuff because the user has cancelled the prompt
    alert('ctach');
  });
</script> {% endcomment %}