{% extends "base.html" %}

{% load static %}
{% load markdownify %}
{% load cl_extras %}

{% block title %}{% endblock title %}
{% block description %}{% endblock description %}
{% block keywords %}{% endblock keywords %}

{% block canonical_path %}
	<link rel="canonical" href="{{ page_canonical_path }}" />
{% endblock canonical_path %}

{% block crumbs %}

{% endblock crumbs %}

{% block scrollNav %}
{% endblock scrollNav %}

{% block container %}

{% endblock container %}






{% block scripts %}

{% endblock scripts %}


