{% extends "base_scss.html" %}

{% load static %}
{% load markdownify %}
{% load cl_extras %}
{% load breadcrumbs %}
{% load detail_pg_renderer %}
{% load entity_publish_request %}
{% load compress %}
{% load sass_tags %}

{% block title %}| {{ entity_class }}: {{ entity.name }}{% endblock title %}
{% block description %}{{ entity.name }}{% endblock description %}
{% block keywords %}, {{ entity.name }}{% endblock keywords %}

{% block canonical_path %}
	<link rel="canonical" href="{{ page_canonical_path }}" />
{% endblock canonical_path %}

{% block head %}
  <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" /> -->
{% endblock head %}


{% block container %}
<!-- Vendor -->
<script src="{% static 'js/clinicalcode/redesign/vendor/simple-datatables/simple-datatables.min.js' %}"></script>
<script src="{% static 'js/clinicalcode/redesign/vendor/tinymde/tiny-mde.min.js' %}"></script>
<script src="{% static 'js/clinicalcode/redesign/vendor/moment.min.js' %}"></script>

<!-- Dependencies -->
{% compress js file %}
<script src="{% static 'js/clinicalcode/redesign/vendor/lightpick.js' %}"></script>
<script type="module" src="{% static 'js/clinicalcode/redesign/components/stepsWizard.js' %}"></script>
<script type="module" src="{% static 'js/clinicalcode/redesign/components/toastNotification.js' %}"></script>
{% endcompress %}

<!-- Page Stylesheets -->
<link href="{% sass_src 'scss/pages/create.scss' %}" rel="stylesheet" type="text/css" />

  <!-- Form -->
  <header class="main-header">
    <div class="main-header__inner-container">
      {% breadcrumbs useMap=False includeHome=True includeHeader=False %}
      {% endbreadcrumbs %}

		<section class="breadcrumbs">
			<span class="breadcrumb-item">
				<span class="marker"></span>
				<span class="breadcrumb"><a href="{% url 'search_entity' %}">search</a></span>
			</span>
			<span class="breadcrumb-item">
				<span class="marker"></span>
				<span class="breadcrumb">{{ entity.name }}</span>
			</span>
		</section>
    
    </div>
  </header>
  
  <main class="main-content">
    {% render_wizard_sidemenu %}
    {% endrender_wizard_sidemenu %}
    


    <div class="main-content__inner-container">
      <article class="phenotype-creation">
        <section class="phenotype-creation__header">
          <h1>{{ entity.name }}</h1>
        </section>
        
        <ol class="phenotype-progress">
          {% render_wizard_sections_detail_pg %}
          {% endrender_wizard_sections_detail_pg %}
        </ol>

        <!-- <section class="phenotype-creation__completed" id="completed-section">
          <div class="phenotype-creation__completed-row">
            <button class="secondary-btn text-accent-darkest bold washed-accent" aria-label="Save Draft" id="cancel-entity-btn">
              Cancel
            </button>
            <button class="primary-btn text-accent-darkest bold tertiary-accent icon create-icon sweep-left" aria-label="Create or Update Entity" id="submit-entity-btn">
              {% if form_method.value == '1' %}
              Create Entity
              {% else %}
              Update Entity
              {% endif %}
            </button>
          </div>
        </section> -->
        
      </article>
    </div>
  </main>


{% endblock container %}

{% block scripts %}
  <!-- script -->
{% endblock scripts %}
	
	
