{% extends "base_scss.html" %}

{% load static %}
{% load markdownify %}
{% load cl_extras %}
{% load breadcrumbs %}
{% load detail_pg_renderer %}
{% load entity_publish_renderer %}
{% load compress %}
{% load sass_tags %}

{% block title %}| {{ entity_class }}: {{ entity.name }}{% endblock title %}
{% block description %}{{ entity.name }}{% endblock description %}
{% block keywords %}, {{ entity.name }}{% endblock keywords %}

{% block canonical_path %}
	<link rel="canonical" href="{{ page_canonical_path }}" />
{% endblock canonical_path %}



{% block container %}
<!-- Vendor -->
  <link rel="stylesheet" type="text/css" href="{% static 'js/clinicalcode/redesign/vendor/tinymde/tiny-mde.min.css' %}" />
  <script src="{% static 'js/clinicalcode/redesign/vendor/simple-datatables/simple-datatables.min.js' %}"></script>
  <script src="{% static 'js/clinicalcode/redesign/vendor/tinymde/tiny-mde.min.js' %}"></script>
  <script src="{% static 'js/clinicalcode/redesign/vendor/moment.min.js' %}"></script>


<!-- Dependencies -->
{% compress js file %}
<script src="{% static 'js/clinicalcode/redesign/vendor/lightpick.js' %}"></script>
<script type="module" src="{% static 'js/clinicalcode/redesign/components/stepsWizard.js' %}"></script>
<script type="module" src="{% static 'js/clinicalcode/redesign/components/toastNotification.js' %}"></script>
{% endcompress %}

<!-- jQuery -->
<script src="{% static 'js/lib/jquery/jquery-3.1.1.min.js' %}" type="text/javascript"></script>

<!-- Page Stylesheets -->
<link href="{% sass_src 'scss/pages/detail.scss' %}" rel="stylesheet" type="text/css" />

  <!-- Form -->
  <header class="main-header">
    <div class="main-header__inner-container">
      {% comment %} {% breadcrumbs useMap=False includeHome=True includeHeader=False %}
      {% endbreadcrumbs %} {% endcomment %}

		<section class="breadcrumbs">
			<span class="breadcrumb-item">
				<span class="marker"></span>
				<span class="breadcrumb"><a href="{% url 'search_phenotypes' %}">search</a></span>
			</span>
			<span class="breadcrumb-item">
				<span class="marker"></span>
				<span class="breadcrumb">{{ entity.name }}</span>
			</span>
		</section>
    
    </div>
  </header>
  
  <main class="main-content">
    {% render_wizard_sidemenu %}
    {% endrender_wizard_sidemenu %}
    


    <div class="main-content__inner-container">
      <article class="phenotype-creation">

        {% include './detail_buttons.html' %}
        
 
          <section class="phenotype-creation__header">
            <h1>{{ entity.name }}</h1>
            <p><i>{{ entity.author }}</i></p>
          </section>

          
          <ol class="phenotype-progress">
            {% render_wizard_sections_detail_pg %}
            {% endrender_wizard_sections_detail_pg %}
          </ol>
        
      </article>
    </div>
  </main>


{% endblock container %}


{% block scripts %}
  <!-- script -->
{% endblock scripts %}
	
	
