{% load static %}
{% load cl_extras %}
{% load entity_publish_renderer %}

<div id="topButtons" class="box-container action-buttons-container">

  <div class="row">    
    <div class="col-md-12 text-align-right">
      <label class="dropdown-group">

        <div class="dropdown-group__button">Export {{ entity_class }} </div>
      
        <input type="checkbox" class="dropdown-group__input"  id="dd_1">
      
        <ul class="dropdown-group__menu dropdown-group__menu--fall-right" {% if not user_can_export %} disabled title="Component concept(s) deleted or revoked access!!" {% endif %} >
          <li aria-label="Export phenotype as JSON" role="button" tabindex="0">
            <a {% if user_can_export %}
                href="{% url 'api:get_generic_entity_detail_by_version' entity.id entity.history_id %}?format=json"
                target=_blank 
                {% endif %}
            >
                JSON
            </a>
          </li>
          <li aria-label="Export phenotype as XML" role="button" tabindex="0">
            <a {% if user_can_export %}
                href="{% url 'api:get_generic_entity_detail_by_version' entity.id entity.history_id %}?format=xml"
                target=_blank 
                {% endif %}
            >
                XML
            </a>
          </li>
        </ul>
        
      </label>
      
      
      {% if user.is_authenticated and not CLL_READ_ONLY %}
        {% if user_can_edit %}
          <button role="link"  class="primary-btn bold dropdown-btn__label"
             onClick="window.location.href='{% url 'update_phenotype' entity.id entity.history_id %}';" >&nbsp;Edit&nbsp;</button>
        {% endif %}

        {% if is_published and approval_status == APPROVED_STATUS_DICT.APPROVED %}
            <button class="primary-btn dropdown-btn__label" disabled title="This version is already published" style='color: green;'>
              &nbsp;<strong>Published</strong>&nbsp;
            </button>
        {% else %}    
            {% comment %} {% render_publish_button %}           {% endcomment %}
        {% endif %}
      {% endif %}
    </div>
  </div>
  
</div>

