{% load entity_publish_renderer %}
{% csrf_token %}
{% load compress %}
{%load static%}

{% compress js file %}
<script type="text/javascript" src="{% static "js/clinicalcode/redesign/utils.js" %}"></script>
{%endcompress%}



<script>
  const button = document.querySelector("#publish2");
  button.addEventListener("click", async function (e) {
    e.preventDefault();
    const ModalFactory = window.ModalFactory;

    try {
      const response = await fetch("{{url}}");
      const data = await response.json();

      const publishButton = [
        {
          name: "Cancel",
          type: ModalFactory.ButtonTypes.REJECT,
          html: `<button class="secondary-btn text-accent-darkest bold washed-accent" id="cancel-button"></button>`,
        },
        {
          name: "Publish",
          type: ModalFactory.ButtonTypes.CONFIRM,
          html: `<button class="primary-btn text-accent-darkest bold secondary-accent" id="publish-modal-button"></button>`,
        },
      ];
      const declineButton = [
        {
          name: "Cancel",
          type: ModalFactory.ButtonTypes.REJECT,
          html: `<button class="secondary-btn text-accent-darkest bold washed-accent" id="cancel-button"></button>`,
        },
        {
          name: "Decline",
          type: ModalFactory.ButtonTypes.CONFIRM,
          html: `<button class="primary-btn text-accent-darkest bold secondary-accent" id="decline-modlal-button"></button>`,
        },
        {
          name: "Approve",
          type: ModalFactory.ButtonTypes.CONFIRM,
          html: `<button class="primary-btn text-accent-darkest bold secondary-accent" id="approve-modlal-button"</button>`,
        },
      ];

      ModalFactory.create({
        id: "test-dialog",
        title: `Publish - ${data.entity_id} ${data.entity_type} - ${data.name}`,
        content: generateContent(data),
        buttons: data.approval_status === 1 ? declineButton : publishButton,
        
      })
        .then(async (result) => {
          const name = result.name;
          if (name == "Publish") {
            await postData(data, "{{url}}");
            location.reload()
          }
        })
        .catch((result) => {
          if (!(result instanceof ModalFactory.ModalResults)) {
            return console.error(result);
          }
          const name = result.name;
          if (name == "Cancel") {
            console.log("[failure] user cancelled", result);
          }
        });
    } catch (error) {
      console.error(error);
    }
  });


  const postData = async (data, url) => {
    try {
      const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
     
      //showLoader()
      const response = await fetch(
        url,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrfToken
          },
          body: JSON.stringify(data),
        }
      );
     // hideLoader()
      return response.json()
    } catch (error) {
      console.log(error);
    }
  };

  const generateContent = (data) =>{

  let paragraph;
  switch(data.approval_status){
    case 1:
      paragraph = `<p>Are you sure you want to approve this version of "${data.name}"?</p>
      <p>Published ${data.entity_type} cannot be undone.</p>`
      break;
    case 3:
      paragraph = `<p>Are you sure you want to approve previously declined version of "${data.name}"?</p>
      <p>This change of  ${data.entity_type} cannot be undone.</p>`
      break;
    default:
      paragraph = `<p>Are you sure you want to publish this version of "${data.name}"?</p>
      <p>Published ${data.entity_type} cannot be undone.</p>`
      break;
  }
  return paragraph


  }


</script>