{% load entity_publish_renderer %}

<script>
  const button = document.querySelector("#publish2");
  button.addEventListener("click", async function (e) {
    e.preventDefault();
    const ModalFactory = window.ModalFactory;

    await fetch("{{url}}")
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        // Handle the data received from the server
        const publishButton = [
          {
            name: "Cancel",
            type: ModalFactory.ButtonTypes.REJECT,
            html: `<button class="secondary-btn text-accent-darkest bold washed-accent" id="cancel-button"></button>`,
          },
          {
            name: "Publish",
            type: ModalFactory.ButtonTypes.CONFIRM,
            html: `<button class="primary-btn text-accent-darkest bold secondary-accent" id="publish-modlal-button"></button>`,
          },
        ];
        const declineButton = [
          {
            name: "Cancel",
            type: ModalFactory.ButtonTypes.REJECT,
            html: `<button class="secondary-btn text-accent-darkest bold washed-accent" id="cancel-button"></button>`,
          },
          {
            name: "Decline",
            type: ModalFactory.ButtonTypes.CONFIRM,
            html: `<button class="primary-btn text-accent-darkest bold secondary-accent" id="decline-modlal-button"></button>`,
          },
          {
            name: "Approve",
            type: ModalFactory.ButtonTypes.CONFIRM,
            html: `<button class="primary-btn text-accent-darkest bold secondary-accent" id="approve-modlal-button"></button>`,
          },
        ];

        ModalFactory.create({
          id: "test-dialog",
          title: `Publish - ${data.entity_id} ${data.entity_type} - ${data.name}`,
          content: "Loh",
          buttons: data.approval_status === 1 ? declineButton : publishButton,
        })
          .then((result) => {
            // e.g. user pressed a button that has type=ModalFactory.ButtonTypes.CONFIRM
            const name = result.name;
            if (name == "Publish") {
              postData(data,"{{url}}")
            }
          })
          .catch((result) => {
            // An error occurred somewhere (unrelated to button input)
            if (!(result instanceof ModalFactory.ModalResults)) {
              return console.error(result);
            }
            // e.g. user pressed a button that has type=ModalFactory.ButtonTypes.REJECT
            const name = result.name;
            if (name == "Cancel") {
              console.log("[failure] user cancelled", result);
            }
          });
      })
      .catch((error) => {
        // Handle any errors that occur during the AJAX request
        console.error(error);
      });
  });

  const postData = async (data, url) => {
    try {
      console.log(data)
      const response = await fetch(
        url,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
          },
          body: data,
        }
      );
      return response.json()
    } catch (error) {
      console.log(error);
    }
  };
</script>
