{% extends "base_scss.html" %}

{% load static %}
{% load cl_extras %}
{% load breadcrumbs %}
{% load entity_renderer %}

{% block title %}| Create a Phenotype{% endblock title %}

{% block container %}

<!-- Include search banner component -->
{% include "components/search/search_banner.html" with query=False %}

<!-- Include breadcrumb component -->
{% breadcrumbs useMap=False includeHome=True includeHeader=True %}
{% endbreadcrumbs %}

<main class="main-content">
  <div class="main-content__inner-container">
    <!-- Main search page -->
    <div class="search-page">
      <!-- Rendered filter components -->
      <aside class="side-search-filters">
        <div class="side-search-filters__header">
          <h3>Filter By</h3>
        </div>
        <div class="side-search-filters__container">
          {% include "components/search/filters/checkbox.html" %}
        </div>
      </aside>

      <!-- Rendered cards - will iterate over each entity -->
      <section class="entity-search-results">
        <div class="entity-search-results__header">
          <div class="entity-search-results__header-results">
            <h4>Results</h4>
            <p>1-48 of over 10,000</p>
          </div>
          <div class="entity-search-results__header-modifiers">
            <!-- e.g. 'Order By', 'Results per Page' -->
          </div>
        </div>
        <div class="entity-search-results__container">
          {% render_entity_card with entity=1 %}
          {% render_entity_card with entity=1 %}
        </div>
      </section>
    </div>

    <!-- Pagination -->
    {% render_entity_pagination %}
  </div>
</main>

{% endblock container %}