{% extends "base.html" %}

{% load static %}

{% load cl_extras %}

{% block title %}| Search{% endblock title %}
{% block description %}Search{% endblock description %}
{% block keywords %}Search{% endblock keywords %}	

{% block container_fluid %}

<div class="bg-search" style="display:none;">
 	<div class="container" >

		<div id="basic-search" class="bg-search">
  			<form class="container_frm container-1 example" id="basic-form" action="{% url 'generic_entity_list_temp' %}" method="GET"  >
				<div  class="row form-group">
					<div>
						<h2>Phenotypes</h2>
						<div class="form-input-flex-container">
							<input type="hidden" name="page" id="page"  value="{{ page|default_if_none:1 }}">
						
							<button  name="search_button" value="1" id="search_btn">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>	
</div>	
{% endblock container_fluid %}

{% block container %}
<div  id="result-div">

	<div class="page-control-container">
		{% include 'pagination.html' with form_target=search_form is_header=True %}	
	</div>
	
	{% block content %}
		{% for phenotype in page_obj.object_list %}
				<div class="cl-card {% if phenotype.is_deleted is True %} cl-card-deleted{% endif %} {% cycle ' dark-div ' '' %}   "
	                        {% if phenotype.approval_status == 1 and phenotype.owner_id == request.user.id or request.user|has_group:"Moderators" and phenotype.approval_status == 1 %}title="Waiting for approval"{% endif %}>
					<div class="row form-group">
						<div class="col-sm-8">
							<a class="" href="{% url 'entity_history_detail' phenotype.id phenotype.history_id %}">
							<span style='font-size: 22px;margin-top:0;'>{{ phenotype.id }} - {{ phenotype.name_highlighted|safe }}</span>
							</a>				
						</div>
	
						<div class="col-sm-4 text-right">
							<span class="badge card-date-badge">
								{% if user.is_authenticated %}
									<span class="card-date-block">Modified:</span><i class="card-noweight">{{ phenotype.updated|date:"Y-m-d" }}</i>
								{% else %}	
									<span class="card-date-block">Published:</span><i class="card-noweight">{{ phenotype.publish_date|date:"Y-m-d" }}</i>
								{% endif %}
							</span>
						</div>
					</div>
					
					<div class="row form-group">
						<div class="col-sm-12">
							{{ phenotype.author_highlighted|safe }}
						</div>
	
					</div>
										
		</div>				  
		<br> 
		{% empty %}
			<div class="row form-group">
				<div class="col-sm-12 text-center bg-warning">
					No phenotypes
				</div>	
			</div>				
				
		{% endfor %}
	{% endblock %}
	
	
	<div class="page-control-container">
		{% include 'pagination.html' with form_target=search_form is_header=False %}	
	</div>
	
</div>
	
{% endblock container %}
	
	
