<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title"><i class="fa fa-cog" aria-hidden="true"></i> Historic concept component</h4>
</div>
<div class="modal-body">
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-3">Name:</label>
			<div class="col-sm-7">
				{{ component.name }}
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3">Comment:</label>
			<div class="col-sm-7">
				{{ component.comment }}
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3">Type:</label>
			<div class="col-sm-7">								
				{{ component.get_logical_type_display }}
			</div>
		</div>
			
		<div class="form-group">
			<label class="col-sm-3">Concept:</label>
			<div class="col-sm-7">
				{{ component.concept_name }}
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3">Open linked concept in a new tab:</label>
			<div class="col-sm-7">
			    <a href="{% url 'concept_history_detail' pk=component.concept_ref_id concept_history_id=component.concept_ref_history_id %}" target="_blank" class="alert-link">(CONCEPT ID: {{ component.concept_ref_id }}/{{ component.concept_ref_history_id }})</a>
			</div>
		</div>
		
<!-- 	</div> -->
<!-- </div> -->
<!-- <div class="modal-footer"> -->
<!-- 	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
<!-- </div> -->
		
		<hr/>
		<div class="row">
			<div class="col-md-8">
				<h4><i class="fa fa-barcode" aria-hidden="true"></i> Codes</h4>
			</div>
			<div class="col-md-4 text-right">
				<span class="componentConceptAmount label label-primary"></span>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="clusterize" style="height: 500px;">
					<table id="componentConceptTable" class="table table-striped small-table" style="margin-bottom: 0px;">
						<thead>
							<tr>
								<th style="width: 120px; border: none;">Code</th>
								<th style="border: none;">Description</th>
							</tr>
						</thead>
					</table>
					<div id="componentConceptScrollArea" class="clusterize-scroll" style="max-height: 450px;">
						<table class="table table-striped small-table">
							<thead>
								<tr>
									<th style="width: 120px; border: none;"></th>
									<th style="border: none;"></th>
								</tr>
							</thead>
							<tbody id="componentConceptContentArea" class="clusterize-content">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-right">
				<span class="componentConceptAmount label label-primary"></span>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

<script>
	var regexCodes = {{ codes|safe }};
	
	$(function(){
		var formatCodes = function(data){
			return data.map(function(row){
				return "<tr><td>" + row.code + "</td><td>" + row.description + "</td></tr>";
			});
		}
		
		var rowsData = formatCodes(regexCodes);
		var componentConceptClusterize = new Clusterize({
			rows: rowsData,
			scrollId: 'componentConceptScrollArea',
			contentId: 'componentConceptContentArea'
		});
		$('.componentConceptAmount').text('Rows: ' + componentConceptClusterize.getRowsAmount());
	})
</script>
