{% extends "base.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load entity_renderer %}

{% block title %}| Home{% endblock title %}

{% block container %}

{% compress css %}
  <link rel="stylesheet" href="{% sass_src 'scss/pages/home/base.scss' %}" type="text/css" />
{% endcompress %}

{% compress js %}
  <script type="text/javascript" src="{% static 'js/clinicalcode/components/homeCounter.js' %}"></script>
{% endcompress %}

{% get_brand_base_title request.BRAND_OBJECT as base_page_title %}
<header class="main-header main-header--collapse homepage-hero-banner">
  {% get_brand_map_rules as brand_mapping %}
  <div
    class="main-header__inner-container main-header__inner-container--constrained main-header__inner-container--centred">
    <section class="homepage-hero">
      <div class="homepage-hero__container">
        <div class="homepage-hero__details">
          <h1>
            {{ base_page_title }}
          </h1>
          <h2>
            {% get_brand_base_desc request.BRAND_OBJECT %}
          </h2>
          <p>
            Our goal is to create a system that describes research study designs in a machine-readable format to facilitate rapid study development;
            higher quality research; easier replication; and sharing of methods between researchers, institutions, and countries.
          </p>
        </div>
        <form class="homepage-hero__search" action="{% url 'search_phenotypes' %}" method="GET">
          <input class="homepage-hero__search-input" aria-label="Search {{ brand_mapping.phenotype }}s" type="text"
            id="data-search" name="search" placeholder="Search..." minlength="3">
          <button class="homepage-hero__search-icon" tabindex="0" 
            name="page" value="1" aria-label="Go to {{ brand_mapping.phenotype }} Search">
          </button>
        </form>
      </div>
      <img loading="lazy" class="homepage-hero__image" draggable="false" />
    </section>
  </div>
</header>

<main class="main-content">
  <div
    class="main-content__inner-container main-content__inner-container--fill-width main-content__inner-container--centred">

    <!-- Statistics -->
    <section class="homepage-statistics homepage-statistics--inner-padding homepage-statistics--bg-gradient">
      <div class="homepage-statistics__group homepage-statistics--constrained">
        <header class="homepage-statistics__header">
          <h3 class="homepage-statistics__header-title">
            You will find...
          </h3>
        </header>
        <div class="homepage-statistics__container">
          <div class="homepage-statistics__card">
            <div class="homepage-statistics__card-content">
              <header class="homepage-statistics__card-header">
                <p>
                  {{ brand_mapping.phenotype }}s
                </p>
                <p id="entity-counter" x-value="{{ published_phenotype_count }}" x-init="countup">
                  {{ published_phenotype_count|stylise_number }}
                </p>
              </header>
              <p class="homepage-statistics__card-text">
                A {{ brand_mapping.phenotype }} defines how to measure real-world attributes of human health in data.
              </p>
            </div>
          </div>
          <div class="homepage-statistics__card">
            <div class="homepage-statistics__card-content">
              <header class="homepage-statistics__card-header">
                <p>
                  {{ brand_mapping.concept }}s
                </p>
                <p id="entity-counter" x-value="{{ published_concept_count }}" x-init="countup">
                  {{ published_concept_count|stylise_number }}
                </p>
              </header>
              <p class="homepage-statistics__card-text">
                {{ brand_mapping.concept }} are individual lists of clinical codes defining a condition, treatment, and so forth.
              </p>
            </div>
          </div>
          <div class="homepage-statistics__card">
            <div class="homepage-statistics__card-content">
              <header class="homepage-statistics__card-header">
                <p>
                  Data Sources
                </p>
                <p id="entity-counter" x-value="{{ datasources_component_count }}" x-init="countup">
                  {{ datasources_component_count|stylise_number }}
                </p>
              </header>
              <p class="homepage-statistics__card-text">
                Data sources are datasets against which {{ brand_mapping.phenotype }}s may be defined - for example, 
                routinely collected health datasets.
              </p>
            </div>
          </div>
          <div class="homepage-statistics__card">
            <div class="homepage-statistics__card-content">
              <header class="homepage-statistics__card-header">
                <p>
                  Clinical Codes
                </p>
                <p id="entity-counter" x-value="{{ published_clinical_codes }}" x-init="countup">
                  {{ published_clinical_codes|stylise_number }}
                </p>
              </header>
              <p class="homepage-statistics__card-text">
                Clinical codes are the 'words' in standardized languages used to create electronic health records.
              </p>
            </div>
          </div>
          <div class="homepage-statistics__card">
            <div class="homepage-statistics__card-content">
              <header class="homepage-statistics__card-header">
                <p>
                  Clinical Terminologies
                </p>
                <p id="entity-counter" x-value="{{ clinical_terminologies }}" x-init="countup">
                  {{ clinical_terminologies|stylise_number }}
                </p>
              </header>
              <p class="homepage-statistics__card-text">
                Clinical Coding Systems are the languages used to capture electronic health records 
                in a standardized format.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Brands -->
    <section class="homepage-about homepage-about--inner-padding homepage-about--constrained">
      <div class="homepage-about__list">
        {% for obj in known_brands %}
          <div class="homepage-about__brand">
            <div class="homepage-about__brand-item">
              <div class="homepage-about__brand-icon">
                <img loading="lazy" src="{% static 'img/brands/'|add:obj.name|add:'/apple-touch-icon.png' %}" />
              </div>
              <div class="homepage-about__brand-details">
                <h4>
                  {{ obj.name }}
                </h4>
                <p>
                  {{ obj.description }}
                </p>
              </div>
            </div>
            <div class="homepage-about__brand-footer">
              <a class="homepage-about__brand-anchor" href="{% get_brand_base_website brand=obj %}">
                View Site 
                <span class="homepage-about__brand-anchor-icon"></span>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="homepage-about__info">
        <h3 class="homepage-about__info-title">
          What do we do?
        </h3>
        <p>
          The {{ base_page_title }} is an open source software application enabling researchers to create, 
          document and share definitions and algorithms that are used in health data research.
          This tool serves as a key enabler to the open research agenda, driving efficient, high 
          quality, and repeatable research.  
        </p>
        <p>
          For example, the <a href="https://www.go-fair.org/fair-principles/">FAIR principles</a> state that 
          digital assets used in research should be <em>"Findable, Accessible, Interoperable, and Reusable"</em>.
          The {{ base_page_title }} implements a solution to those goals within the electronic {{ brand_mapping.phenotype }} space. 
        </p>
        <p>
          Originally developed by the SAIL Databank team, the {{ base_page_title }} has been adopted as 
          a sharing solution by multiple organizations, including
          {% if request.CURRENT_BRAND != '' %}
            HDRN.
          {% else %}
            Health Data Research UK. 
            A multi-institutional, interdisciplinary team is responsible for ongoing development.
          {% endif %}
        </p>

        <div class="homepage-about__info-buttons">
          <a class="secondary-btn text-accent-darkest bold bubble-accent" aria-label="Contact Us"
            id="contact-btn" href="{% url 'contact_us' %}">
            Get in touch
          </a>
        </div>
      </div>
    </section>

    <!-- Features -->
    <section class="homepage-features homepage-features--inner-padding homepage-features--constrained">
      <header class="homepage-features__header">
        <h3 class="homepage-features__header-title">
          Our 
          <span class="homepage-features__header-title homepage-features__header-title-highlight">
            Features
          </span>
        </h3>
      </header>
      <div class="homepage-features__container">
        <div class="homepage-features__image show" id="fade-item">
          <img loading="lazy" draggable="false"/>
        </div>
        
        <div class="homepage-features__list">
          <div class="homepage-features__item show" id="fade-item">
            <span class="homepage-features__item-icon build"></span>
            <div class="homepage-features__details">
              <span class="homepage-features__details-title">
                Build
              </span>
              <span class="homepage-features__details-text">
                Build codelists from our wide range of coding systems to define your {{ brand_mapping.phenotype }}s and {{ brand_mapping.concept }}s.
              </span>
            </div>
          </div>
          <div class="homepage-features__item show" id="fade-item">
            <span class="homepage-features__item-icon repository"></span>
            <div class="homepage-features__details">
              <span class="homepage-features__details-title">
                Repository
              </span>
              <span class="homepage-features__details-text">
                Store codelists along with metadata that captures important information about quality, author, etc.
              </span>
            </div>
          </div>
          <div class="homepage-features__item show" id="fade-item">
            <span class="homepage-features__item-icon version"></span>
            <div class="homepage-features__details">
              <span class="homepage-features__details-title">
                Versioning
              </span>
              <span class="homepage-features__details-text">
                Store version history and provide a way to unambiguously reference a particular version of a codelist.
              </span>
            </div>
          </div>
          <div class="homepage-features__item show" id="fade-item">
            <span class="homepage-features__item-icon algorithm"></span>
            <div class="homepage-features__details">
              <span class="homepage-features__details-title">
                Algorithms
              </span>
              <span class="homepage-features__details-text">
                Provides programmatic interaction with codelists, and allows users to build their study's cohort.
              </span>
            </div>
          </div>
          <div class="homepage-features__item show" id="fade-item">
            <span class="homepage-features__item-icon share"></span>
            <div class="homepage-features__details">
              <span class="homepage-features__details-title">
                Sharing
              </span>
              <span class="homepage-features__details-text">
                Provide a mechanism for sharing codelists between projects and organizations.
              </span>
            </div>
          </div>
          <div class="homepage-features__item show" id="fade-item">
            <span class="homepage-features__item-icon review"></span>
            <div class="homepage-features__details">
              <span class="homepage-features__details-title">
                Review
              </span>
              <span class="homepage-features__details-text">
                Allow clinicians and other team members to review codelists.
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Carousel -->
    <section class="homepage-carousel">
      <header class="homepage-carousel__header">
        <h3 class="homepage-carousel__header-title">
          Get Started
        </h3>
      </header>
      <div class="homepage-carousel__container">
        <div class="homepage-carousel__items">
          <div class="homepage-carousel__item">
            <span class="homepage-carousel__item-subtitle">
              Explore {{ brand_mapping.phenotype }}s
            </span>
            <span class="homepage-carousel__item-text">
              View the {{ base_page_title }}'s {{ brand_mapping.phenotype }}s.
            </span>
            <a class="secondary-btn text-accent-darkest bold bubble-accent" aria-label="Search {{ brand_mapping.phenotype }}s"
              id="explore-btn" href="{% url 'search_phenotypes' %}">
              Search
            </a>
          </div>
          {% if USER_CREATE_CONTEXT %}
            <div class="homepage-carousel__item">
              <span class="homepage-carousel__item-subtitle">
                Create a {{ brand_mapping.phenotype }}
              </span>
              <span class="homepage-carousel__item-text">
                Start here to contribute to the {{ base_page_title }}.
              </span>
              <a class="secondary-btn text-accent-darkest bold bubble-accent" aria-label="Create a {{ brand_mapping.phenotype }}" 
                id="create-btn" href="{% url 'create_phenotype' %}">
                Create
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </section>

    <!-- Principles -->
    <section class="homepage-principles homepage-principles--inner-padding homepage-principles--constrained">
      <header class="homepage-principles__header">
        <h3 class="homepage-principles__header-title">
          <span class="homepage-principles__header-title homepage-principles__header-title-highlight">
            Key
          </span>
          Principles
        </h3>
      </header>
      <div class="homepage-principles__container">
        <div class="homepage-principles__principle">
          <div class="homepage-principles__details">
            <p class="homepage-principles__details-text">
              The {{ base_page_title }} stores phenotyping algorithms, metadata and tools only. No data is stored in the {{ base_page_title }}.
            </p>
          </div>
        </div>
        <div class="homepage-principles__principle">
          <div class="homepage-principles__details">
            <p class="homepage-principles__details-text">
              {{ brand_mapping.phenotype }} definitions will be assigned a unique Digital Object Identifier (DOI) 
              to facilitate identification of the {{ brand_mapping.phenotype }}.
            </p>
          </div>
        </div>
        <div class="homepage-principles__principle">
          <div class="homepage-principles__details">
            <p class="homepage-principles__details-text">
              Ideally, {{ brand_mapping.phenotype }}s that are deposited in the {{ base_page_title }} will have undergone some form of 
              peer-review to assess validity and quality either through peer-reviewed publication or 
              some other means of sharing the definition(s).
            </p>
          </div>
        </div>
        <div class="homepage-principles__principle">
          <div class="homepage-principles__details">
            <pre class="homepage-principles__details-text">{% get_brand_citation_req as citation_block %}{{ citation_block|safe }}</pre>
          </div>
        </div>
        <div class="homepage-principles__principle">
          <div class="homepage-principles__details">
            <p class="homepage-principles__details-text">
              All material deposited in the {{ base_page_title }} remain the intellectual property of the research group who created the {{ brand_mapping.phenotype }}(s)
              &#8208; the default licensing agreement that information is available under is the Creative Commons Attribution 4.0 (CC-A).
            </p>
          </div>
        </div>
        <div class="homepage-principles__principle">
          <div class="homepage-principles__details">
            <p class="homepage-principles__details-text">
              The aim of the {{ base_page_title }} is not to standardize or harmonize disease definitions,
              therefore several {{ brand_mapping.phenotype }}s may be stored for the same condition and the onus is on
              individual researchers to explore which {{ brand_mapping.phenotype }}s they wish to use.
            </p>
          </div>
        </div>
      </div>
    </section>

  </div>
</main>
{% endblock container %}
