{% extends "base_scss.html" %}
{% load static %}
{% load compress %}
{% load sass_tags %}
{% load cl_extras %}
{% load breadcrumbs %}
{% load entity_renderer %}
{% block title %}| Home{% endblock title %}
{% block container %}

<header class="main-header search-banner">
  <div
    class="main-header__inner-container main-header__inner-container--constrained main-header__inner-container--centred">
    <div class="search-banner__header search-banner__header--pad-bottom-2">
      <h2 class="search-banner__title">Concept Library</h2>
    </div>
  </div>
</header>

<main class="main-content main-content--inner-padding">
  <div
    class="main-content__inner-container main-content__inner-container--constrained main-content__inner-container--centred">
    <div class="headline__section__general">
      <h2>Overview</h2>
      <p>
        The <strong>Concept Library</strong> project intends to create a system that describes research study designs in a machine-readable
        format to facilitate rapid study development; higher quality research; easier replication; and sharing of methods between
        researchers, institutions, and countries.
      </p>

      <h2>Goals</h2>
      <p>
        The Concept Library is a system for storing, managing, sharing, and documenting clinical code lists in health
        research. The specific goals of this work are:
      </p>
      <ul>
        <li>Store code lists along with metadata that captures important information about quality, author, etc.</li>
        <li>Store version history and provide a way to unambiguously reference a particular version of a code list.</li>
        <li>
          Allow programmatic interaction with code lists via an API, so that they can be directly used in queries,
          statistical scripts, etc.
        </li>
        <li>Provide a mechanism for sharing code lists between projects and organizations.</li>
      </ul>

      <h2>Background</h2>
      <p>
        A significant aspect of research using routinely collected health records is defining how concepts of interest
        (including conditions, treatments, symptoms, etc.) will be measured. This typically involves identifying sets of
        clinical codes that map to a variable that the researcher wants to measure, and sometimes a set of rules as well
        (e.g. a sufferer from a disease may be defined as someone who has a diagnosis code from list A and a medication
        from list B, but excluding anyone who has a code from list C). A large part of the analysis work may involve
        consulting clinicians, investigating the data, and creating and testing definitions of clinical concepts to be
        used.
      </p>
      <p>
        Often the definitions that are created are of interest to researchers for many studies, but there are barriers
        to easily sharing them. The definitions may be embedded within study-specific scripts, such that it is not easy
        to extract the part that may be of general interest. Also, often researchers do not fully document how a concept
        was created, its precise meaning, limitations, etc. Crucial information may be lost when passing it to other
        researchers, resulting in mistakes. Often there simply is no mechanism to discover and share work that has been
        done previously, leading researchers to waste time and resources reinventing the wheel. In theory, when research
        is published, information on the precise methods used should be included, but in reality this is often
        inadequate.
      </p>
      <br />

      <h2>Documentation</h2>
      {% if IS_INSIDE_GATEWAY or request.get_host == "conceptlibrary.serp.ac.uk" %}
        <p>
          Concept Library documentation is available within the external application, or on Github.
        </p>
        <p>
          Please access the documentation outside of the gateway.
        </p>
      {% else %}
        <p>
          Concept Library documentation is available on
          <a href="https://github.com/SwanseaUniversityMedical/concept-library/wiki/Concept-Library-Documentation"
            target=_blank rel="noopener noreferrer">
            Github
          </a>.
        </p>
      {% endif %}
    </div>
  </div>
</main>
{% endblock container %}
{% block scripts %}
{% endblock scripts %}