{% extends "base.html" %}

{% load static %}
{% load markdownify %}
{% load cl_extras %}

{% block title %}| Reference data{% endblock title %}
{% block description %}To list Data sources, Coding systems, Tags, Collections, Phenotype types, etc. {% endblock description %}
{% block keywords %}, Data sources, Coding systems, Tags, Collections, Phenotype types{% endblock keywords %}

{% block scrollNav %}
data-spy="scroll" data-target="#public-data-menu" data-offset = "120"
{% endblock %}
{% block container %}
    <div class="row">
        <nav class="col-sm-2 hideleft-navbar" id="public-data-menu"
             style="padding-top: 20px; position: sticky; height: min-content; position: -webkit-sticky; top: 60px;">
            <ul class=" nav left-navbar active"  id='navList'>
                <li><a href="#DataSources" id="DataSources_link">Data Sources</a></li>
                <li><a href="#CodingSystems">Coding Systems</a></li>
                <li><a href="#Tags">Tags</a></li>
                <li><a href="#Collections">Collections</a></li>
                <li><a href="#PhenotypeTypes">Phenotype Types</a></li>
            </ul>
        </nav>


        <div class="col-sm-10" style="padding-top: 0px; top: 0px;">

            <!--	----------------------------- --------------------------------------
                    Data Sources
                    -------------------------------------------------------------------
              -->
            <div class="col-sm-12 shadow-frame-public-page" style="margin-top:-90px;" id="DataSources">
                <h3 class="paneltitle"  style="margin-top:60px; margin-bottom:20px;">
                	<strong>Data Sources ({{ data_sources|length }})</strong>
                </h3>


				<table class="table table-hover table-striped">
				  <thead>
				    <tr>
<!-- 				      <th scope="col">#</th> -->
				      <th scope="col">Data Source ID</th>
				      <th scope="col">Name</th>
				    </tr>
				  </thead>
				  <tbody>
				  {% for ds in data_sources %}
				    <tr>
<!-- 				    	<td>{{ forloop.counter }}</td> -->
						<th>{{ ds.datasource_id }}</th>	
				        <td>           
				         {% if ds.url|length %}
				             <a href="{{ ds.url }}" target=_blank rel="noopener noreferrer">{{ ds.name }}</a>
				         {% else %}
				             {{ ds.name }}
				         {% endif %}
						</td>			                        
				    </tr>
				  {% endfor %}
				  </tbody>
				</table>

            </div>


            <!--	----------------------------- --------------------------------------
                    Coding Systems
                    -------------------------------------------------------------------
              -->
            <div class="col-sm-12 shadow-frame-public-page" id="CodingSystems"  idx="CodingSystems">
                <h3 class="paneltitle"  style="margin-top:60px; margin-bottom:20px;">
                <strong>Coding Systems ({{ coding_systems|length }})</strong></h3>


				<table class="table table-hover table-striped">
				  <thead>
				    <tr>
<!-- 				      <th scope="col">#</th> -->
				      <th scope="col">Coding System ID</th>
				      <th scope="col">Name</th>
				    </tr>
				  </thead>
				  <tbody>
				  {% for cs in coding_systems %}
				    <tr>
<!-- 				    	<td>{{ forloop.counter }}</td> -->
						<th>{{ cs.codingsystem_id }}</th>	
				        <td>{{ cs.name }}</td>			                        
				    </tr>
				  {% endfor %}
				  </tbody>
				</table>

            </div>

    
            <!--	----------------------------- --------------------------------------
                    Tags
                    -------------------------------------------------------------------
              -->
            <div class="col-sm-12 shadow-frame-public-page" id="Tags">
                <h3 class="paneltitle"  style="margin-top:60px; margin-bottom:20px;">
                <strong>Tags ({{ tags|length }})</strong></h3>


				<table class="table table-hover table-striped">
				  <thead>
				    <tr>
<!-- 				      <th scope="col">#</th> -->
				      <th scope="col">ID</th>
				      <th scope="col">Name</th>
				    </tr>
				  </thead>
				  <tbody>
				  {% for t in tags %}
				    <tr>
<!-- 				    	<td>{{ forloop.counter }}</td> -->
						<th>{{ t.id }}</th>	
				        <td>{{ t.description }}</td>			                        
				    </tr>
				  {% endfor %}
				  </tbody>
				</table>

            </div>

    
            <!--	----------------------------- --------------------------------------
                    Collections
                    -------------------------------------------------------------------
              -->
            <div class="col-sm-12 shadow-frame-public-page" id="Collections">
                <h3 class="paneltitle"  style="margin-top:60px; margin-bottom:20px;">
                <strong>Collections ({{ collections|length }})</strong></h3>


				<table class="table table-hover table-striped">
				  <thead>
				    <tr>
<!-- 				      <th scope="col">#</th> -->
				      <th scope="col">ID</th>
				      <th scope="col">Name</th>
				      <th scope="col">Brand</th>
				    </tr>
				  </thead>
				  <tbody>
				  {% for c in collections %}
				    <tr>
<!-- 				    	<td>{{ forloop.counter }}</td> -->
						<th>{{ c.id }}</th>	
				        <td>{{ c.description }}</td>			                        
				        <td>{{ c.collection_brand }}</td>			                        
				    </tr>
				  {% endfor %}
				  </tbody>
				</table>

            </div>

    
                <!--	----------------------------- --------------------------------------
                    Phenotype Types
                    -------------------------------------------------------------------
              -->
            <div class="col-sm-12 shadow-frame-public-page" id="PhenotypeTypes">
                <h3 class="paneltitle"  style="margin-top:60px; margin-bottom:20px;">
                <strong>Phenotype Types ({{ phenotype_types|length }})</strong></h3>


				<table class="table table-hover table-striped">
				  <thead>
				    <tr>
<!-- 				      <th scope="col">#</th> -->
				      <th scope="col">Type</th>
				    </tr>
				  </thead>
				  <tbody>
				  {% for t in phenotype_types %}
				    <tr>
<!-- 				    	<td>{{ forloop.counter }}</td> -->
						<th>{{ t }}</th>			                        
				    </tr>
				  {% endfor %}
				  </tbody>
				</table>

            </div>

    


		<!-- -------------------------------------------------------------------- -->
        </div>
    </div>

{% endblock container %}





