{% extends "base.html" %}

{% load static %}

{% block title %}{% endblock title %}

{% block container %}

<h1>API</h1>


<div class="alert  alert-success" role="alert">
	<ul>
		<li>All urls with <code>/public/</code> will search published entities only and require no authentication.</li>
		<li>You can add the querystring <code>?format=json</code> or <code>?format=xml</code> to specify the required API output format.</li>
		<li>An R package implementing the API is available at 
			<code><a href="https://github.com/SwanseaUniversityMedical/concept-library-client-r" target=_blank  rel="noopener noreferrer" class="alert-link">
			concept-library-R-client</a></code>	
		</li>
		<li>
			<code><a href="{% url 'api:schema-swagger-ui' %}" target=_blank  rel="noopener noreferrer" class="alert-link">
			Swagger UI</a></code>
			&nbsp;&nbsp;
			<code><a href="{% url 'api:schema-json' format='.json' %}" target=_blank  rel="noopener noreferrer" class="alert-link">
			Swagger json</a></code>	
			&nbsp;&nbsp;
			<code><a href="{% url 'api:schema-json' format='.yaml' %}" target=_blank  rel="noopener noreferrer" class="alert-link">
			Swagger yaml</a></code>				
		</li>
	</ul>
</div>
	

    
 <ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#Phenotypes"><strong>Phenotypes</strong></a></li>
	<li><a data-toggle="tab" href="#Concepts"><strong>Concepts</strong></a></li>
	<li><a data-toggle="tab" href="#coding-systems"><strong>Coding Systems</strong></a></li>	
	<li><a data-toggle="tab" href="#data-sources"><strong>Data Sources</strong></a></li>
	{% if request.BRAND_OBJECT.allowed_tabs is none or 'workingsets' in request.BRAND_OBJECT.allowed_tabs %}
		<li><a data-toggle="tab" href="#Working-Sets"><strong>Working Sets</strong></a></li>
	{% endif %}
	{% if IS_DEMO or IS_DEVELOPMENT_PC %}
		{% if request.BRAND_OBJECT.allowed_tabs is none or 'phenotypeworkingsets' in request.BRAND_OBJECT.allowed_tabs %}
			<li><a data-toggle="tab" href="#Phenotype-Working-Sets"><strong>Phenotype Working Sets</strong></a></li>
		{% endif %}
	{% endif %}
	<li><a data-toggle="tab" href="#tags"><strong>Tags</strong></a></li>
	<li><a data-toggle="tab" href="#collections"><strong>Collections</strong></a></li>
</ul>

	
<div class="tab-content">	    
<!-- ===============================================================  -->	  	    
	<!-- concepts -->
	  <div id="Concepts" class="tab-pane fade">
          <h2>Concepts:</h2>
        <ol>
        
          <li><h3 class="pt-3">List/Search concepts</h3></li>
        <div>
         <p style="padding-top: 10px;">Lists <em>the published</em> concepts.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a  href="{% url 'api:api_published_concepts' %}" target="_blank" class="alert-link">{% url 'api:api_published_concepts' %}</a></code></pre>
         <p style="padding-top: 10px;">
             User can search with criteria using a combinations of querystring parameters: <br>
                <ul>
                  <li><code>?search=Alcohol</code><br>
                  search by part of concept name (do not put wild characters here)</li>
                  
                  <li><code>?collection_ids=20,23</code><br>
                  You can specify collection ids <br>
	               (get collections from <code><a href="{{ collections }}" target="_blank" class="alert-link">{{ collections }}</a></code>)
	                </li>
                  <li><code>?tag_ids=1,3</code><br>
                  You can specify tag ids <br>
	               (get tags from <code><a href="{{ tags }}" target="_blank" class="alert-link">{{ tags }}</a></code>)
	                </li>	                

				  <li><code>?coding_ids=4</code><br>
					Specify the coding system of the phenotype
				  </li> 
				  <li><code>?data_source_ids=1</code><br>
					Specify the data source of the phenotype
				  </li> 
				  <li><code>?start_date=2018-01-01&end_date=2022-08-25</code><br>
					Specify the date range of your query
				  </li> 
                  <li><code>?show_only_validated_concepts=1</code><br>
                  will show only validated concepts</li>
                  <li><code>?brand=HDRUK</code><br>
                  will show only concepts with brand=HDRUK</li>
                  <li><code>?author=Kuan</code><br>
                  search by part of the author name</li>      
                  <li><code>?do_not_show_versions=1</code><br>
                  do not show concepts versions (by default, all concept's version ids are shown)</li>
                </ul>
              (<code>Example: {% url 'api:api_published_concepts' %}?author=m&brand=adp&tag_collection_ids=11</code>)
          </p>
          
        </div>


          <li><h3 class="pt-3">List concept by id</h3></li>

        <div>    
         <p style="padding-top: 10px;">Lists <em>a published</em> concepts by id.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_published_concept_by_id }}</code></pre>          
        </div>
                    
          
       <li><h3 class="pt-3">List concept detail</h3></li>
        <div>    
         <p style="padding-top: 10px;">Lists the pubished concept detail <em>of the latest published version</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_concept_detail_public }}</code></pre>          
 
         <p style="padding-top: 10px;">Lists the published concept detail <em>of the specified published version</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_concept_detail_version_public }}</code></pre>          
        </div>
                          
        <li><h3 class="pt-3">Export the code list of a concept</h3></li>
        <div>    
         <p style="padding-top: 10px;"> Exports the code list of<em> the latest version</em> of a <em>published</em> concept.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_export_published_concept_codes_latestVersion }}</code></pre>         
         
         <p style="padding-top: 10px;"> Exports the code list of<em> a specific version</em> of a <em>published</em> concept.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_export_published_concept_codes }}</code></pre>         
        </div>
                    
        <li><h3 class="pt-3">List the versions of a concept</h3></li>
        <div>    
         <p style="padding-top: 10px;"> Lists the <em>published</em> versions of the published concept .</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ get_concept_versions_public }}</code></pre>          
        </div>
	</ol>
		<h2>Authenticated APIs:</h2>
		  <div class="alert  alert-success" role="alert">
			<p>Authenticated APIs return both public content and content that has not yet been published. A user account is required.</p>
		</div>
	<ol>
	 <li><h3 class="pt-3">List/Search concepts</h3></li>
        <div>
         <p style="padding-top: 10px;">Lists all available concepts <em>for the user</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a  href="{% url 'api:concepts' %}" target="_blank" class="alert-link">{% url 'api:concepts' %}</a></code></pre>
         <p style="padding-top: 10px;">
             User can search with criteria using a combinations of querystring parameters: <br>
                <ul>
                  <li><code>?search=Alcohol</code><br>
                  search by part of concept name (do not put wild characters here)</li>
                  <li><code>?collection_ids=20,23</code><br>
                  You can specify collection ids <br>
	               (get collections from <code><a href="{{ collections }}" target="_blank" class="alert-link">{{ collections }}</a></code>)
	                </li>
                  <li><code>?tag_ids=1,3</code><br>
                  You can specify tag ids <br>
	               (get tags from <code><a href="{{ tags }}" target="_blank" class="alert-link">{{ tags }}</a></code>)
	                </li>	
				<li><code>?coding_ids=4</code><br>
				Specify the coding system of the phenotype
				</li> 
				<li><code>?data_source_ids=1</code><br>
				Specify the data source of the phenotype
				</li> 
				<li><code>?start_date=2018-01-01&end_date=2022-08-25</code><br>
				Specify the date range of your query
				</li> 
                  <li><code>?show_only_my_concepts=1</code><br>
                  Only show concepts owned by me</li>
                  <li><code>?show_deleted_concepts=1</code><br>
                  will show also deleted concepts (by default, deleted objects are not shown)</li>
                  <li><code>?show_only_validated_concepts=1</code><br>
                  will show only validated concepts</li>
                  <li><code>?brand=HDRUK</code><br>
                  will show only concepts with brand=HDRUK</li>
                  <li><code>?author=Kuan</code><br>
                  search by part of the author name</li>
                  <li><code>?owner_username=a.john</code><br>
                  search by full username of the owner</li>
                  <li><code>?do_not_show_versions=1</code><br>
                  do not show concepts versions (by default, all concept's version ids are shown)</li>
                  <li><code>?must_have_published_versions=1</code><br>
            show only concepts which have a published version(by default, all concepts are shown)</li>
                </ul>
              (<code>Example: {% url 'api:concepts' %}?author=m&brand=adp&tag_collection_ids=11</code>)
          </p>
      </div>

	   <li><h3 class="pt-3">List concept by id</h3></li>
	           <div>
         <p style="padding-top: 10px;">Lists a concept by id <em>for the user</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ concept_by_id }}</code></pre>
      </div>

       <li><h3 class="pt-3">List concept detail</h3></li>
        <div>
         <p style="padding-top: 10px;">Lists the concept detail <em>of the latest version</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_concept_detail }}</code></pre>

         <p style="padding-top: 10px;">Lists the concept detail <em>of the specified version</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_concept_detail_version }}</code></pre>
      </div>

	    <li><h3 class="pt-3">Export the code list of a concept</h3></li>
        <div>
         <p style="padding-top: 10px;"> Exports the code list of<em> the latest version</em> of a concept <em>for the user</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ export_concept_codes }}</code></pre>
        </div>

        <div>
         <p style="padding-top: 10px;"> Exports the code list of<em> a specific version</em> of a concept <em>for the user</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ export_concept_codes_byVersionID }}</code></pre>
        </div>


        <li><h3 class="pt-3">List the versions of a concept</h3></li>
        <div>
         <p style="padding-top: 10px;"> Lists all the versions of the concept <em>for the user</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ get_concept_versions }}</code></pre>
      </div>



         
       {% if not CLL_READ_ONLY %}
	       {% if user.is_authenticated and request.user.is_superuser %}
	          <li><h3 class="pt-3">Create/Update a concept</h3></li>
	          <div>    
	           <p style="padding-top: 10px;"> Create a concept by passing a JSON object.</p>
	           <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">post</span> {{ api_concept_create }}</code></pre>
	        </div>
	      
	          <div>    
	           <p style="padding-top: 10px;"> Update a concept by passing a JSON object.</p>
	           <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">put</span> {{ api_concept_update }}</code></pre>         
	          </div>
	       {% endif %}  
       {% endif %}  
          

         </ol>

	  </div>

<!-- ===============================================================  -->	
{% if request.BRAND_OBJECT.allowed_tabs is none or 'workingsets' in request.BRAND_OBJECT.allowed_tabs %}  
	  <!-- working sets -->
	  <div id="Working-Sets" class="tab-pane fade">
	   	<h2>Working Sets:</h2>
		<h2>Authenticated APIs:</h2><div class="alert  alert-success" role="alert">
		<p>Authenticated APIs return both public content and content that has not yet been published. A user account is required.</p>
		</div>
		<ol>
		
		<li><h3 class="pt-3">List/Search working sets</h3></li>
    	<div>    
		   <p style="padding-top: 10px;">Lists all available working sets <em>for the user</em>.</p>
		   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a  href="{% url 'api:workingsets' %}" target="_blank" class="alert-link">{% url 'api:workingsets' %}</a></code></pre>
		   <p style="padding-top: 10px;">
	   	  	 User can search with criteria using a combinations of querystring parameters: <br>
	            <ul>
					<li><code>?search=diab</code><br>
					search by part of working set name (do not put wild characters here)</li>
					<li><code>?tag_ids=11,4</code><br>
					You can specify tag or collection ids <br>
	                (get tags from <code><a href="{{ tags }}" target="_blank" class="alert-link">{{ tags }}</a></code>)
	                (get collections from <code><a href="{{ collections }}" target="_blank" class="alert-link">{{ collections }}</a></code>)
	                </li>
					<li><code>?show_only_my_workingsets=1</code><br>
					Only show working sets owned by me</li>
					<li><code>?show_deleted_workingsets=1</code><br>
					will show also deleted working sets (by default, deleted objects are not shown)</li>
					<li><code>?brand=ADP</code><br>
					will show only working sets with brand=ADP</li>
					<li><code>?author=moh</code><br>
					search by part of the author name</li>
					<li><code>?owner_username=a.john</code><br>
					search by full username of the owner</li>
					<li><code>?do_not_show_versions=1</code><br>
					do not show working sets versions (by default, all working set version ids are shown)</li>
	            </ul>
	          (<code>Example: {% url 'api:workingsets' %}?author=m&brand=adp&tag_ids=11</code>)
	    	</p>
		</div>

		<li><h3 class="pt-3">List working set by id</h3></li>
    	<div>    
		   <p style="padding-top: 10px;">Lists a working set by id <em>for the user</em>.</p>
		   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ workingset_by_id }}</code></pre>
		</div>
		
		<li><h3 class="pt-3">List working set detail (latest version)</h3></li>
    	<div>    
		   <p style="padding-top: 10px;">Lists the phenotype detail <em>of the latest version</em>.</p>
		   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_workingset_detail }}</code></pre>
   			<p style="padding-top: 10px;">- User can choose not to export working set codes: <br>
				<ul>
					<li><code>?do_not_show_codes=1</code><br>
					do not export working set codes (exporting code list can be achieved by normal export codes)</li>
				</ul>
			</p>
		</div>	      		      
	      
	    <li><h3 class="pt-3">List working set detail (of a specific version)</h3></li>
    	<div>    
		   <p style="padding-top: 10px;">Lists the phenotype detail <em>of the specified version</em>.</p>
		   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_workingset_detail_version }}</code></pre>
   			<p style="padding-top: 10px;">- User can choose not to export working set codes: <br>
				<ul>
					<li><code>?do_not_show_codes=1</code><br>
					do not export working set codes (exporting code list can be achieved by normal export codes)</li>
				</ul>
			</p>		   
		</div>		
			
        <li><h3 class="pt-3">Export the code list of a specific version of a working set</h3></li>
        <div>    
         <p style="padding-top: 10px;"> Exports the code list of<em> the latest version</em> of a working set <em>for the user</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ export_workingset_codes }}</code></pre>
        </div>
        
        <div>    
         <p style="padding-top: 10px;"> Exports the code list of<em> a specific version</em> of a working set <em>for the user</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ export_workingset_codes_byVersionID }}</code></pre>
        </div>        
    			

	    <li><h3 class="pt-3">List the versions of a working set</h3></li>
    	<div>    
		   <p style="padding-top: 10px;"> Lists all the versions of the working set <em>for the user</em>.</p>
		   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ get_workingset_versions }}</code></pre>
		</div>

       {% if not CLL_READ_ONLY %}
	       {% if user.is_authenticated and request.user.is_superuser %}			<li><h3 class="pt-3">Create/Update a working set</h3></li>
	    	<div>    
			   <p style="padding-top: 10px;"> Create a working set by passing a JSON object.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">post</span> {{ api_workingset_create }}</code></pre>
			</div>
		
	    	<div>    
			   <p style="padding-top: 10px;"> Update a working set by passing a JSON object.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">put</span> {{ api_workingset_update }}</code></pre>		    	
		    </div>
		   {% endif %}	
	    {% endif %}	
							
			</ol>

	  </div>
{% endif %}
<!-- ===============================================================  -->	  	  
<!-- ===============================================================  -->	
{% if IS_DEMO or IS_DEVELOPMENT_PC %}
{% if request.BRAND_OBJECT.allowed_tabs is none or 'phenotypeworkingsets' in request.BRAND_OBJECT.allowed_tabs %}  
	  <!-- working sets -->
	  <div id="Phenotype-Working-Sets" class="tab-pane fade">
	   	<h2>Phenotype Working Sets:</h2>
		<h2>Authenticated APIs:</h2><div class="alert  alert-success" role="alert">
		<p>Authenticated APIs return both public content and content that has not yet been published. A user account is required.</p>
		</div>
		<ol>
		
		<li><h3 class="pt-3">List/Search phenotype working sets</h3></li>
    	<div>    
		   <p style="padding-top: 10px;">Lists all available phenotype working sets <em>for the user</em>.</p>
		   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a  href="{% url 'api:phenotypeworkingsets' %}" target="_blank" class="alert-link">{% url 'api:phenotypeworkingsets' %}</a></code></pre>
		   <p style="padding-top: 10px;">
	   	  	 User can search with criteria using a combinations of querystring parameters: <br>
					<ul>
						<li><code>?search=Alcohol</code><br>
						search by part of working set name (do not put wild characters here)</li>
                  <li><code>?collection_ids=20,23</code><br>
                  You can specify collection ids <br>
	               (get collections from <code><a href="{{ collections }}" target="_blank" class="alert-link">{{ collections }}</a></code>)
	                </li>
                  <li><code>?tag_ids=1,3</code><br>
                  You can specify tag ids <br>
	               (get tags from <code><a href="{{ tags }}" target="_blank" class="alert-link">{{ tags }}</a></code>)
	                </li>	
					<li><code>?data_source_ids=1</code><br>
					Specify the data source of the phenotype
					</li> 
					<li><code>?selected_workingset_types=0</code><br>
					Specify the working set type<br>
							You can get all available types from the <code><a href="{% url 'reference_data' %}" target="_blank" class="alert-link">reference data page</a></code>
					</li>
					<li><code>?start_date=2018-01-01&end_date=2022-08-25</code><br>
					Specify the date range of your query
					</li> 
					<li><code>?show_only_my_workingsets=1</code><br>
					Only show working sets owned by me</li>
					<li><code>?show_deleted_workingsets=1</code><br>
					will show also deleted working sets (by default, deleted objects are not shown)</li>
					<li><code>?brand=ADP</code><br>
					will show only working sets with brand=ADP</li>
					<li><code>?author=moh</code><br>
					search by part of the author name</li>
					<li><code>?owner_username=a.john</code><br>
					search by full username of the owner</li>
					<li><code>?do_not_show_versions=1</code><br>
					do not show working sets versions (by default, all working set version ids are shown)</li>
	            </ul>
	          (<code>Example: {% url 'api:phenotypeworkingsets' %}?author=m&brand=adp&tag_ids=11</code>)
	    	</p>
		</div>

		<li><h3 class="pt-3">List working set by id</h3></li>
    	<div>    
		   <p style="padding-top: 10px;">Lists a working set by id <em>for the user</em>.</p>
		   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ phenotypeworkingset_by_id }}</code></pre>
		</div>
		
		<li><h3 class="pt-3">List working set detail (latest version)</h3></li>
    	<div>    
		   <p style="padding-top: 10px;">Lists the phenotype detail <em>of the latest version</em>.</p>
		   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_phenotypeworkingset_detail }}</code></pre>
		</div>	      		      
	      
	    <li><h3 class="pt-3">List working set detail (of a specific version)</h3></li>
    	<div>    
		   <p style="padding-top: 10px;">Lists the phenotype detail <em>of the specified version</em>.</p>
		   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_phenotypeworkingset_detail_version }}</code></pre>   
		</div>		
			
        <li><h3 class="pt-3">Export the code list of a specific version of a working set</h3></li>
        <div>    
         <p style="padding-top: 10px;"> Exports the code list of<em> the latest version</em> of a working set <em>for the user</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_export_phenotypeworkingset_codes_latestVersion }}</code></pre>
        </div>
        
        <div>    
         <p style="padding-top: 10px;"> Exports the code list of<em> a specific version</em> of a working set <em>for the user</em>.</p>
         <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_export_phenotypeworkingset_codes_byVersionID }}</code></pre>
        </div>        
    			

	    <li><h3 class="pt-3">List the versions of a working set</h3></li>
    	<div>    
		   <p style="padding-top: 10px;"> Lists all the versions of the working set <em>for the user</em>.</p>
		   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ get_phenotypeworkingset_versions }}</code></pre>
		</div>
							
			</ol>

	  </div>
{% endif %}
{% endif %}
<!-- ===============================================================  -->	  	  
	  <!-- phenotypes -->
	  <div id="Phenotypes" class="tab-pane fade in active">
          <h2>Phenotypes:</h2>  
	      <ol>
	      
	      	<li><h3 class="pt-3">List/Search phenotypes</h3></li>
	    	<div>    
			   <p style="padding-top: 10px;">Lists <em>the published</em> phenotypes and the data sources associated with each.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a  href="{% url 'api:api_published_phenotypes' %}" target="_blank" class="alert-link">{% url 'api:api_published_phenotypes' %}</a></code></pre>
			   <p style="padding-top: 10px;">
		   	  	 User can search with criteria using a combinations of querystring parameters: <br>
		            <ul>
		              <li><code>?search=Alcohol</code><br>
		              search by part of phenotype name (do not put wild characters here)</li>
		              <li><code>?collection_ids=20,23</code><br>
                  You can specify collection ids <br>
	               (get collections from <code><a href="{{ collections }}" target="_blank" class="alert-link">{{ collections }}</a></code>)
	                </li>
                  <li><code>?tag_ids=1,3</code><br>
                  You can specify tag ids <br>
	               (get tags from <code><a href="{{ tags }}" target="_blank" class="alert-link">{{ tags }}</a></code>)
	                </li>	
		              <li><code>?selected_phenotype_types=drug,lifestyle risk factor</code><br>
		              Specify types of the phenotypes<br>
                      You can get all available types from the <code><a href="{% url 'reference_data' %}" target="_blank" class="alert-link">reference data page</a></code>
	                  </li>
					<li><code>?coding_ids=4</code><br>
					Specify the coding system of the phenotype
					</li> 
					<li><code>?data_source_ids=1</code><br>
					Specify the data source of the phenotype
					</li> 
					<li><code>?start_date=2018-01-01&end_date=2022-08-25</code><br>
					Specify the date range of your query
					</li> 
		              <li><code>?show_only_validated_phenotypes=1</code><br>
		              will show only validated phenotypes</li>
		              <li><code>?brand=HDRUK</code><br>
		              will show only phenotypes with brand=HDRUK (this overwrites the site default brand)</li>
		              <li><code>?author=Kuan</code><br>
		              search by part of the author name</li>      
		              <li><code>?do_not_show_versions=1</code><br>
		              do not show phenotypes versions (by default, all phenotype's version ids are shown)</li>
		            </ul>
		          (<code>Example: {% url 'api:api_published_phenotypes' %}?author=m&brand=adp&tag_collection_ids=11</code>)
		    	</p>
		    	
		    </div>
		      
		      
	      	<li><h3 class="pt-3">List phenotype by id</h3></li>
	    	<div>    
			   <p style="padding-top: 10px;">Lists <em>a published</em> phenotypes by id and the data sources associated with it.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_published_phenotype_by_id }}</code></pre>		    	
		    </div>
		      		      
		      
		   <li><h3 class="pt-3">List phenotype detail</h3></li>

	    	<div>    
			   <p style="padding-top: 10px;">Lists the pubished phenotype detail <em>of the latest published version</em>.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_phenotype_detail_public }}</code></pre>		    	

			   <p style="padding-top: 10px;">Lists the published phenotype detail <em>of the specified published version</em>.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_phenotype_detail_version_public }}</code></pre>		    	
		    </div>
		      		   		      
		    <li><h3 class="pt-3">Export the code list of a phenotype</h3></li>
	    	<div>    
			   <p style="padding-top: 10px;"> Exports the code list of<em> the latest version</em> of a <em>published</em> phenotype.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_export_published_phenotype_codes_latestVersion }}</code></pre>		    	
			  
			   <p style="padding-top: 10px;"> Exports the code list of<em> a specific version</em> of a <em>published</em> phenotype.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_export_published_phenotype_codes }}</code></pre>		    	
		    </div>
		      		      
		    <li><h3 class="pt-3">List the versions of a phenotype</h3></li>

	    	<div>    
			   <p style="padding-top: 10px;"> Lists the <em>published</em> versions of the published phenotype .</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ get_phenotype_versions_public }}</code></pre>		    	
		    </div>
		      		      
	</ol>
		<h2>Authenticated APIs:</h2>
		  <div class="alert  alert-success" role="alert">
			<p>Authenticated APIs return both public content and content that has not yet been published. A user account is required.</p>
		</div>
	<ol>
		<li><h3 class="pt-3">List/Search phenotypes</h3></li>


	    	<div>
			   <p style="padding-top: 10px;">Lists all available phenotypes <em>for the user</em> and the data sources associated with each.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a  href="{% url 'api:phenotypes' %}" target="_blank" class="alert-link">{% url 'api:phenotypes' %}</a></code></pre>
			   <p style="padding-top: 10px;">
		   	  	 User can search with criteria using a combinations of querystring parameters: <br>
		            <ul>
		              <li><code>?search=Alcohol</code><br>
		              search by part of phenotype name (do not put wild characters here)</li>
                  <li><code>?collection_ids=20,23</code><br>
                  You can specify collection ids <br>
	               (get collections from <code><a href="{{ collections }}" target="_blank" class="alert-link">{{ collections }}</a></code>)
	                </li>
                  <li><code>?tag_ids=1,3</code><br>
                  You can specify tag ids <br>
	               (get tags from <code><a href="{{ tags }}" target="_blank" class="alert-link">{{ tags }}</a></code>)
	                </li>	
					<li><code>?coding_ids=4</code><br>
					Specify the coding system of the phenotype
					</li> 
					<li><code>?data_source_ids=1</code><br>
					Specify the data source of the phenotype
					</li> 
					<li><code>?start_date=2018-01-01&end_date=2022-08-25</code><br>
					Specify the date range of your query
					</li> 
		              <li><code>?selected_phenotype_types=drug,lifestyle risk factor</code><br>
		              Specify types of the phenotypes<br>
                      You can get all available types from the <code><a href="{% url 'reference_data' %}" target="_blank" class="alert-link">reference data page</a></code>
	                  </li>		              
		              <li><code>?show_only_my_phenotypes=1</code><br>
		              Only show phenotypes owned by me</li>
		              <li><code>?show_deleted_phenotypes=1</code><br>
		              will show also deleted phenotypes (by default, deleted objects are not shown)</li>
		              <li><code>?show_only_validated_phenotypes=1</code><br>
		              will show only validated phenotypes</li>
		              <li><code>?brand=HDRUK</code><br>
		              will show only phenotypes with brand=HDRUK (this overwrites the site default brand)</li>
		              <li><code>?author=Kuan</code><br>
		              search by part of the author name</li>
		              <li><code>?owner_username=a.john</code><br>
		              search by full username of the owner</li>
		              <li><code>?do_not_show_versions=1</code><br>
		              do not show phenotypes versions (by default, all phenotype's version ids are shown)</li>
		              <li><code>?must_have_published_versions=1</code><br>
					  show only phenotypes which have a published version(by default, all phenotypes are shown)</li>
		            </ul>
		          (<code>Example: {% url 'api:phenotypes' %}?author=m&brand=adp&tag_collection_ids=11</code>)
		    	</p>
			</div>

			<li><h3 class="pt-3">List phenotype by id</h3></li>
			<div>
			   <p style="padding-top: 10px;">Lists a phenotype by id <em>for the user</em> and the data sources associated with it.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ phenotype_by_id }}</code></pre>
			</div>
				
			<li><h3 class="pt-3">List phenotype detail </h3></li>
			<div>
			   <p style="padding-top: 10px;">Lists the phenotype detail <em>of the latest version</em>.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_phenotype_detail }}</code></pre>

			   <p style="padding-top: 10px;">Lists the phenotype detail <em>of the specified version</em>.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_phenotype_detail_version }}</code></pre>
			</div>
			
			<li><h3 class="pt-3">Export the code list of a phenotype</h3></li>
	    	<div>
			   <p style="padding-top: 10px;"> Exports the code list of<em> the latest version</em> of a phenotype <em>for the user</em>.</p>
			   <pre><cde><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_export_phenotype_codes_latestVersion }}</code></pre>

			   <p style="padding-top: 10px;"> Exports the code list of<em> a specific version</em> of a phenotype <em>for the user</em>.</p>
			   <pre><cde><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ api_export_phenotype_codes_byVersionID }}</code></pre>
			</div>
			
			
			<li><h3 class="pt-3">List the versions of a phenotype</h3></li>
	    	<div>
			   <p style="padding-top: 10px;"> Lists all the versions of the phenotype <em>for the user</em>.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ get_phenotype_versions }}</code></pre>
			</div>

       {% if not CLL_READ_ONLY %}
	       {% if user.is_authenticated and request.user.is_superuser %}
	       	    <li><h3 class="pt-3">Create/Update a phenotype</h3></li>
		    	<div>
				   <p style="padding-top: 10px;"> Create a phenotype by passing a JSON object.</p>
				   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">post</span> {{ api_phenotype_create }}</code></pre>
				</div>

		    	<div>
				   <p style="padding-top: 10px;"> Update a phenotype by passing a JSON object.</p>
				   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">put</span> {{ api_phenotype_update }}</code></pre>
			    </div>
		   {% endif %}
	   {% endif %}
		  </ol>
	  </div>
	  
	  
<!-- ===============================================================  -->	  	  
 <!-- data-sources -->
 	<div id="data-sources" class="tab-pane fade">
	  <h2>Data Sources:</h2>
	    <ol>
	    	<li><h3 class="pt-3">List data sources</h3></li>
	    	<div>    
			   <p style="padding-top: 10px;">Lists all data sources available. User can search by part of the data source name (e.g. <code>?search=hospital</code>)</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a  href="{% url 'api:datasource-list' %}" target="_blank" class="alert-link">{% url 'api:datasource-list' %}</a></code></pre>
			</div>		
	    	<div>    
			   <p style="padding-top: 10px;">Lists a data source by id.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {% url 'api:datasource-list' %}{id}</code></pre>
			</div>		
			
			
	    	<li><h3 class="pt-3">List data sources (with published phenotypes)</h3></li>
	    	<div>
	    		<p style="padding-top: 10px;">Only the published associated phenotypes wil be shown.</p>
	    	</div>
	    	<div>    
			   <p style="padding-top: 10px;">Lists all data sources and the published phenotypes associated with each. User can search by part of the data source name (e.g. <code>?search=hospital</code>)</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a  href="{% url 'api:data_sources_public' %}" target="_blank" class="alert-link">{% url 'api:data_sources_public' %}</a></code></pre>
			</div>
		
	    	<div>    
			   <p style="padding-top: 10px;">Lists a data source by id and the associated published phenotypes.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {% url 'api:data_sources_public' %}{id}</code></pre>
			</div>			
	</ol>
		<h2>Authenticated APIs:</h2>
		  <div class="alert  alert-success" role="alert">
			<p>Authenticated APIs return both public content and content that has not yet been published. A user account is required.</p>
		</div>
	<ol>
	    	<li><h3 class="pt-3">List data sources</h3></li>
	    	<div>
			   <p style="padding-top: 10px;">Lists all data sources and the phenotypes associated with each. User can search by part of the data source name (e.g. <code>?search=hospital</code>)</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a  href="{% url 'api:data_sources' %}" target="_blank" class="alert-link">{% url 'api:data_sources' %}</a></code></pre>
			</div>

	    	<div>
			   <p style="padding-top: 10px;">Lists a data source by id and the associated phenotypes.</p>
			   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {% url 'api:data_sources' %}{id}</code></pre>
			</div>


       {% if not CLL_READ_ONLY %}
	       {% if user.is_authenticated and request.user.is_superuser %}
	          	<li><h3 class="pt-3">Create a data source</h3></li>
			    <div>    
				   <p style="padding-top: 10px;">Create a data source by passing a JSON object.</p>
				   <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">post</span> {{ api_datasource_create }}</code></pre>
				</div>
		    {% endif %}	
	   {% endif %}	

		</ol>
 	</div>
	  	 
<!-- ===============================================================  -->         
 <!-- coding-systems -->
    <div id="coding-systems" class="tab-pane fade">
      <h2>coding systems:</h2>
        <ol>
            <li><h3 class="pt-3">List coding systems</h3></li>
            <div>    
               <p style="padding-top: 10px;">Lists all coding systems available. User can search by part of the coding system name (e.g. <code>?search=read</code>)</p>
               <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a  href="{% url 'api:codingsystem-list' %}" target="_blank" class="alert-link">{% url 'api:codingsystem-list' %}</a></code></pre>
            </div>      
            <div>    
               <p style="padding-top: 10px;">Lists a coding system by id.</p>
               <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {% url 'api:codingsystem-list' %}{id}</code></pre>
            </div>      
                   
        </ol>

    </div>
         
<!-- ===============================================================  -->   
<!-- tags -->
	<div id="tags" class="tab-pane fade">
		<h2>Tags:</h2>  
		<ol>

	   		<li><h3 class="pt-3">List tags</h3></li>
	   		<div>    
		   		<p style="padding-top: 10px;">Lists all available tags.</p>
				<pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a href="{{ tags }}" target="_blank" class="alert-link">{{ tags }}</a></code></pre>
							   <p style="padding-top: 10px;">
		   	  	 User can search with part of the tag name using querystring parameter: <br>
		            <ul>
		              <li><code>?search=TECC</code><br>
		              search by part of tag name (do not put wild characters here)</li>
		            </ul>
		          (<code>Example: {{ tags }}?search=breathe</code>)
		    	</p>
			</div>
	
			<div>    
	   			<p style="padding-top: 10px;">Lists tag by id.</p>
				<pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ tags }}{id}</code></pre>
			</div>
	
		</ol>
	</div>
		  	  
<!-- ===============================================================  -->   
<!-- collections -->
    <div id="collections" class="tab-pane fade">
        <h2>Collections:</h2>  
        <ol>

            <li><h3 class="pt-3">List collections</h3></li>
            <div>    
                <p style="padding-top: 10px;">Lists all available collections.</p>
                <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> <a href="{{ collections }}" target="_blank" class="alert-link">{{ collections }}</a></code></pre>
                               <p style="padding-top: 10px;">
                 User can search with part of the collection name using querystring parameter: <br>
                    <ul>
                      <li><code>?search=breathe</code><br>
                      search by part of collection name (do not put wild characters here)</li>
                    </ul>
                  (<code>Example: {{ collections }}?search=breathe</code>)
                </p>
            </div>
    
            <div>    
                <p style="padding-top: 10px;">Lists collection by id.</p>
                <pre><code><span class="btn btn-primary btn-no-hover" style="text-transform: uppercase">get</span> {{ collections }}{id}</code></pre>
            </div>
    
        </ol>
    </div>
              
           	  	  
	  	  
<!-- ===============================================================  -->	  	    
</div> <!-- .tab-content -->
    

{% endblock container %}


{% block scripts  %}
{% endblock scripts %}


