@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';


.headline {
    display: flex;
    align-items: center;
    padding: 100px; /* Adjust the margin as needed */

  }

  .headline__image {
    margin-right: 2rem;
    background-image: var(--headline-url);
	background-repeat: no-repeat;
	height: 336px;
	width: 40%;
  }
  
  .headline__text {
    flex: 1 1 auto;
  }
  
  .headline__heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .headline__section {
    margin-bottom: 20px;
  }