@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';


.headline {
    display: flex;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;

  }

  .headline__image {
    margin-right: 2rem;
    background-image: var(--headline-url);
	  background-repeat: no-repeat;
	  height: 400px;
	  width: 40%;
  }
  
  .headline__text {
    flex: 2;
  }
  
  .headline__heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .headline__section {
    margin-top: 2rem;

    &__general{
        margin: 4rem;
    }

    &__outside_with_background{
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: var(--phenotype-banner-bg-color);
    
  }



  }