@import '../_methods';
@import '../_variables';
@import '../_media';
@import '../_utils';

/// Login template override
///   @desc Stylesheet relating to login form
.tool-panel {
  display: flex;
  flex-flow: column nowrpa;
  align-items: stretch;
  margin: auto;
  width: 800px;
  min-height: 400px;
	overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 25px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: transparent;

  @include media('<desktop', 'screen') {
    width: 600px;
  }

  @include media('<tablet', 'screen') {
    width: 320px;
  }

  @include media('<phone', 'screen') {
    width: 250px;
  }

  &__container {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 100%;
    padding: 1rem;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-left: 0;

    @include media('<desktop', 'screen') {
      border-left: 1px solid rgba(255, 255, 255, 0.18);
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 100%;
    padding: 1rem;
    max-width: 100%;
  }
}
