# Py artefacts
*.pyc
__pycache__

# Py env
**/env/
**/venv/
**/.venv/

# IDE
.vscode
.project
.pydevproject
**/.settings/
**/base - Django2.txt

# Ignore secrets
**/*.token

# Disallow prod env
**/env_vars.*

# Allow example secrets
!docker/**/db/example.git.token

# Dumps
**/*.backup
**/dump.rdb

# Deployment artefacts
CodeListLibrary_project/media/*
CodeListLibrary_project/staticroot/*

# Testing artefacts
**/.pytest_cache/
**/tests/**/allure*/

# Docker
**/cl_log/
**/docker/**/backup/
**/docker/development/db/*.sql
**/docker/development/db/postgresql.conf
**/docker/CodeListLibrary_project

# Engagelens
**/engagelens/.env

# Allow docker env directory
!**/docker/env/
!**/docker/**/env/

# Platform / OS files
.idea
.DS_Stores

# Misc. files
docs/~$plication Guide.docx
CodeListLibrary_project/debug.log

