#----- global settings -------

stages:
    - build-master
    
variables:
        GIT_SSL_NO_VERIFY: "true"


before_script:
  - docker login -u teamcityserver -p $CI_AC_TOKEN $CI_REGISTRY


build_image:
        stage: build-master
        only:
            - master
        script:
            - docker build -f "OS/Dockerfile" -t cll/os . --build-arg http_proxy=http://192.168.10.15:8080 --build-arg https_proxy=http://192.168.10.15:8080 --build-arg pip_proxy="--proxy http://192.168.10.15:8080" 
            - docker build -t $CI_REGISTRY/conceptlibrary/github-mirror . --build-arg http_proxy=http://192.168.10.15:8080 --build-arg https_proxy=http://192.168.10.15:8080 --build-arg pip_proxy="--proxy http://192.168.10.15:8080" 
            - docker push $CI_REGISTRY/conceptlibrary/github-mirror
            - docker rmi $CI_REGISTRY/conceptlibrary/github-mirror 
            - docker rmi cll/os
