*.pyc
__pycache__
.project
.pydevproject
CodeListLibrary_project/.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
requirements/base - Django2.txt
docs/~$plication Guide.docx
**/docker/**/backup
*.backup
git.token
CodeListLibrary_project/debug.log
.vscode
.settings/org.eclipse.core.resources.prefs
venv