{% load static %}
{% load i18n %}

{% load mathfilters %}
{% load cl_extras %}
{% block content %}

<div class="footer-links">
    {% if request.CURRENT_BRAND == 'HDRUK' %}
    <div class="footer-links__item">
        <a href="https://www.hdruk.ac.uk/" target=_blank  class="navbar-brand" rel="noopener noreferrer">
            <img style="margin-top: -10px;" src="{% static 'img/Footer_logos/hdruk_logo.png' %}" height="30px"  alt="HDR UK Logo" />
        </a>
        </div>
        
        <div class="footer-links__item"><a href="https://conceptlibrary.saildatabank.com/" target=_blank  rel="noopener noreferrer">
            <img style="margin-top: -10px;" src="{% static 'img/Footer_logos/concept_library_on_white.png' %}" height="30px"  alt="Concept Library Logo" />
        </a>

        </div>
        
        <div class="footer-links__item">
            <a href="http://saildatabank.com" target=_blank  rel="noopener noreferrer">
                <img style="margin-top: -10px;" src="{% static 'img/Footer_logos/SAIL_alt_logo_on_white.png' %}" height="30px"  alt="SAIL Databank Logo" />
            </a>

        </div>
        <div class="footer-links__item">                     
        <a href="https://denaxaslab.org/" target=_blank   rel="noopener noreferrer">
            <img style="margin-top: -10px;" src="{% static 'img/Footer_logos/Caliber_Thin_Lines_Transparent.png' %}" height="30px"  alt="CALIBER Phenotype Portal Logo" />
        </a>
        </div>
        
        <div class="footer-links__item">
        <a href="https://www.dundee.ac.uk/hic" target=_blank  rel="noopener noreferrer">
            <img style="margin-top: -10px;" src="{% static 'img/Footer_logos/HIC_Logo_bold_blue.png' %}" height="30px"  alt="HIC Logo" />
        </a>
        </div>
        {% endif %}
</div>

{% endblock content %}