<!--   PERMISSIONS   -->
        
{% if user.is_authenticated %}
    <div class="col-sm-12 shadow-frame">
      <h3 class="paneltitle" style="margin-top:20px; margin-bottom:20px;">
      	<span id="permissions_sec"></span><strong>Permissions</strong>
      </h3>

      <div class="row">
          <div  class="col-sm-2">Owner</div>
          <div class="col-sm-4">
              <span>{{ entity.owner.username }}</span>
          </div>
          <div  class="col-sm-2">Owner access</div>
          
          <div class="col-sm-4">
              {% if entity.owner_access == 1 %}	
                  <span class="card-noweight">None</span>
              {% elif entity.owner_access == 2 %}
                  <span class="card-noweight">View only</span>
              {% elif entity.owner_access == 3 %}
                  <span class="card-noweight">View and edit</span>
              {% else %}
                  <span class="card-noweight">Unknown</span>
              {% endif %}
          </div>
      </div>
      <hr class="small-divider"/>
      <div class="row">
          <div  class="col-sm-2">Group</div>
          <div class="col-sm-4">
              {% if entity.group %}
              <span>{{ entity.group }}</span>
              {% else %}
              <span class="card-no-data">No associated group</span>
              {% endif %}
          </div>
          <div class="col-sm-2">Group access</div>
          <div class="col-sm-4">
              {% if entity.group_access == 1 %}	
                  <span class="card-noweight text-right">No Access</span>
              {% elif entity.group_access == 2 %}
                  <span class="card-noweight text-right">View only</span>
              {% elif entity.group_access == 3 %}
                  <span class="card-noweight text-right">View and edit</span>
              {% else %}
                  <span class="card-noweight text-right">Unknown</span>
              {% endif %}
          </div>
      </div>
      <hr class="small-divider"/>
      <div  class="row">
          <div class="col-sm-2">All other users</div>
          <div class="col-sm-10">
              {% if entity.world_access == 1 %}	
                  <span>No access</span>
              {% elif entity.world_access == 2 %}
                  <span>View only</span>
              {% elif entity.world_access == 3 %}
                  <span>View and edit</span>
              {% else %}
                  
              {% endif %}
          </div>
      </div>

    </div>
{% endif %}


