@import '_methods';
@import '_variables';

/// Per brand variables describing theme of components
$brand-map-none: (
  // Brand logo
  'logo-url': url('/static/img/header_logo.png'),

  // Fonts
  'font-name': 'Montserrat',
  'font-family': sans-serif,
  'font-size': 14px,

  // Color accents
  'color-bg': $white,
  'color-clear': $transparent,
  'color-accent-bright': $white,
  'color-accent-lightest': $white_smoke,
  'color-accent-darkish': $light_grey,
  'color-accent-dark': $dark_grey,
  'color-accent-washed': $lightest_grey,
  'color-accent-primary': $soft_blue,
  'color-accent-secondary': $soft_cyan,
  'color-accent-tertiary': $pixie_green,
  'color-accent-highlight': $royal_blue,
  'color-accent-bubble': $solitude,
  'color-accent-success': $light_grey_green,
  'color-accent-danger': $pastel_red,
  'color-accent-warning': $wax_flower,
  'color-accent-anchor': $bright_blue,
  'color-accent-transparent': $transparent,
  'color-accent-semi-transparent': rgba($black, 0.05),

  // Text accents
  'color-text-darkest': $black,
  'color-text-darker': $near-black,
  'color-text-dark': $blackish-grey,
  'color-text-washed': $dark_grey,
  'color-text-brightest': $white,
  'color-text-success': $light_grey_green,
  'color-text-danger': $pastel_red,
  'color-text-warning': $wax_flower,

  // Icons
  'icons-name': var(--fa-style-family-classic),
  'icons-style': var(--fa-font-solid),
  'icons-size': 1rem,  

  // Navigation
  'navigation-offset': 1.5rem,
  'navigation-gutter': 6rem,
  'navigation-mobile-offset': 1rem,
  'navigation-mobile-gutter': 1rem,
  'navigation-hamburger-size': 1.5rem,
  'navigation-height': 2rem,
  'navigation-line-width': 0.15rem,
  'navigation-selection-box': $white,
  'navigation-item-selector': $soft_cyan,
  'navigation-scroll-shadow': 'inset 0px -1px 0px #f3f3f4',
  'navigation-panel-shadow': '0px 5px 15px -1px rgba(0, 0, 0, 0.5)',

  //About_dropdown
  'dropdown-shadow':0px 10px 70px rgba(0, 0, 0, 0.15),
  'item-icon-color': $soft_cyan,
  'icon-width':40px,
  'icon-height':40px,
  'icon-background-color':$light_red,
  'stroke-icon':$blackish-grey,
  'description-text-color':$lightblack-grey,

  // Loading spinner color
  'loading-spinner-color': $solitude,
  'loading-spinner-text-color': $white,

  // Scrollbars
  'slim-scrollbar-inactive-color': $lightest_grey,
  'slim-scrollbar-active-color': $transparent_black,
  'slim-scrollbar-radius': 6px,
  'slim-scrollbar-width': 6px,

  // Breadcrumbs
  'breadcrumb-color': $dark_grey,
  'breadcrumb-hover-color': $black,
  'breadcrumb-active-weight': bold,

  // Main page
  'main-top-padding': 5rem,
  'main-top-mobile-padding': 4rem,
  'main-gutter': 6rem,
  'main-mobile-gutter': 1.75rem,

  // Footer
  'footer-gutter': 6rem,
  'footer-mobile-gutter': 1rem,
  'footer-page-offset': 1rem,
  'footer-top-offset': 0.25rem,
  'footer-bottom-offset': 1rem,
  'footer-copyright-size': 12px,
  'footer-text-size': 12px,
  'footer-row-gap': 4rem,

  // Item lists
  'item-list-odd-bg-color': $off_white02,
  'item-list-even-bg-color': $white,

  // Inputs
  'switch-size': 50px,
  'switch-thumb-color': $off_white,
  'switch-bg-color': $lightest_grey,
  'switch-bg-active-color': $soft_blue,

  'search-shadow-inactive-color': $cow_black01,
  'search-shadow-active-color': $cow_black02,

  // Chips
  'base-metachip-bg-color': $pickled_bluewood,

  // Cards
  'card-shadow-color': $cow_black01,
  'card-border-radius': 0.1rem,
  'referral-card-anchor-color': $iris,
  'entity-card-anchor-color': $iris,

  // Pagination controller
  'pagination-inactive-color': $white_smoke,
  'pagination-active-color': $platinum,
  'pagination-disabled-color': $boulder,

  /* Homepage */

  // Hero
  'hero-area-bg-color': $ghost_white,
  'hero-gutter': 0px,
  'hero-mobile-gutter': 0px,
  'hero-drop-shadow': 0 3rem 0.05rem $periwinkle,

  // Feature
  'feature-highlight-color': $indigo,
  'feature-icon-color': $cornflower_blue,

  // Brand cards
  'brand-card-bg-color': $soft_blue20,

  /* Articles */

  // Phenotype creation
  'phenotype-article-sm-size': 55%,
  'phenotype-article-lg-size': 90%,
  'phenotype-article-header-border': $light_grey,
  'phenotype-article-h1-size': 2em,
  'phenotype-article-h1-weight': bold,
  'phenotype-max-codelist-size': 200px,

  'wizard-step-color': $pixie_green,
  'progress-item-min-step-height': 4rem,
  'progress-tracker-width': 2px,
  'progress-tracker-offset': -1.5rem,
  'progress-tracker-size': 26px,
  'progress-tracker-bg-color': $white,
  'progress-tracker-counter-weight': bold,
  'progress-tracker-counter-color': black,
  'progress-tracker-color': $light_grey,
  'progress-tracker-active-color': $pixie_green,
  'progress-tracker-off-color': $light_grey,
  'progress-tracker-line-width': 2px,

  'progress-tracker-header-size': 28px,
  'progress-tracker-header-weight': bold,
  'progress-tracker-header-color': black,
  'progress-tracker-description-size': 16px,
  
  'ruleset-bg-color': $lightest_grey,
  'ruleset-icon-normal-color': $dark_grey,
  'ruleset-include-icon-checked-color': $lime_green,
  'ruleset-exclude-icon-checked-color': $pastel_red,

  // Phenotype search
  'phenotype-banner-bg-color': $ghost_white,
  'phenotype-banner-title-size': 30px,
  'phenotype-banner-title-color': $black,
);

$brand-map-ADP: (
  // Brand logo
  'logo-url': url('/static/img/brands/ADP/header_logo.png'),

  // Fonts
  'font-name': 'Montserrat',
  'font-family': sans-serif,
  'font-size': 14px,

  // Color accents
  'color-bg': $white,
  'color-clear': $transparent,
  'color-accent-bright': $white,
  'color-accent-lightest': $white_smoke,
  'color-accent-darkish': $light_grey,
  'color-accent-dark': $dark_grey,
  'color-accent-washed': $lightest_grey,
  'color-accent-primary': $soft_blue,
  'color-accent-secondary': $soft_cyan,
  'color-accent-tertiary': $pixie_green,
  'color-accent-highlight': $royal_blue,
  'color-accent-bubble': $solitude,
  'color-accent-success': $light_grey_green,
  'color-accent-danger': $pastel_red,
  'color-accent-warning': $wax_flower,
  'color-accent-anchor': $bright_blue,
  'color-accent-transparent': $transparent,
  'color-accent-semi-transparent': rgba($black, 0.05),

  // Text accents
  'color-text-darkest': $black,
  'color-text-darker': $near-black,
  'color-text-dark': $blackish-grey,
  'color-text-washed': $dark_grey,
  'color-text-brightest': $white,
  'color-text-success': $light_grey_green,
  'color-text-danger': $pastel_red,
  'color-text-warning': $wax_flower,

  // Icons
  'icons-name': var(--fa-style-family-classic),
  'icons-style': var(--fa-font-solid),
  'icons-size': 1rem,  

  // Navigation
  'navigation-offset': 1.5rem,
  'navigation-gutter': 6rem,
  'navigation-mobile-offset': 1rem,
  'navigation-mobile-gutter': 1rem,
  'navigation-hamburger-size': 1.5rem,
  'navigation-height': 2rem,
  'navigation-line-width': 0.15rem,
  'navigation-selection-box': $white,
  'navigation-item-selector': $soft_cyan,
  'navigation-scroll-shadow': 'inset 0px -1px 0px #f3f3f4',
  'navigation-panel-shadow': '0px 5px 15px -1px rgba(0, 0, 0, 0.5)',

  //About_dropdown
  'dropdown-shadow':0px 10px 70px rgba(0, 0, 0, 0.15),
  'item-icon-color': $soft_cyan,
  'icon-width':40px,
  'icon-height':40px,
  'icon-background-color':$light_red,
  'stroke-icon':$blackish-grey,
  'description-text-color':$lightblack-grey,
  
  // Loading spinner color
  'loading-spinner-color': $solitude,
  'loading-spinner-text-color': $white,

  // Scrollbars
  'slim-scrollbar-inactive-color': $lightest_grey,
  'slim-scrollbar-active-color': $transparent_black,
  'slim-scrollbar-radius': 6px,
  'slim-scrollbar-width': 6px,

  // Breadcrumbs
  'breadcrumb-color': $dark_grey,
  'breadcrumb-hover-color': $black,
  'breadcrumb-active-weight': bold,

  // Main page
  'main-top-padding': 5rem,
  'main-top-mobile-padding': 4rem,
  'main-gutter': 6rem,
  'main-mobile-gutter': 1.75rem,

  // Footer
  'footer-gutter': 6rem,
  'footer-mobile-gutter': 1rem,
  'footer-page-offset': 1rem,
  'footer-top-offset': 0.25rem,
  'footer-bottom-offset': 1rem,
  'footer-copyright-size': 12px,
  'footer-text-size': 12px,
  'footer-row-gap': 4rem,

  // Item lists
  'item-list-odd-bg-color': $off_white02,
  'item-list-even-bg-color': $white,

  /* Inputs */
  'switch-size': 50px,
  'switch-thumb-color': $off_white,
  'switch-bg-color': $lightest_grey,
  'switch-bg-active-color': $soft_blue,

  'search-shadow-inactive-color': $cow_black01,
  'search-shadow-active-color': $cow_black02,

  /* Chips */
  'base-metachip-bg-color': $pickled_bluewood,

  /* Cards */
  'card-shadow-color': $cow_black01,
  'card-border-radius': 0.1rem,
  'referral-card-anchor-color': $iris,
  'entity-card-anchor-color': $iris,

  /* Pagination */
  'pagination-inactive-color': $white_smoke,
  'pagination-active-color': $platinum,
  'pagination-disabled-color': $boulder,

  /* Articles */

  // Phenotype creation
  'phenotype-article-sm-size': 55%,
  'phenotype-article-lg-size': 90%,
  'phenotype-article-header-border': $light_grey,
  'phenotype-article-h1-size': 2em,
  'phenotype-article-h1-weight': bold,
  'phenotype-max-codelist-size': 200px,

  'wizard-step-color': $pixie_green,
  'progress-item-min-step-height': 4rem,
  'progress-tracker-width': 2px,
  'progress-tracker-offset': -1.5rem,
  'progress-tracker-size': 26px,
  'progress-tracker-bg-color': $white,
  'progress-tracker-counter-weight': bold,
  'progress-tracker-counter-color': black,
  'progress-tracker-color': $light_grey,
  'progress-tracker-active-color': $pixie_green,
  'progress-tracker-off-color': $light_grey,
  'progress-tracker-line-width': 2px,

  'progress-tracker-header-size': 28px,
  'progress-tracker-header-weight': bold,
  'progress-tracker-header-color': black,
  'progress-tracker-description-size': 16px,
  
  'ruleset-bg-color': $lightest_grey,
  'ruleset-icon-normal-color': $dark_grey,
  'ruleset-include-icon-checked-color': $lime_green,
  'ruleset-exclude-icon-checked-color': $pastel_red,

  // Phenotype search
  'phenotype-banner-bg-color': $ghost_white,
  'phenotype-banner-title-size': 30px,
  'phenotype-banner-title-color': $black,
);

$brand-map-HDRUK: (

  // Brand banner
  'banner-url': url('/static/img/brands/HDRUK/banner_design.jpg'),
  // Headline pic
  'headline-url': url('/static/img/brands/HDRUK/HDRUK_phenotyping_algorithm_web.jpg'),


  // Brand logo
  'logo-url': url('/static/img/brands/HDRUK/header_logo.png'),

  // Fonts
  'font-name': 'Montserrat',
  'font-family': sans-serif,
  'font-size': 14px,

  // Color accents
  'color-bg': $white,
  'color-clear': $transparent,
  'color-accent-bright': $white,
  'color-accent-lightest': $white_smoke,
  'color-accent-darkish': $light_grey,
  'color-accent-dark': $dark_grey,
  'color-accent-washed': $lightest_grey,
  'color-accent-primary': $soft_blue,
  'color-accent-secondary': $soft_cyan,
  'color-accent-tertiary': $pixie_green,
  'color-accent-highlight': $royal_blue,
  'color-accent-bubble': $solitude,
  'color-accent-success': $light_grey_green,
  'color-accent-danger': $pastel_red,
  'color-accent-warning': $wax_flower,
  'color-accent-anchor': $bright_blue,
  'color-accent-transparent': $transparent,
  'color-accent-semi-transparent': rgba($black, 0.05),

  // Text accents
  'color-text-darkest': $black,
  'color-text-darker': $near-black,
  'color-text-dark': $blackish-grey,
  'color-text-washed': $dark_grey,
  'color-text-brightest': $white,
  'color-text-success': $light_grey_green,
  'color-text-danger': $pastel_red,
  'color-text-warning': $wax_flower,

  // Icons
  'icons-name': var(--fa-style-family-classic),
  'icons-style': var(--fa-font-solid),
  'icons-size': 1rem,  

  // Navigation
  'navigation-offset': 1.5rem,
  'navigation-gutter': 6rem,
  'navigation-mobile-offset': 1rem,
  'navigation-mobile-gutter': 1rem,
  'navigation-hamburger-size': 1.5rem,
  'navigation-height': 2rem,
  'navigation-line-width': 0.15rem,
  'navigation-selection-box': $white,
  'navigation-item-selector': $soft_cyan,
  'navigation-scroll-shadow': 'inset 0px -1px 0px #f3f3f4',
  'navigation-panel-shadow': '0px 5px 15px -1px rgba(0, 0, 0, 0.5)',

  //About_dropdown and Admin_dropdown
  'dropdown-shadow':0px 10px 70px rgba(0, 0, 0, 0.15),
  'item-icon-color': $soft_cyan,
  'icon-width':40px,
  'icon-height':40px,
  'icon-background-color':$light_red,
  'stroke-icon':$blackish-grey,
  'description-text-color':$lightblack-grey,

  // Loading spinner color
  'loading-spinner-color': $solitude,
  'loading-spinner-text-color': $white,

  // Scrollbars
  'slim-scrollbar-inactive-color': $lightest_grey,
  'slim-scrollbar-active-color': $transparent_black,
  'slim-scrollbar-radius': 6px,
  'slim-scrollbar-width': 6px,

  // Breadcrumbs
  'breadcrumb-color': $dark_grey,
  'breadcrumb-hover-color': $black,
  'breadcrumb-active-weight': bold,

  // Main page
  'main-top-padding': 5rem,
  'main-top-mobile-padding': 4rem,
  'main-gutter': 6rem,
  'main-mobile-gutter': 1.75rem,

  // Footer
  'footer-gutter': 6rem,
  'footer-mobile-gutter': 1rem,
  'footer-page-offset': 1rem,
  'footer-top-offset': 0.25rem,
  'footer-bottom-offset': 1rem,
  'footer-copyright-size': 12px,
  'footer-text-size': 12px,
  'footer-row-gap': 4rem,

  // Item lists
  'item-list-odd-bg-color': $off_white02,
  'item-list-even-bg-color': $white,

  /* Inputs */
  'switch-size': 50px,
  'switch-thumb-color': $off_white,
  'switch-bg-color': $lightest_grey,
  'switch-bg-active-color': $soft_blue,

  'search-shadow-inactive-color': $cow_black01,
  'search-shadow-active-color': $cow_black02,

  /* Chips */
  'base-metachip-bg-color': $pickled_bluewood,

  /* Cards */
  'card-shadow-color': $cow_black01,
  'card-border-radius': 0.1rem,
  'referral-card-anchor-color': $iris,
  'entity-card-anchor-color': $iris,

  /* Pagination */
  'pagination-inactive-color': $white_smoke,
  'pagination-active-color': $platinum,
  'pagination-disabled-color': $boulder,

  /* Articles */

  // Phenotype creation
  'phenotype-article-sm-size': 55%,
  'phenotype-article-lg-size': 90%,
  'phenotype-article-header-border': $light_grey,
  'phenotype-article-h1-size': 2em,
  'phenotype-article-h1-weight': bold,
  'phenotype-max-codelist-size': 200px,

  'wizard-step-color': $pixie_green,
  'progress-item-min-step-height': 4rem,
  'progress-tracker-width': 2px,
  'progress-tracker-offset': -1.5rem,
  'progress-tracker-size': 26px,
  'progress-tracker-bg-color': $white,
  'progress-tracker-counter-weight': bold,
  'progress-tracker-counter-color': black,
  'progress-tracker-color': $light_grey,
  'progress-tracker-active-color': $pixie_green,
  'progress-tracker-off-color': $light_grey,
  'progress-tracker-line-width': 2px,

  'progress-tracker-header-size': 28px,
  'progress-tracker-header-weight': bold,
  'progress-tracker-header-color': black,
  'progress-tracker-description-size': 16px,
  
  'ruleset-bg-color': $lightest_grey,
  'ruleset-icon-normal-color': $dark_grey,
  'ruleset-include-icon-checked-color': $lime_green,
  'ruleset-exclude-icon-checked-color': $pastel_red,

  // Phenotype search
  'phenotype-banner-bg-color': $ghost_white,
  'phenotype-banner-title-size': 30px,
  'phenotype-banner-title-color': $black,
);

$brand-map-SAIL: (
  // Brand logo
  'logo-url': url('/static/img/brands/SAIL/header_logo.png'),

  // Fonts
  'font-name': 'Montserrat',
  'font-family': sans-serif,
  'font-size': 14px,

  // Color accents
  'color-bg': $white,
  'color-clear': $transparent,
  'color-accent-bright': $white,
  'color-accent-lightest': $white_smoke,
  'color-accent-darkish': $light_grey,
  'color-accent-dark': $dark_grey,
  'color-accent-washed': $lightest_grey,
  'color-accent-primary': $soft_blue,
  'color-accent-secondary': $soft_cyan,
  'color-accent-tertiary': $pixie_green,
  'color-accent-highlight': $royal_blue,
  'color-accent-bubble': $solitude,
  'color-accent-success': $light_grey_green,
  'color-accent-danger': $pastel_red,
  'color-accent-warning': $wax_flower,
  'color-accent-anchor': $bright_blue,
  'color-accent-transparent': $transparent,
  'color-accent-semi-transparent': rgba($black, 0.05),

  // Text accents
  'color-text-darkest': $black,
  'color-text-darker': $near-black,
  'color-text-dark': $blackish-grey,
  'color-text-washed': $dark_grey,
  'color-text-brightest': $white,
  'color-text-success': $light_grey_green,
  'color-text-danger': $pastel_red,
  'color-text-warning': $wax_flower,

  // Icons
  'icons-name': var(--fa-style-family-classic),
  'icons-style': var(--fa-font-solid),
  'icons-size': 1rem,  

  // Navigation
  'navigation-offset': 1.5rem,
  'navigation-gutter': 6rem,
  'navigation-mobile-offset': 1rem,
  'navigation-mobile-gutter': 1rem,
  'navigation-hamburger-size': 1.5rem,
  'navigation-height': 2rem,
  'navigation-line-width': 0.15rem,
  'navigation-selection-box': $white,
  'navigation-item-selector': $soft_cyan,
  'navigation-scroll-shadow': 'inset 0px -1px 0px #f3f3f4',
  'navigation-panel-shadow': '0px 5px 15px -1px rgba(0, 0, 0, 0.5)',

  //About_dropdown
  'dropdown-shadow':0px 10px 70px rgba(0, 0, 0, 0.15),
  'item-icon-color': $soft_cyan,
  'icon-width':40px,
  'icon-height':40px,
  'icon-background-color':$light_red,
  'stroke-icon':$blackish-grey,
  'description-text-color':$lightblack-grey,
  
  // Loading spinner color
  'loading-spinner-color': $solitude,
  'loading-spinner-text-color': $white,

  // Scrollbars
  'slim-scrollbar-inactive-color': $lightest_grey,
  'slim-scrollbar-active-color': $transparent_black,
  'slim-scrollbar-radius': 6px,
  'slim-scrollbar-width': 6px,

  // Breadcrumbs
  'breadcrumb-color': $dark_grey,
  'breadcrumb-hover-color': $black,
  'breadcrumb-active-weight': bold,

  // Main page
  'main-top-padding': 5rem,
  'main-top-mobile-padding': 4rem,
  'main-gutter': 6rem,
  'main-mobile-gutter': 1.75rem,

  // Footer
  'footer-gutter': 6rem,
  'footer-mobile-gutter': 1rem,
  'footer-page-offset': 1rem,
  'footer-top-offset': 0.25rem,
  'footer-bottom-offset': 1rem,
  'footer-copyright-size': 12px,
  'footer-text-size': 12px,
  'footer-row-gap': 4rem,

  // Item lists
  'item-list-odd-bg-color': $off_white02,
  'item-list-even-bg-color': $white,

  /* Inputs */
  'switch-size': 50px,
  'switch-thumb-color': $off_white,
  'switch-bg-color': $lightest_grey,
  'switch-bg-active-color': $soft_blue,

  'search-shadow-inactive-color': $cow_black01,
  'search-shadow-active-color': $cow_black02,

  /* Chips */
  'base-metachip-bg-color': $pickled_bluewood,

  /* Cards */
  'card-shadow-color': $cow_black01,
  'card-border-radius': 0.1rem,
  'referral-card-anchor-color': $iris,
  'entity-card-anchor-color': $iris,

  /* Pagination */
  'pagination-inactive-color': $white_smoke,
  'pagination-active-color': $platinum,
  'pagination-disabled-color': $boulder,

  /* Articles */

  // Phenotype creation
  'phenotype-article-sm-size': 55%,
  'phenotype-article-lg-size': 90%,
  'phenotype-article-header-border': $light_grey,
  'phenotype-article-h1-size': 2em,
  'phenotype-article-h1-weight': bold,
  'phenotype-max-codelist-size': 200px,

  'wizard-step-color': $pixie_green,
  'progress-item-min-step-height': 4rem,
  'progress-tracker-width': 2px,
  'progress-tracker-offset': -1.5rem,
  'progress-tracker-size': 26px,
  'progress-tracker-bg-color': $white,
  'progress-tracker-counter-weight': bold,
  'progress-tracker-counter-color': black,
  'progress-tracker-color': $light_grey,
  'progress-tracker-active-color': $pixie_green,
  'progress-tracker-off-color': $light_grey,
  'progress-tracker-line-width': 2px,

  'progress-tracker-header-size': 28px,
  'progress-tracker-header-weight': bold,
  'progress-tracker-header-color': black,
  'progress-tracker-description-size': 16px,
  
  'ruleset-bg-color': $lightest_grey,
  'ruleset-icon-normal-color': $dark_grey,
  'ruleset-include-icon-checked-color': $lime_green,
  'ruleset-exclude-icon-checked-color': $pastel_red,

  // Phenotype search
  'phenotype-banner-bg-color': $ghost_white,
  'phenotype-banner-title-size': 30px,
  'phenotype-banner-title-color': $black,
);


// Append all brand-specific variables
:root[data-brand="none"],
::after,
::before {
  @include map-brand($brand-map-none);
}

:root[data-brand="ADP"],
::after,
::before {
  @include map-brand($brand-map-ADP);
}

:root[data-brand="HDRUK"],
::after,
::before {
  @include map-brand($brand-map-HDRUK);
}

:root[data-brand="SAIL"],
::after,
::before {
  @include map-brand($brand-map-SAIL);
}