/// Helper color palette
$transparent: rgba(255, 255, 255, 0);
$transparent_black: rgba(0, 0, 0, 0.4);
$white: rgb(255, 255, 255);
$off_white: rgb(251, 251, 250);
$off_white02: rgb(247, 247, 247);
$white_smoke: rgb(245, 245, 245);
$black: rgb(0, 0, 0);
$near-black: rgb(40, 40, 40);
$blackish-grey: rgb(82, 82, 82);
$lightblack-grey:rgb(110,109,122);
$dark_grey: rgb(140, 140, 140);
$light_grey: rgb(170, 170, 170);
$lightest_grey: rgb(220, 220, 220);
$pixie_green: rgb(196, 223, 170);
$lime_green: rgb(133,213,126);
$pastel_red: rgb(255, 135, 135);
$light_red:rgb(242,242,242);
$bright_blue: rgb(0, 0, 255);
$royal_blue: rgb(62, 119, 232);
$soft_blue: rgb(140, 192, 222);
$soft_cyan: rgb(204, 243, 238);
$solitude: rgb(223, 233, 255);
$ghost_white: rgb(247, 249, 252);
$cow_black01: rgba(75, 72,  72, 0.1);
$cow_black02: rgba(75, 72,  72, 0.2);
$dusky_blue: rgb(71, 93, 167);
$iris: rgb(78, 105, 194);
$glaucous: rgb(104, 127, 203);
$pickled_bluewood: rgb(51, 65, 85);
$platinum: rgb(226, 226, 226);
$boulder: rgb(117, 117, 117);
$lavender_mist: rgb(225, 230, 249);
$zircon: rgb(246, 248, 255);

/// Layout definitions
$column-min: 1;
$column-max: 12;
$column-grid: (
  xs: false,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);
$column-scales: (
  xs: false,
  sm: 576px,
  md: 768px,
  lg: 992px,
);

/// Element modifiers
$modifiers: (
  'display': (
    property: display,
    values: block flex inline-flex inline inline-block none,
  ),
  'position': (
    property: position,
    values: static relative absolute fixed sticky,
  ),
  'float': (
    property: float,
    values: left right none,
  ),
  'flex-direction': (
    property: flex-direction,
    values: row column row-reverse column-reverse
  ),
  'flex-grow': (
    property: flex-grow,
    values: 0 1,
  ),
  'flex-shrink': (
    property: flex-shrink,
    values: 0 1,
  ),
  'flex-wrap': (
    property: flex-wrap,
    class: flex,
    values: wrap nowrap wrap-reverse
  ),
  'justify-content': (
    property: justify-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
    )
  ),
  'align-items': (
    property: align-items,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )
  ),
  'align-content': (
    property: align-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      stretch: stretch,
    )
  ),
  'align-self': (
    property: align-self,
    values: (
      auto: auto,
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )
  ),
  'order': (
    property: order,
    values: (
      first: -1,
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      6: 6,
      7: 7,
      8: 8,
      9: 9,
      10: 10,
      11: 11,
      last: 12,
    ),
  ),
  'text-align': (
    property: text-align,
    values: left right center,
  ),
  'vertical-align': (
    property: vertical-align,
    values: baseline top middle bottom text-bottom text-top,
  ),
  'width': (
    property: width,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
  'height': (
    property: height,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
);
