.cookiealert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transform: translateY(100%);
  color: #ecf0f1;
  background: rgba(0, 0, 0, .85) !important;
  padding: 20px;
  margin: 0 !important;
}

.cookiealert.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition: all 300ms ease-out;
}

.cookiealert a {
  text-decoration: underline;
}

.cookie_buttons{
  display: inline-flex;
  margin-left: 30px;
  margin-right: 10px;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
}

.cookiealert .acceptcookies, .rejectcookies, .preferencecookies {
  margin-left: 15px;
  vertical-align: baseline;
}

.btn.acceptcookies:hover, .btn.rejectcookies:hover{
  background-color: #e7e7e7;
  transition: all 500ms ease-out;
  color: #000;
}

.btn.acceptcookies,  .btn.rejectcookies{
  width: fit-content;
  text-align: center;
  line-height: 30px;
  background: #18adca;
  font-size: 1.05em;
  border-radius: 2px;
}

.btn.preferencecookies{
  color: #ffffff;
  font-size: 14px;
  width: fit-content;
  text-align: center;
  border-radius: 0em;
  background-color:transparent;
}
