.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    color: #ecf0f1;
    background: rgba(0, 0, 0, .85) !important;
    padding: 20px;
    margin: 0 !important;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition: all 300ms ease-out;
    
    
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 30px;
    vertical-align: baseline;
}

.btn.acceptcookies:hover{
     background-color: #e7e7e7;
     transition: all 500ms ease-out;
     color: #000;
}

.btn.acceptcookies{
   
  
  width: 130px;
  text-align: center;
  line-height: 20px;
  background: #18adca;
  font-size: 1em;
}

