{% load static %}

	{{ codelist_formset.management_form }}
	{{ codelist_formset.non_form_errors }}
	{# include hidden fields #}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	{% for hidden in codelist_formset.form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	<input type="hidden" name="action" id="action" />
	<input type="hidden" id="search_text" name="search_text" />
	<input type="hidden" id="search_params" name="search_params" />
						
	<script  type="text/javascript">
	    $(document).ready(function () {
	        //when a submit button is clicked, put its name into the action hidden field
	        $(":submit").click(function () { $("#action").val(this.name); });
	    });
	</script>

<div id="div_id_name" class="form-group {% if form.name.errors %}has-error{% endif %}">
	<label for="{{ form.name.id_for_label }}" class="col-sm-2 required">{{ form.name.label }}</label>
	<div class="col-sm-7"   id="div_id_name2" >
		{{ form.name }}
		<span class="help-block"  id="help_id_name">
		  {% if form.name.errors %}              
               {% for error in form.name.errors %}{{ error }}{% endfor %}
             {% endif %}
           </span>
	</div>
</div>

<div>
	<input type="hidden" id="latest_history_id_shown" name="latest_history_id_shown"  value="{{ request.GET.latest_history_id }}"> 
 	<input type="hidden" id="component_id" name="component_id"  value="{{ object.id }}">
 	
 	<input type="hidden" id="latest_history_id_concept" name="latest_history_id_concept"  value="{{ latest_history_ID }}">
 	 
</div>

	<div class="form-group {% if form.comment.errors %}has-error{% endif %}">
		<label for="{{ form.comment.id_for_label }}" class="col-sm-2">{{ form.comment.label }}</label>
		<div class="col-sm-7">
			{{ form.comment }}
			{% if form.comment.errors %}
              <span class="help-block">
                {% for error in form.comment.errors %}{{ error }}{% endfor %}
              </span>
            {% endif %}
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2">{{ form.logical_type.label }}</label>
		<div class="col-sm-7">								
			{% for choice in form.logical_type %}
			<div class="radio">
				<label>										
					{{ choice.tag }}
					{{ choice.choice_label }}
				</label>
			</div>
			{% endfor %}
		</div>
	</div>
	{% for codelist_form in codelist_formset %}
	
		{% for hidden in codelist_form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
	
	<!-- the description is hidden and assigned value '-' (which is a bad solution) because we cannot get rid of description from codelist form !!  -->
	<div style='display:none;'>
		<div id="div_id_description" class="form-group {% if codelist_form.description.errors %}has-error{% endif %}">
			<label for="{{ codelist_form.description.id_for_label }}" class="col-sm-2 ">{{ codelist_form.description.label }}</label>
			<div class="col-sm-7">
				
				<input type="text" name="codelist-0-description" id="id_codelist-0-description" value='-' data-required="please enter a description" class="form-control" maxlength="250">
				<span class="help-block" id="help_id_description">
				  {% if codelist_form.description.errors %}	              
	                {% for error in codelist_form.description.errors %}{{ error }}{% endfor %}
	              {% endif %}
	            </span>
			</div>
		</div>
	</div>
	{% endfor %}
	
	<div class="tab-content">
		<br/>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">						
					<div id="builder-import_export" class="col-md-6"></div>
					<div class="col-md-1">
						<span id="getsql" class="btn btn-primary" data-stmt="question_mark">Get SQL > </span>
					</div>
					<div class="col-md-5">
						<div class="alert alert-info" id="generatedsql"></div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<button type="submit" class="btn btn-success" id="search-querybuilder-btn" data-stmt="question_mark">Get codes</button>
				<div class="alert alert-danger" id="get-codes-message" style="display: none; margin-top: 5px;" role="alert"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4 class="page-header">New codes to add</h4>	
						
						<div class="row">
							<div class="col-md-12 text-right">
								<span class="newCodesCount label label-primary"></span>
							</div>
						</div>
						
						<div class="clusterize" style="height: 500px;">
							<table class="table table-striped small-table new-search-table" id="newSearchCodes" style="margin-bottom: 0px;">
								<thead>
									<tr>
										<th style="width: 120px; border: none;">Code</th>
										<th style="border: none;">Description</th>
									</tr>
								</thead>
							</table>
							<div id="newCodesScrollArea" class="clusterize-scroll" style="max-height: 450px;">
								<table class="table table-striped small-table">
									<thead>
										<tr>
											<th style="border: none; width: 120px;"></th>
											<th style="border: none;"></th>
										</tr>
									</thead>
									<tbody id="newCodesArea" class="clusterize-content">
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-right">
								<span class="newCodesCount label label-primary"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4 class="page-header">Existing Codes</h4>
						<div class="row">
							<div class="col-md-12 text-right">
								<span class="existingCodesCount label label-primary"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="clusterize" style="height: 500px;">
									<table class="table table-striped small-table existing-codes-table" id="existingCodesTable" style="margin-bottom: 0px;">
										<thead>
											<tr>
												<th style="width: 120px; border: none;">Code</th>
												<th style="border: none;">Description</th>
											</tr>
										</thead>
									</table>
									<div id="existingCodesScrollArea" class="clusterize-scroll" style="max-height: 450px;">
										<table class="table table-striped small-table">
											<thead style="">
												<tr>
													<th style="border: none; width: 120px;"></th>
													<th style="border: none;"></th>
												</tr>
											</thead>
											<tbody id="existingCodesContentArea" class="clusterize-content">
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 text-right">
										<span class="existingCodesCount label label-primary"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if form.non_field_errors or form.errors or forms.codelist_formset.is_valid %}
	<div id="form-error" class="alert alert-danger col-md-12">
		<p>The operation could not be performed because one or more error(s) occurred. Please resubmit the form after making the following changes:</p>
		<ul>
		{% for field,error in form.errors.items %}
			<li>{{ error|striptags }}</li>
		{% endfor %}
		{% for field,error in form.non_field_errors.items %}
			<li>{{ error|striptags }}</li>
		{% endfor %}
		{% for codelist_form in codelist_formset %}
			{% for field,error in codelist_form.non_field_errors.items %}
				<li>{{ error|striptags }}</li>
			{% endfor %}
			{% for field,error in codelist_form.errors.items %}
				<li>{{ error|striptags }}</li>
			{% endfor %}
		{% endfor %}
		</ul>
	</div>
	{% endif %}
	
	<div id="popover-content-querybuilder-component-help" class="hide popover-lg">
		<p>A component can contain a list of clinical codes created by using the SQL query builder.</p>
	</div>

	<hr/>
	<script src="{% static 'js/clinicalcode/dataService.js' %}" type="text/javascript"></script>
	
	<script type="text/javascript">

		$(function(){
			
			// build up jquery querybuilder filters from coding system filter table
			var myFilters = [{% for filters in coding_system_filter %}
				{
					'id': '{{filters.id}}', 
					'label': '{{filters.label}}', 
					'type': '{{filters.type}}',
					'operators': [{% for op in filters.operators.all %}
					'{{ op.description}}',
					{% endfor %}
					]
				},
				{% endfor %}];
			
			// apply coding system filters to querybuilder
			$('#builder-import_export').queryBuilder({
				plugins: [
					'bt-tooltip-errors',
					'not-group'
				],
				filters: myFilters
			});
		});

$(function() {
		// arrays of added and deleted codes
		var existingCodesContentArea = document.getElementById('existingCodesContentArea');
		var newCodesArea = document.getElementById('newCodesArea');
		
		var existingCodeRows = [];
		var newCodeRows = [];

		existingCodesContentArea.onchange = handleExistingCodesEvent;
		newCodesScrollArea.onchange = handleNewCodesEvent;
});		

		function handleExistingCodesEvent(e){
			e = e || event;
			var target = e.target || e.srcElement;
			
			if(target.nodeName != "INPUT") { return; }
			
			var dataSet = target.dataset;
			if (dataSet == null)
			{
				var cell = e.srcElement.getAttribute('data-cell'),
					description = e.srcElement.getAttribute('data-description'),
					clid = e.srcElement.getAttribute('data-clid');
				
				existingCodeRows[cell] = generateRow(cell, target.value, clid, description);
			}
			else
			{
				existingCodeRows[dataSet.cell] = generateRow(dataSet.cell, target.value, dataSet.description);
			}
		}
		
		function handleNewCodesEvent(e){		
			e = e || event;
			var target = e.target || e.srcElement;
			
			if(target.nodeName != "INPUT") { return;}
			
			var dataSet = target.dataset;
			if (dataSet == null)
			{
				var cell = e.srcElement.getAttribute('data-cell'),
					description = e.srcElement.getAttribute('data-description');
				
				newCodeRows[cell] = generateRow(cell, target.value, description);
			}
			else
			{
				newCodeRows[dataSet.cell] = generateRow(dataSet.cell, target.value, dataSet.description);
			}
		}
		
		var generateRow = function(cell, code, description){			
			return ("<tr><td>" + code + "</td><td>" + description + "</td></tr>");
		}

		var formatCodeRow = function(data){
			var rowNumber = 0;
			
			if(data){
				return data.map(function(row){
					rowNumber += 1;
					return generateRow(rowNumber, row.code, row.description);
				});
			}
		};
		
		function format4display(object) {
			return JSON.stringify(object, null, 2).replace(/</g, '&lt;').replace(/>/g, '&gt;');
		}
		
		function populateQueryBuilder(stmt){
			var sqlob = $('#builder-import_export').queryBuilder("getSQL", stmt);
			
			if(sqlob){
				$('#search_text').val(sqlob.sql);
				$('#search_params').val( JSON.stringify(sqlob.params));
				
				$('#generatedsql').html(format4display(sqlob.sql)  + '<br/><br/>' + format4display(sqlob.params));
				
				return sqlob.params;
			}
			return;
		}
		
		var getCodes = function(searchParams){
			
			var getRules = $('#builder-import_export').queryBuilder('getRules');

			$('#id_codelist-0-sql_rules').val(JSON.stringify(getRules));
			
			var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val(),
				searchText = $('#search_text').val(),
				concept = $('#id_concept').val(),
				logicalType = $("input[name='logical_type']:checked").val(),
				sqlRules = $("input[name='codelist-0-sql_rules']").val();
			
			var latest_history_id_shown = $(' #latest_history_id_shown ').val();
			$(".loader").show();
//alert(latest_history_ID);
			dataService.searchCodeList(concept, searchText, searchParams, sqlRules, logicalType, csrfmiddlewaretoken, latest_history_id_shown, function(data){
				$('#get-codes-message').hide();
				if(data.is_valid){
					
					newCodeRows = formatCodeRow(data.codes);
					
					if(newCodeRows){
						var newCodesClusterize = new Clusterize({
							rows: newCodeRows,
							scrollId: 'newCodesScrollArea',
							contentId: 'newCodesArea',
						});
						
						$('.newCodesCount').text('Rows: ' + newCodesClusterize.getRowsAmount());
					}
				}else{
					$('#get-codes-message').show();
					$('#get-codes-message').html(data.error_message);
				}
				//--------
				form = $('#query-builder-form');
				//alert('searchCodeList='+ data.latest_history_ID);
				form.find('input[name=latest_history_id_shown]').val(data.latest_history_id_shown);
				//--------
				$(".loader").hide();
			});
		}

//-------------------------------------------------------------------------------		
		$(function(){
			var existingCodesClusterize;
			
			{% if form.instance.pk is not None %}
				
				// retrieve initial values if we're in update mode
				var searchText = $('#id_codelist-0-sql_rules').val();
				var concept = $('#id_concept').val();
				var logicalType = $("input[name='logical_type']:checked").val();
				var codeListId = $('#id_codelist-0-id').val();
				var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
				var rules = $('#id_codelist-0-sql_rules').val();
				
				if(rules && rules !== "null"){
					$('#builder-import_export').queryBuilder('setRules', JSON.parse(rules));
				}
				
				var searchParams = populateQueryBuilder('question_mark');

				if(codeListId){	
					$(".loader").show();
						
					getCodes(searchParams);
					
					dataService.getCodesByCodeList(codeListId, function(data){
						existingCodeRows = formatCodeRow(data);
						
						if(existingCodeRows){
							existingCodesClusterize = new Clusterize({
								rows: existingCodeRows,
								scrollId: 'existingCodesScrollArea',
								contentId: 'existingCodesContentArea',
							});
							
							$('.existingCodesCount').text('Rows: ' + existingCodesClusterize.getRowsAmount());
						}
						$(".loader").hide();
					});
				}				
			{% endif %}
			
			// display sql from jquery querybuilder
			$('#getsql').on('click', function(){
				populateQueryBuilder($(this).data('stmt'));
				
				var getRules = $('#builder-import_export').queryBuilder('getRules');
				
				$('#id_codelist-0-sql_rules').val(JSON.stringify(getRules));
				return false;
			});
			
			// unattach the click event (it was posting multiple times because of validation)
			$('body').off('click', '#search-querybuilder-btn');
			
			// search codes
			$('body').on('click', '#search-querybuilder-btn', function(e){
				e.preventDefault();
				
				// get sql code from the jquery querybuilder
				var searchParams = populateQueryBuilder($(this).data('stmt'));
				
				getCodes(searchParams);
				
				return false;
			});
			
			// unattach the submit event (it was posting multiple times because of validation)
			$('#modal-section').off('submit', '#query-builder-form');
			
			// post the code list form
			$('#modal-section').on('submit', '#query-builder-form', function(e){
				e.preventDefault();
				
				var form = $(this);
				
				// check component name is not empty
				// this is crucial to be done in script first 
				var comp_name = form.find('input[name=name]').val();
				if($.trim(comp_name) == ''){			
					$('#div_id_name').addClass('has-error');
			        $('#help_id_name').html('Please enter a name');
			        alert('Please enter component name');
			        return false;
			    }else{
			    	$('#div_id_name').removeClass('has-error');
			        $('#help_id_name').html('');
			    }
				//=============================================
					
				populateQueryBuilder('question_mark');

				//=============================================
				var doFormSubmit = function(form){	
	            // post form 
				$.ajax({
					url:  form.attr("action"),
					data: form.serialize(),
					type: form.attr("method"),
					dataType: 'json',
					beforeSend: function(xhr, opts){
						$(".loader").show();
					},
					success: function(data){
						if(data.form_is_valid){
							$('#component-table tbody').html(data.html_component_list);
							$('#history-table').html(data.html_history_list);
							$('#latest-history-ID-Div').html(data.latest_history_ID);
							$('#latest_history_id').val(data.latest_history_ID);
							$('#concept-component-form-container').html(data.add_menu_items);
							form.find('input[name=latest_history_id_shown]').val(data.latest_history_ID);
							
							// href needs to be updated for publish concept to get latest history id
							if($('#publish2').length){
								var pub_href = $('#publish2').attr("href").split("/");
								pub_href[3] = data.latest_history_ID;
								pub_href = pub_href.join("/")
								$('#publish2').attr("href", pub_href);

								$('#publish2').prop("disabled", false );
								$('#publish2').attr("title", "" );
								$('#publish2').removeClass("btn-success");
								$('#publish2').addClass("btn-primary");
								$('#publish2').html("Publish");
								
							}
							
							if ($("#action").val() == "Save")
							{
								$('#modal-section').modal('hide');
								$('#modal-section .modal-content').html('');
							}
							else if($("#action").val() == "SaveContinue")
							{
								 $('#modal-section .modal-content').html(data.html_form);
							}
							else
							{
								$('#modal-section').modal('hide');
								$('#modal-section .modal-content').html('');
							}
								
								//alert('sumbitted='+ data.latest_history_ID);
								
						}
						else{
							$('#modal-section .modal-content').html(data.html_form);
						}
					},
					complete: function(){
						$(".loader").hide();
					}
				});
				}
				//=============================================
				   
				//=============================================
				//alert( "first ajax....." );
				$.ajax({
					url: '{% url "check_concurrent_concept_update" form.concept.value %}',
			        type: 'GET',
					data: {"latest_history_id_shown": form.find('input[name=latest_history_id_shown]').val()  
						  ,"component_id": form.find('input[name=component_id]').val()  
						},
					//dataType: 'json',
					beforeSend: function(xhr, opts){
						$(".loader").show();
					},
					success: function(data){
						//alert('check done.......');
								 
						if(data.errorMsg){
							 if(data.overrideVersion == -1){
								 alert(data.errorMsg);
								 $(".loader").hide();
							 } else {
								 confrm = false;
								 confrm = confirm(data.errorMsg);
								 if(confrm){
									 doFormSubmit(form);
								 }else{
									 $(".loader").hide();
								 }
							 }
						}
							   

						if(data.successMsg){
							//alert(data.successMsg);
							doFormSubmit(form);		
						}
					},
					complete: function(){
						//$(".loader").hide();
					}
				});
	            //=============================================
	            
				return false;
			});
		});

	 	$(document).on("keypress", ":input:not(textarea):not([type=submit])", function(event) {
			return event.keyCode != 13;		
		});
	 	
	 	
	 	

	</script>