						
<div class="btn-group">
	<button id="conceptTypes" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
		aria-haspopup="true" aria-expanded="false">
		Add <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li>
			<a class="js-load-large-modal"
				href="{% url 'component_expressionselect_create' pk %}?latest_history_id={{ latest_history_id }}"
				data-target="modal-content">Select codes individually + import codes</a>
		</li>
		<li>
			<a class="js-load-large-modal"
				href="{% url 'component_expression_create' pk %}?latest_history_id={{ latest_history_id }}"
				data-target="modal-content">Match code with expression</a>
		</li>
		<li>
			<a class="js-load-large-modal"
				href="{% url 'component_querybuilder_create' pk %}?latest_history_id={{ latest_history_id }}"
				data-target="modal-content">Query builder</a>
		</li>
		<li>
			<a id="addConcept" class="js-load-modal"
				href="{% url 'component_concept_create' concept_id=pk %}?latest_history_id={{ latest_history_id }}"
				data-target="modal-content">Concept</a>
		</li>
		<li>
			<a class="js-load-modal"
				href="{% url 'concept_upload_codes' pk %}?latest_history_id={{ latest_history_id }}"
				data-target="modal-content"><i class="fa fa-upload"></i> Upload codes</a>
		</li>
	</ul>
</div>
