{% extends "base.html" %}

{% load staticfiles %}

{% block title %}| Compare concept{% endblock title %}

{% block container %}

<form method="post" id="compareForm" name="compareForm"   action="" class="form-horizontal js-submit-form" novalidate>
	{% csrf_token %}
	
<h2 >
	Choose 2 concepts to compare</i>
</h2>
<i class="help-block" style="font-size: 12px;">Start typing a concept name to see search result</i>


<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-horizontal">
			
									
<table class="table" style="margin-bottom: 0px;">
	<thead>
		<tr>
			<th colspan=2><h4>Concept #1</h4></th>
			<th >&nbsp;</th>
			<th colspan=2><h4>Concept #2</h4></th>
		</tr> 
	</thead>	
	
	<tbody>
	
		<tr>
			<td colspan=2 >
				<div  id="concept-search-container1">
					<input class="form-control" type="text" placeholder="Search1" name="search1" indx="1" id="concept-search-text1" value="">
				</div>				
			</td>
			<td >&nbsp;</td>
			<td colspan=2>
				<div  id="concept-search-container2">
					<input class="form-control" type="text" placeholder="Search2" name="search2" indx="2" id="concept-search-text2" value="">
				</div>		
			</td>
		</tr>
		
		<tr>
			<td colspan=5>
				&nbsp;
			</td>
		</tr> 
				
		
		<tr>
			<td colspan=2>
				<h4><i class="fa fa-history" aria-hidden="true"></i> Versions #1</h4>
			</td>
			<td >&nbsp;</td>
			<td colspan=2>
				<h4><i class="fa fa-history" aria-hidden="true"></i> Versions #2</h4>
			</td>
		</tr> 

		
		<tr>
			<td colspan=2 id="concept-versions-1">
            	&nbsp;no versions
            </td>
			<td >&nbsp;</td>
			<td colspan=2 id="concept-versions-2">
				&nbsp;no versions
			</td>
		</tr> 

	</tbody>
</table>
						
						
																	
				</div>
			</div>
		</div>		
	</div>
</div>

<div>	
 	<input type="hidden" id="id_concept_ref1" name="id_concept_ref1"  value="">
 	<input type="hidden" id="id_concept_ref2" name="id_concept_ref2"  value=""> 	 
</div>


<div  style="text-align:center">
	<a href="" 
	   class="btn btn-primary" target="_blank"
	   id="compare" >
		Compare codes of the two versions
	</a>   	
</div>	

</form>
{% endblock container %}

{% block scripts %}
		
<script src="{% static 'js/clinicalcode/dataService.js' %}" type="text/javascript"></script>

<script  type="text/javascript"> 
$(function(){
	 //------------------------------------------------
		// autocomplete for finding a concept, enter concept name and it will display a list of possible matches
		$('#concept-search-text1,#concept-search-text2').autocomplete({			
			serviceUrl: "{% url 'api:concepts_live_and_published' %}?concept_id_to_exclude=0",					
			paramName: 'search',
			transformResult: function(response){
				// clear the selected field
				$('#id_concept_ref'+$(this).attr("indx")).val('');
				$('#concept-versions-'+$(this).attr("indx")).html('&nbsp;');
				
				return {
					suggestions: $.map($.parseJSON(response), function(item){
						return {data: String(item.id) 
							, value: item.friendly_id + "/" +item.history_id + " - " + "(" + (item.rn==1?'latest: ':'') + item.published+")" + " - " + item.name + ", author: " + item.author
							, version: String(item.history_id)
							};
					})
				};
			},
			onSelect : function(suggestion){
				// set the id of the selected concept
				$('#id_concept_ref'+$(this).attr("indx")).val(suggestion.data);
		        		     
				// get the historical versions of the concept
				dataService.getConceptVersions(suggestion.data, suggestion.version, $(this).attr("indx"), function(data){
					if(data.form_is_valid){
						$('#concept-versions-'+data.indx).html(data.html_versions_list);
					}
				});
			}
		}).on('blur', function(event){
			if($(this).val() == ""){
				$('#id_concept_ref'+$(this).attr("indx")).val('');
				$('#concept-versions-'+$(this).attr("indx")).html('&nbsp;');

			}
		});
		//------------------------------------------------
		//================================================
			
			$("#compare").click(function (event) {
			event.preventDefault();
			
			c1 = $('#id_concept_ref1').val();
			 
			if(c1 == ''){
		            alert("You have to search and select Concept #1");
		            return false;
		    }
			 			
			c2 = $('#id_concept_ref2').val();
			if(c2 == ''){
	            alert("You have to search and select Concept #2");
	            return false;
	        }
		 					
			if(! $("#ver-sel-1").length){
		            alert("You have to choose a version for Concept #1");
		            return false;
		    }
			 
			if(! $("#ver-sel-2").length){
		            alert("You have to choose a version for Concept #2");
		            return false;
		    }
			 
			v1 = $('#ver-sel-1').children("option:selected").val();
			v2 = $('#ver-sel-2').children("option:selected").val();
			
			if(c1 == c2 && v1 == v2){
	            alert("You cannot compare the same concept with the same version. \n choose different versions");
	            return false;
	        }
		 	
			//..................
			var form = $(this).closest("form");
		    
		    href = "/concepts/C"+c1+"/"+v1+"/compare/C"+c2+"/"+v2+"/";
			form.attr('action' , href);
			
			$(".loader").show();
			form.submit();	
			return false;
			
		
		});
		
		//------------------------------------------------
	});

	//------------------------------------------------
	$(document).on("keypress", ":input:not(textarea):not([type=submit])", function(event) {
		return event.keyCode != 13;
	});
	
</script>

{% endblock scripts %}
