{% extends "base.html" %}

{% load staticfiles %}
{% load markdownify %}
{% load cl_extras %}

{% block title %}| concept: {{ concept.name }}{% endblock title %}
{% block description %}{{ concept.name }}{% endblock description %}
{% block keywords %}, {{ concept.name }}{% endblock keywords %}



{% block crumbs %}
	<a class="nav-bar-title underline" href="{% url 'concept_list' %}">Concepts</a>
    > <strong>{{ concept.name }}</strong> 
{% endblock crumbs %}


{% block container %}

<div class="row">
	<div class="col-sm-2 hideleft-navbar" id="ConceptMenu" style="padding-top: 20px; position: sticky; position: -webkit-sticky; top: 60px;">
		<ul class="left-navbar" onclick="showSelection(event)" id='navList'>
			<li><a href="#home" id="Homelinkid">Home</a>					
			<li><a href="#description">Description</a>
			<!--<li><a href="#validation">Validation</a>-->
			<li><a href="#Publications">Publications</a>
			<li><a href="#CodeLists">Clinical Code Lists</a>
			<li><a href="#API">API</a>

			{% if user.is_authenticated  %}				
				<li><a href="#permissions">Permissions</a>	
			{% endif %}	
			<li><a href="#conceptVersions">Version History</a>
		</ul>
	</div>
			


	<h3><span id="home" style="margin-top: -100px;"></span></h3>
		<div class="col-sm-10">
			
			<span id="topButtons">			
					<div class="row" style="margin-left: 2px">
						<div class="col-sm-12 text-right">
							
						   <div class="dropdown btn-group" > 
							  <button {% if not user_can_export %} disabled title="Component concept(s) deleted or revoked access!!" {% endif %} type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="export-btn">
							    Export Concept
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
								  <li>
							   {% if user.is_authenticated %}
									<a {% if user_can_export %} href="{% url 'api:api_concept_detail_version'  concept.id concept.history_id %}?format=json" target=_blank {% endif %}
							   {% elif enable_publish %}
									<a {% if user_can_export %} href="{% url 'api:api_concept_detail_version_public' concept.id concept.history_id %}?format=json" target=_blank {% endif %}
							   {% endif %}
								       class="dropdown-item" >
										JSON
									</a>
							   </li>
							   <li>
							   {% if user.is_authenticated %}
									<a {% if user_can_export %} href="{% url 'api:api_concept_detail_version'  concept.id concept.history_id %}?format=xml" target=_blank {% endif %}
							   {% elif enable_publish %}
									<a {% if user_can_export %} href="{% url 'api:api_concept_detail_version_public' concept.id concept.history_id %}?format=xml" target=_blank {% endif %}
							   {% endif %}							   
							       class="dropdown-item" >
									XML
								</a>
							   </li>
							  </ul>
							</div>
							
							
					{% if user.is_authenticated and not CLL_READ_ONLY %}
							<span>
								<a {% if user_can_edit %}href="{% url 'concept_update' concept.id %}"{% endif %} class="btn btn-outline-primary btn-cl btn-cl-secondary"
									{% if not user_can_edit %} disabled {% endif %} >
									Edit
								</a>
							</span>		
												
							<a 	{% if allowed_to_create %} class="js-load-modal btn btn-outline-primary btn-cl btn-cl-secondary" href="{% url 'concept_history_fork' pk=concept.id concept_history_id=concept.history_id %}"
								{% else %} class="btn btn-outline-primary btn-cl btn-cl-secondary" disabled 
								{% endif %} id="fork-btn">
								Fork
							</a>
							<a  {% if allowed_to_create and user_can_edit and not is_latest_version %} class="js-load-modal btn btn-outline-danger btn-cl btn-cl-danger" href="{% url 'concept_history_revert' pk=concept.id concept_history_id=concept.history_id %}"
								{% else %} class="btn btn-outline-danger btn-cl btn-cl-danger" disabled   title="You don't have access to update or this is already the latest version !" 
								{% endif %} id="revert-btn" >
								Revert
							</a>
							{% if enable_publish %}
								{% if is_published %}
							    	<a class="btn btn-success" disabled title="This version is already published" >
<!-- 								    	<i class="fa fa-paper-plane" aria-hidden="true"></i>							    		 -->
								    	Published&nbsp;
								    	<span class="glyphicon glyphicon-ok" style="color:green"></span>
								    </a>
								{% else %}
									<a 
								    {% if not live_ver_is_deleted and not is_published %}
								    	class="js-load-modal btn btn-outline-primary btn-cl btn-cl-secondary" href="{% url 'concept_publish' pk=concept.id concept_history_id=concept.history_id %}" 
									{% else %}
										class="btn btn-outline-primary btn-cl btn-cl-secondary" disabled 
										{% if is_published %}
									    	title="This version is already published" 
										{% elif live_ver_is_deleted %}
											title="Deleted concepts cannot be published !!"
										{% endif %} 
									{% endif %} 
									 id="publish2" >
									Publish 
								   </a>
								{% endif %}
								
						{% endif %}
						

							
							{% if live_ver_is_deleted is True %}
								<a class="js-load-modal btn btn-outline-danger btn-cl btn-cl-danger" href="{% url 'concept_restore' concept.id %}" title="Restore concept">
									Restore
								</a>
							{% endif %}
							
					 {% endif %}
					 					 	
<!-- 						</div>	 -->
<!-- 						<div class="col-md-2 text-right"> -->
							<a id="printBtn" class="btn btn-outline-primary btn-cl btn-cl-secondary">
								Print
							</a>
							<a href="#" role="button" class="btn popovers" id="help-hist-concept" data-toggle="popover" data-trigger="hover" data-container="body" title="" data-original-title="" data-placement="left">
								<i class="fa fa-question-circle" aria-hidden="true"></i>
							</a>
						</div>
					</div>
			
					<div class="alert alert-success alert-dismissable" id="success-message" style="display: none;" role="alert"></div>
					<div class="alert alert-danger alert-dismissable" id="error-message" style="display: none;" role="alert"></div>
<!-- 					<hr/>	 -->
				</span>
				
			<div class="col-md-12">
				<div classXX="col-md-6" styleXX="margin-left: -10px">
					<h2>			
						{% if user.is_authenticated and not is_latest_version  %}
							<strong>{{ concept.name }}</strong>
						{% else %}
							<strong>{{ concept.name }}</strong>	
						{% endif %}	
						
						{% for item in request.BRAND_GROUPS %}
							{% for brand, groups in item.iteritems %}
								{% if concept.group.name in groups %}
								<img style="margin-top:-5px;" src="{% static 'img/brands/' %}{{brand}}/logo.png" height="29px" title="{{brand}}" alt="{{brand}}" />
								{% endif %}
							{% endfor %}
						{% endfor %}
					</h2>
					<span>{{ concept.author }}</span>					
					<br>
					<br>
				</div>

				<div class="row"></div>

<!-- 				<div class="row" style="margin-top: 10px;"> -->
<!-- 					<div class="col-sm-2">Author</div> -->
<!-- 					<div class="col-sm-10"> -->
<!-- 						{{ concept.author }} -->
<!-- 					</div> -->
<!-- 				</div> -->
				
				<div class="row" style="margin-top: 10px;">
					<div class="col-sm-2">ID</div>
					<div class="col-sm-10">
						<span id="concept_id_div" concept_id="{{ concept.id }}">
							{{ concept.friendly_id }}						
						</span>			
					</div>	
				</div>	
				
				<div class="row" style="margin-top: 10px;">
					<div class="col-sm-2">Version ID</div>
					<div class="col-sm-10">
						<span id="concept_history_id_div" concept_history_id="{{ concept.history_id }}">
							{{ concept.history_id }} 
							{% if user.is_authenticated %}
								&nbsp;&nbsp;
								&nbsp;&nbsp;
								{% if is_latest_version  %}
									<span class="tag label" style='background-color:#F98E2B;' >LATEST VERSION</span> 
								{% else %}		
									<span class="tag label label-default" >HISTORICAL VERSION</span>
								{% endif %}					
							{% endif %}				
						</span>
						
<!-- 						{% if concept.modified_by_username %}							 -->
<!-- 							<span> -->
<!-- 								&nbsp;&nbsp;&nbsp;&nbsp;(Modified on: {{ concept.modified }}) -->
<!-- 							</span> -->
<!-- 						{% endif %}	 -->
					</div>				
				</div>				
								
				<div class="row" style="margin-top: 10px;">
					<div class="col-sm-2">Coding system</div>
					<div class="col-sm-10">
						<span class="badge">
							{{ concept.coding_system_name }}
						</span>		
					</div>	
				</div>	
												
				<div class="row" style="margin-top: 10px;">
					<div class="col-sm-2">Tags</div>
					<div class="col-sm-10">
						{% for tag in tags %}
							<span class="tag label label-{{ tag.get_display_display }}">{{ tag.description }}</span>
						{% endfor %}		
					</div>	
				</div>	
								
				
					
			{% if not user.is_authenticated  %}
				<div class="row" style="margin-top: 10px;">
					<div class="col-sm-2">Owner</div>
					<div class="col-sm-10">
							{{ concept.owner.username }}
					</div>	
				</div>	

			{% endif %}	
									
				
			{% if user.is_authenticated  %}
				<div class="row" style="margin-top: 10px;">
					<div class="col-sm-2">Entry Date</div>
					<div class="col-sm-10">
							{{ concept.entry_date }}
					</div>	
				</div>	
	       {% endif %}					

		</div>
				
		<!--	-------------------------------------------------------------------
				DESCRIPTION
				-------------------------------------------------------------------
		  -->				
				<div class="col-sm-12 shadow-frame">
					<h3 class="paneltitle" style="margin-top:20px; margin-bottom:20px"><span id="description"></span><strong>Description</strong></h3>
					<div class="markdown-holder">
						{{ concept.description | markdownify }}
					</div>
				</div>
		
				
		<!--	-------------------------------------------------------------------
				PUBLICATIONS
				-------------------------------------------------------------------
		  -->
				<div class="col-sm-12 shadow-frame">
					<h3 class="paneltitle" style="margin-top:20px; margin-bottom:20px"><span id="Publications"></span><strong>Publications</strong></h3>
					
				    <div class="row" style="margin-top: 10px;">
						<div  class="col-sm-3">Primary publication DOI</div>
						<div class="col-sm-9">{{ concept.publication_doi }}</div>
					</div>
	
					<div class="row" style="margin-top: 10px;">
						<div  class="col-sm-3">Primary publication link</div>
						<div class="col-sm-9">{{ concept.publication_link }}</div>
					</div>						
							
					<div class="row" style="margin-top: 10px;">
						<div  class="col-sm-3">Secondary  publication link</div>
						<div class="col-sm-9">{{ concept.secondary_publication_links }}</div>
					</div>

					<div class="row" style="margin-top: 10px;">
						<div  class="col-sm-3">Paper published</div>
						<div class="col-sm-9">
<!-- 							<div class="validation-checkbox"> -->
<!-- 							 	<input  type="checkbox" {% if concept.paper_published %}checked="checked"{% endif %} disabled /> -->
<!-- 							 </div> -->
<!-- 							<input type="checkbox" {% if concept.paper_published %}checked="checked"{% endif %} disabled /> -->
							{% if concept.paper_published %}
								<span>&#10004;</span>
<!-- 								<span class = "glyphicon glyphicon-ok"></span> -->
							{% else %}
								<span>&#10008;</span>
<!-- 								<span class = "glyphicon glyphicon-remove"></span> -->
					 		{% endif %} 							
						</div>
					</div>
					
					<div class="row" style="margin-top: 10px;">
						<div  class="col-sm-3">Source reference</div>
						<div class="col-sm-9">
							{{ concept.source_reference }}
						</div>
					</div>
					
					<div class="row" style="margin-top: 10px;">
						<div  class="col-sm-3">Citation requirements</div>
						<div class="col-sm-9">
							{{ concept.citation_requirements }}
						</div>
					</div>

				</div>

		<!--	-------------------------------------------------------------------
				COMPONENTS/CODE-LIST
				-------------------------------------------------------------------
		  -->					
			<div class="col-sm-12 shadow-frame">
				<h3 class="paneltitle" id="ClinicalCodeLists" style="margin-top:20px; margin-bottom:20px"><span id="CodeLists"></span><strong>Clinical Code List</strong>
						   <div class="dropdown btn-group" style="float: right;">
							  <button {% if not user_can_export %} disabled title="Component concept(s) deleted or revoked access!!" {% endif %} type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="export-btn">
							    Export Code List
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
							  <li>
							    <a {% if user_can_export %} href="{% url 'history_concept_codes_to_csv' pk=concept.id concept_history_id=concept.history_id %}" {% endif %}
							       class="dropdown-item" >
									CSV
								</a>
							   </li>
							   <li>
							   {% if user.is_authenticated %}
									<a {% if user_can_export %} href="{% url 'api:api_export_concept_codes_byVersionID'  concept.id concept.history_id %}?format=json" target=_blank {% endif %}
							   {% elif enable_publish %}
									<a {% if user_can_export %} href="{% url 'api:api_export_published_concept_codes' concept.id concept.history_id %}?format=json" target=_blank {% endif %}
							   {% endif %}
								       class="dropdown-item" >
										JSON
									</a>
							   </li>
							   <li>
							   {% if user.is_authenticated %}
									<a {% if user_can_export %} href="{% url 'api:api_export_concept_codes_byVersionID'  concept.id concept.history_id %}?format=xml" target=_blank {% endif %}
							   {% elif enable_publish %}
									<a {% if user_can_export %} href="{% url 'api:api_export_published_concept_codes' concept.id concept.history_id %}?format=xml" target=_blank {% endif %}
							   {% endif %}
							       class="dropdown-item" >
									XML
								</a>
							   </li>
							  </ul>
							</div>
		<!--		<a href="#" role="button" class="btn popovers" id="help-components-codelist-concept" data-toggle="popover" data-trigger="hover" data-container="body" title="" data-original-title="" data-placement="right">
								<i class="fa fa-question-circle" aria-hidden="true"></i>
				</a>
		-->
				</h3>
				
					
				<ul class="nav nav-tabs tabs-up" role="tablist">
				<div class="row">
					<div class="col-sm-1" id="help-phenotype-history-container">
						
					</div>
					<div class="col-sm-11 text-right">
						<a href="#" role="button" class="btn-popovers" id="help-components-codelist-concept" data-toggle="popover" data-trigger="hover" title="" data-original-title="" data-placement="left">
							<i class="fa fa-question-circle" aria-hidden="true"></i>
						</a>
					</div>
				</div>	
				  <li class="nav-item {{ component_tab_active }}">
				    <a href="#component-tab-div" data-toggle="tab" id="componentstab" data-target="#component-tab-div" class="media_node {{ component_tab_active }} span">
				    	<h4><i class="fa fa-cogs" aria-hidden="true"></i> Components</h4>
					</a>
				  </li>
				  <li class="nav-item {{ codelist_tab_active }}"  >
				    <a href="#codelist-tab-div" data-toggle="tab" id="codelisttab" data-target="#codelist-tab-div" class="media_node {{ codelist_tab_active }} span">
				    	<h4><i class="fa fa-barcode" aria-hidden="true"></i> Code List</h4>
				    </a>
				  </li>
				</ul>
				<div class="tab-content">
					<div id="component-tab-div" class="tab-pane {{ component_tab_active }}" >
					<br>
						<table class="table table-striped small-table table-hover" id="component-table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Version</th>
									<th>Type</th>
									<th>Logical type</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for component in components %}
									<tr>
										<td>{% if component.component_type == 1 %}(C{{ component.concept_ref_id }}) {% endif %}{{ component.name }}
											{% if component.component_type == 1 %}
												{% for item in request.BRAND_GROUPS %}
													{% for brand, groups in item.iteritems %}
														{% if component.group in groups %}
														<img src="{% static 'img/brands/' %}{{brand}}/logo.png" height="10px" title="{{brand}}" alt="{{brand}}" />
														{% endif %}
													{% endfor %}
												{% endfor %}
											{% endif %}
										</td>
										<td>{% if component.component_type == 1 %}
												{{ component.concept_ref_history_id }}
												{% if user.is_authenticated and component.is_published %}
													- Published
<!-- 													<span title="Published" ><i class="fa fa-paper-plane" aria-hidden="true"></i></span> -->
												{% endif %}
											{% else %}
												 - 
											{% endif %}
										</td>
										<td>
											{% if component.component_type == 1 %}
												<span>Concept</span>
											{% elif component.component_type == 2 %}
												<span>Query Builder</span>
											{% elif component.component_type == 3 %}
												<span>Expression</span>
											{% elif component.component_type == 4 %}
												<span>Expression Select</span>
											{% endif %}
										</td>
										<td>{{ component.get_logical_type_display }}</td>
										<td class="text-right">
										<!-- Note that the data-toggle (popover) has been removed from the following
											 buttons as the codelist data is not available at this time.
										  -->
										{% if component.component_type == 1 %}
											{% if component.id in component_error_msg_view %}
							 	 				    <div class="alert-danger" role="alert" style=" display:inline-block;" >
							 	 						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							 	 						<span class="sr-only">Error:</span>
							 	 						{% for key,value in component_error_msg_view.items %}
							 	 						   {% if key == component.id %}
															 {% for v in value %}
															 	- {{ v }}<br> 
															 {% endfor %}
														   {% endif %}
														{% endfor %}
							 	 					</div>
												{% endif %}
										
											<a class="js-load-modal" href="{% url 'component_history_concept_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">
											<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
											  <i class="glyphicon glyphicon-search"> </i>
											</button>
											</a>
										{% elif component.component_type == 2 %}
											<a class="js-load-modal" href="{% url 'component_history_querybuilder_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">
											<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
												<i class="glyphicon glyphicon-search"> </i>
											</button>
											</a>
										{% elif component.component_type == 3 %}
											<a class="js-load-modal" href="{% url 'component_history_expression_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">
											<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
											  <i class="glyphicon glyphicon-search"> </i>
											</button>
											</a>
										{% elif component.component_type == 4 %}
											<a class="js-load-modal" href="{% url 'component_history_expressionselect_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">			
											<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
												<i class="glyphicon glyphicon-search"> </i>
											</button>			
											</a>
										{% endif %}
											<!-- A hidden section containing the list of codes in the component. This will
												 be shown when the user hovers over the view icon using the Bootstrap popover
												 plugin. 
											  -->
											<div id="popover-content-code-preview-{{ component.id }}" class="hide popover-lg">
													<table class="table table-striped small-table" style="margin-bottom: 0px;">
														<thead>
															<tr>
																<th>Code</th>
																<th>Description</th>
															</tr>
														</thead>
														<tbody>
														{% for code in component.codes|slice:":10" %}
															<tr>
																<td>{{ code.code }}</td>
																<td>{{ code.description }}</td>
															</tr>
														{% empty %}
															<tr>
																<td colspan="2" class="text-center bg-warning">
																	No codes
																</td>
															</tr>
														{% endfor %}
														</tbody>
													</table>
													<div>...</div>
	
											</div>									
										</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="5" class="text-center bg-warning">
											No components
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					
					<div id="codelist-tab-div" codelist_loaded="{{ codelist_loaded }}" class="tab-pane {{ codelist_tab_active }} " >
						<div class="row">
						<br>
							<div class="col-md-6">
								<span class="codesAmount label label-primary">Rows: {{ codelist|length }}</span>
							</div>
						</div>
						
						<div id="codelist-div-container" {% if user.is_authenticated %} style="overflow: hidden;max-height:fit-content" class="pre-scrollable" {% endif %} >
							<table class="table table-striped table-responsive-md display-table" style="width: 100%" id="codelist-tab-table" >
								<thead>
									<tr>
										<th>Code</th>
										<th>Description</th>
										{% for attr_hdr in code_attribute_header %}
											<th>{{ attr_hdr }}</th>
										{% endfor %}
									</tr>
								</thead>
								<tbody>
								{% for code in codelist %}
									<tr>
										<td>{{ code.code }}</td>
										<td>{{ code.description }}</td>
										{% for attr_hdr in code_attribute_header %}
										   {% for key, value in code.items %}
										   		{% if key == attr_hdr %}
										      		<td>{{ value }}</td>
										   		{% endif %}			
										   {% endfor %}			
										{% endfor %}
									</tr>
								{% empty %}
									<tr>
										<td colspan="10" class="text-center bg-warning spinner" id="no-codes-td">
											{% if codelist_loaded == 0 %}
											    Loading ...
											{% else %}
												No codes
											{% endif %} 											
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
							
						</div>
					</div>
					
				</div>						
						
			</div>											
					
					
					
		<!--	-------------------------------------------------------------------
				PERMISSIONS
				-------------------------------------------------------------------
		  -->
{% if user.is_authenticated  %}		
		<div class="col-sm-12 shadow-frame">
			<h3 class="paneltitle" style="margin-top:20px; margin-bottom:20px"><span id="permissions"></span><strong>Permissions</strong></h3>
			
			
<!-- 				<div class="row"> -->
<!-- 					<div  class="col-sm-3">Created by</div> -->
<!-- 					<div class="col-sm-3"> -->
<!-- 					 	{{ concept.created_by_username }} -->
<!-- 					</div> -->
<!-- 					<div  class="col-sm-2">On</div> -->
<!-- 					<div class="col-sm-4"> -->
<!-- 					 	{{ concept.created }} -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			 {% if concept.modified_by_username is not none %}				 -->
<!-- 				<div class="row"> -->
<!-- 					<div  class="col-sm-3">Modified by</div> -->
<!-- 					<div class="col-sm-3"> -->
<!-- 						{{ concept.modified_by_username }} -->
<!-- 					</div> -->
<!-- 					<div  class="col-sm-2">On</div> -->
<!-- 					<div class="col-sm-4"> -->
<!-- 					 	{{ concept.modified }} -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 		    {% endif %} -->
			
				<div id="permissions" class="row">
					<div  class="col-sm-3">Owner</div>
					<div class="col-sm-3">
						{{ concept.owner.username }}
					</div>
					<div  class="col-sm-2">Owner access</div>
					<div class="col-sm-4">								
						{% if concept.owner_access == 1 %}	
							<span>None</span>
						{% elif concept.owner_access == 2 %}
							<span>View only</span>
						{% elif concept.owner_access == 3 %}
							<span>View and edit</span>
						{% else %}
							
						{% endif %}
					</div>
				</div>
				
				<div id="permissions" class="row">
					<div  class="col-sm-3">Group</div>
					<div class="col-sm-3">
						{{ concept.group }}
					</div>
					<div  class="col-sm-2">Group access</div>
					<div class="col-sm-4">
						{% if concept.group_access == 1 %}	
							<span>No access</span>
						{% elif concept.group_access == 2 %}
							<span>View only</span>
						{% elif concept.group_access == 3 %}
							<span>View and edit</span>
						{% else %}
							
						{% endif %}
					</div>
				</div>
				
				<div id="permissions" class="row">
					<div  class="col-sm-3">Everyone else access</div>
					<div class="col-sm-9">
						{% if concept.world_access == 1 %}	
							<span>No access</span>
						{% elif concept.world_access == 2 %}
							<span>View only</span>
						{% elif concept.world_access == 3 %}
							<span>View and edit</span>
						{% else %}
							
						{% endif %}
					</div>
				</div>
						
		</div>
{% endif %}					
				
	<!--	-------------------------------------------------------------------
				api
				-------------------------------------------------------------------
		  -->
		<div class="col-sm-12 no-print shadow-frame" >
			<h3 class="paneltitle" id="API_Header" style="margin-top:20px; margin-bottom:20px;"><span id="API"></span><strong>API</strong></h3>

			<span id="api_id" concept_Id="{{ concept.id }}">
				<p>To Export Concept Details: </p>
				<table class="table table-striped table-responsive-md " style="width: 80%">
				  <tr>
					<th>Format</th>
					<th>API</th>
				  </tr>
				  <tr>
					<td>XML</td>
					<td>
					{% if user.is_authenticated  %}
					<a href="{% url 'api:api_concept_detail_version' concept.id concept.history_id %}?format=xml" target=_blank>{{ request.get_host|api_url_fix }}{% url 'api:api_concept_detail_version' concept.id concept.history_id %}?format=xml</a>
					{% else %}
					<a href="{% url 'api:api_concept_detail_version_public' concept.id concept.history_id %}?format=xml" target=_blank>{{ request.get_host|api_url_fix }}{% url 'api:api_concept_detail_version_public' concept.id concept.history_id %}?format=xml</a>
					{% endif %}
					</td>
				  </tr>
				  <tr>
					<td>JSON</td>
					<td>
					{% if user.is_authenticated  %}
					<a href="{% url 'api:api_concept_detail_version' concept.id concept.history_id %}?format=json" target=_blank>{{ request.get_host|api_url_fix }}{% url 'api:api_concept_detail_version' concept.id concept.history_id %}?format=json</a>
					{% else %}
					<a href="{% url 'api:api_concept_detail_version_public' concept.id concept.history_id %}?format=json" target=_blank>{{ request.get_host|api_url_fix }}{% url 'api:api_concept_detail_version_public' concept.id concept.history_id %}?format=json</a>
					{% endif %}
					</td>
				  </tr>
				</table>
				<p> To Export Concept Code List:</p>

					<table class="table table-striped table-responsive-md" style="width: 80%">
				  <tr>
					<th>Format</th>
					<th>API</th>
				  </tr>

					  <tr>
					<td>XML</td>
					<td>
					{% if user.is_authenticated  %}
					<a href="{% url 'api:api_export_concept_codes_byVersionID' concept.id concept.history_id %}?format=xml" target=_blank>{{ request.get_host|api_url_fix }}{% url 'api:api_export_concept_codes_byVersionID' concept.id concept.history_id %}?format=xml</a>
					{% else %}
					<a href="{% url 'api:api_export_published_concept_codes' concept.id concept.history_id %}?format=xml" target=_blank>{{ request.get_host|api_url_fix }}{% url 'api:api_export_published_concept_codes' concept.id concept.history_id %}?format=xml</a>
					{% endif %}
					</td>
				  </tr>
				  <tr>
					<td>JSON</td>
					<td>
					{% if user.is_authenticated  %}
					<a href="{% url 'api:api_export_concept_codes_byVersionID' concept.id concept.history_id %}?format=json" target=_blank>{{ request.get_host|api_url_fix }}{% url 'api:api_export_concept_codes_byVersionID' concept.id concept.history_id %}?format=json</a>
					{% else %}
					<a href="{% url 'api:api_export_published_concept_codes' concept.id concept.history_id %}?format=json" target=_blank>{{ request.get_host|api_url_fix }}{% url 'api:api_export_published_concept_codes' concept.id concept.history_id %}?format=json</a>
					{% endif %}
					</td>

				  </tr>
						<tr>
					{% if user_can_export %}
					<tr>
					<td>CSV</td>
					<td>
					<a href="{% url 'history_concept_codes_to_csv' pk=concept.id concept_history_id=concept.history_id %}"target=_blank>{{ request.get_host|api_url_fix }}{% url 'history_concept_codes_to_csv' concept.id concept.history_id %}</a>
					{% endif %}
					</tr>

				</table>			
			</span>
		</div>
				
		<!--	-------------------------------------------------------------------
				VERSION HISTORY
				-------------------------------------------------------------------
		  -->				
		<div class="col-sm-12 no-print shadow-frame" id="history-section" >
			<h3 class="paneltitle" id="ClinicalCodeHistory" style="margin-top:20px; margin-bottom:20px"><span id="conceptVersions"></span><strong>Version History</strong></h3>		
			
		
	  	  	<span id="history-section">
	  	  		{% if user.is_authenticated %}
				<div class="row">
					<div class="col-sm-1" id="help-phenotype-history-container">
						
					</div>
					<div class="col-sm-11 text-right">
						<a href="#" role="button" class="btn-popovers" id="help-concept-history" data-toggle="popover" data-trigger="hover" title="" data-original-title="" data-placement="left">
							<i class="fa fa-question-circle" aria-hidden="true"></i>
						</a>						
					</div>
				</div>	
				{% endif %}	
				<div class="pre-scrollable">		
					{% include '../concept/partial_history_list.html' %}
			    </div>	
			</span>

		</div>
						


	<!--	-------------------------------------------------------------------
			HELP POP-UP TEXTS
			-------------------------------------------------------------------
	  -->
	{% if user.is_authenticated %}	  		
	  	<div id="popover-content-help-concept-history" class="hide popover-lg">
			<p>
				Every time you make a change to a concept whether it is saving concept information or
				adding/editing/deleting components it is audited.
			</p>
			<p>
				You can view a concept from a specific point in time by clicking the View link at the required save
				point.
			</p>
			<p>
				Within the view you can revert changes and restore a concept back to a specific point in time.
			</p>
			<p>
				You can fork and create a new concept from a specific point in time.
			</p>
		</div>
	{% endif %}
		
		<div id="popover-content-help-hist-concept" class="hide popover-lg">
			<p>
				<strong>Export</strong> - Export all codes into a csv file/JSON/XML for the current concept version.
				{% if user.is_authenticated and not CLL_READ_ONLY %}
					<ul>
						<li>This will also take into account any code lists within related concepts.</li>
						<li>The exported codes will only contain inclusion code lists and exclude any code lists that have the logical type marked as exclusion(remove-codes).</li>
						<li>The button will be disabled unless you have permission to view <b>all</b> of the component concepts.</li>
					</ul>
				{% endif %}
			</p>
			
			{% if user.is_authenticated and not CLL_READ_ONLY %}
				<p>
					<strong>Edit</strong> - Edit concept.
				</p>
				
				<p>
					<strong>Fork</strong> - This will take a copy of the historic concept version and create a new concept along with the historic concept components.
				</p>
								
				<p>
					<strong>Revert</strong> - This will restore the concept back to this version.
				</p>
				
				<p>
					<strong>Publish</strong> - This will publish the chosen version of the concept to the public.
						<br>Conditions to publish: 
						<ul>
							<li>The concept is not deleted.</li>
							<li>You must be the owner.</li>
							<li>The concept contains exportable codes.</li>
							<li>You hav view access to all components of type=concept.</li>
							<li>All components of type=concept refer to concepts which are not deleted (and their dependencies).</li>
							<li>All components of type=concept refer to concepts which are published (and their dependencies).</li>
						</ul>
				</p>
				
				{% if live_ver_is_deleted is True %}
					<p>
						<strong>Restore</strong> - Restore the deleted concept as active.
					</p>
				{% endif %}
			{% endif %}
			
			<p>
				<strong>Print</strong> - Print page.
			</p>
						
		</div>
		<div id="popover-content-help-components-codelist-concept" class="hide popover-lg">
			<p>
				Components are individual rules matching a set of codes. One or more components are used to define the codes contained within a concept.
			</p>
		</div>
	</div>
</div>
{% endblock container %}


{% block scripts %}
	<script src="{% static 'js/clinicalcode/component.js' %}"></script>
	<script src="{% static 'js/clinicalcode/concept.js' %}"></script>
	<script src="{% static 'js/clinicalcode/dataService.js' %}"></script>
	
	<script type="text/javascript">
		$('#codelisttab').click(function(e) {
			if($('#codelist-tab-div').attr("codelist_loaded") === "0"){
				// get the unique codes for the concept version
				concept_id = $('#concept_id_div').attr("concept_id");
				concept_history_id =$('#concept_history_id_div').attr("concept_history_id");
				
				//$(".loader").show();
				//$('#no-codes-td').addClass('spinner');				
				//$('#no-codes-td').html('<div class="loader" ></div>');
				
				dataService.getConceptUniqueCodesByVersion(concept_id, concept_history_id, function(data){
						$('#codelist-tab-table tbody').html(data.html_uniquecodes_list);
						$('.codesAmount').text('Rows: ' + data.codes_count);

						 var table = $('#codelist-tab-table').DataTable({
                         "initComplete":function () {
                             $('#codelist-tab-table').addClass(
                                 "specific_tablist")
                         },
                             "scrollX":true,
                             "scrollY":"700px",
                             "scrollCollapse": true,
                             "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50, 100, "All"]],
                             "colReorder": true,
                             "rowReorder": true
                             //"fixedHeader": true

                    });



				});
				
				//$(".loader").hide();
				//$('#no-codes-td').removeClass('spinner');
				
				$('#codelist-tab-div').attr("codelist_loaded" , "1");
				
			}else{
			    // Generate standard type of table in code list if not login
                {% if not user.is_authenticated %}
                    var table = $('.display-table').DataTable();
                {% endif %}

            }




		});
            //if current tab is active on external user 
		    {% if codelist_tab_active %}
                var table = $('.display-table').DataTable();
            {% endif %}
		
		

		$("#printBtn").click(function () {
			//window.print();
			printPage(printCallback);
		})

		function printPage(callback) {
			// before printing hide all unnecessary elements from webpage
			$('.btn').hide();
			//$('#history-section').hide();
			$('#ConceptMenu').hide();
			$('#topButtons').hide();
			$('footer').hide();
			$('.popovers').hide();

			// Hide elements of table for printing
            {% if not user.is_authenticated %}
                var table = $('.display-table');
                table.DataTable().destroy();
                table.DataTable({
                    "searching":false,
                    "paging":false

                });
            {% endif %}

			
			{% if user.is_authenticated %}
				$('#codelist-div-container').removeClass('pre-scrollable');
			{% endif%}
			
			window.print();

			// call printCallback function which shows back hidden elements
			callback();
		}

		function printCallback() {
			// when printing is finished or cancel show all hidden elements
			//$('#history-section').show();
			$('#ConceptMenu').show();
			$('#topButtons').show();
			$('footer').show();
			$('.btn').show();
			$('.popovers').show();

			// restore the table if user not login when printing finished
			{% if not user.is_authenticated %}
                 var table = $('.display-table');
                table.DataTable().destroy();
                table.DataTable();
            {% endif %}
			
			{% if user.is_authenticated %}
				$('#codelist-div-container').addClass('pre-scrollable');
			{% endif%}

		}

	</script>

	<script type="text/javascript">	
		function showSelection(e) {
  		if (document.querySelector('#navList a.active') !== null) {
    		document.querySelector('#navList a.active').classList.remove('active');
  		}
		e.target.className = "active";
		}
	</script>
	
	<script type="text/javascript">
	 	window.onload=function(){
  			document.getElementById("Homelinkid").click();
	 	};
	</script>

{% endblock scripts %}
