{% extends "base.html" %}

{% load staticfiles %}

{% block title %}| Historical concept{% endblock title %}

{% block container %}

{% if user.is_authenticated and not is_latest_version  %}
	<h2 style="background-color:silver; padding-left:5px;"><i class="fa fa-history" aria-hidden="true"></i><i> {{ concept.name }} <br>(Historical version)</i>
{% else %}
	<h2><i class="fa fa-file-o" aria-hidden="true"></i><i> {{ concept.name }} </i>		
{% endif %}	
	{% for item in request.BRAND_GROUPS %}
		{% for brand, groups in item.iteritems %}
			{% if concept.group.name in groups %}
			<img style="margin-top:-5px;" src="{% static 'img/brands/' %}{{brand}}/logo.png" height="29px" title="{{brand}}" alt="{{brand}}" />
			{% endif %}
		{% endfor %}
	{% endfor %}
</h2>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-horizontal">
					<!--
					<div class="form-group">
						<label class="col-sm-3" for="">Name:</label>
						<div class="col-sm-9">
							{{ concept.name }}						
						</div>
					</div>
					 -->		
				  <span id="topButtons">			
					<div class="row">
						<div class="col-sm-10">
							<a href="{% url "concept_list" %}" class="btn btn-success">
								<i class="fa fa-reply" aria-hidden="true"></i> Return to list
							</a>
							
						   <div class="dropdown btn-group" > 
							  <button {% if not user_can_export %} disabled title="Component concept(s) deleted or revoked access!!" {% endif %} type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="export-btn">
							    Export
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
							  <li>
							    <a {% if user_can_export %} href="{% url 'history_concept_codes_to_csv' pk=concept.id concept_history_id=concept.history_id %}" {% endif %} 
							       class="dropdown-item" >
									<i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV
								</a>
							   </li>
							   <li>
							   {% if user.is_authenticated %}
									<a {% if user_can_export %} href="/api/export_concept_codes_byVersionID/{{ concept.id }}/version/{{ concept.history_id }}/?format=json" target=_blank {% endif %}
							   {% elif enable_publish %}
									<a {% if user_can_export %} href="/api/export_published_concept_codes/{{ concept.id }}/version/{{ concept.history_id }}/?format=json" target=_blank {% endif %}							    
							   {% endif %}
								       class="dropdown-item" >
										<i class="fa fa-file-text" aria-hidden="true"></i> JSON
									</a>
							   </li>
							   <li>
							   {% if user.is_authenticated %}
									<a {% if user_can_export %} href="/api/export_concept_codes_byVersionID/{{ concept.id }}/version/{{ concept.history_id }}/?format=xml" target=_blank {% endif %} 
							   {% elif enable_publish %}
									<a {% if user_can_export %} href="/api/export_published_concept_codes/{{ concept.id }}/version/{{ concept.history_id }}/?format=xml" target=_blank {% endif %}							    
							   {% endif %}							   
							       class="dropdown-item" >
									<i class="fa fa-file-code-o" aria-hidden="true"></i> XML
								</a>
							   </li>
							  </ul>
							</div>
							
					{% if user.is_authenticated and not CLL_READ_ONLY %}
							<a 	{% if allowed_to_create %} class="js-load-modal btn btn-primary" href="{% url 'concept_history_fork' pk=concept.id concept_history_id=concept.history_id %}"
								{% else %} class="btn btn-primary" disabled 
								{% endif %} id="fork-btn">
								<i class="fa fa-code-fork" aria-hidden="true"></i> Fork
							</a>
							<a  {% if allowed_to_create and user_can_edit and not is_latest_version %} class="js-load-modal btn btn-danger" href="{% url 'concept_history_revert' pk=concept.id concept_history_id=concept.history_id %}"
								{% else %} class="btn btn-danger" disabled   title="You don't have access to update or this is already the latest version !" 
								{% endif %} id="revert-btn" >
								<i class="fa fa-undo" aria-hidden="true"></i> Revert
							</a>
							{% if enable_publish %}
								{% if is_published %}
							    	<a class="btn btn-success" disabled title="This version is already published" >
								    	<i class="fa fa-paper-plane" aria-hidden="true"></i>							    		
								    	&nbsp;Published&nbsp;
								    	<span class="glyphicon glyphicon-ok" style="color:green"></span>
								    </a>
								{% else %}
									<a 
								    {% if not live_ver_is_deleted and not is_published %}
								    	class="js-load-modal btn btn-primary" href="{% url 'concept_publish' pk=concept.id concept_history_id=concept.history_id %}" 
									{% else %}
										class="btn btn-primary" disabled 
										{% if is_published %}
									    	title="This version is already published" 
										{% elif live_ver_is_deleted %}
											title="Deleted concepts cannot be published !!"
										{% endif %} 
									{% endif %} 
									 id="publish2" >
									<i class="fa fa-paper-plane" aria-hidden="true"></i> Publish 
								   </a>
								{% endif %}
								
							{% endif %}
							
					 {% endif %}
					 	
						 	
					
						</div>
						<div class="col-md-2 text-right">
							<a id="printBtn" class="btn btn-primary">
								<i class="fa fa-print" aria-hidden="true"></i> Print
							</a>
							<a href="#" role="button" class="btn popovers" id="help-hist-concept" data-toggle="popover" data-trigger="hover" data-container="body" title="" data-original-title="" data-placement="right">
								<i class="fa fa-question-circle" aria-hidden="true"></i>
							</a>
						</div>
					</div>
			
					<div class="alert alert-success alert-dismissable" id="success-message" style="display: none;" role="alert"></div>
					<div class="alert alert-danger alert-dismissable" id="error-message" style="display: none;" role="alert"></div>
					<hr/>	
				</span>
				
 					<div class="form-group highlight-row">
						<label class="col-sm-3">ID:</label>
						<div class="col-sm-9" id="concept_id_div" concept_id="{{ concept.id }}">
							{{ concept.id }}						
						</div>
					</div>
										
 					<div class="form-group">
						<label class="col-sm-3">Version ID:</label>
						<div class="col-sm-9" id="concept_history_id_div" concept_history_id="{{ concept.history_id }}">
							{{ concept.history_id }} 
							{% if user.is_authenticated %}
								{% if is_latest_version  %}
									&nbsp;&nbsp;
									&nbsp;&nbsp;
									<span class="tag label label-success" style='color:yellow;' >
									(latest version &nbsp;&nbsp; <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>)
									</span> 
								{% else %}		
									&nbsp;&nbsp;
									&nbsp;&nbsp;
									<span class="tag label label-default" style='color:yellow;' >
									(Historical version &nbsp;&nbsp; <span class="fa fa-history" aria-hidden="true"></span>)
									</span> 
								{% endif %}				
							{% endif %}				
						</div>
					</div>

					<div class="form-group highlight-row">
						<label class="col-sm-3">Tags:</label>
						<div class="col-sm-9">
							{% for tag in tags %}
							   <span class="tag label label-{{ tag.get_display_display }}">{{ tag.description }}</span>
							{% endfor %}						
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3" for="">Author:</label>
						<div class="col-sm-9">
							{{ concept.author }}						
						</div>
					</div>
					
					{% if not user.is_authenticated  %}
						<div class="form-group highlight-row">
							<label class="col-sm-3">Owner:</label>
							<div class="col-sm-9">
								{{ concept.owner.username }}
							</div>
						</div>
					{% endif %}	
					
					{% if user.is_authenticated  %}
						<div class="form-group highlight-row">
							<label class="col-sm-3">Entry date:</label>
							<div class="col-sm-9">
								{{ concept.entry_date }}							
							</div>
						</div>
					{% endif %}	
					
					<div class="form-group">
						<label class="col-sm-3">Description:</label>
						<div class="col-sm-9">
							{{ concept.description }}						
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-3">Coding system:</label>
						<div class="col-sm-9">
							{{ concept.coding_system_name }}
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3">Validation performed:</label>
						<div class="col-sm-9">
							<input type="checkbox" {% if concept.validation_performed %}checked="checked"{% endif %} disabled />
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-3">Validation description:</label>
						<div class="col-sm-9">
							{{ concept.validation_description }}								
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3">Primary publication DOI:</label>
						<div class="col-sm-9">
							{{ concept.publication_doi }}							
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-3">Primary publication link:</label>
						<div class="col-sm-9">
							{{ concept.publication_link }}
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3">Secondary  publication link:</label>
						<div class="col-sm-9">
							{{ concept.secondary_publication_links }}
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-3">Paper published:</label>
						<div class="col-sm-9">
							<input type="checkbox" {% if concept.paper_published %}checked="checked"{% endif %} disabled />
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3">Source reference:</label>
						<div class="col-sm-9">
							{{ concept.source_reference }}
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-3">Citation requirements:</label>
						<div class="col-sm-9">
							{{ concept.citation_requirements }}
						</div>
					</div>
					
					{% if user.is_authenticated  %}
						<div class="form-group">
							<label class="col-sm-3">Created by:</label>
							<div class="col-sm-3">
							 	{{ concept.created_by_username }}
							</div>
							<label class="col-sm-2">On:</label>
							<div class="col-sm-4">
							 	{{ concept.created }}
							</div>
						</div>
						<div class="form-group highlight-row">
							<label class="col-sm-3">Modified by:</label>
							<div class="col-sm-3">
								{{ concept.modified_by_username }}
							</div>
							<label class="col-sm-2">On:</label>
							<div class="col-sm-4">
							 	{{ concept.modified }}
							</div>
						</div>
					
						<hr />
						<div id="permissions" class="form-group">
							<label class="col-sm-3">Owner:</label>
							<div class="col-sm-3">
								{{ concept.owner.username }}
							</div>
							<label class="col-sm-2">Owner access:</label>
							<div class="col-sm-4">								
								{% if concept.owner_access == 1 %}	
									<span>None</span>
								{% elif concept.owner_access == 2 %}
									<span>View only</span>
								{% elif concept.owner_access == 3 %}
									<span>View and edit</span>
								{% else %}
									
								{% endif %}
							</div>
						</div>
						
						<div id="permissions" class="form-group highlight-row">
							<label class="col-sm-3">Group:</label>
							<div class="col-sm-3">
								{{ concept.group }}
							</div>
							<label class="col-sm-2">Group access:</label>
							<div class="col-sm-4">
								{% if concept.group_access == 1 %}	
									<span>No access</span>
								{% elif concept.group_access == 2 %}
									<span>View only</span>
								{% elif concept.group_access == 3 %}
									<span>View and edit</span>
								{% else %}
									
								{% endif %}
							</div>
						</div>
						
						<div id="permissions" class="form-group">
							<label class="col-sm-3">Everyone else access:</label>
							<div class="col-sm-9">
								{% if concept.world_access == 1 %}	
									<span>No access</span>
								{% elif concept.world_access == 2 %}
									<span>View only</span>
								{% elif concept.world_access == 3 %}
									<span>View and edit</span>
								{% else %}
									
								{% endif %}
							</div>
						</div>
						 	
					{% endif %}	
					
					<hr/>
					
					
				<ul class="nav nav-tabs tabs-up" role="tablist">
				  <li class="nav-item {{ component_tab_active }}">
				    <a href="#component-tab-div" data-toggle="tab" id="componentstab" data-target="#component-tab-div" class="media_node {{ component_tab_active }} span">
				    	<h4><i class="fa fa-cogs" aria-hidden="true"></i> Components</h4>
					</a>
				  </li>
				  <li class="nav-item {{ codelist_tab_active }}"  >
				    <a href="#codelist-tab-div" data-toggle="tab" id="codelisttab" data-target="#codelist-tab-div" class="media_node {{ codelist_tab_active }} span">
				    	<h4><i class="fa fa-barcode" aria-hidden="true"></i> Code List</h4>
				    </a>
				  </li>
				</ul>
				<div class="tab-content">
					<div id="component-tab-div" class="tab-pane {{ component_tab_active }}" >
					<br>
						<table class="table table-striped small-table table-hover" id="component-table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Version</th>
									<th>Type</th>
									<th>Logical type</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for component in components %}
									<tr>
										<td>{% if component.component_type == 1 %}({{ component.concept_ref_id }}) {% endif %}{{ component.name }}
											{% if component.component_type == 1 %}
												{% for item in request.BRAND_GROUPS %}
													{% for brand, groups in item.iteritems %}
														{% if component.group in groups %}
														<img src="{% static 'img/brands/' %}{{brand}}/logo.png" height="10px" title="{{brand}}" alt="{{brand}}" />
														{% endif %}
													{% endfor %}
												{% endfor %}
											{% endif %}
										</td>
										<td>{% if component.component_type == 1 %}
												{{ component.concept_ref_history_id }}
												{% if user.is_authenticated and component.is_published %}
													<span title="Published" ><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
												{% endif %}
											{% else %}
												 - 
											{% endif %}
										</td>
										<td>
											{% if component.component_type == 1 %}
												<span>Concept</span>
											{% elif component.component_type == 2 %}
												<span>Query Builder</span>
											{% elif component.component_type == 3 %}
												<span>Expression</span>
											{% elif component.component_type == 4 %}
												<span>Expression Select</span>
											{% endif %}
										</td>
										<td>{{ component.get_logical_type_display }}</td>
										<td class="text-right">
										<!-- Note that the data-toggle (popover) has been removed from the following
											 buttons as the codelist data is not available at this time.
										  -->
										{% if component.component_type == 1 %}
											{% if component.id in component_error_msg_view %}
							 	 				    <div class="alert-danger" role="alert" style=" display:inline-block;" >
							 	 						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							 	 						<span class="sr-only">Error:</span>
							 	 						{% for key,value in component_error_msg_view.items %}
							 	 						   {% if key == component.id %}
															 {% for v in value %}
															 	- {{ v }}<br> 
															 {% endfor %}
														   {% endif %}
														{% endfor %}
							 	 					</div>
												{% endif %}
										
											<a class="js-load-modal" href="{% url 'component_history_concept_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">
											<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
											  <i class="glyphicon glyphicon-search"> </i>
											</button>
											</a>
										{% elif component.component_type == 2 %}
											<a class="js-load-modal" href="{% url 'component_history_querybuilder_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">
											<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
												<i class="glyphicon glyphicon-search"> </i>
											</button>
											</a>
										{% elif component.component_type == 3 %}
											<a class="js-load-modal" href="{% url 'component_history_expression_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">
											<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
											  <i class="glyphicon glyphicon-search"> </i>
											</button>
											</a>
										{% elif component.component_type == 4 %}
											<a class="js-load-modal" href="{% url 'component_history_expressionselect_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">			
											<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
												<i class="glyphicon glyphicon-search"> </i>
											</button>			
											</a>
										{% endif %}
											<!-- A hidden section containing the list of codes in the component. This will
												 be shown when the user hovers over the view icon using the Bootstrap popover
												 plugin. 
											  -->
											<div id="popover-content-code-preview-{{ component.id }}" class="hide popover-lg">
													<table class="table table-striped small-table" style="margin-bottom: 0px;">
														<thead>
															<tr>
																<th>Code</th>
																<th>Description</th>
															</tr>
														</thead>
														<tbody>
														{% for code in component.codes|slice:":10" %}
															<tr>
																<td>{{ code.code }}</td>
																<td>{{ code.description }}</td>
															</tr>
														{% empty %}
															<tr>
																<td colspan="2" class="text-center bg-warning">
																	No codes
																</td>
															</tr>
														{% endfor %}
														</tbody>
													</table>
													<div>...</div>
	
											</div>									
										</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="5" class="text-center bg-warning">
											No components
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					
					<div id="codelist-tab-div" codelist_loaded="{{ codelist_loaded }}" class="tab-pane {{ codelist_tab_active }} " >
						<div class="row">
						<br>
							<div class="col-md-6">
								<span class="codesAmount label label-primary">Rows: {{ codelist|length }}</span>
							</div>
						</div>
						
						<div id="codelist-div-container" {% if user.is_authenticated %} class="pre-scrollable" {% endif %} >						
							<table class="table table-striped small-table" id="codelist-tab-table" >
								<thead>
									<tr>
										<th>Code</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
								{% for code in codelist %}
									<tr>
										<td>{{ code.code }}</td>
										<td>{{ code.description }}</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="2" class="text-center bg-warning spinner" id="no-codes-td">
											{% if codelist_loaded == 0 %}
											    Loading ...
											{% else %}
												No codes
											{% endif %} 											
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
							
						</div>
					</div>
					
				</div>
					  
					<div class="form-group">
						<div class="col-xs-offset-3 col-sm-6">
							<a href="{% url 'concept_list' %}" class="btn btn-success">
								<i class="fa fa-reply" aria-hidden="true"></i> Return to list
							</a>
						
						{% if user.is_authenticated and not CLL_READ_ONLY %}
							&nbsp;&nbsp;
							<span>
								<a {% if user_can_edit %}href="{% url 'concept_update' concept.id %}"{% endif %} class="btn btn-primary"
									{% if not user_can_edit %} disabled {% endif %} >
									<i class="fa fa-edit" aria-hidden="true"></i> Edit concept
								</a>
							</span>						 
						{% endif %}
						</div>
					</div>		
					
					
				</div>
			</div>
		</div>
		
	<!--	-------------------------------------------------------------------
			CHANGE HISTORY
			-------------------------------------------------------------------
	  -->
	  	  	<span id="history-section">
				<hr/>
				<div class="row">
					<div class="col-sm-11" id="help-concept-history-container">
						<h3><i class="fa fa-history" aria-hidden="true"></i> versions</h3>
					</div>
					<div class="col-sm-1 text-right">
						<a href="#" role="button" class="popovers" id="help-concept-history" data-container="#help-concept-history-container" data-toggle="popover" data-trigger="hover" title="" data-original-title="Change history" data-placement="left">
							<i class="fa fa-question-circle" aria-hidden="true"></i>
						</a>
					</div>
				</div>		
				<div class="pre-scrollable">		
					{% include '../concept/partial_history_list.html' %}
			    </div>	
			</span>
				
			</div>
		</div>
	<!--	-------------------------------------------------------------------
			HELP POP-UP TEXTS
			-------------------------------------------------------------------
	  -->
	  		
		<div id="popover-content-help-hist-concept" class="hide popover-lg">
			<p>
				<strong>Return to list</strong> - returns to the concept search page.
			</p>
			
			<p>
				<strong>Export</strong> - export all codes into a csv file/JSON/XML for the current concept version.
				{% if user.is_authenticated and not CLL_READ_ONLY %}
					This will also take into account any code lists within related concepts. 
					The exported codes will only contain inclusion code lists and exclude any code lists that have the logical type marked as exclusion(remove-codes).
					The button will be disabled unless you have permission to view <b>all</b> of the component concepts.
				{% endif %}
			</p>
			
			{% if user.is_authenticated and not CLL_READ_ONLY %}
				<p>
					<strong>Fork</strong> - This will take a copy of the historic concept version and create a new concept along with the historic concept components.
				</p>
				<p>
					<strong>Revert</strong> - This will restore the concept back to this version.
				</p>
				<p>
					<strong>Publish</strong> - This will publish the chosen version of the concept to the public.
						<br>Conditions to publish: 
						<ul>
							<li>The concept is not deleted.</li>
							<li>You must be the owner.</li>
							<li>The concept contains exportable codes.</li>
							<li>You hav view access to all components of type=concept.</li>
							<li>All components of type=concept refer to concepts which are not deleted (and their dependencies).</li>
							<li>All components of type=concept refer to concepts which are published (and their dependencies).</li>
						</ul>
				</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock container %}

{% block scripts %}
	<script src="{% static 'js/clinicalcode/component.js' %}"></script>
	<script src="{% static 'js/clinicalcode/concept.js' %}"></script>
	<script src="{% static 'js/clinicalcode/dataService.js' %}"></script>
	
	<script type="text/javascript">
		$('#codelisttab').click(function(e) {
			if($('#codelist-tab-div').attr("codelist_loaded") == "0"){
				// get the unique codes for the concept version
				concept_id = $('#concept_id_div').attr("concept_id");
				concept_history_id =$('#concept_history_id_div').attr("concept_history_id");
				
				//$(".loader").show();
				//$('#no-codes-td').addClass('spinner');				
				//$('#no-codes-td').html('<div class="loader" ></div>');
				
				dataService.getConceptUniqueCodesByVersion(concept_id, concept_history_id, function(data){
						$('#codelist-tab-table tbody').html(data.html_uniquecodes_list);
						$('.codesAmount').text('Rows: ' + data.codes_count);
				});
				
				//$(".loader").hide();
				//$('#no-codes-td').removeClass('spinner');
				
				$('#codelist-tab-div').attr("codelist_loaded" , "1");
				
			}

		});
		
		

		$("#printBtn").click(function () {
			//window.print();
			printPage(printCallback);
		})

		function printPage(callback) {
			// before printing hide all unnecessary elements from webpage
			$('.btn').hide();
			$('#history-section').hide();
			$('#topButtons').hide();
			$('footer').hide();
			$('.popovers').hide();
			
			{% if user.is_authenticated %}
				$('#codelist-div-container').removeClass('pre-scrollable');
			{% endif%}
			
			window.print();

			// call printCallback function which shows back hidden elements
			callback();
		}

		function printCallback() {
			// when printing is finished or cancel show all hidden elements
			$('#history-section').show();
			$('#topButtons').show();
			$('footer').show();
			$('.btn').show();
			$('.popovers').show();
			
			{% if user.is_authenticated %}
				$('#codelist-div-container').addClass('pre-scrollable');
			{% endif%}

		}


	</script>


{% endblock scripts %}
