<form method="post" action="{% url 'concept_fork' pk %}" class="form-horizontal js-fork-submit-form">
	{% csrf_token %}
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Fork concept "{{ name }}"</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12" id="fork-help-container">
				<p>Are you sure you want to fork "{{ name }}"?
				<a href="#" role="button" class="popover-lg" id="fork-help" data-container="#fork-help-container" data-toggle="popover" data-trigger="hover" title="" data-original-title="Fork help" data-placement="right">
					<i class="fa fa-question-circle" aria-hidden="true"></i>
				</a>
				</p>
			</div>
		</div>
		<div id="popover-content-fork-help" class="hide popover-lg">
			<p>This will take a copy of the current concept and create a new concept with all the relevant components copied across.</p>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">
			Fork
		</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>
</form>