{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{% if form.instance.pk is None %}
New Concept
{% else %}
Edit Concept
{% endif %}
{% endblock title %}

{% block crumbs %}
	<a class="nav-bar-title underline" href="{% url 'concept_list' %}">Concepts</a>
    > <strong>{{ form.name.value|default_if_none:""  }}</strong> 
{% endblock crumbs %}


{% block container %}

<div class="row" id="concept-button-list-container">
	<div class="col-sm-4">
		{% if form.instance.pk is None %}
			<h2><i class="fa fa-file-text-o" aria-hidden="true"></i> Create a new concept</h2>
		{% else %}
			<h2><i class="fa fa-edit" aria-hidden="true"></i> Edit concept</h2>
		{% endif %}
	</div>
	<div class="col-sm-8 text-right">
		{% if form.instance.pk %}
			<div class="dropdown btn-group">
				<button {% if not user_can_export %} disabled
					title="Component concept(s) deleted or revoked access!!" {% endif %} type="button"
					class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					Export
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a {% if user_can_export %} href="{% url 'concept_codes_to_csv' pk=object.id %}"
							{% endif %} class="dropdown-item">
							<i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV
						</a>
					</li>
					<li>
						<a {% if user_can_export %}
							href="{% url 'api:api_export_concept_codes' object.id %}?format=json" target=_blank
							{% endif %} class="dropdown-item">
							<i class="fa fa-file-text" aria-hidden="true"></i> JSON
						</a>
					</li>
					<li>
						<a {% if user_can_export %}
							href="{% url 'api:api_export_concept_codes' object.id %}?format=xml" target=_blank
							{% endif %} class="dropdown-item">
							<i class="fa fa-file-code-o" aria-hidden="true"></i> XML
						</a>
					</li>
				</ul>
			</div>
	
			<a class="js-load-modal btn btn-primary" href="{% url 'concept_fork' form.instance.pk %}">
				<i class="fa fa-code-fork" aria-hidden="true"></i> Fork
			</a>
			{% if enable_publish and not CLL_READ_ONLY %}
				<button id="publish2"  
					href="{% url 'concept_publish' pk=form.instance.pk concept_history_id=history.0.history_id %}"
					{% if is_published %}
					   class="js-load-modal btn btn-success" 	
				    	disabled title="This version is already published" >
					    	<i class="fa fa-paper-plane" aria-hidden="true"></i>							    		
					    	&nbsp;Published&nbsp;
					    	<span class="glyphicon glyphicon-ok" style="color:green"></span>
					{% else %}
						class="js-load-modal btn btn-primary"  >
						<i class="fa fa-paper-plane" aria-hidden="true"></i> Publish
					{% endif %}
				</button>
			{% endif %}

	{% endif %}
	
		{% if form.instance.pk is not None %}
			&nbsp;
			<a href="#" role="button" class="popovers" id="concept-button-list"
				data-toggle="popover" data-trigger="hover"
				data-container="#concept-button-list-container" title="" data-original-title=""
				data-placement="left">
				<i class="fa fa-question-circle" aria-hidden="true"></i>
			</a>
		{% endif %}
	</div>
</div>

<!-- This is used for the forking message. -->
<div class="alert alert-success alert-dismissable" id="success-message" style="display: none;"
	role="alert"></div>
<div class="alert alert-danger alert-dismissable" id="error-message" style="display: none;"
	role="alert"></div>
						
						
<!-- main form panel -->						
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-11" id="concept-form-container">
				<i class="help-block"><span class="required">*</span> denotes a required field</i>
			</div>
			<div class="col-sm-1 text-right">
				<a href="#" role="button" class="popovers" id="concept-form" data-container="#concept-form-container"
					data-toggle="popover" data-trigger="hover" title="" data-original-title="Concept overview"
					data-placement="left">
					<i class="fa fa-question-circle" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="row no-padding">
			<div class="col-md-12">
				<form action="" method="POST" class="form-horizontal" novalidate>
					{% csrf_token %}

					<div>
						{# include hidden fields #}
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
						<input type="hidden" name="code_attribute_header" value="{{ code_attribute_header }}" id="code_attribute_header_val">
					</div>
					<div class="form-group {% if form.name.errors %}has-error{% endif %}">
						<label for="{{ form.name.id_for_label }}"
							class="col-sm-3 required">{{ form.name.label }}</label>
						<div class="col-sm-7">
							{{ form.name }}
							{% if form.name.errors %}
							<span class="help-block">
								{% for error in form.name.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
						{% for item in request.BRAND_GROUPS %}
						{% for brand, groups in item.iteritems %}
						{% if concept.group.name in groups %}
						<img src="{% static 'img/brands/' %}{{brand}}/logo.png" height="20px" title="{{brand}}"
							alt="{{brand}}" />
						{% endif %}
						{% endfor %}
						{% endfor %}
					</div>

					<hr />

					{% if form.instance.pk is not None %}
					<div class="form-group {% if form.author.errors %}has-error{% endif %}">
						<label class="col-sm-3" for="{{ form.author.id_for_label }}">ID:</label>
						<div class="col-sm-7">
							{{ form.instance.pk }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3">Latest history ID:</label>
						<div class="col-sm-7" id="latest-history-ID-Div">
							{{ history.0.history_id }}
						</div>
						
						<input type="hidden" id="latest_history_id" name="latest_history_id"  value="{{ latest_history_id }}">
						<input type="hidden" id="overrideVersion" name="overrideVersion"  value="{{ overrideVersion|default_if_none:'0' }}">
						
					</div>
					{% endif %}

					<div class="form-group">
						<label class="col-sm-3" for="txtTags">Tags:</label>
						<div class="col-sm-7" id="concept-tag-form-container">
							<input type="text" id="txtTags" class="form-control" name="tagids" data-role="tagsinput" />
						</div>
						<div class="col-sm-1 form-help-popover">
							<a href="#" role="button" class="btn popovers" id="concept-tag-form" data-toggle="popover"
								data-trigger="hover" data-container="#concept-tag-form-container" title=""
								data-original-title="Tags" data-placement="left">
								<i class="fa fa-question-circle" aria-hidden="true"></i>
							</a>
						</div>
					</div>



					<div class="form-group {% if form.author.errors %}has-error{% endif %}">
						<label class="required col-sm-3"
							for="{{ form.author.id_for_label }}">{{ form.author.label }}</label>
						<div class="col-sm-7">
							{{ form.author }}
							{% if form.author.errors %}
							<span class="help-block">
								{% for error in form.author.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
					</div>

					<div class="form-group {% if form.entry_date.errors %}has-error{% endif %}">
						<label class="required col-sm-3"
							for="{{ form.entry_date.id_for_label }}">{{ form.entry_date.label }}</label>
						<div class="col-sm-3">
							<div class="input-group date" data-date-format="dd.mm.yyyy">
								{{ form.entry_date }}
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-th"></span>
								</div>
							</div>

							{% if form.entry_date.errors %}
							<span class="help-block">
								{% for error in form.entry_date.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
					</div>

					<div class="form-group {% if form.description.errors %}has-error{% endif %}">
						<label class="required col-sm-3"
							for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
						<div class="col-sm-7">
							{{ form.description }}
							{% if form.description.errors %}
							<span class="help-block">
								{% for error in form.description.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
					</div>

					<div class="form-group {% if form.coding_system.errors %}has-error{% endif %}">
						<label class="required col-sm-3"
							for="{{ form.coding_system.id_for_label }}">{{ form.coding_system.label }}</label>
						<div class="col-sm-7" id="concept-coding-system-form-container">
							{{ form.coding_system }}
							{% if form.coding_system.errors %}
							<span class="help-block">
								{% for error in form.coding_system.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
							{% if form.instance.pk is not None %}
							<span class="alert-warning" id="coding_system_note"></span>
							{% endif %}
						</div>
						<div class="col-sm-1 form-help-popover">
							<a href="#" role="button" class="btn popovers" id="concept-coding-system-form"
								data-toggle="popover" data-trigger="hover"
								data-container="#concept-coding-system-form-container" title=""
								data-original-title="Coding system" data-placement="left">
								<i class="fa fa-question-circle" aria-hidden="true"></i>
							</a>

						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3" for="">Created by:</label>
						<div class="col-sm-7">
							<p class="form-control-static">
								{% if form.instance.pk is None %}
								{{ user.username }}
								{% else %}
								{{ form.instance.created_by.username }}
								{% endif %}
							</p>
						</div>
					</div>

					{% if form.instance.pk is not None %}
					<div class="form-group">
						<label class="col-sm-3" for="">Modified by:</label>
						<div class="col-sm-7">
							<p class="form-control-static">{{ form.instance.modified_by.username}}</p>
						</div>
					</div>
					{% endif %}

					<div class="form-group {% if form.validation_performed.errors %}has-error{% endif %}">
						<label class="col-sm-3"
							for="{{ form.validation_performed.id_for_label }}">{{ form.validation_performed.label }}</label>
						<div class="col-sm-7">
							{{ form.validation_performed }}
							{% if form.validation_performed.errors %}
							<span class="help-block">
								{% for error in form.validation_performed.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
					</div>

					<div class="form-group {% if form.validation_description.errors %}has-error{% endif %}">
						<label class="col-sm-3"
							for="{{ form.validation_description.id_for_label }}">{{ form.validation_description.label }}</label>
						<div class="col-sm-7">
							{{ form.validation_description }}
							{% if form.validation_description.errors %}
							<span class="help-block">
								{% for error in form.validation_description.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
					</div>

					<div class="form-group {% if form.publication_doi.errors %}has-error{% endif %}">
						<label class="col-sm-3"
							for="{{ form.publication_doi.id_for_label }}">{{ form.publication_doi.label }}</label>
						<div class="col-sm-7">
							{{ form.publication_doi }}
							{% if form.publication_doi.errors %}
							<span class="help-block">
								{% for error in form.publication_doi.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
					</div>

					<div class="form-group {% if form.publication_link.errors %}has-error{% endif %}">
						<label class="col-sm-3"
							for="{{ form.publication_link.id_for_label }}">{{ form.publication_link.label }}</label>
						<div class="col-sm-7">
							{{ form.publication_link }}
							{% if form.publication_link.errors %}
							<span class="help-block">
								{% for error in form.publication_link.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
					</div>

					<div class="form-group {% if form.secondary_publication_links.errors %}has-error{% endif %}">
						<label class="col-sm-3"
							for="{{ form.secondary_publication_links.id_for_label }}">{{ form.secondary_publication_links.label }}</label>
						<div class="col-sm-7">
							{{ form.secondary_publication_links }}
							{% if form.secondary_publication_links.errors %}
							<span class="help-block">
								{% for error in form.secondary_publication_links.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
					</div>

					<div class="form-group {% if form.paper_published.errors %}has-error{% endif %}">
						<label class="col-sm-3"
							for="{{ form.paper_published.id_for_label }}">{{ form.paper_published.label }}</label>
						<div class="col-sm-7">
							{{ form.paper_published }}
							{% if form.paper_published.errors %}
							<span class="help-block">
								{% for error in form.paper_published.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
					</div>

					<div class="form-group {% if form.source_reference.errors %}has-error{% endif %}">
						<label class="col-sm-3"
							for="{{ form.source_reference.id_for_label }}">{{ form.source_reference.label }}</label>
						<div class="col-sm-7">
							{{ form.source_reference }}
							{% if form.source_reference.errors %}
							<span class="help-block">
								{% for error in form.source_reference.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
					</div>

					<div class="form-group {% if form.citation_requirements.errors %}has-error{% endif %}">
						<label class="col-sm-3"
							for="{{ form.citation_requirements.id_for_label }}">{{ form.citation_requirements.label }}</label>
						<div class="col-sm-7">
							{{ form.citation_requirements }}
							{% if form.citation_requirements.errors %}
							<span class="help-block">
								{% for error in form.citation_requirements.errors %}{{ error }}{% endfor %}
							</span>
							{% endif %}
						</div>
					</div>

					<hr />
					<fieldset {% if not allowed_to_permit and form.instance.pk is not None%}disabled{% endif %}>
						<!-- div class="form-group">
						<label class="col-sm-3" for="">Owned by:</label>
						<div class="col-sm-7">
							<p class="form-control-static">{{ form.instance.owner.username}}</p>
						</div>
					</div-->

						<!-- Allow the user to select a user from the list of known users. -->
						<div class="form-group {% if form.owner.errors %}has-error{% endif %}">
							<label class="required col-sm-3"
								for="{{ form.owner.id_for_label }}">{{ form.owner.label }}</label>
							<div class="col-sm-7" id="concept-owner-form-container">
								{{ form.owner }}
								{% if form.owner.errors %}
								<span class="help-block">
									{% for error in form.owner.errors %}{{ error }}{% endfor %}
								</span>
								{% endif %}
								{% if form.instance.pk is not None %}
								<span class="alert-warning" id="owner_note"></span>
								{% endif %}
							</div>
							<div class="col-sm-1 form-help-popover">
								<a href="#" role="button" class="btn popovers" id="concept-owned-form"
									data-toggle="popover" data-trigger="hover"
									data-container="#concept-owner-form-container" title=""
									data-original-title="{{ form.owner.label }}" data-placement="left">
									<i class="fa fa-question-circle" aria-hidden="true"></i>
								</a>
							</div>
							<div id="popover-content-concept-group-form" class="hide popover-lg">
								<p>This field defines which group has permission to modify access to the concept if
									group
									permissions are selected. You can only select a group in which you are a member.
								</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3" for="{{ form.group.id_for_label }}">{{ form.group.label }}</label>
							<div class="col-sm-7" id="concept-group-form-container">
								{{ form.group }}
								{% if form.instance.pk is not None %}
								<span class="alert-warning" id="group_note"></span>
								{% endif %}
							</div>
							<div class="col-sm-1 form-help-popover">
								<a href="#" role="button" class="btn popovers" id="concept-group-form"
									data-toggle="popover" data-trigger="hover"
									data-container="#concept-group-form-container" title=""
									data-original-title="{{ form.group.label }}" data-placement="left">
									<i class="fa fa-question-circle" aria-hidden="true"></i>
								</a>
							</div>
							<div id="popover-content-concept-owned-form" class="hide popover-lg">
								<p>This field defines the user who has permission to modify access to the concept.
									Please be aware that you will not be able to modify this if you give ownership to
									someone else and do not have editing permission.
								</p>
							</div>
						</div>
						<div id="permissions" class="form-group">
							<label class="col-sm-3">{{ form.owner_access.label }}</label>
							<div class="col-sm-7">
								<table>
									<tr>
										{% for choice in form.owner_access %}
										<td class="col-sm-2">
											<div class="radio">
												<label>
													{{ choice.tag }}
													{{ choice.choice_label }}
												</label>
											</div>
										</td>
										{% endfor %}
									</tr>
								</table>
							</div>
						</div>

						<div id="permissions" class="form-group">
							<label class="col-sm-3">{{ form.group_access.label }}</label>
							<div class="col-sm-7">
								<table>
									<tr>
										{% for choice in form.group_access %}
										<td class="col-sm-2">
											<div class="radio">
												<label>
													{{ choice.tag }}
													{{ choice.choice_label }}
													{% if choice.choice_label.strip == "View" or choice.choice_label.strip == "Edit" %}
													{% if form.instance.pk is not None %}
													<span class="alert-warning" id="group_access_note"></span>
													{% endif %}
													{% endif %}
												</label>
											</div>
										</td>
										{% endfor %}
									</tr>
								</table>
							</div>
						</div>

						<div id="permissions" class="form-group">
							<label class="col-sm-3">{{ form.world_access.label }}</label>
							<div class="col-sm-7">
								<table>
									<tr>
										{% for choice in form.world_access %}
										<td class="col-sm-2">
											<div class="radio">
												<label>
													{{ choice.tag }}
													{{ choice.choice_label }}
												</label>
											</div>
										</td>
										{% endfor %}
										<td class="col-sm-2">
											<div>&nbsp;</div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</fieldset>

					<!--	-------------------------------------------------------------------
				CONCEPT COMPONENT TABLE
			-------------------------------------------------------------------
	  -->
					<hr />
					{% if form.instance.pk is None %}
					<div id="concept-components" class="form-group">
						<h3 class="col-sm-3" style="margin:0px;"><i class="fa fa-cogs" aria-hidden="true"></i>
							Components</h3>
						<div class="col-sm-7">
							<div class="alert alert-danger" role="alert">
								<span>Initial concept details must be saved before adding components</span>
							</div>
						</div>
					</div>
					{% else %}
					<div id="concept-components" class="form-group">
						<h3 class="col-sm-3" style="margin:0px;"><i class="fa fa-cogs" aria-hidden="true"></i>
							Components</h3>
						<div class="col-sm-8" id="concept-component-form-container">
							{% with pk=form.instance.pk %}
								{% include './add_menu_items.html' %}
							{% endwith %}
						</div>
						<div class="col-sm-1 text-right">
							<a href="#" role="button" class="popovers" id="concept-component-form"
								data-container="#concept-component-form-container" data-toggle="popover"
								data-trigger="hover" title="" data-original-title="Component overview"
								data-placement="left">
								<i class="fa fa-question-circle" aria-hidden="true"></i>
							</a>
						</div>
					</div>

					<div class="w-50 p-3 bs-example" style="width:60%;">
						<div class="alert-info fade in" style="height:20px;">
							New added concept components will refer to the latest version unless published version is selected.
						</div>
					</div>

					<table class="table table-striped small-table table-hover" id="component-table" border=0>
						<thead>
							<tr>
								<th>Name</th>
								<th>Version</th>
								<th>Type</th>
								<th>Logical type</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% include '../component/partial_component_list.html' %}
						</tbody>
					</table>
					
					{% endif %}

					<hr />
					{% if form.errors %}
					<div id="form-error" class="alert alert-danger col-sm-offset-3 col-sm-9">
						<p>The operation could not be performed because one or more error(s) occurred.<br />
							Please resubmit the form after making the following changes:</p>
						<ul>
							{% for field,error in form.errors.items %}
							<li>{{field}} - {{ error|striptags }}</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% if form.non_field_errors %}
					<div class="alert alert-danger">{{ form.non_field_errors|join:"<br />" }}</div>
					{% endif %}

					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<button class="btn btn-primary" id="save-changes">
								<i class="fa fa-save" aria-hidden="true"></i> Save Concept
							</button>
							<a href="{% url 'concept_list' %}" class="btn btn-success">
								<i class="fa fa-reply" aria-hidden="true"></i> Return to list
							</a>
						</div>
					</div>
				</form>
				<!--	-------------------------------------------------------------------
			CHANGE HISTORY
			-------------------------------------------------------------------
	  -->
				<hr />
				<div class="row">
					<div class="col-sm-11" id="help-concept-history-container">
						<h3><i class="fa fa-history" aria-hidden="true"></i> versions</h3>
					</div>
					<div class="col-sm-1 text-right">
						<a href="#" role="button" class="popovers" id="help-concept-history"
							data-container="#help-concept-history-container" data-toggle="popover" data-trigger="hover"
							title="" data-original-title="Change history" data-placement="left">
							<i class="fa fa-question-circle" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="pre-scrollable">
					{% include '../concept/partial_history_list.html' %}
				</div>
			</div>
		</div>
		<!--	-------------------------------------------------------------------
			HELP POP-UP TEXTS
			!!! Some of these should possibly be included.
			-------------------------------------------------------------------
	  -->
		<div id="popover-content-concept-form" class="hide popover-lg">
			<p>
				The basic entity in this system is a "concept", a group of clinical codes that defines a single
				meaningful event, condition, etc. within the data.
			</p>
			<p>
				Each concept is made up of one or more components. There are several types of components. A component
				can be simply a list of clinical codes. It can also be defined as a regex that matches a certain set of
				codes (for example, a regex could match a certain range of ICD10 chapters). Another concept can also be
				a component. This allows defining a broad concept that is made up of several more specific concepts (for
				example, a concept for heart disease could consist of concepts for coronary artery disease, heart
				attack, cardiomyopathy...).
			</p>
			<p>
				Components can be defined as inclusion(add-codes) or exclusion(remove-codes). This decides whether to include or exclude a set of
				codes within the concept. Excluded codes will take precedence over the same code being included in
				another component.
			</p>
			<p>
				You specify the coding system to use at the Concept level. For example you can query ICD10 or Read codes
				based on the coding system selected.
			</p>
			<img src="{% static 'img/code-list-library-erd.png' %}" width="600px" alt="Entity relationship diagram" />
		</div>

		<div id="popover-content-concept-button-list" class="hide popover-lg" >
<!-- 			<p> -->
<!-- 				<strong>Return to list</strong> - returns to the concept search page. -->
<!-- 			</p> -->
			{% if form.instance.pk is not None %}
				<p>
					<strong>Export</strong> - export all codes into a csv file/JSON/XML for the current concept. 
					<ul>
						<li>This will also take into account any code lists within related concepts.</li>
						<li>The exported codes will only contain inclusion code lists and exclude any code lists that have the logical type marked as exclusion(remove-codes).</li>
						<li>The button will be disabled unless you have permission to view <b>all</b> of the component concepts.</li>
					</ul>
				</p>
				<p>
					<strong>Fork</strong> - This will take a copy of the current concept and create a new concept with all
					the relevant components.
				</p>
				<p>
					<strong>Publish</strong> - This will publish the chosen version of the concept to the public.
						<br>Conditions to publish: 
						<ul>
							<li>The concept is not deleted.</li>
							<li>You must be the owner.</li>
							<li>The concept contains exportable codes.</li>
							<li>You hav view access to all components of type=concept.</li>
							<li>All components of type=concept refer to concepts which are not deleted (and their dependencies).</li>
							<li>All components of type=concept refer to concepts which are published (and their dependencies).</li>
						</ul>
				</p>

			{% endif %}
		</div>

		<div id="popover-content-concept-component-form" class="hide popover-lg">
			<p>
				Each concept is made up of one or more components. The different components are explained below:
			</p>
			<ul>
				<li>
					You can select codes individually using a simple query or regular expression. This will query either
					the code or description field. 
					<!-- span>For this component you can also manually add code and descriptions to a code list by clicking the + button in the component list.</span -->
				</li>
				<li>Match codes or descriptions with a simple query or regular expression.</li>
				<li>A component can contain a list of clinical codes created by using the SQL query builder.</li>
				<li>It can also be defined as a regular expression (regex) that matches a certain set of codes (for
					example, a regex could match a certain range of ICD10 chapters).</li>
				<li>Another concept can also be a component. This allows defining a broad concept that is made up of
					several more specific concepts (for example, a concept for heart disease could consist of concepts
					for coronary artery disease, heart attack, cardiomyopathy...).</li>
			</ul>

			<p>
				Components can be defined as inclusion(add-codes) or exclusion(remove-codes) components and this will determine if codes within a
				component will appear when querying this concept using the api or when downloading the concept csv to
				access the codes for a specific concept.
			</p>
		</div>

		<div id="popover-content-help-concept-history" class="hide popover-lg">
			<p>
				Every time you make a change to a concept whether it is saving concept information or
				adding/editing/deleting components it is audited.
			</p>
			<p>
				You can view a concept from a specific point in time by clicking the View link at the required save
				point.
			</p>
			<p>
				Within the view you can revert changes and restore a concept back to a specific point in time.
			</p>
			<p>
				You can fork and create a new concept from a specific point in time.
			</p>
		</div>

		<div id="popover-content-concept-tag-form" class="hide popover-lg">
			<p>Tags are added within the administration section. Once a tag has been stored then you can assign it here
				so that you can search this concept based on tag name(s). Simply start typing the tag name you are
				looking for and it will appear within a dropdown just beneath the textbox.</p>
		</div>

		<div id="popover-content-concept-coding-system-form" class="hide popover-lg">
			<p>This field identifies the coding system to use when querying codes for a code list or code regex
				component. For example you can query ICD10 or Read codes depending on the coding system selected.
			</p>
		</div>
	</div>
</div>
{% endblock container %}

{% block scripts %}
<script src="{% static 'js/clinicalcode/component.js' %}"></script>
<script src="{% static 'js/clinicalcode/concept.js' %}"></script>
<script src="{% static 'js/clinicalcode/tags.js' %}"></script>

<script type="text/javascript">
	// call the tag service initialize function in tags.js
	tagService.initialize();

	$(function () {
		{% for tag in tags %}
			$('#txtTags').tagsinput('add', { 'id': {{ tag.id }}, 'description': '{{ tag.description }}', 'display': '{{ tag.get_display_display }}'});
		{% endfor %}		
	});

</script>



{% if form.instance.pk is not None %}
<script type="text/javascript">
	$(function () {
		var saved_coding_system = $('#id_coding_system').find("option:selected").val();
		//alert(saved_coding_system);
		$('#id_coding_system').on('change', function (e) {
			$('#coding_system_note').html('Please make sure you are specifying the correct Coding System since it shouldn\'t be changed.');

			if (this.value == saved_coding_system && saved_coding_system != '') { $('#coding_system_note').html(''); }

		});
	});
</script>
{% endif %}

{% if form.instance.pk is not None %}
<script type="text/javascript">
	// Enable the permitted group selection if any of the group items is selected.
	$(function () {
		var saved_shared_permission = $('input[name="shared"]:checked').val();
		//alert(saved_shared_permission);
		$('input[name="shared"]').on('change', function (e) {
			$('#shared_group_note').html('Please make sure you have selected the required group above.');

			if (this.value != '3') { $('#shared_group_note').html(''); }

		});
	});
	$(function () {
		var saved_group_permission = $('input[name="group_access"]:checked').val();
		//alert(saved_group_permission);
		$('input[name="group_access"]').on('change', function (e) {
			$('#group_access_note').html('Please make sure you have selected the required group above.');

			if (this.value != '2' && this.value != '3') { $('#group_access_note').html(''); }

		});
	});

	//---------------------------------------------------------------------------------------------------------------------
	$(function () {
        chk_overrideVersion();

	 	// alert user when concurrent editing of ws
		function chk_overrideVersion(){
		   overrideVersion = $("#overrideVersion").val();
		 //alert('overrideVersion='+overrideVersion);
		 
		   if (overrideVersion == '-1'){   
			   ret = false;
			   ret = confirm("This concept has an updated version,\n Do you want to continue and override it?!\n To override click OK and 'Save' again.");
			   if(ret){
				   $("#overrideVersion").val('1');
			   }else{
				   $("#overrideVersion").val('0');
			   }
		   }
	 	}

	});
   //----------------------------------------------------------------------------------------------------------------------

</script>
{% endif %}


{% endblock scripts %}