<div>
	 <select class="form-control" id="ver-sel-{{ indx }}">
		{% for version in versions %}
		    <option value="{{ version.history_id }}" 
			    {% if version.history_id == chosen_concept_history_id %}	
				  selected 
				{% endif %}		    
		    >
		    {{ version.id }}/{{ version.history_id }} - (
		    {% if version.history_id == latest_version %}	
				Latest: 
			{% endif %}		    
            {{ version.published }} )
		     - {{ version.name }}, author: {{ version.author }}
<!-- 		 - {{ version.history_date|date:"Y-m-d H:i" }} -->
		    </option>
		{% empty %}
		    <option value="0">
		    no versions
		    </option>
		{% endfor %}
	</select>
</div>