{% load staticfiles %}

<div class="row">
	<div class="col-sm-2 hideleft-navbar" id="FilterMenu"
	 	 style="padding-top: 20px; position: sticky; position: -webkit-sticky; top: 60px;"
	 >
		
		
	<div class="panel panel-default" style="border: 0px;" >
		<form id="filter_form" action="{% url 'concept_list' %}" method="POST"  >
			{% csrf_token %}
			<div class="panel-footer text-left"><strong>Collections</strong></div>
			
			<div class="filter-content">
				<div class="panel-body" style="padding: 0;" id="filter_by_collection">
			
					<div style="display:none;">
						<input type="hidden" name="search" id="search_filter" value="{{ search|default_if_none:'' }}">	
						<input type="hidden" name="tagids" id="tagids"  value="{{ tag_ids|default_if_none:'' }}">
						<input type="hidden" name="search_form" id="collection_search_form"  value="{{ search_form }}">
									
						<button  name="page" value="1">
							<i class="fa fa-search"></i>
						</button>
					</div>
	
					<div class="checkbox">
					  <label>
					    <input type="checkbox" class="collection_tag" id="checkAll" name="collection_id" value="-1" {% if -1 in tag_ids_list  %} checked {% endif %}  > All
					  </label>
					</div>
					<hr  style="padding: 0; margin: 0;">
					<!-- collections tags -->
					{% for tag in allTags %}
						{% if tag.tag_type == 2 %}
							<div class="checkbox">
								<label>
								<input class="form-check-input collection_tag" type="checkbox" name="collection_id" value="{{ tag.id }}" 
								 {% if tag.id in tag_ids_list  %} checked {% endif %}  
								>  
								<span class="form-check-label">
									{{ tag.description }}
								<!--  <span class="tag label label-{{ tag.get_display_display }}">{{ tag.description }}</span>	 -->
								</span>
								</label>
							</div> 
						{% endif %}												
					{% endfor %}	
						
				</div> <!-- card-body.// -->
			</div>
				
	<!-- 			  <div class="panel-footer">....</div> -->			
		</form>
	</div> <!-- card.// -->
		
	

	</div>
			
	<div class="col-sm-10" id="result-div">
		
<!-- ******************** -->
		
<div class="page-control-container">
	{% include 'pagination.html' with form_target=search_form %}	
	
</div>

{% block content %}
	{% for concept in page_obj.object_list %}  
			<div class="cl-card {% if concept.is_deleted is True %} cl-card-deleted {% endif %} {% cycle ' dark-div ' '' %}   ">
				<div class="row form-group">
					<div class="col-sm-8">
						{% if user.is_authenticated and concept.is_published != 1 %}
							<a class="" href="{% url 'concept_detail' concept.id %}">
						{% else %}
							<a class="" href="{% url 'concept_history_detail' concept.id concept.history_id %}">
						{% endif %}
							<span style='font-size: 22px;margin-top:0;'>C{{ concept.id }} - {{ concept.name }}</span> 
							</a>
				
					</div>
					<div class="col-sm-4 text-right">
						<!-- brands -->
						{% for item in request.BRAND_GROUPS %}
							{% for brand, groups in item.iteritems %}
								{% if concept.group_name in groups %}
								<span >&nbsp;&nbsp;&nbsp;</span>
								<span class="text-right">	
									<img src="{% static 'img/brands/' %}{{brand}}/logo.png" style="text-align: right;height:25px;" title="{{brand}}" alt="{{brand}}" />
								</span>
								{% endif %}
							{% endfor %}
						{% endfor %}
						
						{% if concept.is_deleted is not True and concept.can_edit %}
							<span>&nbsp;&nbsp;</span>
							<a  class="btn btn-outline-primary btn-cl btn-cl-secondary" href="{% url 'concept_update' concept.id %}" title="Edit concept">
								Edit
							</a> 
						{% endif %}
						
					</div>					
				</div>
				
				<div class="row form-group">
					<div class="col-sm-12">
						<span {%if concept.author|length > 120 %}title="{{ concept.author }}" {% endif %} >{{ concept.author|truncatechars:120 }}</span>
					</div>
				</div>				
				
				<div class="row form-group">
					<div class="col-sm-2">
						<!-- CodingSystems -->
				   		<span class="badge">{{ concept.coding_system_name }}</span>
					</div>
					<div class="col-sm-2">
						{% if user.is_authenticated %}
							<i>{{ concept.modified|date:"Y-m-d" }}</i>
						{% else %}	
							<i>{{ concept.publish_date|date:"Y-m-d" }}</i>
						{% endif %}	
					</div>		
					<div class="col-sm-8 text-right">
						{% if user.is_authenticated and concept.is_published == 1 %}
<!-- 							<span title="{{ concept.published }} on {{ concept.publish_date|date:"Y-m-d" }}" style="text-align: right;" ><i class="fa fa-paper-plane" aria-hidden="true"></i></span> -->
						{% endif %}	
					</div>	
				</div>				

			{% if concept.tags %}
				<div class="row form-group">
					<div class="col-sm-12">
						<!-- tags -->
						{% for tag in allTags %}
							{% for tag_id in concept.tags %}
								{% if tag.id == tag_id %}
							   		<span class="tag label label-{{ tag.get_display_display }}">{{ tag.description }}</span>
							   	{% endif %}
							{% endfor %}						
						{% endfor %}			
					
					</div>	
				</div>						
			{% endif %}
			  	
	</div>				  
	<br> 
	{% empty %}
		<div class="row form-group">
			<div class="col-sm-12 text-center bg-warning">
				No concepts
			</div>	
		</div>				
			
	{% endfor %}
{% endblock %}


<div class="page-control-container">
	{% include 'pagination.html' with form_target=search_form %}	
</div>


<!-- ******************** -->

	</div>
</div>

