{% extends "base.html" %}

{% load static %}

{% load cl_extras %}

{% block title %}| Search Concepts{% endblock title %}
{% block description %}Search Concepts{% endblock description %}
{% block keywords %}Search Concepts{% endblock keywords %}	

{% block container_fluid %}

<div class="bg-search">
	<div class="container" >

	 <div id="basic-search" class="bg-search">
		 <form class="container_frm container-1 example" id="basic-form" action="{% url 'concept_list' %}" method="GET"  >
			 <div  class="row form-group">
				 <div>
					 <h2>Concepts</h2>
					 <div class="form-input-flex-container">
						 <!-- Basic form queries -->
						 <input type="text" placeholder="Search Concepts" name="search" id="search1" value="{{ search|default_if_none:'' }}">
						 <input type="hidden" name="tagids" id="tagids" value="{{ tag_ids|default_if_none:'' }}">
						 <input type="hidden" name="codingids" id="codingids"  value="{{ codingids|default_if_none:'' }}">
						 <input type="hidden" name="page" id="page"  value="{{ page|default_if_none:1 }}">
						 <input type="hidden" name="search_form" id="collection_search_form1"  class="collection_search_form"  value="{{ search_form }}">
						 <input type="hidden" name="startdate" id="startdate" value="{{ filter_start_date }}" />
						 <input type="hidden" name="enddate" id="enddate" value="{{ filter_end_date }}" />
						 <input type="hidden" name="order_by" id="order_by" value="{{ ordered_by }}" />
						 <input type="hidden" name="page_size" id="page_size" value="{{ page_size }}" />

						 <!-- Reimplemented 'Advanced' queries -->
						 <input class="form-control" type="hidden" name="owner" id="txtOwner" value="{{ owner|default_if_none:'' }}">
						 <input class="form-control" type="hidden" name="author" id="txtAuthor" value="{{ author|default_if_none:'' }}">
						 <input id="show_deleted_concepts_hidden" type="hidden" name="show_deleted_concepts" value="{{ show_deleted_concepts }}" >
						 <input id="show_my_concepts_hidden" type="hidden" name="show_my_concepts" value="{{ show_my_concepts }}" >
						 <input id="show_only_validated_concepts_hidden" type="hidden" name="show_only_validated_concepts" value="{{ show_only_validated_concepts }}" >
						 <input id="must_have_published_versions_hidden" type="hidden" name="must_have_published_versions" value="{{ must_have_published_versions }}" >
						 
						 <!-- Search button -->
						 <button classXX="btn btn-info btn-paginate" name="search_button" value="1" id="search_btn">
							 <i class="fa fa-search"></i>
						 </button>
					 </div>
				 </div>
			 </div>
		 </form>
	 </div>
 </div>	
</div>	
{% endblock container_fluid %}

{% block container %}
		
<div class="row">
{% if user.is_authenticated %}		
	<div class="col col-xs-8 btn_group">
	{% if not CLL_READ_ONLY %}
		{% if request.CURRENT_BRAND != 'HDRUK' %}
			<a class="btn btn-primary" {% if allowed_to_create %} href="{% url 'concept_create' %}" {% else %} disabled {% endif %}>
				Add new concept
			</a>
		{% endif %}
	{% endif %}
	
		<a class="btn btn-outline-primary btn-cl btn-cl-secondary"  href="{% url 'choose_concepts_to_compare' %}" >
			Compare concepts
		</a>   			
	</div>
{% endif %}
	{% if user.is_authenticated %}	
	<div class="col col-xs-4 text-right filter_modal_button">
	{% else %}
	<div class="col col-xs-12 text-right filter_modal_button">
	{% endif %}
		<a href="#" class="btn btn-outline-primary btn-cl btn-cl-secondary" data-toggle="modal" data-target="#filter-modal" id="filter_modal_btn">
			<i class="fa fa-sort" style="padding: 2px;"></i>
			Filters
		</a>
	</div>
</div>
	
<br/>

{% include './index-cards.html' %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filter-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Filters</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<div class="toast_holder"></div>

{% endblock container %}

{% block scripts %}
	<script src="{% static 'js/clinicalcode/component.js' %}"></script>
	<!-- <script src="{% static 'js/clinicalcode/tags.js' %}"></script> -->
	<script src="{% static 'js/clinicalcode/FuzzyQuery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/daterangepicker/daterangepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/daterangepicker/moment.min.js' %}"></script>
	<link href="{% static 'lib/daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
	
	<script type="text/javascript">
		var imgPath = '&nbsp; <img height="29px" src="{% static 'img/brands/' %}BRANDT1/logo.png"  title="BRANDT1" alt="BRANDT1" /> ';
		$('#concept_brand').on('change', function(e){
			if(this.value==''){
				 $('#concept_brand_img').html('');
			 } else {
				 $('#concept_brand_img').html(imgPath.replace(/BRANDT1/ig, this.value ) );
			 }
		});
	</script>
	
	<script type="text/javascript">
		$('#reset-form').click(function() {
			 
			$("input[id^='search']").val('');		
			$('#page_size').val('20');
						
			$('#txtTags').tagsinput('removeAll');
			
			$('#txtAuthor').val('');
			
			
			$('#concept_brand').val('');
			$('#concept_brand_img').html('');
						
			{% if user.is_authenticated %}
				$('#show_deleted_concepts').prop("checked", false);
				$('#show_deleted_concepts_hidden').val("0");
				
				$('#show_my_concepts').prop("checked", false);	
				$('#show_my_concepts_hidden').val("0");
				
				$('#must_have_published_versions').prop("checked", false);
				$('#must_have_published_versions_hidden').val("0");
				
				$('#txtOwner').val('');
			{% endif %}						
			
			$('#show_only_validated_concepts').prop("checked", false);
			$('#show_only_validated_concepts_hidden').val("0");
			
		});		
	</script>
	
	<script>
		// Import references
		var all_coding = [];
		{% for tag in coding_system_reference %}
			tg = {"name": "{{ tag.description }}", "id": {{ tag.id }}};
			all_coding.push(tg);
		{% endfor %}

		var all_tag_ref = [];
		{% for tag, tagid in brand_associated_tags.items %}
			tg = {"name": "{{ tag }}", "id": {{ tagid }}};
			all_tag_ref.push(tg);
		{% endfor %}

		var all_collections = [];
		{% for tag in brand_associated_collections %}
			tg = {"name": "{{ tag.description }}", "id": {{ tag.id }}};
			all_collections.push(tg);
		{% endfor %}
		
		var all_tags = [];
		{% for tag in allTags %}
			tg = {"id": {{ tag.id }}, "description": "{{ tag.description }}", "display": "{{ tag.get_display_display }}", "name": "{{ tag.description }}"};
			all_tags.push(tg);
		{% endfor %}

		var coding_names = all_coding.map(e => e.name),
				collection_names = all_collections.map(e => e.name),
				tag_names = all_tag_ref.map(e => e.name);
		
		var brand_associated_collections_ids = {{ brand_associated_collections_ids|safe }};
    var brand_associated_tags_ids = {{ brand_associated_tags_ids|safe }};
    var coding_system_reference_ids = {{ coding_system_reference_ids|safe }};
	</script>

	<script src="{% static 'js/clinicalcode/filterService.js' %}" 
		req-scripts="{% static 'js/clinicalcode/FuzzyQuery.js' %},{% static 'js/lib/daterangepicker/daterangepicker.js' %},{% static 'js/lib/daterangepicker/moment.min.js' %}"
		req-styles="{% static 'lib/daterangepicker/daterangepicker.css' %}"
		env="CONCEPT"
	></script>
	
	
	{% endblock scripts %}

