{% extends "base.html" %}

{% load static %}

{% load cl_extras %}

{% block title %}| Search Concepts{% endblock title %}
{% block description %}Search Concepts{% endblock description %}
{% block keywords %}Search Concepts{% endblock keywords %}	

{% block container_fluid %}

<div class="bg-search">
	<div class="container" >

	 <div id="basic-search" class="bg-search" {% if search_form == 'advanced-form' %} style="display:none;" {% endif %} >
		 <form class="container_frm container-1 example" id="basic-form" action="{% url 'concept_list' %}" method="GET"  >
			 <div  class="row form-group">
				 <div>
					 <h2>Concepts</h2>
					 <div class="form-input-flex-container">
						 <!-- Basic form queries -->
						 <input type="text" placeholder="Search Concepts" name="search" id="search1" value="{{ search|default_if_none:'' }}">
						 <input type="hidden" name="tagids" id="tagids" value="{{ tag_ids|default_if_none:'' }}">
						 <input type="hidden" name="codingids" id="codingids"  value="{{ codingids|default_if_none:'' }}">
						 <input type="hidden" name="page" id="page"  value="{{ page|default_if_none:1 }}">
						 <input type="hidden" name="search_form" id="collection_search_form1"  class="collection_search_form"  value="{{ search_form }}">
						 <input type="hidden" name="startdate" id="startdate" value="{{ filter_start_date }}" />
						 <input type="hidden" name="enddate" id="enddate" value="{{ filter_end_date }}" />
						 <input type="hidden" name="order_by" id="order_by" value="{{ ordered_by }}" />
						 <input type="hidden" name="page_size" id="page_size" value="{{ page_size }}" />

						 <!-- Reimplemented 'Advanced' queries -->
						 <input class="form-control" type="hidden" name="owner" id="txtOwner" value="{{ owner|default_if_none:'' }}">
						 <input class="form-control" type="hidden" name="author" id="txtAuthor" value="{{ author|default_if_none:'' }}">
						 <input id="show_deleted_concepts_hidden" type="hidden" name="show_deleted_concepts" value="{{ show_deleted_concepts }}" >
						 <input id="show_my_concepts_hidden" type="hidden" name="show_my_concepts" value="{{ show_my_concepts }}" >
						 <input id="show_only_validated_concepts_hidden" type="hidden" name="show_only_validated_concepts" value="{{ show_only_validated_concepts }}" >
						 <input id="must_have_published_versions_hidden" type="hidden" name="must_have_published_versions" value="{{ must_have_published_versions }}" >
						 
						 <!-- Search button -->
						 <button classXX="btn btn-info btn-paginate" name="search_button" value="1" id="search_btn">
							 <i class="fa fa-search"></i>
						 </button>
					 </div>

				 </div>
			 </div>
			 <div class="row form-group">
				 <div >
					 <a  id="show-advanced-search" href="javascript:void(null);" >Advanced search</a>
				 </div>
			 </div>
		 </form>
		 <br/>
	 </div>


	 <div id="advanced-search" {% if search_form == 'basic-form' %} style="display:none;" {% endif %} >
		 <h2 class="page-header">Concepts</h2>
		 <form id="advanced-form" action="{% url 'concept_list' %}" method="GET" >
			 <div class="panel panel-default bg-search">
				 <div class="panel-body container-2">
				 
					 <div class="row form-group">
						 <div class="col-md-2">
							 <label for="search">Search: <i class="help-block-no-break" style="font-size: 10px;">(concept name)</i></label>
						 </div>
						 <div class="col-sm-6">
							 <input class="form-control" type="text" placeholder="Search Concepts" name="search" id="search" value="{{ search|default_if_none:'' }}">
						 </div>
						 <div class="col-md-2">
							 <label for="page_size">Results per page:</label>
						 </div>
						 <div class="col-md-2"> 
							 <select class="form-control" id="page_size" name="page_size">
								 <option value="20" {% if page_size == "20" %}selected="selected" {% endif %}>20</option>
								 <option value="50" {% if page_size == "50" %}selected="selected" {% endif %}>50</option>
								 <option value="100" {% if page_size == "100" %}selected="selected" {% endif %}>100</option>
							 </select>
							 
							 <input type="hidden" name="search_form" id="collection_search_form"  class="collection_search_form"  value="{{ search_form }}"> 
							 
						 </div>
					 </div>
					 <!-- <div class="row form-group">
						 <div class="col-sm-2">
							 <label for="tag">Tag/Collection:</label>
						 </div>
						 <div class="col-sm-10">
							 <input class="form-control" type="text" name="tagids" id="txtTags" data-role="tagsinput" value="{{ tag|default_if_none:'' }}">
						 </div>					
					 </div>
		-->
					 <div class="row form-group">
						 <div class="col-sm-2">
							 <label for="author">Author: <i class="help-block-no-break" style="font-size: 10px;">(free text)</i></label>
						 </div>
						 <div class="col-sm-6">
							 <input class="form-control" type="text" name="author" id="txtAuthor" data-role="authorinput" value="{{ author|default_if_none:'' }}">
						 </div>	
					 
					 {% if user.is_authenticated %}
						 <div class="col-md-2">
							 <label for="owner">Owner: <i class="help-block-no-break" style="font-size: 10px;">(full user name)</i></label>
						 </div>
						 <div class="col-md-2"> 
							 <input class="form-control" type="text" name="owner" id="txtOwner" data-role="ownerinput" value="{{ owner|default_if_none:'' }}">
						 </div>	
					 {% endif %}			
					 </div>	
									 
<!-- 						<div class="row form-group"> -->
<!-- 							<div class="col-md-2"> -->
<!-- 								<label for="brand">Brand:</label> -->
<!-- 							</div> -->
<!-- 							<div class="col-md-10">  -->
<!-- 							   {% if request.session.all_brands %} -->
<!-- 								   <ul class="nav navbar-nav"> -->
<!-- 									     <select class="form-control" name="concept_brand" id="concept_brand"  >   -->
<!-- 										    <option value=""  style='background-color: lightgreen;' >Any</option> -->
<!-- 											{% for brand in request.session.all_brands %} -->
<!-- 												<option value="{{ brand|upper }}"  -->
<!-- 												       {% if brand|upper == concept_brand|upper %} selected="selected" {% endif %} -->
<!-- 												       > -->
<!-- 													{{ brand|upper }} -->
<!-- 													{% if brand|upper in request.session.user_brands %} (*) {% endif %} -->
<!-- 											</option> -->
<!-- 											{% empty %} -->
<!-- 												<option value="-1" >No Brands !!!</option> -->
<!-- 											{% endfor %} -->
<!-- 										  </select> -->
<!-- 									</ul> -->
<!-- 								{% endif %} -->
<!-- 								<span id="concept_brand_img"> -->
<!-- 								{% if concept_brand|length %}  -->
<!-- 									&nbsp; <img height="29px" src="{% static 'img/brands/' %}{{concept_brand|upper}}/logo.png" title="{{concept_brand|upper}}" alt="{{concept_brand|upper}}" />  -->
<!-- 								{% endif %} -->
<!-- 								</span> -->
<!-- 							</div>			 -->
	 
<!-- 						</div>				 -->
					 
	 
				 <div class="row form-group">
					 {% if user.is_authenticated %}
						 <div class="col-md-3">
							 <div class="checkbox"  >
								 <label>
									 <input id="show_deleted_concepts_hidden" type="hidden" name="show_deleted_concepts"  value="{{ show_deleted_concepts }}" >
									 <input class="form-checkbox" id="show_deleted_concepts" type="checkbox" nameXX="show_deleted_concepts"  {% if show_deleted_concepts == "1" %} checked="checked" {% endif %} value="1" >
									 Show deleted concepts
								 </label>
							 </div>
						 </div>
						 
						 <div class="col-md-3">
							 <div class="checkbox"  >
								 <label>
									 <input id="show_my_concepts_hidden" type="hidden" name="show_my_concepts"  value="{{ show_my_concepts }}" >
									 <input class="form-checkbox" id="show_my_concepts" type="checkbox" nameXX="show_my_concepts" {% if show_my_concepts == "1" %} checked="checked" {% endif %} value="1" >
									 Only show concepts owned by me
								 </label>
							 </div>
						 </div>										
					 {% endif %}						
						 
						 <div 	class = "col-md-3">   
							 <div class="checkbox"  >
								 <label>
									 <input id="show_only_validated_concepts_hidden" type="hidden" name="show_only_validated_concepts"  value="{{ show_only_validated_concepts }}" >
									 <input class="form-checkbox" id="show_only_validated_concepts" type="checkbox" nameXX="show_only_validated_concepts" {% if show_only_validated_concepts == "1" %} checked="checked" {% endif %} value="1" >
									 Only Show validated concepts
								 </label>
							 </div>
						 </div>					
	 
					 {% if user.is_authenticated %}
						 <div  class = "col-md-3">
							 <div class="checkbox"  >
								 <label>
									 <input id="must_have_published_versions_hidden" type="hidden" name="must_have_published_versions" value="{{ must_have_published_versions }}" >
									 <input class="form-checkbox" id="must_have_published_versions" type="checkbox" nameXX="must_have_published_versions" {% if must_have_published_versions == "1" %} checked="checked" {% endif %} value="1" >
									 Only show concepts with published version
								 </label>
							 </div>
						 </div>		
					 {% endif %}						
						 
				 </div>
								 
				 <div class="row form-group">
						 <div class="col-md-2 ">
							 <a  id="show-basic-search" href="javascript:void(null);" >Basic search</a>
						 </div>	
						 <div class="col-md-10 text-right">				
							 <a class="btn btn-info" name="reset-form" id="reset-form" >
								 <i class="glyphicon glyphicon-repeat"></i> Reset							
							 </a>
							 
							 <button class="btn btn-primary" name="page" value="1">
								 <i class="fa fa-search"></i> Search Concepts
							 </button>
						 </div>
						 
				 </div>		
					 
						 
				 </div>
			 </div>
		 </form>			
	 </div>	


 </div>	
</div>	
{% endblock container_fluid %}

{% block container %}
		
{% if user.is_authenticated %}		
	<div class="row">
		<div class="col col-xs-8 btn_group">
		{% if not CLL_READ_ONLY %}
			{% if request.CURRENT_BRAND != 'HDRUK' %}
				<a class="btn btn-primary" {% if allowed_to_create %} href="{% url 'concept_create' %}" {% else %} disabled {% endif %}>
					Add new concept
				</a>
			{% endif %}
		{% endif %}
		
			<a class="btn btn-outline-primary btn-cl btn-cl-secondary"  href="{% url 'choose_concepts_to_compare' %}" >
				Compare concepts
			</a>   			
		</div>
		<div class="col col-xs-4 text-right filter_modal_button">
			<a href="#" class="btn btn-outline-primary btn-cl btn-cl-secondary" data-toggle="modal" data-target="#filter-modal" id="filter_modal_btn">
				<i class="fa fa-sort" style="padding: 2px;"></i>
				Filters
			</a>
		</div>
	</div>
{% endif %}	
	
<br/>

{% include './index-cards.html' %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filter-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Filters</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<div class="toast_holder"></div>

{% endblock container %}

{% block scripts %}
	<script src="{% static 'js/clinicalcode/component.js' %}"></script>
	<script src="{% static 'js/clinicalcode/tags.js' %}"></script>
	<script src="{% static 'js/clinicalcode/FuzzyQuery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/daterangepicker/daterangepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/daterangepicker/moment.min.js' %}"></script>
	<link href="{% static 'lib/daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
	
	<script type="text/javascript">
		// tagService.initialize();
		
		// $(function(){
		// 	{% for tag in tags %}
		// 		$('#txtTags').tagsinput('add', {'id': {{ tag.id }}, 'description': '{{ tag.description }}', 'display': '{{ tag.get_display_display }}'});
		// 	{% endfor %}
		// });
		//--------------------------------

		var imgPath = '&nbsp; <img height="29px" src="{% static 'img/brands/' %}BRANDT1/logo.png"  title="BRANDT1" alt="BRANDT1" /> ';
		$('#concept_brand').on('change', function(e){
			if(this.value==''){
				 $('#concept_brand_img').html('');
			 } else {
				 $('#concept_brand_img').html(imgPath.replace(/BRANDT1/ig, this.value ) );
			 }
		});

	</script>
	
	<script type="text/javascript">
		$('#reset-form').click(function() {
			 
			$("input[id^='search']").val('');		
			$('#page_size').val('20');
						
			$('#txtTags').tagsinput('removeAll');
			
			$('#txtAuthor').val('');
			
			
			$('#concept_brand').val('');
			$('#concept_brand_img').html('');
						
			{% if user.is_authenticated %}
				$('#show_deleted_concepts').prop("checked", false);
				$('#show_deleted_concepts_hidden').val("0");
				
				$('#show_my_concepts').prop("checked", false);	
				$('#show_my_concepts_hidden').val("0");
				
				$('#must_have_published_versions').prop("checked", false);
				$('#must_have_published_versions_hidden').val("0");
				
				$('#txtOwner').val('');
			{% endif %}						
			
			$('#show_only_validated_concepts').prop("checked", false);
			$('#show_only_validated_concepts_hidden').val("0");
			
		});
		
		
		{% if search_form == 'advanced-form' %}
			$("#basic-search").hide();
		{% else %}
			$("#advanced-search").hide();
		{% endif %}
			
		$(document).ready(function() {
			$("#show-advanced-search").click(function(){
				  $("#advanced-search").toggle();
				  $("#basic-search").toggle();
				  $(".collection_search_form").val('advanced-form');
			});
			
			$("#show-basic-search").click(function(){
				  $("#advanced-search").toggle();
				  $("#basic-search").toggle();
				  $(".collection_search_form").val('basic-form');				  
			});
		});		
		
	</script>
	
	<script type="text/javascript">
		/* utils */
		var isSubset = (arr1, arr2) => {
			return arr1.every(i => arr2.includes(i));
		}

		var generateUUID = () => {
			return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
				(c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
			);
		}

		/* Toast notifications */
		var notifications = []
		var pushToastNotification = (style, desc) => {
			for (var i = 0; i < notifications.length; i++) {
				var $notifcation = $(notifications[i]);
				$notifcation.css('bottom', ((i + 1) * 90 - (i * 30)).toString() + 'px');
			}

			var uuid = generateUUID();
			var $toast = $('<div class="filter_toast push" type=' + style + ' style="bottom: 30px" name=' + uuid + '><span id="icon"></span><div id="desc">' + desc + '</div></div>');
			$('.toast_holder').append($toast);
			notifications.push($toast[0]);

			setTimeout(function () {
				var prev = notifications.length;
				notifications = notifications.filter((item) => {
					return $(item).attr('name') !== uuid;
				});

				for (var i = 0; i < notifications.length; i++) {
					var $notifcation = $(notifications[i]);
					$notifcation.css('bottom', ((i + 1) * 30 + (i * 30)).toString() + 'px');
				}

				$toast.remove();
			}, 6400);
		}

		/* Typeahead */
		var TypeaheadSearchbar = (input, query, typingDelay = 500) => {
			var namespace = '.' + generateUUID();

			var $input = $(input);
			var runQuery = () => {
				query($input, $input.val());
			}

			var timer;
			$input.bind('keyup' + namespace, (e) => {
				clearTimeout(timer);
				if (e.keyCode == 13) {
					e.preventDefault();
					runQuery();
				} else {
					timer = setTimeout(runQuery, typingDelay)
				}
			});

			$input.bind('keydown' + namespace, (e) => {
				clearTimeout(timer);
			});

			return {
				object: $input,
				namespace: namespace.replace('.', ''),
				unbind: () => {
					$input.unbind('keyup' + namespace);
					$input.unbind('keydown' + namespace);
				}
			}
		}

		/* Filters */
		$(document).ready(() => {
			// Predef
			var DISPLAY_QUERIES = ['show_deleted_concepts', 'show_my_concepts', 'show_only_validated_concepts', 'must_have_published_versions'];
			var RESULT_QUERIES = ['20', '50', '100'];
			var TEXT_QUERIES = ['search1', 'author_text', 'owner_text'];

			// Import reference
			var all_coding = [];
			{% for tag in coding_system_reference %}
				tg = {"name": "{{ tag.description }}", "id": {{ tag.id }}};
				all_coding.push(tg);
			{% endfor %}

			var all_tag_ref = [];
			{% for tag, tagid in brand_associated_tags.items %}
				tg = {"name": "{{ tag }}", "id": {{ tagid }}};
				all_tag_ref.push(tg);
			{% endfor %}

			var all_collections = [];
			{% for tag in brand_associated_collections %}
				tg = {"name": "{{ tag.description }}", "id": {{ tag.id }}};
				all_collections.push(tg);
			{% endfor %}
			
			var all_tags = [];
			{% for tag in allTags %}
				tg = {"id": {{ tag.id }}, "description": "{{ tag.description }}", "display": "{{ tag.get_display_display }}", "name": "{{ tag.description }}"};
				all_tags.push(tg);
			{% endfor %}

			var coding_names = all_coding.map(e => e.name),
					collection_names = all_collections.map(e => e.name),
					tag_names = all_tag_ref.map(e => e.name);

			// Defs for within filter search
			var filter_searchbars = {
				tags: {
					name: 'tags',
					searchbar: '#tag_searchbar',
					haystack: tag_names,
					reference: all_tag_ref
				},
				collections: {
					name: 'collection',
					searchbar: '#collection_searchbar',
					haystack: collection_names,
					reference: all_collections
				},
				coding: {
					name: 'coding',
					searchbar: '#coding_searchbar',
					haystack: coding_names,
					reference: all_coding
				},
			};

			// Date defs for datepicker
			var base_start_date = moment('2018/01/01').startOf('day');
			var dateTime = moment();
			var dateValue = moment({
				year: dateTime.year(),
				month: dateTime.month(),
				day: dateTime.date()
			}).startOf('day');

			var dateRanges = {
				'All': [moment(base_start_date), moment(dateValue)],
				'Last Week': [moment(dateValue).subtract(6, 'days'), moment(dateValue)],
				'Last Month': [moment(dateValue).startOf('month'), moment(dateValue)],
				'Last 6 Months': [moment(dateValue).subtract(6, 'month').startOf('month'), moment(dateValue)],
				'Last Year': [moment(dateValue).subtract(1, 'year').add(1,'day'), moment(dateValue)],
			}

			var isBaseDateRange = (params) => {
				if (params['startdate'] === null && params['enddate'] === null) {
					return true;
				}

				var startdate = params['startdate'];
				var enddate = params['enddate'];
				return (startdate == base_start_date.format('YYYY-MM-DD') && enddate == dateValue.format('YYYY-MM-DD'));
			}
			
			// Parse current parameters from URL
			var order_by = ''
			var currentPage = 1;
			var searchString = null;
			var selected_codes = [];
			var selected_collections = [];
			var start = moment(base_start_date);
			var end = moment(dateValue);
			var rangeName = 'Custom Range';

			var fetchFilterParameters = (location) => {
				var params = new URL(location == undefined ? window.location.href : location);
				params.searchParams.forEach(function (value, key) {
					switch (key) {
						case "tagids":
							selected_collections = value.split(',');
							break;
						case "codingids":
							selected_codes = value.split(',');
							break;
						case "startdate":
							start = moment(value, 'YYYY-MM-DD');
							break;
						case "enddate":
							end = moment(value, 'YYYY-MM-DD');
							break;
						case "page":
							currentPage = parseInt(value);
							break;
						case "search":
							searchString = value;
							break;
						case "range":
							rangeName = value;
							break;
						case "order_by":
							order_by = order_by;
							break;
						default:
							break;
					}

					// Filter null cases
					selected_collections.filter(e => e !== '');
					selected_codes.filter(e => e !== '');

					// Set current input
					$("#basic-form input[name=" + key + "]").val(value);
				});

				$.each(DISPLAY_QUERIES, (_, key) => {
					if (params.searchParams.get(key) == null) {
						$("#basic-form input[id=" + key + "]").val('0');
						$("#" + key + "_hidden").val('0');
						$("#" + key + ".form-checkbox").prop('checked', null);
					}
				});
				
				if (params.searchParams.get('page_size') == null || !RESULT_QUERIES.includes(params.searchParams.get('page_size'))) {
					var $results = $('.number_filter li').first().text();
					$('#filter_number_option span').text($results);
					$("#basic-form input[id=page_size]").val($results);
				}

				if (params.searchParams.get('order_by') == null) {
					var $order = $('.order_filter li').first().text();
					$('#filter_order_option span').text($order);
					$("#basic-form input[id=order_by]").val($order);
					order_by = $order;
				}

				if (params.searchParams.get('search') == null) {
					searchString = null;
					$("#basic-form input[name=search]").val('');
				}

				if (params.searchParams.get('page') == null) {
					currentPage = 1;
					$("#basic-form input[id=page]").val('1');
				}

				if (params.searchParams.get('owner') == null) {
					$("#basic-form input[name=owner]").val('');
					$('#owner_text').val('');
				}

				if (params.searchParams.get('author') == null) {
					$("#basic-form input[name=author]").val('');
					$('#author_text').val('');
				}

				if (params.searchParams.get('codingids') == null) {
					selected_codes = [];
					$("#basic-form input[id=codingids]").val('');
					$(".filter_option.coding").prop('checked', false);
				}

				if (params.searchParams.get('tagids') == null) {
					selected_collections = [];
					$("#basic-form input[id=tagids]").val('');
					$(".filter_option.collection").prop('checked', false);
					$(".filter_option.tags").prop('checked', false);
				}

				if (params.searchParams.get('startdate') == null || params.searchParams.get('enddate') == null) {
					start = moment(base_start_date);
					end = moment(dateValue);
					$("#basic-form input[id=startdate]").val(start.format('YYYY-MM-DD'));
					$("#basic-form input[id=enddate]").val(end.format('YYYY-MM-DD'));
				}

				var isDefault = true;
				for (var range in dateRanges) {
					if (start.format('YYYY-MM-DD') == dateRanges[range][0].format('YYYY-MM-DD') && end.format('YYYY-MM-DD') == dateRanges[range][1].format('YYYY-MM-DD')) {
						rangeName = range;
						isDefault = false;
						break;
					}
				}

				var $picker = $('#filter_date').data('daterangepicker');
				if ($picker !== undefined) {
					$picker.startDate = start;
					$picker.endDate = end;
					$picker.calculateChosenLabel();

					if (rangeName == 'Custom Range') {
						$('#filter_date span').html(start.format('DD MMM YY') + ' - ' + end.format('DD MMM YY'));
					} else {
						$('#filter_date span').html(rangeName);
					}
				}
			}

			fetchFilterParameters();

			// Handle scroll to top
			$(document).on('click', '#scroll_up', (e) => {
				e.preventDefault();
				window.scrollTo({ top: 0, behavior: 'smooth' });
			});

			// Handle collapsible state of filter options
			$('.collapse').each(function (i, obj) {
				var anchor = $(document).find('a[href^="#' + this.id + '"]')[0];
				if (typeof anchor !== 'undefined') {
					var icons = $(anchor).find('.morphing_caret')[0];
					if (typeof icons !== 'undefined') {
						// Toggle animation
						$(obj).on('show.bs.collapse', function () {
							$(icons).toggleClass('closed');
						});
						$(obj).on('hide.bs.collapse', function () {
							$(icons).toggleClass('closed');
						});
					}
				}
			});

			// Loading icon on ajax timeout after 0.5s
			var loadingTimeout;
			$(document).on({
				ajaxStart: function () {
					loadingTimeout = setTimeout(function () {
						$('#loading_res_spinner').removeClass('hidden');
						$('#result-div').html('');
					}, 500);
				},
				ajaxStop: function () {
					if ($('#loading_res_spinner').hasClass('hidden')) {
						$('#loading_res_spinner').addClass('hidden');
					}
					clearTimeout(loadingTimeout);
				}
			});

			// Handle ajax req. for updating concept results
			var cancellablePromise = promise => {
				var rejected;
				var wrapped = new Promise((resolve, reject) => {
					rejected = reject;
					Promise.resolve(promise).then(resolve).catch(reject);
				});

				wrapped.cancel = () => {
					// Cancel loading animation state
					if ($('#loading_res_spinner').hasClass('hidden')) {
						$('#loading_res_spinner').addClass('hidden');
					}
					clearTimeout(loadingTimeout);

					// Pass cancellation
					rejected({canceled: true});
				}

				return wrapped;
			}

			var currentQuery;
			var getFilterResults = (target, values) => {
				if (currentQuery) {
					currentQuery.cancel();
				}

				var getResults = new Promise((resolve, reject) => {
					$.ajax({
						url: '',
						type: 'GET',
						data: Object.assign({}, {'filtermethod': target}, values),
						dataType: 'html',
						success: function (data) {
							if (data) {
								resolve(data);
							} else {
								reject({no_response: true});
							}
						},
						error: function (err) {
							reject(err);
						}
					});
				})

				currentQuery = cancellablePromise(getResults);
				return currentQuery;
			}
			
			$('#basic-form').on('submit', function (e, method) {
				e.preventDefault();

				if (typeof method == 'undefined' || typeof method.element == 'undefined')
					return;
				
				var values = { };
				if (method.element == 'search') {
					$("#basic-form input[id=page]").val(1);
				}
				
				$('#basic-form :input').each(function() {
					if (this.name != 'search_button') {
						if (this.name == 'search') {
							var searchQuery;
							if (method.element == 'search') {
								searchQuery = $(this).val();
							} else {
								searchQuery = searchString;
							}

							if (typeof searchQuery !== 'undefined' && searchQuery !== null) {
								values[this.name] = searchQuery;
								searchString = searchQuery;
							}
						} else {
							values[this.name] = $(this).val();
						}
					}
				});
				
				getFilterResults($(e.target)[0].id, values)
					.then((data) => {
						// Update results
						$('#result-div').html(data);

						// Update result counter
						$('#result_count').text($('#result-div #paginator_count').text() + ' Record(s)');

						// Update URL parameters --> Only update url parameter if url is defined & if parameter is not the base value
						var url = new URL(window.location.href);
						$.each(values, function (key, value) {
							var is_defined = (typeof value !== 'undefined' && value !== '' && value !== '-1' && value !== '0' && value !== 'basic-form');
							var is_not_base = (
								!(key == 'page' && value == '1')
									&& !(key == 'order_by' && value == $('.order_filter li').first().text())
									&& !((key == 'startdate' || key == 'enddate') && isBaseDateRange(values))
									&& !(key == 'page_size' && (value == $('.number_filter li').first().text() || !RESULT_QUERIES.includes(value)))
							);
							
							if (is_defined && is_not_base) {
								url.searchParams.set(key, value);
							} else {
								url.searchParams.delete(key);
							}
						});

						// Apply history to window if page, search query or date is changed, otherwise replace state to avoid unnecessary window hx upd
						if (method.element == 'page' || method.element == 'search' || method.element == 'date') {
							window.history.pushState({}, document.title, '?' + url.searchParams);
						} else {
							window.history.replaceState({}, document.title, '?' + url.searchParams);
						}
					})
					.catch((error) => {
						console.log(error);

						pushToastNotification('error', 'An error has occurred when filtering results.');
					})
					.finally(() => {
						fetchFilterParameters();
					})
			});

			// Handle pop & push states
			$(window).bind('popstate', (e) => {
				location.reload();
			});

			// Handle filter buttons
			$('#refresh_filters').on('click', (e) => {
				$("#basic-form").trigger('submit', [{'element': 'refresh'}]);
			});

			$('#clear_filters').on('click', (e) => {
				var url = location.protocol + '//' + location.host + location.pathname;
				fetchFilterParameters(url);
				$("#basic-form").trigger('submit', [{'element': 'search'}]);
			});

			// Handle results per page
			$(document).on('click', '.number_filter a', (e) => {
				e.preventDefault();

				var $results = $(e.target).text();
				$('#filter_number_option span').text($results);
				$("#basic-form input[id=page_size]").val($results);
				$("#basic-form").trigger('submit', [{'element': 'page_size'}]);
			});

			// Handle ordering
			$(document).on('click', '.order_filter a', (e) => {
				e.preventDefault();

				var $order = $(e.target).text();
				order_by = $order;

				$('#filter_order_option span').text($order);
				$("#basic-form input[id=order_by]").val($order);
				$("#basic-form").trigger('submit', [{'element': 'order'}]);
			});

			// Date range filter option & initialising current selection
			var initialisedDate = false;
			var setDateRange = (start, end, period) => {
				switch (period) {
					case "Custom Range": {
						$('#filter_date span').html(start.format('DD MMM YY') + ' - ' + end.format('DD MMM YY'));
						break;
					}
					default: {
						$('#filter_date span').html(period);
						break;
					}
				}

				if (initialisedDate) {
					$("#basic-form input[id=page]").val(1);
					$("#basic-form input[id=startdate]").val(start.format('YYYY-MM-DD'));
					$("#basic-form input[id=enddate]").val(end.format('YYYY-MM-DD'));
					$("#basic-form").trigger('submit', [{'element': 'date'}]);
				} else {
					initialisedDate = true;
				}

				rangeName = period;
			}

			setDateRange(start, end, rangeName);

			$('#filter_date').daterangepicker({
				startDate: start,
				endDate: end,
				drops: 'auto',
				showDropdowns: true,
				maxYear: dateValue.year(),
				ranges: dateRanges,
			}, setDateRange);

			// Override search bar and authorship options, incl. any assoc. buttons
			$.each(['author_text', 'owner_text'], (i, selector) => {
				$('#' + selector).focusout((e) => {
					var $target = $(e.target);
					var $name = $target.attr('name');
					switch ($name) {
						case "author":
							$("#basic-form input[name=author]").val($target.val());
							break;
						case "owner":
							$("#basic-form input[name=owner]").val($target.val());
							break;
						default:
							break;
					}
					
					$("#basic-form").trigger('submit', [{'element': $name}]);
				});
			});
			
			$(document).on('keypress', function (e) {
				if (e.keyCode == 13) {
					e.preventDefault();

					var $target = $(e.target)
					var $name = $target.attr('name');
					if (!TEXT_QUERIES.includes($target.attr('id'))) {
						return;
					}

					switch ($name) {
						case "author":
							$("#basic-form input[name=author]").val($target.val());
							break;
						case "owner":
							$("#basic-form input[name=owner]").val($target.val());
							break;
						default:
							break;
					}

					$("#basic-form").trigger('submit', [{'element': $name}]);
				}
			});

			$('#search_btn').on('click', function (e) {
				e.preventDefault();
				
				$("#basic-form").trigger('submit', [{'element': 'search'}]);
			});

			// Reroute pagination to ajax submission form
			$(document).on('click', '.btn-paginate', function (e) {
				e.preventDefault();

				var dest = parseInt($(this).attr('value')) || {{ page_obj.number }};
				$("#basic-form input[id=page]").val(dest);
				$("#basic-form").trigger('submit', [{'element': $(this).attr('name')}]);
				window.scrollTo({ top: 0 });
			});

			// Initialise searchbars for collection, tag & coding
			$.each(filter_searchbars, (key, group) => {
				TypeaheadSearchbar(group.searchbar, ($input, query) => {
					var $tags = $('#filter_by_' + group.name + ' .' + group.name);
					var $holder = $tags.first().parent().parent().parent();
					var $children = $holder.children('li');

					if (query === '') {
						// Show all, with checked appearing at top of list (else alphabetical order)
						$holder.find('#filter_no_result').first().addClass('hide');

						$tags.each((key, element) => {
							$(element).parent().parent().removeClass('hide');
						});

						$children.detach().sort(function (a, b) {
							var v1 = $(a).find('input').first();
							var v2 = $(b).find('input').first();
							if (v1.prop('checked') && !v2.prop('checked')) {
								return -1;
							} else if (v2.prop('checked') && !v1.prop('checked')) {
								return 1;
							} else {
								var n1 = $(a).find('.form-check-label').first().text().trim().toLocaleLowerCase();
								var n2 = $(b).find('.form-check-label').first().text().trim().toLocaleLowerCase();
								if (n1 < n2) {
									return -1;
								} else if (n1 > n2) {
									return 1;
								}
							}

							return 0;
						});
						$holder.append($children);
					} else {
						var results = FuzzyQuery.Search(group.haystack, query, FuzzyQuery.Results.SORT, FuzzyQuery.Transformers.IgnoreCase);
						if (results.length <= 0) {
							// Display 'no results' banner
							$holder.find('#filter_no_result').first().removeClass('hide');
						} else {
							$holder.find('#filter_no_result').first().addClass('hide');
						}

						// Display results in order of proximity
						var selected = { };
						results.map((e, i) => {
							var item = group.reference.find(x => x.name.toLocaleLowerCase() === e.item.toLocaleLowerCase());
							if (item !== undefined && item !== null) {
								selected[item.id] = e.score;
							}
						});

						$tags.each((key, element) => {
							var $element = $(element);
							var value = $element.val();
							if (selected[value] !== undefined) {
								$element.parent().parent().removeClass('hide');
							} else {
								$element.parent().parent().addClass('hide');
							}
						});

						$children.detach().sort(function (a, b) {
							if ($(a).hasClass('hide') && $(b).hasClass('hide')) {
								return 0;
							} else if ($(a).hasClass('hide')) {
								return 1;
							} else if ($(b).hasClass('hide')) {
								return -1;
							}
							
							var v1 = $(a).find('input').first().val();
							var v2 = $(b).find('input').first().val();
							var s1 = selected[v1];
							var s2 = selected[v2];
							if (s1 < s2) {
								return -1;
							}
							if (s1 > s2) {
								return 1;
							}

							return 0;
						});
						$holder.append($children);
					}
				}, 300);
			});

			// Handles filtering options for collection, tag & coding
			$(".filter_option").change(function() {
				if($(this).prop('id') == 'checkAll_collection'){
					$(".filter_option.collection").prop('checked', $(this).prop('checked'));
				}else if($(this).prop('id') == 'checkAll_coding'){
					$(".filter_option.coding").prop('checked', $(this).prop('checked'));
				}else if($(this).prop('id') == 'checkAll_tags'){
					$(".filter_option.tags").prop('checked', $(this).prop('checked'));
				}else{				
					if($(this).prop('name') == 'collection_id'){
						if(!$(this).prop('checked')){
							if($("#checkAll_collection").prop('checked')){
								$("#checkAll_collection").prop('checked', false);
							}
						}
					}else if($(this).prop('name') == 'tag_id'){
						if(!$(this).prop('checked')){
							if($("#checkAll_tags").prop('checked')){
								$("#checkAll_tags").prop('checked', false);
							}
						}
					}else if($(this).prop('name') == 'coding_id'){
						if(!$(this).prop('checked')){
							if($("#checkAll_coding").prop('checked')){
								$("#checkAll_coding").prop('checked', false);
							}
						}
					}
				}
			
				selected_codes = [];
				$("input:checkbox[name=coding_id]:checked").each(function() {
					selected_codes.push(parseInt($(this).val()));
				});

				selected_collections = []
				$("input:checkbox[name=collection_id]:checked").each(function(){
					selected_collections.push(parseInt($(this).val()));
				});
				$("input:checkbox[name=tag_id]:checked").each(function(){
					selected_collections.push(parseInt($(this).val()));
				});
				
				// Reset page cursor
				$("#basic-form input[id=page]").val(1);

				{% for tag in brand_associated_collections %}
					$('#txtTags').tagsinput('remove', {'id': {{ tag.id }}, 'description': '{{ tag.description }}'});
				{% endfor %}
				
				for (let t = 0; t < all_tags.length; t++) { 
					for( let c = 0; c < selected_collections.length; c++) { 
						if(selected_collections[c] == all_tags[t].id){
							$('#txtTags').tagsinput('add', {'id': all_tags[t].id , 'description': all_tags[t].description, 'display': all_tags[t].display} );
						}
					}
				}

				if(isSubset({{ brand_associated_collections_ids|safe }}, selected_collections)){
					$("#checkAll_collection").prop('checked', true);
				}

				if(isSubset({{ brand_associated_tags_ids|safe }}, selected_collections)){
					$("#checkAll_tags").prop('checked', true);
				}

				$("#basic-form input[id=tagids]").val(selected_collections);
				$("#basic-form input[id=codingids]").val(selected_codes);

				if(isSubset({{ brand_associated_collections_ids|safe }}, selected_collections)){
					$("#checkAll_collection").prop('checked', true);
				}
				if(isSubset({{ coding_system_reference_ids|safe }}, selected_codes)) {
					$("#checkAll_coding").prop('checked', true);
				}

				$("#basic-form").trigger('submit', [{'element': $(this).attr('name')}]);
			});
			
			// Change checkbox's hidden value when checked/unchecked
			$(".form-checkbox").change(function () {
				if ( $(this).is(":checked") ) {
					$("#" + $(this).attr('id') + "_hidden").val('1');
				} else if ( $(this).not(":checked") ) {
					$("#" + $(this).attr('id') + "_hidden").val('0');
				}
				
				$("#basic-form").trigger('submit', [{'element': 'display'}]);
			});

			// Filter modal
			var $filter_panel = $('#filter_panel_group');
			var $filter_modal = $('#filter-modal');
			$filter_modal.on('shown.bs.modal', (e) => {
				$filter_panel.find('#filter_form').first().appendTo($filter_modal.find('.modal-body').first());
				$filter_panel.find('.filter_buttons').first().appendTo($filter_modal.find('.modal-footer').first());
			});
			$filter_modal.on('hide.bs.modal', (e) => {
				$filter_modal.find('#filter_form').first().appendTo($filter_panel);
				$filter_modal.find('.filter_buttons').first().appendTo($filter_panel);
			});

			// Apply responsive style @ media query
			var $result_page = $('#result-div');
			var resizeResultPage = (win) => {
				if (win.width() < 1000) {
					$result_page.removeClass('col-sm-10');
					$result_page.addClass('col-sm-12');
				} else {
					$result_page.addClass('col-sm-10');
					$result_page.removeClass('col-sm-12');
				}
			}

			$(window).on('resize', function() {
				var win = $(this);
				resizeResultPage(win);
			});
			resizeResultPage($(window));
		});
		
	</script>
	
	{% endblock scripts %}

