
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title"><i class="fa fa-tree" aria-hidden="true"></i> Parent and child tree view for concept "{{ name }}"</h4>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-sm-6">
			<h4>View parent concepts</h4>	
		</div>
		<div class="col-sm-6 text-right">
			<a href="#" role="button" class="popovers" id="tree-help" data-container="body" data-toggle="popover" data-trigger="hover" title="" data-original-title="" data-placement="left">
				<i class="fa fa-question-circle" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-7">
			<div id="parentTreeViewDiv">
			</div>
		</div>
		<div class="col-md-5">
			<div id="parent_event_result"></div>
			<button type="button" id="parent-concept-btn" class="btn btn-success">Go to selected parent concept</button>
			<div class="alert alert-danger alert-dismissable" id="parent-concept-error-message" style="display: none;" role="alert"></div>
		</div>
	</div>
	
	<h4>View child concepts</h4>
	
	<div class="row">
		<div class="col-md-7">
			<div id="childTreeViewDiv">
			</div>
		</div>
		<div class="col-md-5">
			<div id="child_event_result"></div>
			<button type="button" id="child-concept-btn" class="btn btn-success">Go to selected child concept</button>
			<div class="alert alert-danger alert-dismissable" id="child-concept-error-message" style="display: none;" role="alert"></div>
		</div>
	</div>
	
	<div id="popover-content-tree-help" class="hide popover-lg">
		<p>Displays the current concept and any related concepts in a hierarchical tree view.</p>
		<p>It also displays any parent concepts that the current concept is linked to.</p>
		<p>You can navigate to any related concept by selecting the item in the tree view and clicking the relevant button. This will open the concept into a new window.</p>
	</div>
		
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>

<input type="hidden" id="selected-parent-id-hf" />
<input type="hidden" id="selected-child-id-hf" />
<input type="hidden" id="current-id-hf" value="{{ pk }}" />

<script>
$(function(){
	$('body').on('click', '#parent-concept-btn', function(e){
		e.preventDefault();
		
		var parentId = $('#selected-parent-id-hf').val();
		var currentId = $('#current-id-hf').val();
		
		if (typeof parentId != 'undefined' && parentId && $.isNumeric(parentId)) {
			$('#parent-concept-error-message').hide();

			window.open('/concepts/' + parentId + '/update/', '');
		}else{
			$('#parent-concept-error-message').show();
			$('#parent-concept-error-message').html('You must select a concept');
		}
		return false;
	});
	
	$('body').on('click', '#child-concept-btn', function(e){
		e.preventDefault();
		
		var childId = $('#selected-child-id-hf').val();
		var currentId = $('#current-id-hf').val();
		
		if (typeof childId != 'undefined' && childId) {
			$('#child-concept-error-message').hide();

			window.open('/concepts/' + childId + '/update/', '');
		}else{
			$('#child-concept-error-message').show();
			$('#child-concept-error-message').html('You must select a concept');
		}
		return false; 
	});
	
	$("#childTreeViewDiv").on('changed.jstree', function (e, data) {
	    var i, j, r = [];
	    for(i = 0, j = data.selected.length; i < j; i++) {
	      r.push(data.instance.get_node(data.selected[i]).text);
	      $('#selected-child-id-hf').val(data.selected[i]);
	      $('#child-concept-error-message').hide();
	    }
	    $('#child_event_result').html('Selected: ' + r.join(', '));
	  }).jstree({
           "core" : {
               "data":{
                   	"url" : "{% url 'api:api_child_concepts' pk %}",
                   	"dataType": "json"
               }
           },
           "plugins" : [ "themes", "json_data", "ui" ]
       });

	$("#parentTreeViewDiv").on('changed.jstree', function (e, data) {
	    var i, j, r = [];
	    for(i = 0, j = data.selected.length; i < j; i++) {
	      r.push(data.instance.get_node(data.selected[i]).text);
	      $('#selected-parent-id-hf').val(data.selected[i]);
	      $('#parent-concept-error-message').hide();
	    }
	    $('#parent_event_result').html('Selected: ' + r.join(', '));
	  }).jstree({
           "core" : {
               "data":{
                   	"url" : "{% url 'api:api_parent_concepts' pk %}",
               		"dataType": "json"
               }
           },
           "plugins" : [ "themes", "json_data", "ui" ]
       });
});
</script>