{% load entity_renderer %}
<div class="detailed-input-group fill">
  <div class="box-container">
    <div class="row">
      <span id="entity-{{ component.field_name }}"></span>
      <div class="col-sm-2 row-padding detail-field-title">{{ component.field_data.title }}</div>
      <div class="col-sm-10 chips-group"> 
        {% if component.value|length %}
          {% for ds in component.value %}
            {% if ds.url|length %}
              <div class="chip bold primary-accent text-accent-darkest">
                <a href="{{ ds.url }}" rel="noopener" class="chip-text no-icon">{{ ds.name }}</a>
              </div>
            {% else %}
              <div class="chip bold primary-accent text-accent-darkest" disabled>
                <a target="__blank" rel="noopener noreferrer" class="chip-text no-icon">{{ ds.name }}</a>
              </div>
              {{ ds.name }}{% if not forloop.last %},{% endif %}
            {% endif %}
          {% endfor %}
        {% else %}
          <span class="card-no-data">No data</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
