<div class="detailed-input-group fill">
  <div class="box-container">
    <div class="row">
      <div class="col-sm-2 row-padding">{{ component.field_data.title }}</div>
      <div class="col-sm-10">
        <span id="entity-{{ component.field_name }}">
          {% for option in component.options %}
            {% if component.value|length > 0 and component.value.0.value == option.value %} 
              {{ option.name }}
            {% endif %}
          {% endfor %}
        </span>
      </div>
    </div>
  </div>
</div>
