<div class="detailed-input-group fill">
  <div class="box-container">
    <div class="row">
      <div class="col-sm-2 row-padding detail-field-title">{{ component.field_data.title }}</div>
      <div class="col-sm-10">
        {% if component.value|length > 0 %}
          {% for val in component.value %}
            <span id="entity-{{ component.field_name }}" class="badge wrapped-tspan">
              <strong><em>{{ val.name }}</em></strong>
            </span>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
