{% load static %}
{% load markdownify %}
{% load cl_extras %}

{% if not component.hide_if_empty or component.value %}
  <div class="detailed-input-group fill">
    <div class="col-sm-12 shadow-frame">
      <h3 class="paneltitle">
        <span id="entity-{{ component.field_name }}"></span>
        {% if not component.hide_input_title %}
          <h3 class="detailed-input-group__title">{{ component.field_data.title }}</h3>
        {% endif %}
        {% if not component.hide_input_details %}
          <p class="detailed-input-group__description">{{ component.description }}</p> 
        {% endif %}
      </h3>
    </div>

    {% if component.value.description|length %}
      <div id="indicator-calculation-description" class="fill-accordion">
        <input class="fill-accordion__input" 
          id="indicator-description"
          name="indicator-description" 
          type="checkbox" />
        <label class="fill-accordion__label fill-accordion__label--slim"
            id="indicator-description-label"
            for="indicator-description"
            role="button"
            tabindex="0"
            aria-label="Toggle Accordion: Indicator Calculation Description"
            title="Description">
          <span aria-label="Indicator Calculation Description" class="fill-accordion__wrap-label">
            <span>Description</span>
          </span>
          <span class="fill-accordion__label-icon"></span>
        </label>
        <article class="fill-accordion__container codelist-extents">
          <div class="markdown-render-container slim-scrollbar">
            {{ component.value.description|markdownify }}
          </div>
        </article>
      </div>
    {% endif %}

    {% if component.value.numerator|length %}
      <div id="indicator-calculation-numerator" class="fill-accordion">
        <input class="fill-accordion__input" 
          id="indicator-numerator"
          name="indicator-numerator" 
          type="checkbox" />
        <label class="fill-accordion__label fill-accordion__label--slim"
            id="indicator-numerator-label"
            for="indicator-numerator"
            role="button"
            tabindex="0"
            aria-label="Toggle Accordion: Indicator Calculation Numerator"
            title="Numerator">
          <span aria-label="Indicator Calculation Numerator" class="fill-accordion__wrap-label">
            <span>Numerator</span>
          </span>
          <span class="fill-accordion__label-icon"></span>
        </label>
        <article class="fill-accordion__container codelist-extents">
          <div class="markdown-render-container slim-scrollbar">
            {{ component.value.numerator|markdownify }}
          </div>
        </article>
      </div>
    {% endif %}

    {% if component.value.denominator|length %}
      <div id="indicator-calculation-denominator" class="fill-accordion">
        <input class="fill-accordion__input" 
          id="indicator-denominator"
          name="indicator-denominator" 
          type="checkbox" />
        <label class="fill-accordion__label fill-accordion__label--slim"
            id="indicator-denominator-label"
            for="indicator-denominator"
            role="button"
            tabindex="0"
            aria-label="Toggle Accordion: Indicator Calculation Denominator"
            title="Denominator">
          <span aria-label="Indicator Calculation Denominator" class="fill-accordion__wrap-label">
            <span>Denominator</span>
          </span>
          <span class="fill-accordion__label-icon"></span>
        </label>
        <article class="fill-accordion__container codelist-extents">
          <div class="markdown-render-container slim-scrollbar">
            {{ component.value.denominator|markdownify }}
          </div>
        </article>
      </div>
    {% endif %}
{% endif %}
