<!-- PERMISSIONS -->

{% if user.is_authenticated %}
  <div class="col-sm-12 shadow-frame">
    <span>
      <br />

      {% comment %}
        <h3 class="paneltitle" style="margin-top:20px; margin-bottom:20px;" aria-label="Permissions">
          <span id="permissions_sec"></span>
          <strong>Permissions</strong>
        </h3>
      {% endcomment %}

      <div class="box-container">
        <div class="row">
          <div class="col-sm-2" aria-label="Owner">Owner</div>
          <div class="col-sm-4" aria-label="{{ entity.owner.username }}">
            <span>{{ entity.owner.username }}</span>
          </div>
        </div>
      </div>

      <hr class="small-divider" />

      <div class="box-container">
        <div class="row">
          <div class="col-sm-2" aria-label="Organisation">Organisation</div>
          {% if entity.organisation %}
            <div class="col-sm-4" aria-label="{{ entity.organisation }}">
              <a href="{% url 'view_organisation' slug=entity.organisation.slug %}">{{ entity.organisation.name }}</a>
            </div>
          {% else %}
            <div class="col-sm-4" aria-label="No associated group">
              <span class="card-no-data">No associated organisation</span>
            </div>
          {% endif %}
        </div>
      </div>
    </span>
  </div>
{% endif %}
