{% load static %}
{% load compress %}
{% load sass_tags %}
{% load cl_extras %}
{% load entity_renderer %}
{% load markdownify %}
<!--   phenotype_clinical_code_lists   -->

<script src="{% static 'js/lib/simple-datatables/simple-datatables.min.js' %}"></script>
{% compress js %}
<script type="text/javascript" src="{% static 'js/clinicalcode/data/conceptUtils.js' %}"></script>
{% endcompress %}

{% if component.value|length %}
<div class="detailed-input-group fill-width">
  <div id="export-code-button" class="box-container">

    <div class="row no-pad">
      <div class="col-md-6 text-align-left">
      </div>
      <div class="col-md-6 text-align-right">

        <label class="dropdown-group">
          <div class="dropdown-group__button">Export Code List </div>
          <input type="checkbox" class="dropdown-group__input"  id="dd_2">
          <ul class="dropdown-group__menu dropdown-group__menu--fall-right" {% if not user_can_export %} disabled title="Component concept(s) deleted or revoked access!!" {% endif %} >
            <li aria-label="Export code list as CSV" role="button" tabindex="0">
              <a {% if user_can_export %}
                href="{% url 'export_entity_version_codes_to_csv' pk=entity.id history_id=entity.history_id %}" {% endif %}
              >
                CSV
              </a>
            </li>
            <li aria-label="Export code list as Json" role="button" tabindex="0">
              <a {% if user_can_export %}
                  href="{% url 'api:get_generic_entity_field_by_version' entity.id entity.history_id 'codes' %}?format=json"
                  target="_blank" {% endif %}
              >
                JSON
              </a>
            </li>
          </ul>
        </label>

      </div>

    </div>
  </div>
</div>
{% endif %}

<div class="detailed-input-group fill constrained" id="accordion">
  {% if component.value|length %}
    {% for c in component.value %}
      <div id="concept-accordion-{{ c.concept_id }}"
           class="fill-accordion"
           data-class="codelist-accordion"
           data-id="{{ c.concept_id }}"
           data-history-id="{{ c.concept_version_id }}"
           data-entity-id="{{ entity.id }}">
        <input class="fill-accordion__input" id="concept-{{ c.concept_id }}-{{ c.concept_version_id }}"
          name="concept-{{ c.concept_id }}-{{ c.concept_version_id }}" type="checkbox" />
        <label class="fill-accordion__label"
            id="concept-{{ c.concept_id }}-{{ c.concept_version_id }}"
            for="concept-{{ c.concept_id }}-{{ c.concept_version_id }}"
            role="button"
            tabindex="0"
            aria-label="Toggle Accordion: {{ c.name }} ({{ c.coding_system_name }})"
            title="{{ c.name }} ({{ c.coding_system_name }})">
          <span aria-label="{{ c.name }} ({{ c.coding_system_name }})" class="fill-accordion__wrap-label">
            <a href="{% url 'entity_detail' pk=c.phenotype_owner_id %}"
                  title="Visit Linked Phenotype: {{c.phenotype_owner_id}} / C{{ c.concept_id }}">
              {{c.phenotype_owner_id}} / C{{ c.concept_id }}
            </a>

            &nbsp;-&nbsp;{{ c.name }}
            &nbsp;|&nbsp;<em>{{ c.coding_system_name }}</em>

            <span id="ood-{{ c.concept_id }}-{{ c.concept_version_id }}"
                  class="hide"
                  aria-label="Legacy Concept Version">
              &nbsp;|&nbsp;
              <strong>LEGACY VERSION</strong>
            </span>
          </span>
        </label>
        <article class="fill-accordion__container codelist-extents">
          <section class="concept-group-content__container show" id="concept-information">
            <section class="concept-group-content__details">
              {% if c.is_published %}
                <h4 aria-label="Published">
                  PUBLISHED
                </h4>
              {% else %}
                <h4 aria-label="Unpublished">
                  UNPUBLISHED
                </h4>
              {% endif %}
              <ul class="chips-group" id="concept-chips">
                <li class="chip bold warning-accent text-accent-darkest alert-icon icon-accent-danger hide"
                    id="ood-{{ c.concept_id }}-{{ c.concept_version_id }}"
                    disabled>
                  <a id="update-latest-version" class="chip-text" aria-label="Legacy version" target="_blank">LEGACY VERSION</a>
                </li>
                <li class="chip bold washed-accent text-accent-darkest codelist-icon icon-accent-highlight" disabled>
                  <a id="coding-system-info" class="chip-text" target="_blank">{{ c.coding_system_name }}</a>
                </li>
              </ul>
            </section>
          </section>

          <div class="detailed-input-group fill">
            <div class="constrained-codelist-table" id="concept-codelist-{{ c.concept_id }}_{{ c.concept_version_id }}">

            </div>
          </div>
        </article>
      </div>
    {% endfor %}
  {% else %}
    <span class="card-no-data">No Clinical Code Lists</span>
  {% endif %}
</div>

<script type="text/javascript">
  const queue = { };

  const hydrateConceptCodelist = (entityId, conceptId, conceptVersionId) => {
    const target = `${conceptId}/${conceptVersionId}`;
    const queued = queue?.[target] || -1;

    switch (queued) {
      case 1:
      case 2:
        return;

      default:
        queue[target] = 1;

        fetch(
          `/api/v1/concepts/C${conceptId}/version/${conceptVersionId}/export/component-data?requested_entity=${entityId}`,
          { method: 'GET' }
        )
          .then(response => response.json())
          .then(conceptData => {
            applyCodelistsFromConcepts(
              conceptData,
              {
                codelistContainerId: '#concept-codelist-${concept_id}_${concept_version_id}',
                showAttributes: true,
                perPageSelect: [ 10, 50, 100, [ 'All', -1 ] ],
              }
            );
          })
          .then(() => {
            queue[target] = 2;
          })
          .catch(() => {
            queue[target] = 0;
          });
        break;
    }
  }

  domReady.finally(() => {
    const codelistAccordions = document.querySelectorAll('div[data-class="codelist-accordion"]');
    for (let i = 0; i < codelistAccordions.length; ++i) {
      const codelistAccordion = codelistAccordions[i];
      const codelistInput = codelistAccordion.querySelector('input.fill-accordion__input');

      const entityId = codelistAccordion.getAttribute('data-entity-id'),
            conceptId = parseInt(codelistAccordion.getAttribute('data-id')),
            conceptVersionId = parseInt(codelistAccordion.getAttribute('data-history-id'));

      if (codelistInput.checked) {
        hydrateConceptCodelist(entityId, conceptId, conceptVersionId);
      }

      codelistInput.addEventListener('change', (e) => {
        if (e.target.checked) {
          hydrateConceptCodelist(entityId, conceptId, conceptVersionId);
        }
      });
    }
  });
</script>
