{% load static %}
{% load compress %}
{% load sass_tags %}
{% load cl_extras %}
{% load entity_renderer %}
{% load markdownify %}
<!--   phenotype_clinical_code_lists   -->

<script src="{% static 'js/clinicalcode/redesign/vendor/simple-datatables/simple-datatables.min.js' %}"></script>


<div class="detailed-input-group fill">
  <div id="export-code-button" class="box-container">

    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-align-right">

          <fieldset class="dropdown-btn">
            <label aria-label="Info about dropdown" role="dropdown" tabindex="0" id="dropdown-label" for="dropdown-opener">
              <input type="radio" class="dropdown-btn__input" name="dropdown-item" id="dropdown-opener"  {% if not user_can_export %} disabled title="Component concept(s) deleted or revoked access!!" {% endif %}>
          
              <!-- dropdown title -->
              <div class="dropdown-btn__label">Export {{ entity_class }} <span class="caret"></span></div>
          
              <input type="radio" class="dropdown-btn__close" name="dropdown-item" id="dropdown-closer">
              <label aria-label="Close dropdown info" role="button" tabindex="0" id="close-dropdown-btn" class="dropdown-btn__close-label" for="dropdown-closer"></label>
          
              <!-- dropdown menu content -->
              <ul class="dropdown-btn__menu fall-right">
                <li aria-label="Export code list as CSV" role="button" tabindex="0">
                  <a {% if user_can_export %}
                    href="{% url 'export_entity_version_codes_to_csv' pk=entity.id history_id=entity.history_id %}" {% endif %}
                    class="dropdown-item">
                    CSV
                  </a>
                </li>
                <li aria-label="Export code list as Json" role="button" tabindex="0">
                  <a {% if user_can_export %}
                      href="{% url 'api:get_generic_entity_field_by_version' entity.id entity.history_id 'codes' %}?format=json"
                      target=_blank {% endif %}
                    class="dropdown-item">
                    JSON
                  </a>
                </li>
                <li aria-label="Export code list as XML" role="button" tabindex="0">
                  <a {% if user_can_export %}
                    href="{% url 'api:get_generic_entity_field_by_version' entity.id entity.history_id 'codes' %}?format=xml"
                    target=_blank {% endif %}
                  class="dropdown-item">
                  XML
                </a>
                </li>
              </ul>
            </label>
          </fieldset>

        </div>
      </div>
      
    </div>
  </div>


<div class="detailed-input-group fill">

  <div class="publication-list-group">
    <section class="publication-list-group__list show" id="publication-group">
      <!-- <div class="publication-list-group__list-container " id="publication-list"> -->
        {% if component.value|length %}
          <ul>
              {% for c in component.value %}
                <li style="padding-top: 15px;">
                  <strong>
                    C{{ c.concept_id }}/{{ c.concept_version_id }}  &nbsp;-&nbsp;            
                  <span>
                    {{ c.details.name }}
                   &nbsp;
                   - ({{ c.coding_system.name }})
                   &nbsp;
                   - ({{c.codelist|length}} codes)
                   &nbsp;
                    {% if user.is_authenticated %}
                        {% if c.is_published %}
                            (Published)
                        {% endif %}
                    {% endif %}
                    </span>
                  </strong>
                </li>




            <div classXX="panel-body">
                <div class="detailed-input-group fill constrained-codelist-table" style='width:880px;' id="concept-codelist-table">
                    <table class="table table-striped table-responsive-md code-list-display-table"
                           style="width: 100%"
                           id="codelist-tab-table-c{{ c.concept_version_id }}">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th  class="overflow-table-constraint">Description</th>
                            {% if c.details.code_attribute_headers %}
                                {% for header in c.details.code_attribute_headers %}
                                    <th>{{ header }}</th>
                                {% endfor %}
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for code in c.codelist  %}
                            <tr>
                                <td>{{ code.code }}</td>
                                <td class="overflow-table-constraint">{{ code.description|highlight:q }}</td>
                                {% if code.attributes %}
                                    {% for attr in code.attributes %}
                                    <td>{{ attr }}</td>
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="10" class="text-center bg-warning spinner"
                                    id="no-codes-td">
                                    {% if codelist_loaded == 0 %}
                                        Loading ...
                                    {% else %}
                                        No codes
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>


              {% endfor %}
          </ul>
        {% else %}
        <span class="card-no-data">No Clinical Code Lists</span>
        {% endif %}
      <!-- </div> -->
    </section>
  </div>
</div>



<script >
    document.addEventListener("DOMContentLoaded",function(){

    let tables = document.querySelectorAll(".code-list-display-table"), i;

    for (i = 0; i < tables.length; ++i) {
        new window.simpleDatatables.DataTable(tables[i], {
            perPageSelect: [5, 10, 15, ["All", -1]],
            fixedColumns: true,
            classes: {
                wrapper: 'overflow-table-constraint',
              },
             {% comment %}  "scrollX": true,
        "scrollCollapse": true
            ,
            columns: [
                {
                    select: 2,
                    sortSequence: ["desc", "asc"]
                },
                {
                    select: 3,
                    sortSequence: ["desc"]
                },
                {
                    select: 4,
                    cellClass: "green",
                    headerClass: "red"
                } 
            ]{% endcomment %}
             })
      }

});
</script>
