{% load cl_extras %}

{% if not component.value|is_empty_value %}
  <div class="detailed-input-group fill">
    <h3 class="detailed-input-group__title">
      {{ component.field_data.title }}
    </h3>
    <p class="detailed-input-group__description">
      Please see the PhenoFLOW website <a href="https://kclhi.org/phenoflow/">here</a> for more information on workflow-based Phenotypes.
    </p>
    <div class="box-container">
      <div class="row row-cols-auto gap-md">
        <p>
          <strong>PhenoFLOW Reference:</strong> <a href="{{ component.value }}">{{ component.value }}</a>
        </p>
      </div>
    </div>
  </div>
{% endif %}

