{% load cl_extras %}

{% if not component.value|is_empty_value %}
  {% fmtstr "%s/%d" entity.id entity.history_id as entity_ref %}
  <div class="detailed-input-group fill">
    <h3 class="detailed-input-group__title">
      {{ component.field_data.title }}
    </h3>
    <p class="detailed-input-group__description">
      Please see the PhenoFLOW website <a target=_blank rel="noopener" href="https://kclhi.org/phenoflow/" data-ba-hook="interaction" data-ba-source="{{ entity_ref }}" data-ba-resource="conversion">here</a> for more information on workflow-based Phenotypes.
    </p>
    <div class="box-container">
      <div class="row row-cols-auto gap-md">
        <p>
          <strong>PhenoFLOW Reference:</strong> <a target=_blank rel="noopener" href="{{ component.value }}" data-ba-hook="interaction" data-ba-source="{{ entity_ref }}" data-ba-resource="phenoflowid">{{ component.value }}</a>
        </p>
      </div>
    </div>
  </div>
{% endif %}
