{% load entity_renderer %}
<div class="detailed-input-group fill">
  <!-- {% if not component.hide_input_details %}
  <h3 class="detailed-input-group__title">{{ component.field_data.title }}</h3>
  <p class="detailed-input-group__description">{{ component.description }}</p>
  {% endif %} -->
  <!-- {% if component.options %}
  <data data-type="options" for="{{ component.field_name }}">{{ component.options|jsonify|safe }}</data>
  {% endif %} -->
  <!-- <data data-type="value" for="{{ component.field_name }}">
    {% if component.value %}
    {{ component.value|jsonify|safe }}
    {% endif %}
  </data>
  <input value="{{ component }}" class="text-input" aria-label="{{ component.field_data.title }}" type="text" id="entity-{{ component.field_name }}" name="entity-{{ component.field_name }}" placeholder="" data-class="tagify" data-field="{{ component.field_name }}">
 -->


  <div class="box-container">
    <div class="row">
      <span id="entity-{{ component.field_name }}"></span>
      <div class="col-sm-2">{{ component.field_data.title }}</div>
      <div class="col-sm-10">
          {% if component.value|length %}
            {% for c in component.value %}
                <span class="badge">{{ c.name }}</span>
            {% endfor %}
          {% else %}
          <span class="card-no-data">No data</span>
          {% endif %}
      </div>
    </div>
  </div>



</div>
