body{
	padding-top: 60px;
	padding-bottom: 20px;
	height: 100%;
	font-family: IBM Plex Sans;
}


   
 

.page-header{
	
	margin: 5px 0 5px;
}

label.required:after {content: " *"; color: red;}

span.required{
	color: red;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
	opacity: .8;
}   

.page-control-container{
	padding-bottom: 5px;	
}
.concept-container{
  width: 100%-5px;
  padding: 5px;
}

.btn-paginate {
    color: #337AB7;
}
.btn-paginate:hover {
    color: #23527C;
}

.small-table>tbody>tr>td, .small-table>tbody>tr>th, .small-table>tfoot>tr>td, .small-table>tfoot>tr>th, .small-table>thead>tr>td, .small-table>thead>tr>th {
    padding: 2px;
}

.form-group{
	margin-bottom: 5px;
}

.form-control{
	height: 26px;
	padding: 2px 12px;
}

.btn{
	padding: 2px 12px;
}
.panel{
	margin-bottom: 10px;
}

.modal-body{
	padding: 5px 15px;
}

.panel-body{
	padding: 10px 15px;
}

div[role="tabpanel"]{
  overflow-y: hidden;
  max-height: fit-content;
}


.table-responsive-md{
  overflow-x:scroll;
  overflow-y:auto;
  border-collapse: collapse;
  
 
}
.table td {
  white-space: normal;
}

.table-responsive-md thead th, .table-responsive-md thead th.sorting {
  position:sticky;
  top: 0px;
  background: white;
}





.table-responsive-md  thead>tr>th:first-child{
  z-index: 1;
}
.table-responsive-md  thead>tr>th:nth-child(2){
  z-index: 1;
}

.table-responsive-md  thead>tr>th:first-child,
.table-responsive-md  tbody>tr>td:first-child {
  position: sticky;
  left: 0px;
  background:white;
  color: #373737;
  margin: 5px;
}

.table-responsive-md  tbody>tr>td:first-child {
  background:#ededed ;
}




.table-responsive-md  thead>tr>th:nth-child(2),
.table-responsive-md  tbody>tr>td:nth-child(2) {
  position: sticky;
  left: 70px;
  background:white;
  color: #373737; 

  margin: 5px;
}



.label-primary{
  display: -webkit-inline-box;
} 



.navbar{
	margin-bottom: 10px;
}

.popover-lg{
	max-width: 100%;
}

.popover{
	max-width: 100%;
}
.input-group-addon {
    padding: 4px 12px;
}

.datepicker{
	z-index: 100 !important;
}

.bootstrap-tagsinput{
	display: block;
}

.bootstrap-projectsinput{
	display: block;
}


.tt-menu {
	z-index: 9999 !important;
}

.form-horizontal .control-label{
	padding-top: 4px!important;
}

.form-help-popover {
    padding-left: 0;
    margin-left: -10px;
    text-align: left;
}

/* footer */
footer {
            color: #666;
            background: #222;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;    
        }
        footer a {
            color: #999;
        }
        footer a:hover {
            color: #efefef;
        }
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
        }
        .push {
            height: 63px;
        }
        /* not required for sticky footer; just pushes hero down a bit */
        .wrapper > .container {
            padding-top: 60px;
        }

        /* responsive footer fix by Aalaap Ghag */
        @media (max-width: 767px) {
            body {
                padding-right: 0px;
                padding-left: 0px;
            }
    
            footer, .wrapper {
                padding-left: 20px;
                padding-right: 20px;
            }
        }


        /* end responsive footer fix */
/* end of footer */

.highlight-row {
    background-color: #f7f7f9;
    /*border-bottom: 1px solid #e1e1e8;*/
}
.table-hover>tbody>tr:hover {
	background-color: lightgoldenrodyellow
}
.alert {
	margin-top: 5px;
}

nav>.container{
	background-image: none; /*url("/static/img/SAIL2-d.png");*/
	background-position: 99% 6px;
	background-repeat: no-repeat;
	background-size: 40px;
}

.help-block-no-break{
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}





#nav_bar_main {
  background-color: #ffffff;
  border-color: #ffffff;
}

#footer_main{
  background-color: #ffffff;
  border-color: #ffffff;
}

.CL-title{
	Font-family: IBM Plex Sans;
	Font-style: SemiBold;
	Font-size: 18px;
/* 	Line height: 23px; */
/* 	Line height: 100%; */
	Align: Left;
	Vertical-align: Top;
	color: #475DA7 !important;
}

.CL-tabs{
	Font-family: IBM Plex Sans;
	Font-style: Bold;
	Font-size: 14px;
/* 	Line height: 23px; */
	Line-height: 100%;
	Align: Left;
	color: #000000;
}

.nav-bar-title{
	color: black !important;
/* 	font-weight: bold;	 */
}

.bkg {
  background: #f99;
  overflow: hidden;
}



element.style {
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: 0 1px 0 rgb(255 255 255 / 25%);
}
@media (min-width: 768px)
.navbar-nav>li>a {
    /* padding-top: 15px; */
    padding-bottom: 15px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}




@media (min-width: 1500px) {
    .container{
        width: 1500px;
    }
}

.underline {
  text-decoration: underline !important;
}

.breadcrumbs-padding {
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left:0px;
}


.btn-no-hover {
    pointer-events: none;
    display: inline-block; /* For added support */
}




.btn-cl{
	background: #FFFFFF;
	box-sizing: border-box;
	border-radius: 4px;
}

.btn-cl-secondary{
	color: #475DA7;
	border: 1px solid #475DA7;
}

.btn-cl-danger{
	color: #DA1E28;
	border: 1px solid #DA1E28;
}

.badge{
	color: #3C3C3B;
	background-color: rgba(208, 211, 212, 0.5);
}















.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x
}


.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: none;
  background-repeat: none;
  box-shadow: none;
}
.navbar-default .navbar-brand {
  color: #3c3c3b;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #3c3c3b;
}
.navbar-default .navbar-nav > li > a {
  color: #3c3c3b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #3c3c3b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #000000;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
  background-repeat: none;
  box-shadow: none;
  font-weight: bold;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #3c3c3b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #3c3c3b;
}
.navbar-default .navbar-link {
  color: #3c3c3b;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #3c3c3b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
    font-weight: bold;
  }
}


















.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


