body{
	padding-top: 60px;
	padding-bottom: 20px;
	height: 100%;
	font-family: IBM Plex Sans;
}


   
 

.page-header{
	
	margin: 5px 0 5px;
}

label.required:after {content: " *"; color: red;}

span.required{
	color: red;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
	opacity: .8;
}   

.page-control-container{
	padding-bottom: 5px;	
}
.concept-container{
  width: 100%-5px;
  padding: 5px;
}

.btn-paginate {
    color: #337AB7;
}
.btn-paginate:hover {
    color: #23527C;
}

.small-table>tbody>tr>td, .small-table>tbody>tr>th, .small-table>tfoot>tr>td, .small-table>tfoot>tr>th, .small-table>thead>tr>td, .small-table>thead>tr>th {
    padding: 2px;
}

.form-group{
	margin-bottom: 5px;
}

.form-control{
	height: 26px;
	padding: 2px 12px;
}

.btn{
	padding: 2px 12px;
}
.panel{
	margin-bottom: 10px;
}

.modal-body{
	padding: 5px 15px;
}

.panel-body{
	padding: 10px 15px;
}

div[role="tabpanel"]{
  overflow-y: hidden;
  max-height: fit-content;
}

.table-flex-rows tr {
  display: flex;
}

.table-flex-rows * {
  margin: 0 !important;
  word-break: break-all;
}

.table-flex-rows tr td:first-child, .table-flex-rows tr th:first-child {
  min-width: 100px;
}

.table-flex-rows tr td:last-child, .table-flex-rows tr th:last-child {
  flex-grow: 1;
}

.table-responsive-md{
  overflow-x:scroll;
  overflow-y:auto;
  border-collapse: collapse;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;
}
.table td {
  white-space: normal;
}

.table-responsive-md thead th, .table-responsive-md thead th.sorting {
  position:sticky;
  top: 0px;
  background: white;
}

.component-tab-container {
  overflow-x: scroll;
}




.table-responsive-md  thead>tr>th:first-child{
  z-index: 1;
}
.table-responsive-md  thead>tr>th:nth-child(2){
  z-index: 1;
}

.table-responsive-md  thead>tr>th:first-child,
.table-responsive-md  tbody>tr>td:first-child {
  position: sticky;
  left: 0px;
  background:white;
  color: #373737;
  margin: 5px;
}

.table-responsive-md  tbody>tr>td:first-child {
  background:#ededed ;
}




.table-responsive-md  thead>tr>th:nth-child(2),
.table-responsive-md  tbody>tr>td:nth-child(2) {
  position: sticky;
  left: 70px;
  background:white;
  color: #373737; 

  margin: 5px;
}



.label-primary{
  display: -webkit-inline-box;
} 



.navbar{
	padding-bottom: 0px;
}

.popover-lg{
	max-width: 100%;
}

.popover{
	max-width: 100%;
}
.input-group-addon {
    padding: 4px 12px;
}

.datepicker{
	z-index: 100 !important;
}

.bootstrap-tagsinput{
	display: block;
}

.bootstrap-projectsinput{
	display: block;
}


.tt-menu {
	z-index: 9999 !important;
}

.form-horizontal .control-label{
	padding-top: 4px!important;
}

.form-help-popover {
    padding-left: 0;
    margin-left: -10px;
    text-align: left;
}

/* footer */
footer {
            color: #666;
            background: #222;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;    
        }
        footer a {
            color: #999;
        }
        footer a:hover {
            color: #efefef;
        }
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
        }
        .push {
            height: 63px;
        }
        /* not required for sticky footer; just pushes hero down a bit */
        .wrapper > .container {
            padding-top: 60px;
        }

        /* responsive footer fix by Aalaap Ghag */
        @media (max-width: 767px) {
            body {
                padding-right: 0px;
                padding-left: 0px;
            }
    
            footer, .wrapper {
                padding-left: 20px;
                padding-right: 20px;
            }
        }


        /* end responsive footer fix */
/* end of footer */

.highlight-row {
    background-color: #f7f7f9;
    /*border-bottom: 1px solid #e1e1e8;*/
}
.table-hover>tbody>tr:hover {
	background-color: lightgoldenrodyellow
}
.alert {
	margin-top: 5px;
}

nav>.container{
	background-image: none; /*url("/static/img/SAIL2-d.png");*/
	background-position: 99% 6px;
	background-repeat: no-repeat;
	background-size: 40px;
}

.help-block-no-break{
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}





#nav_bar_main {
  background-color: #ffffff;
  border-color: #ffffff;
}

#footer_main{
  background-color: #ffffff;
  border-color: #ffffff;
}

.CL-title{
    Font-family: "IBM Plex Sans", sans-serif;
	Font-style: SemiBold;
	Font-size: 18px;
/* 	Line height: 23px; */
/* 	Line height: 100%; */
	Align: Left;
	Vertical-align: Top;
	color: #475DA7 !important;
}

.CL-tabs{
    Font-family: "IBM Plex Sans", sans-serif;
	Font-style: Bold;
	Font-size: 14px;
/* 	Line height: 23px; */
	Line-height: 100%;
	Align: Left;
	color: #000000;
}

.nav-bar-title{
	color: black !important;
/* 	font-weight: bold;	 */
}

.bkg {
  background: #f99;
  overflow: hidden;
}



element.style {
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: 0 1px 0 rgb(255 255 255 / 25%);
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
      /* padding-top: 15px; */
      padding-bottom: 15px;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
  }



  .nav>li>a {
      position: relative;
      display: block;
      padding-top: 10px;
      padding-right: 5px;
      padding-bottom: 10px;
      padding-left: 5px;
  }
}




@media (min-width: 1500px) {
    .container{
        width: 1500px;
    }
}

.underline {
  text-decoration: underline !important;
}

.breadcrumbs-padding {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left:0px;
}


.btn-no-hover {
    pointer-events: none;
    display: inline-block; /* For added support */
}




.btn-cl{
	background: #FFFFFF;
	box-sizing: border-box;
	border-radius: 4px;
}

.btn-cl-secondary{
	color: #475DA7;
	border: 1px solid #475DA7;
    margin-right: 3px;
    margin-left: 3px;
}

.btn-cl-danger{
	color: #DA1E28;
	border: 1px solid #DA1E28;
}

.badge{
	color: #3C3C3B;
	background-color: rgba(208, 211, 212, 0.5);
}















.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x
}


.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: none;
  background-repeat: none;
  box-shadow: none;
}
.navbar-default .navbar-brand {
  color: #3c3c3b;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #3c3c3b;
}
.navbar-default .navbar-nav > li > a {
    padding-left: 1rem;
    padding-right: 1rem;
  color: #3c3c3b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #3c3c3b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #000000;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
  background-repeat: none;
  box-shadow: none;
  font-weight: bold;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #3c3c3b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #3c3c3b;
    padding-top: 10px;
}
.navbar-default .navbar-link {
  color: #3c3c3b;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

.navbar-brand {
  
}

@media (max-width: 767px) {
  .action-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .action-buttons-container > * {
    margin-bottom: 5px;
  }

  .navbar {
    padding-bottom: 0 !important;
  }

  .navbar-brand > img {
    max-height: 100%;
    max-width: 100%;
    min-height: 20px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #3c3c3b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
    font-weight: bold;
  }

  /* !CHANGE: NAVBAR */
  .navbar-header {
    border-bottom: 1px solid rgba(119, 119, 119, 0.15) !important;
  }

  .navbar-collapse {
    position: absolute;
    background-color: #ffffff;
    margin-top: -2px;
    right: 0;
    border-top: none;
    border-bottom: 1px solid rgba(119, 119, 119, 0.15) !important;
    border-left: 1px solid rgba(119, 119, 119, 0.15) !important;
    border-bottom-left-radius: 5px;
    margin-right: 0 !important;
  }
  /* !CHANGE: NAVBAR */
}

p > a {
  overflow-wrap: break-word;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

@font-face {
     font-family: 'IBM Plex Sans';
     src: url('../fonts/IBMPlexSans.woff2') format('woff2');
}

/* Filter panel */
@media screen and (max-width: 1070px) {
  #FilterMenu {
    display: none;
  }
}

.panel_border {
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  padding: 5px 0px 10px 0px;
}

.filter_panel_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: none;
}

.filter_header {
  font-weight: bolder;
  color: #203471;
  padding: 0px 10px 0px 10px;
}

.panel_transparent {
  border: 0px;
  background: #fff;
  text-align: left;
  width: 100%;
  padding: 0;
}

.filter_title_content {
  color: inherit;
  display: block;
  margin: 0 auto;
  line-height: 20px;
  width: 100%;
  font-weight: bold;
  position: relative;
  padding-block: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #c9c9c9;
}

.filter_title {
  margin-right: 10px;
  display: inline-block;
}

.order_filter_caret {
  display: inline;
  top: 25%;
  float: right;
  cursor: pointer;
  position: absolute;
}

.filter_overflow {
  text-align: left;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.filter_checkbox {
  white-space: wrap;
  padding: 0px 0px 0px 5px !important;
}

.filter-content {
  background-color: #F7F9Fc;
  font-size: 14px;
  padding: 3px 5px 3px 5px;
}

.padded_filter {
  font-size: 14px;
  padding: 10px 5px 10px 5px !important;
}

/* Autocomplete */
.hr_filter {
  padding: 5px 5px 0px 5px;
  margin: 5px 0px 2px 0px;
}

.query_filter {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  width: 98%;
}

.autocomplete_items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  margin: 0px;
  right: 0;
}

.autocomplete_items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete_items div:hover {
  background-color: #e9e9e9;
}

.autocomplete_active {
  background-color: #0088ff !important;
  color: #ffffff;
}

/* Filter tags */
.row.applied_filter_group {
  padding-top: 15px;
}

.row.applied_filter_group h4 {
  display: inline;
}

ul.applied_filter_tags {
	list-style: none;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

ul.applied_filter_tags li {
  display: flex;
  justify-content:space-evenly;
  height: 25px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #0088ff;
  padding: 2px 10px 5px 10px;
  margin: 5px;
  overflow: hidden;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

ul.applied_filter_tags li span.close_btn {
  padding-left: 10px;
  color: rgb(170, 170, 170);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

ul.applied_filter_tags li span.close_btn.close_btn:hover {
  color: rgb(216, 79, 79);
}

/* bg-search */
.bg-search {
  padding-top: 0px;
  padding-bottom: 10px;
}

/* Scroll style for filters */
.scrollable_filter_list {
	list-style: none;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 20vh;
  border-radius: 5px;
  padding: 0;
  font-size: 14px;
}

.scrollable_filter_list::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.scrollable_filter_list::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.scrollable_filter_list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;  
}

.scrollable_filter_list::-webkit-scrollbar-thumb:hover {
  background: #999;  
}

/* Morphable icon set for filters */
.morphing_caret {
  float: right;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
}

.morphing_caret {
  transform: rotate(0deg);
  transition: transform 0.35s linear;
}

.morphing_caret.closed {
  transform: rotate(180deg);
  transition: transform 0.35s linear;
}

/* Filter buttons */
ul.filter_buttons {
	list-style: none;
  list-style-type: none;
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul.filter_buttons li {
  display: inline;
  margin-top: 10px;
}

/* Result toast notification */
.filter_toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  margin: auto;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background-color: #333;
  position: fixed !important;
  z-index: 1;
  right: 30px;
  font-size: 12px;
  white-space: nowrap;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.filter_toast #icon {
  width: 50px;
  height: 50px;
  float: left;
  box-sizing: border-box;
  background-color: transparent;
  padding: 10px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  text-align: center;
  font-family: "FontAwesome"; 
  font-size: 18px;
  border-right: 2px solid rgba(208, 211, 212, 0.5);
}

.filter_toast[type="error"] span#icon::before {
  color: rgb(219, 75, 75);
  content: "\f06a";
}

.filter_toast[type="info"] span#icon::before {
  color: rgb(80, 179, 245);
  content: "\f05a";
}

.filter_toast #desc {
  color: #fff;
  padding: 12px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  background-color: transparent;
  opacity: 0.75;
}

.filter_toast.push {
  visibility: visible;
  animation: fadein_toast 0.5s, expand_toast 0.5s 0.5s, stay_toast 6s 1s, shrink_toast 0.5s 6s, fadeout_toast 0.5s 6.5s;
}

@keyframes fadein_toast {
  from {right: 0; opacity: 0;}
  to {right: 30px; opacity: 1;}
}

@keyframes expand_toast {
  from {min-width: 50px}
  to {min-width: 350px}
}

@keyframes stay_toast {
  from {min-width: 350px}
  to {min-width: 350px}
}

@keyframes shrink_toast {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes fadeout_toast {
  from {right: 30px; opacity: 1; }
  to {right: 0px; opacity: 0; }
}

/* Pagination */
.pagination_panel {
  /* border: 1px solid #c9c9c9;
  border-radius: 5px; */
  justify-content: right;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: none;
}

.pagination_panel button {
  margin: 5px;
  color: #337AB7;
  border: 0;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
	box-shadow: none;
  text-shadow: none;
  transition: background-color 250ms ease, color 250ms ease;
}

.pagination_panel button[disabled] {
  color: #23527C;
  cursor: default;
  background-color: transparent;
}

.pagination_panel button[disabled]:not(.active) {
  opacity: 0.5;
}

.pagination_panel button[disabled]:hover {
  color: #0088ff;
  background-color: transparent;
}

.pagination_panel button[disabled].active, .pagination_panel button[disabled].active:hover {
  color: #fff;
  background-color: #0088ff;
  border: 1px solid #337AB7;
  border-radius: 0.25em;
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}

.pagination_panel button:not([disabled]):hover {
  background-color: transparent;
  color: #0088ff;
}

.pagination_panel button:not([disabled]):after {
  display: block;
  border-bottom: solid 3px #337AB7;
  transform: scaleX(0);
  content: '';
  transition: transform 300ms ease-in-out;
}

.pagination_panel button:not([disabled]):hover:after {
  transform: scaleX(1);
}

.pagination_panel button:not([disabled]):active {
  color: #fff;
  background-color: #0088ff;
  border: 1px solid #337AB7;
  border-radius: 0.25em;
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}

/* Filter container */
nav.filter_container {
  padding-top: 10px;
  /* position: sticky;
  height: min-content;
  position: -webkit-sticky;
  top: 60px; */
}

/* Filter reset button(s) */

/* <span class="filter_reset_btn">
<i class="fa fa-filter"></i>
<span class="filter_badge"></span>
</span> */

.filter_reset_btn {
  color:rgb(80, 179, 245);
  margin-right: 5px;
  position: relative;
  display: inline-block;
  z-index: 0;
}

.filter_reset_btn:hover {
  color: #337AB7;
}


/* Button group */
.btn_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
}

.filter_modal_button>a, .btn_group>a {
  margin: 5px;
  padding: 5px 10px 5px 10px;
}

.filter_modal_button>a {
  visibility: hidden;
}

@media screen and (max-width: 1070px) {
  .filter_modal_button>a {
    visibility: visible;
  }
}

.hightlight-txt{
	background-color: yellow
}

/* Code blocks */
code.api-codeblock {
  background: #f4f4f4;
  border: 1px solid #dfdfdf;
  color: #6a6a6a;
  display: block;
  word-wrap: break-word;
}

code.api-codeblock .code-general-highlight {
  color: #6a6a6a;
}

code.api-codeblock .code-syntax-highlight {
  color: #005780;
}

code.api-codeblock .code-value-highlight {
  color: #800080;
}

code.api-codeblock .code-text-highlight, .code-comment-highlight {
  color: #009700;
}

/* Modal for working set */
@media (min-width:1202px){
  .modal-xl{width:1200px}
}

.ws-header {
  padding-bottom: 0px;
  margin-left: 0px;
}

.ws-nav {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  border-bottom: none;
}

.ws-nav li, .ws-nav li a {
  border-bottom: none;
}

.ws-nav li.active {
  border-bottom: 2px #fff;
}

.ws-content {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.ws-tab-content {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 600px;
}

.ws-tab-panel {
  overflow-x: hidden;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin: 0px;
}

.ws-sidebar {
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ws-border {
  border-right: 1px solid rgba(109, 109, 109, 0.5);
}

.ws-group {
  padding-top: 5px;
  padding-bottom: 0px;
}

.ws-no-padding {
  margin: 0px;
  padding: 0px;
}

.ws-sm-padding {
  padding: 5px;
  margin: 0px;
}

.ws-md-padding {
  padding: 5px;
  margin: 5px;
}

.ws-group h1 {
  font-weight: bolder;
  color: #333;
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(109, 109, 109, 0.5);
}

.ws-box {
  padding-top: 0px;
}

.ws-result-container {
  margin: 0px;
  padding: 5px 5px 10px 5px;
  height: 600px;
}

.ws-selected-container {
  margin: 0px;
  padding: 5px;
  height: 600px;
}

.ws-results {
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 550px;
}

.ws-filter-box {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}

.ws-lg-margin {
  margin: 5px 20px 10px 20px;
}

.ws-selected-box {
  padding: 10px !important;
  height: 525px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ws-none-selected {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.ws-well-background {
  background-color: #F7F9Fc;
  background-image: none;
  padding: 0px;
}

.ws-well-concepts {
  padding: 5px;
  margin: 0px;
}

.ws-results::-webkit-scrollbar, .ws-sidebar::-webkit-scrollbar, .ws-selected-box::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.ws-results::-webkit-scrollbar-track, .ws-sidebar::-webkit-scrollbar-track, .ws-selected-box::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.ws-results::-webkit-scrollbar-thumb, .ws-sidebar::-webkit-scrollbar-thumb, .ws-selected-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}

.ws-results::-webkit-scrollbar-thumb:hover, .ws-sidebar::-webkit-scrollbar-thumb:hover, .ws-selected-box::-webkit-scrollbar-thumb:hover {
  background: #999;  
}

.ws-notify-bubble {
  position: absolute;
  right: -7px;
  top: -5px;
  padding: 2px 4px;
  background: #0088ff;
  font-size: 10px;
  color: #fff;
  border-radius: 3px;
  display: block;
}

.ws-id-title {
  color: #919191;
}

.ws-page-control {
  height: 50px;
  margin-left: 5px;
}

.ws-no-hover:hover {
  background-color: #FFFFFF;
}

.ws-no-hover.dark-div {
  background-color: #F7F9FC;
}

.ws-disabled-link {
  pointer-events: none;
}

.ws-trash {
  margin-right: 10px;
}


/* Modifiers */
.card-coding-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #CCDAE1;
  padding: 2px;
  border-radius: 0.25rem;
}

.card-coding-item {
  margin: 0 0.5rem 0 0;
}

.phenotype-type-badge {
  background-color: #f9f2f4;
  border-radius: 0.25rem;
}

.card-date-badge {
  background-color: #BED8D4;
  border-radius: 0.25rem;
}

.card-date-block {
  display: inline-flex;
  margin: 0 5px 0 0;
}

.card-noweight {
  font-weight: normal;
}

.card-tag-sizing {
  padding: 5px;
  line-height: 1;
  display: inline-block;
  margin: 0;
}

.card-edit-sizing {
  padding: 5px 10px 5px 10px ;
  line-height: 1;
  display: inline-block;
  margin: 0;
}

.card-no-data {
  color:rgba(109, 109, 109, 0.5);
}

.justified-label {
  display: inline-flex;
  min-width: 18rem;
  justify-content: space-between;
}

.small-divider {
  margin: 5px 0 5px 0;
}

.top-heavy-divider {
  margin: 10px 0 10px 0;
}

.gender-badge-Male {
  background-color:#E2F0CB
}

.gender-badge-Female {
  background-color: #FFB7B2
}

.cl-card-with-buttons {
  padding: 20px 20px 5px 20px;
}

