@media print {
  a[href]:after {
    content: none !important;
  }
}

@keyframes spinner-animation-demo {
  to {transform: rotate(360deg);}
}

.spinner-animation-demo,
.spinner-animation-demo:before {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.spinner-animation-demo:before {
  content: '';
  display: block;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner-animation-demo .6s linear infinite;
}

.spinner-animation-demo-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

.spinner-animation-demo-add,
.spinner-animation-demo-remove {
  animation-fill-mode: both;
  animation-duration: .4s;
}

.spinner-animation-demo-add {
  animation-name: spinner-animation-demo-add;
}

@keyframes spinner-animation-demo-add {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

.spinner-animation-demo-remove {
  animation-name: spinner-animation-demo-remove;
}

@keyframes spinner-animation-demo-remove {
  to {transform: scale(0);}
}



.db-autocomplete2 {
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.ui-autocomplete2 {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}



form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
/*   background: #f1f1f1; */
}

form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}



.bg-img-basic-search {
  /* The image used */
  /*   background-image: url("../img/bg1.png"); */

  min-height: 150px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: #F7F9FC;
}

.bg-img-advanced-search {
  /* The image used */
  /*   background-image: url("../img/bg2.png"); */

  min-height: 150px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: #F7F9FC;
}

/* Add styles to the form container */
.container_frm {
  position: absolute;
  top: 0px;
  left: 180px;
/*   margin: 20px; */
  padding: 10px;
}

.container-1 {
/*   margin: 0 auto; */
  width: 90%;
}

.container_frm-2 {
  position: absolute;
  top: 0px;
  left: 60px;
  margin: 0px;
  padding: 0px;
}

.container-2 {
  margin: 0 auto;
  width: 100%;
  top: 20px;
/*   left: 0px; */
  padding: 15px;
}


/* Style the counter cards */
.card {
/*   box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2); this adds the "card" effect */
  padding: 20px;
  text-align: left;
/*   background-color: #f1f1f1; */

/* Auto Layout */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	align-items: flex-start; */
	
	position: static;
/* 	width: 1088px; */
/* 	height: 198px; */
	left: 0px;
	top: 0px;
	
	background: #FFFFFF;
	border: 1px solid rgba(208, 211, 212, 0.7);
	box-sizing: border-box;
	border-radius: 4px;
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 0;
	flex-grow: 0;
/* 	margin: 16px 0px; */
}

.card:hover{
    background-color: lightgoldenrodyellow;
}

.card-deleted{
    background-color:#FCC !important;
}

.dark-div{
	background-color:#f7f7f9;
}

.shadow-frame-00{
	border: 1px solid #DFE3E6; 
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	padding-bottom:20px;
	margin-top:18px;
}

.shadow-frame{
	border: 1px solid #DFE3E6; 
/* 	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); */
	padding-bottom:20px;
	margin-top:18px;
	border-right: none;
	border-left: none;
	border-bottom: none;
}

.btn-1{
	background: #FFFFFF;
	border: 1px solid #475DA7;
	box-sizing: border-box;
	border-radius: 4px;
}
