@media print {
  a[href]:after {
    content: none !important;
  }
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
/*   background: #f1f1f1; */
}

form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}


.bg-search {
  /* The image used */
  /*   background-image: url("../img/bg1.png"); */

  min-height: 150px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: #F7F9FC;
}


/* Add styles to the form container */
.container_frm {
  position: absolute;
  top: 0px;
  left: 180px;
/*   margin: 20px; */
  padding: 10px;
}

.container-1 {
/*   margin: 0 auto; */
  width: 90%;
}

.container_frm-2 {
  position: absolute;
  top: 0px;
  left: 60px;
  margin: 0px;
  padding: 0px;
}

.container-2 {
  margin: 0 auto;
  width: 100%;
  top: 20px;
/*   left: 0px; */
  padding: 15px;
}


/* Style the counter cards */
.cl-card {
/*   box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2); this adds the "card" effect */
  padding: 20px;
  text-align: left;
/*   background-color: #f1f1f1; */

/* Auto Layout */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	align-items: flex-start; */
	
	position: static;
/* 	width: 1088px; */
/* 	height: 198px; */
	left: 0px;
	top: 0px;
	
	background: #FFFFFF;
	border: 1px solid rgba(208, 211, 212, 0.7);
	box-sizing: border-box;
	border-radius: 4px;
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 0;
	flex-grow: 0;
/* 	margin: 16px 0px; */
}

.cl-card:hover{
    background-color: lightgoldenrodyellow;
}

.cl-card-deleted{
    background-color:#FCC !important;
}

.dark-div{
	background-color:#F7F9FC;
}


.shadow-frame{
	border: 1px solid #DFE3E6; 
/* 	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); */
	padding-bottom:20px;
	margin-top:18px;
	border-right: none;
	border-left: none;
	border-bottom: none;
}

