@import '../../_methods';
@import '../../_variables';
@import '../../_media';
@import '../../_utils';

.homepage-hero-banner {
  background-color: var(--hero-area-bg-color);
}

.homepage-hero {
  @include flex-row();

  height: auto;
  width: 100%;
  margin: 2rem 0 3rem 0;
  justify-content: flex-start;
  z-index: 2;

  @include media(">tablet", "screen") {
    height: 450px;
    margin-bottom: 32px;
  }

  &__container {
    @include flex-col();
    margin-left: var(--hero-gutter);
    margin-right: var(--hero-gutter);
    z-index: 4;

    @include media("<tablet", "screen") {
      margin-left: var(--hero-mobile-gutter);
      margin-right: var(--hero-mobile-gutter);
    }
  }

  &__image {
    @include prefix(filter, drop-shadow(var(--hero-drop-shadow)), webkit);
    @include ignore-user();

    position: absolute;
    opacity: .25;
    right: 0px;
    top: 0px;
    height: 300px;
    z-index: 3;

    @include media(">tablet", "screen") {
      display: inherit; 
      height: 400px;
      top: 0px;
      opacity: 0.5;
    }

    @include media(">desktop", "screen") {
      height: 450px;
      top: -50px;
      opacity: 1;
    }
  }

  &__search {
    position: relative;
    width: calc(100% - 0.5rem);
    padding: 0;
    margin: 0;

    &-input {
      @include box-shadow(0px, 1px, 5px, rgba(0, 0, 0, 0.1));
      @include prefix(transition, all 250ms ease, webkit moz ms o);

      box-sizing: border-box;
      position: relative;
      height: 2.5rem;
      width: calc(100%);
      padding: 0 2.5rem 0 1rem;
      color: col(text-darkest);
      background-color: col(accent-bright);
      outline: none;
      border: none;
      border-radius: 0.2rem;
      border-width: 1px;
      border-style: solid;
      border-color: col(accent-washed);
  
      &:focus {
        @include box-shadow(0px, 10px, 20px, var(--search-shadow-active-color));
        outline: none;
        border-radius: 0.2rem;
      }
  
      &:focus-visible {
        @include box-shadow(0px, 10px, 20px, var(--search-shadow-active-color));
        outline: none;
        border-radius: 0.2rem;
      }
  
      &:disabled {
        opacity: 0.5;
      }
    }
    
    &-icon {
      all: unset;

      cursor: pointer;
      display: block;
      position: absolute;
      height: 2.5rem;
      top: 0;
      padding: 0;
      margin: 0;
      background-color: transparent;
      outline: 0;
      border: 0;
      aspect-ratio: 1 / 1;
      right: 0;

      &:before {
        @include fontawesome-icon();
        content: '\f002';
        position: absolute;
        right: 0;
        top: 25%;
        color: col(accent-primary);
      }

      &:focus-visible {
        outline: 1px solid black;
        border-radius: 2pt;
      }
    }
  }

  &__details {
    max-width: 550px;

    h1 {
      color: col(text-darker);
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
    }

    p {
      color: col(text-dark);
    }

    h2 {
      color: col(text-dark);
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }
}

.homepage-statistics {
  @include flex-row();

  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 3rem 0 6rem 0;
  z-index: 0;

  &--divider-bottom {
    &:after {
      content: '';
      position: absolute;
      bottom: -5rem;
      right: 37.5%;
      width: 25%;
      height: 1px;
      background-color: black;
    }
  }

  &--bg-gradient {
    background: var(--hero-area-bg-color);
    background: linear-gradient(180deg, var(--hero-area-bg-color) 0%, col(accent-transparent) 60%);
  }

  &--inner-padding {
    padding-right: var(--main-gutter);
    padding-left: var(--main-gutter);
    width: calc(100% - var(--main-gutter)*2);
  
    @include media("<desktop", "screen") {
      padding-right: var(--main-mobile-gutter);
      padding-left: var(--main-mobile-gutter);
      width: calc(100% - var(--main-mobile-gutter)*2);
    }
  }

  &--constrained {
    max-width: 2160px;
  }

  &__group {
    width: 100%;
    flex-flow: column nowrap;
  }
  
  &__header {
    @include flex-row();

    align-self: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0 0 1rem 0;

    &-title {
      text-align: left;
      font-weight: bold;
      font-size: 1rem;
      color: col(text-dark);
      padding: 0.5rem;
      margin: 0;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    justify-items: center;
    width: 100%;
  }

  &__card {
    @include box-shadow(0, 0.5rem, 1.5rem, rgba(0, 0, 0, 0.15));

    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    justify-self: center;
    height: auto;
    min-width: 200px;
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    background: col(bg);
    border: 2px solid col(accent-transparent);
    border-radius: 0.5rem;
    transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;

    &-content {
      display: flex;
      flex-flow: column nowrap;
    }

    &-text {
      color: col(text-darker);
      line-height: 1.5;
    }

    &-header {
      @include flex-row($gap: 1rem);

      flex-wrap: nowrap;
      justify-content: space-between;

      p {
        font-size: 18px;
        margin-bottom: 0.25rem;
        font-weight: bold;
        color: text(text-darkest);
      }
    }

    &:hover {
      @include box-shadow(0, 1rem, 1.5rem, rgba(0, 0, 0, 0.15));
      @include prefix(transform, scale(1.1), webkit moz ms o);
      z-index: 2;
    }
  }
}

.homepage-about {
  display: flex;
  align-self: center;
  flex-flow: row nowrap;
  gap: 1rem;
  width: 100%;
  height: min-content;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2em;
  max-width: 100%;

  @include media('<desktop', 'screen') {
    flex-flow: column-reverse nowrap;
    gap: 0;
  }

  &--inner-padding {
    padding: 0 var(--main-gutter) 0 var(--main-gutter);
    width: calc(100% - var(--main-gutter)*2);
  
    @include media("<desktop", "screen") {
      padding-right: var(--main-mobile-gutter);
      padding-left: var(--main-mobile-gutter);
      width: calc(100% - var(--main-mobile-gutter)*2);
    }
  }

  &--constrained {
    max-width: 2160px;
  }

  &__list {
    @include flex-col($gap: 0.25rem);
    justify-content: center;
    align-content: center;
    width: 40%;

    @include media('<desktop', 'screen') {
      width: 100%;
    }
  }

  &__info {
    @include flex-col();
    width: calc(60% - 1rem);
    padding: 0 0 2rem 0;

    @include media('<desktop', 'screen') {
      width: 100%;
    }

    &-title {
      text-align: left;
      font-weight: bold;
      font-size: 2rem;
      color: col(text-darkest);
      margin: 0;
    }

    p {
      font-size: 1rem;
      text-align: left;
      color: col(text-dark);
    }

    &-buttons {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      padding: 1rem 0.5rem;

      a {
        @include clear-anchor();
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }

  &__brand {
    display: flex;
    width: 75%;
    flex-flow: column nowrap;
    height: fit-content;
    padding: 2rem 2rem 1rem 2rem;
    backdrop-filter: blur(10px);
    border-radius: 0.2rem;
    gap: 1rem;
    border: 1px solid var(--brand-card-bg-color);
    filter: drop-shadow(5px 10px 40px rgba(0, 0, 0, 0.1));
    transition: all 0.2s ease-in;

    @include media('<desktop', 'screen') {
      width: calc(100% - 4rem);
    }

    &:hover {
      transform: translateY(-10px) scale(1.05);
    }

    &-item {
      display: flex;
      flex-flow: row nowrap;
      gap: 2rem;
      align-items: center;
      justify-content: space-between;
    }

    &-icon {
      display: flex;
      flex-grow: 1;
      max-width: 50px;

      img {
        max-width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.1));
      }
    }

    &-details {
      @include flex-col();

      flex-grow: 1;
      align-self: flex-start;
      justify-content: flex-start;
      max-width: calc(100% - 50px - 1rem);
  
      h4 {
        color: col(text-dark);
        font-weight: bold;
        padding: 0;
        padding-top: 0;
        padding-bottom: 0.1rem;
        margin: 0;
        text-align: left;
      }
      
      p {
        font-size: 1rem;
        margin: 0.1rem 0;
        padding: 0.1rem 0 0 0;
        text-align: left;
        color: col(text-dark);
      }
    }

    &-footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      margin-top: auto;
      width: 100%;
    }

    &-anchor {
      @include clear-anchor();
      color: var(--referral-card-anchor-color);
      font-weight: bold;
      font-size: 18px;
      max-width: 100%;
  
      &-icon::after {
        content: '\f061';
        cursor: pointer;
        margin-left: 0.25rem;
        pointer-events: auto;
        aspect-ratio: 1 / 1;
        font-family: var(--icons-name);
        font-style: var(--icons-style);
        font-size: var(--icons-size);
        color: var(--referral-card-anchor-color);
        text-align: center;
      }
    }
  }
}

.homepage-features {
  @include flex-col();

  align-self: center;
  width: 100%;
  height: min-content;
  margin-top: 6rem;
  margin-bottom: 3em;
  max-width: 100%;

  &--inner-padding {
    padding: 0 var(--main-gutter) 0 var(--main-gutter);
    width: calc(100% - var(--main-gutter)*2);
  
    @include media("<desktop", "screen") {
      padding-right: var(--main-mobile-gutter);
      padding-left: var(--main-mobile-gutter);
      width: calc(100% - var(--main-mobile-gutter)*2);
    }
  }

  &--constrained {
    max-width: 2160px;
  }

  &__header {
    @include flex-row();

    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;

    &-title {
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      color: col(text-darkest);
      padding: 0.5rem;
      margin: 0;

      &-highlight {
        color: var(--feature-highlight-color);
      }
    }
  }

  &__container {
    @include flex-row();
    
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: min-content;
  }

  &__image {
    @include flex-col();
    @include prefix(transition, opacity 250ms ease-in-out, webkit moz ms o);

    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    align-self: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    padding-bottom: 1rem;

    &:not(.show) {
      opacity: 0;
    }

    @include media(">tablet", "screen") {
      max-width: 300px;
    }

    @include media(">desktop", "screen") {
      max-width: 500px;
    }

    @include media("<desktop", "screen") {
      display: none;
    }

    &>img {
      @include flex-row();
      align-self: center;
      flex-wrap: nowrap;
      width: 100%;
      height: 75%;
      margin: 0;
      padding: 0;
    }
  }

  &__list {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 2rem;
    align-items: stretch;
    justify-items: center;
    margin: 0;
    padding: 1rem 0rem;

  }

  &__item {
    @include flex-row($gap: 1rem);
    @include prefix(transition, opacity 250ms ease-in-out, webkit moz ms o);

    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 2rem 1rem;
    width: 100%;
    height: fit-content;
    background-color: transparent;

    &:not(.show) {
      opacity: 0;
    }

    &-icon {
      --desired-icon: '\f105';
      
      @include flex-col();
      align-self: flex-start;
      justify-content: flex-start;
      width: 25px;
      height: 25px;

      &.build {
        --desired-icon: '\f305';
      }

      &.repository {
        --desired-icon: '\f1c0';
      }

      &.version {
        --desired-icon: '\f126';
      }

      &.share {
        --desired-icon: '\f064';
      }

      &.algorithm {
        --desired-icon: '\f121';
      }

      &.review {
        --desired-icon: '\f086';
      }

      &:after {
        @include fontawesome-icon();
        @include text-shadow(1px, 2px, 5px, rgba(0, 0, 0, 0.2));
        
        cursor: default;
        content: var(--desired-icon);
        color: var(--feature-icon-color);
        width: 25px;
        height: 25px;
        padding-top: 0.25rem;
        font-size: 1.75rem;
      }
    }
  }

  &__details {
    @include flex-col();

    flex-grow: 1;
    align-self: flex-start;
    justify-content: flex-start;

    &-title {
      color: col(text-darkest);
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 2px;
      padding: 0;
      padding-top: 0;
      padding-bottom: 0.5rem;
      text-align: left;
    }
    
    &-text {
      font-size: 1rem;
      padding: 0;
      padding-bottom: 0.25rem;
      padding-top: 0.25rem;
      text-align: left;
      color: col(text-darker);
    }
  }
}

.homepage-carousel {
  display: flex;
  flex-flow: column nowrap;
  padding: 6rem 1rem 6rem 1rem;
  margin-top: 3rem;
  margin-bottom: 3em;
  background-color: var(--hero-area-bg-color);
  max-width: calc(100% - 2rem);

  &__header {
    @include flex-row();

    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;

    &-title {
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      color: col(text-darkest);
      padding: 0.5rem;
      margin: 0;
    }
  }

  &__container {
    @include flex-col();

    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__items {
    @include flex-row($gap: 1rem);

    justify-content: center;
    align-content: stretch;
  }

  &__item {
    @include flex-col();
    @include box-shadow(0, 4px, 8px, 0px, rgba(0, 0, 0, 0.2));
    @include prefix(transition, all ease 250ms, webkit moz ms o);
    
    display: flex;
    flex-flow: column nowrap;
    width: 250px;
    background-color: col(bg);
    border-radius: 0.25rem;
    transition: all 0.4s;
    padding: 0.25rem 1rem 1rem 1rem;

    &:hover {
      @include box-shadow(0, 30px, 18px, -8px, rgba(0, 0, 0, 0.1));
      @include prefix(transform, scale(1.05, 1.05), webkit moz ms o);

      backface-visibility: hidden;
      transform: scale(1.05, 1.05);
      -webkit-transform: scale(1.05, 1.05);
    }

    &-subtitle {
      text-align: left;
      font-weight: bold;
      font-size: 1.1rem;
      color: col(text-darkest);
      padding: 0.5rem 0;
    }

    &-text {
      margin: 0 0 1rem 0;
    }

    a {
      @include clear-anchor();
      margin-top: auto;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

.homepage-principles {
  flex-flow: column nowrap;
  flex-wrap: nowrap;
  align-self: center;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 6em;
  width: 100%;
  max-width: calc(100% - 1rem);

  &--inner-padding {
    padding: 1rem var(--main-gutter) 1rem var(--main-gutter);
    width: calc(100% - var(--main-gutter)*2);
  
    @include media("<desktop", "screen") {
      padding-right: var(--main-mobile-gutter);
      padding-left: var(--main-mobile-gutter);
      width: calc(100% - var(--main-mobile-gutter)*2);
    }
  }

  &--constrained {
    max-width: 2160px;
  }

  &__header {
    @include flex-row();

    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0 0 1rem 0;

    &-title {
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      color: col(text-darkest);
      padding: 0.5rem;
      margin: 0;

      &-highlight {
        color: var(--feature-highlight-color);
      }
    }
  }

  &__container {
    display: grid;
    justify-content: center;
    grid-column-gap: 2rem;
    padding: 0 2rem;
    width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);

    grid-template-columns: repeat(3, calc(400px - 4rem));
    grid-template-rows: repeat(3, fit-content);

    @include media('<1200px', 'screen') {
      grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
    }

    @include media('<tablet', 'screen') {
      padding: 0 0.5rem 0 0.5rem;
    }
  }

  &__principle {
    @include flex-col();
    width: 100%;

    &:after {
      content: '';
      background-color: var(--feature-highlight-color);;
      width: 2rem;
      height: 0.25rem;
      position: absolute;
      top: 0.75rem;
      left: 1.1rem;
    }
  }

  &__details {
    @include flex-col();

    align-self: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
    max-width: calc(100% - 1rem);

    &-title {
      align-self: flex-start;
      color: col(text-darkest);
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 2px;
      padding: 0;
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 0rem;
      text-align: left;
    }
    
    &-text {
      font-size: 1rem;
      text-align: left;
      color: col(text-darker);
      word-wrap: break-word;
    }
  }
}
