{% load entity_renderer %}
<div class="detailed-input-group fill">
  <h3 class="detailed-input-group__title">Publications</h3>
  {% if not component.hide_input_details %}
  <p class="detailed-input-group__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  {% endif %}

  <div class="publication-list-group">
    <section class="publication-list-group__list show" id="publication-group">
      <!-- <div class="publication-list-group__list-container " id="publication-list"> -->
        {% if component.value|length %}
          <ul>
              {% for p in component.value %}
                  <li>{{ p.details }}
                    {% if p.doi %}
                    (DOI:{{ p.doi }})
                    {% endif %}
                  </li>
              {% endfor %}
          </ul>
        {% else %}
        <span class="card-no-data">No publications</span>
        {% endif %}
      <!-- </div> -->
    </section>
  </div>
</div>
