{% load static %}
{% load i18n %}
{% load svg %}
{% load cl_extras %}

{% block content %}
<div class="cookie_card" title="Cookies Settings" role="alert">
  <div class="cookie_card__container">
    <button
      type="button"
      id="button_cookie"
      class="secondary-btn preferencecookies">
      {% svg "cookies_icon" %}
    </button>
  </div>
</div>

{% if not IS_DEMO %} 
  {% if request.CURRENT_BRAND == 'HDRUK' %}
    <!-- for sub-directory = https://conceptlibrary.saildatabank.com/HDRUK/ -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-QE37B9J5WK"
    ></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-W6XK339B16"
    ></script>

    <script type="text/javascript">
      domReady.finally(() => {
        // Attach click event handler to #cookie_preference element
        document.getElementById("button_cookie").addEventListener("click", function (e) {
          e.preventDefault();
          cookieSettings("{% url 'privacy_and_cookie_policy' %}");
          const checkbox = document.getElementById("stats-check");

          getCookie("acceptCookies")
            ? (checkbox.checked = true)
            : (checkbox.checked = false);

          document.getElementById("save-button").addEventListener("click", function () {
            if (checkbox.checked) {
              deleteCookies();
              handleCookies("cookieAlertAccept", "acceptCookies", true);
              generateTag("update", "G-QE37B9J5WK", { ad_storage: "granted" });
              generateTag("update", "G-W6XK339B16", { ad_storage: "granted" });
            } else {
              deleteCookies();
              handleCookies("rejectCookiesAlert", "rejectCookies", false);
              generateTag("default", "G-QE37B9J5WK", {
                ad_storage: "denied",
                analytics_storage: "denied",
              });
              generateTag("default", "G-W6XK339B16", {
                ad_storage: "denied",
                analytics_storage: "denied",
              });
            }
          });
        });
      });
    </script>
  {% else %}
    <script type="text/javascript">
      domReady.finally(() => {
        // Attach click event handler to #cookie_preference element
        document.getElementById("button_cookie").addEventListener("click", function (e) {
          e.preventDefault();
          cookieSettings("{% url 'privacy_and_cookie_policy' %}");

          const checkbox = document.getElementById("stats-check");
          getCookie("acceptCookies")
            ? (checkbox.checked = true)
            : (checkbox.checked = false);

          document.getElementById("save-button").addEventListener("click", function () {
            if (checkbox.checked) {
              deleteCookies();
              handleCookies("cookieAlertAccept", "acceptCookies", true);
              generateTag("update", "G-KLBS2646W1", { ad_storage: "granted" });
            } else {
              deleteCookies();
              handleCookies("rejectCookiesAlert", "rejectCookies", false);
              generateTag("default", "G-KLBS2646W1", {
                ad_storage: "denied",
                analytics_storage: "denied",
              });
            }
          });
        });
      });
    </script>
  {% endif %}
{% endif %}
{% endblock content %}
