{% load static %}
{% load i18n %}
{% load svg %}
{% load mathfilters %}
{% load cl_extras %}

{% block content %}
<div class="cookiealert" role="alert">
    <div class="cookiealert__title">
        {% svg "cookies_icon" %}
        <h2>Cookie consent</h2>
    </div>
    
    <div class="cookiealert__data">
        <p>This website use cookies to help you have a superior and more relevant browsing experience on the website. <a id="link_privacy" href="{% url 'privacy_and_cookie_policy' %}"
            target="_blank">Learn more</a></p>
    </div>
    <div class="cookiealert__cookie_buttons">

        <button type="button" id="cookie_preference" class="secondary-btn tertiary-outline outline preferencecookies" value="">
            Customise settings
        </button>

        <button type="button" id="reject_button" class="secondary-btn tertiary-outline outline rejectcookies" value="">
            Disable analytics
        </button>
    
        <button type="button" id="accept_button" class="primary-btn tertiary-accent text-accent-brightest acceptcookies" value="">
            Accept all
        </button>
    </div>
    
    
</div>

{% if not IS_PRODUCTION_SERVER %}
  {% if request.CURRENT_BRAND == 'HDRUK' %}
    <!-- for sub-directory = https://conceptlibrary.saildatabank.com/HDRUK/ -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QE37B9J5WK"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W6XK339B16"></script>
    
    <script type="text/javascript">

      // Attach click event handler to #cookie_preference element
      document.getElementById("cookie_preference").addEventListener("click", function(e) {
        cookieSettings("{% url 'cookies_settings' %}");

        const dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }

        const adStoragePermission = cookieSettings.getSettings("analyses") ? 'granted' : 'denied';
        const analyticsStoragePermission = cookieSettings.getSettings("analyses") ? 'granted' : 'denied';

        gtag('js', new Date());
        gtag('consent', 'update', { 'ad_storage': adStoragePermission });
        gtag('config', 'G-QE37B9J5WK');
        gtag('consent', 'update', { 'ad_storage': adStoragePermission });
        gtag('config', 'G-W6XK339B16');

        if (!cookieSettings.getSettings("analyses")) {
          gtag('consent', 'default', { 'ad_storage': 'denied', 'analytics_storage': 'denied' });
          gtag('config', 'G-QE37B9J5WK');
          gtag('consent', 'default', { 'ad_storage': 'denied', 'analytics_storage': 'denied' });
          gtag('config', 'G-W6XK339B16');
        }
      });
    </script>
  {% else %}
    <!-- for the default/other brands -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KLBS2646W1"></script>
    <script type="text/javascript">
     
      // Attach click event handler to #cookie_preference element
      document.getElementById("cookie_preference").addEventListener("click", function() {
        var cookieSettings = new BootstrapCookieConsentSettings(props);
        cookieSettings.showDialog();

        if (cookieSettings.getSettings("analyses")) {
          window.dataLayer = window.dataLayer || [];
          function gtag() { dataLayer.push(arguments); }
          gtag('js', new Date());
          gtag('consent', 'update', { 'ad_storage': 'granted' });
          gtag('config', 'G-KLBS2646W1');
        } else {
          window.dataLayer = window.dataLayer || [];
          function gtag() { dataLayer.push(arguments); }
          gtag('js', new Date());
          gtag('consent', 'default', { 'ad_storage': 'denied', 'analytics_storage': 'denied' });
          gtag('config', 'G-KLBS2646W1');
        }
      });
    </script>
  {% endif %}
{% endif %}

{% if not IS_PRODUCTION_SERVER %}
  {% if request.CURRENT_BRAND == 'HDRUK' %}
    <!-- for sub-directory = https://conceptlibrary.saildatabank.com/HDRUK/ -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QE37B9J5WK"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W6XK339B16"></script>
    <script type="text/javascript">
      // Attach click event handlers to #accept_button and #reject_button elements
      document.getElementById("accept_button").addEventListener("click", function() {
        generateTag('update','G-QE37B9J5WK',{ 'ad_storage': 'granted' })
        generateTag('update','G-W6XK339B16', { 'ad_storage': 'granted' })
      });

      document.getElementById("reject_button").addEventListener("click", function() {
        generateTag('default','G-QE37B9J5WK',{ 'ad_storage': 'denied', 'analytics_storage': 'denied' })
        generateTag('default','G-W6XK339B16', { 'ad_storage': 'denied', 'analytics_storage': 'denied' })
      });
    </script>

  {% else %}
    <!-- for the default/other brands -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KLBS2646W1"></script>
    <script type="text/javascript">
      // Attach click event handlers to #accept_button and #reject_button elements
      document.getElementById("accept_button").addEventListener("click", function() {
        generateTag('update','G-KLBS2646W1', { 'ad_storage': 'granted' })
      
      });
      document.getElementById("reject_button").addEventListener("click", function() {
        generateTag('default','G-KLBS2646W1', { 'ad_storage': 'denied', 'analytics_storage': 'denied' })

      });
    </script>
  {% endif %}
{% endif %}



{% endblock content %}