{% load static %}
{% load i18n %}
{% load svg %}
{% load compress %}
{% load cl_extras %}

{% block content %}
<div class="cookiealert" role="alert">
  <div class="cookiealert__title">
    {% svg "cookies_icon" %}
    <h2>Cookie consent</h2>
  </div>
  
  <div class="cookiealert__data">
    <p>
      This website use cookies to help you have a superior and more relevant browsing experience on the website.
      <a id="link_privacy"
          href="{% url 'privacy_and_cookie_policy' %}"
          target="_blank">
        Learn more
      </a>
    </p>
  </div>
  <div class="cookiealert__cookie_buttons">
    <button type="button" id="cookie_preference" class="secondary-btn  outline preferencecookies">
      <span>Customise settings</span>
    </button>

    <button type="button" id="reject_button" class="secondary-btn outline rejectcookies">
      <span>Disable analytics</span>
    </button>

    <button type="button" id="accept_button" class="primary-btn  acceptcookies">
      <span>Accept all</span>
    </button>
  </div>
</div>

{% if not IS_DEMO and not IS_DEVELOPMENT_PC %}
  {% if request.CURRENT_BRAND == 'HDRUK' %}
    <!-- for sub-directory = https://conceptlibrary.saildatabank.com/HDRUK/ -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QE37B9J5WK"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W6XK339B16"></script>
    {% compress js inline %}
    <script type="text/javascript">
      domReady.finally(() => {
        // Attach click event handler to #cookie_preference element
        document.getElementById("cookie_preference").addEventListener("click", function(e) {
          e.preventDefault();
          cookieSettings("{% url 'privacy_and_cookie_policy' %}");

          const checkbox = document.getElementById("stats-check");
          document.getElementById("save-button").addEventListener("click", function() {
            if (checkbox.checked) {
              handleCookies("cookieAlertAccept", "acceptCookies", true);
              generateTag('update','G-QE37B9J5WK',{ 'ad_storage': 'granted' })
              generateTag('update','G-W6XK339B16', { 'ad_storage': 'granted' })
            } else {
              handleCookies("rejectCookiesAlert", "rejectCookies", false);
              generateTag('default','G-QE37B9J5WK',{ 'ad_storage': 'denied', 'analytics_storage': 'denied' })
              generateTag('default','G-W6XK339B16', { 'ad_storage': 'denied', 'analytics_storage': 'denied' })
            }
          });
        });

        // Attach click event handlers to #accept_button and #reject_button elements
        document.getElementById("reject_button").addEventListener("click", function() {
          generateTag('default','G-QE37B9J5WK',{ 'ad_storage': 'denied', 'analytics_storage': 'denied' })
          generateTag('default','G-W6XK339B16', { 'ad_storage': 'denied', 'analytics_storage': 'denied' })
        });

        document.getElementById("accept_button").addEventListener("click", function() {
          generateTag('update','G-QE37B9J5WK',{ 'ad_storage': 'granted' })
          generateTag('update','G-W6XK339B16', { 'ad_storage': 'granted' })
        });
      });
    </script>
    {% endcompress %}
  {% else %}
    <!-- for the default/other brands -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KLBS2646W1"></script>
    {% compress js inline %}
    <script type="text/javascript">
      domReady.finally(() => {
        // Attach click event handler to #cookie_preference element
        document.getElementById("cookie_preference").addEventListener("click", function(e) {
          e.preventDefault();
          cookieSettings("{% url 'privacy_and_cookie_policy' %}");

          const checkbox = document.getElementById("stats-check");
          document.getElementById("save-button").addEventListener("click", function() {
          if (checkbox.checked) {
            handleCookies("cookieAlertAccept", "acceptCookies", true);
            generateTag('update','G-KLBS2646W1',{ 'ad_storage': 'granted' });
          } else {
            handleCookies("rejectCookiesAlert", "rejectCookies", false);
            generateTag('default','G-KLBS2646W1',{ 'ad_storage': 'denied', 'analytics_storage': 'denied' });
          }})
        });

        // Attach click event handlers to #accept_button and #reject_button elements
        document.getElementById("accept_button").addEventListener("click", function() {
          generateTag('update','G-KLBS2646W1', { 'ad_storage': 'granted' });
        });
        document.getElementById("reject_button").addEventListener("click", function() {
          generateTag('default','G-KLBS2646W1', { 'ad_storage': 'denied', 'analytics_storage': 'denied' });
        });
      });
    </script>
    {% endcompress %}
  {% endif %}
{% endif %}
{% endblock content %}
