{% extends "clinicalcode/publishedconcept/base.html" %}

{% load staticfiles %}


{% block container %}
<form id="concept-list-filter" action="{% url 'published_concept_list' %}" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="search">Search:</label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" placeholder="Search" name="search" id="search"
                            value="{{ search|default_if_none:'' }}">
                    </div>
                    <div class="col-md-2">
                        <label for="page_size">Results per page:</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" id="page_size" name="page_size">
                            <option value="20" {% if page_size == "20" %}selected="selected" {% endif %}>20</option>
                            <option value="50" {% if page_size == "50" %}selected="selected" {% endif %}>50</option>
                            <option value="100" {% if page_size == "100" %}selected="selected" {% endif %}>100
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                         <label for="brand">Brand:</label>
                     </div>
                     <div class="col-sm-10">
                        {% if request.session.all_brands %}
                            <ul class="nav navbar-nav">
                                  <select class="form-control" name="concept_brand" id="concept_brand"  >  
                                     <option value=""  style='background-color: lightgreen;' >Any</option>
                                     {% for brand in request.session.all_brands %}
                                         <option value="{{ brand|upper }}" 
                                                {% if brand|upper == concept_brand|upper %} selected="selected" {% endif %}
                                                >
                                             {{ brand|upper }}
                                             {% if brand|upper in request.session.user_brands %} (*) {% endif %}
                                     </option>
                                     {% empty %}
                                         <option value="-1" >No Brands !!!</option>
                                     {% endfor %}
                                   </select>
                             </ul>
                         {% endif %}
                     </div>	
                 </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-info" name="page" value="1">
                            <i class="fa fa-search"></i> Search Concepts
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <table class="table table-striped small-table table-hover">
            <tr>
                <th>Id</th>
                <th>Version Id</th>
                <th stylex="width: 200px;">Concept name</th>
                <th>Coding system</th>
                <th>Owner</th>
                <th>Publish date</th>
                <th></th>
            </tr>
            {% block content %}
            {% for concept in page_obj.object_list %}
            <tr {% cycle '' ' class="form-group highlight-row" ' %}>
                <td>{{ concept.id }}</td>
                <td>{{ concept.history_id }}</td>
                <td>{{ concept.name }}
                    {% for item in request.BRAND_GROUPS %}
                        {% for brand, groups in item.iteritems %}
							{% if concept.group.name in groups %}
							<img src="{% static 'img/brands/' %}{{brand}}/logo.png" height="10px" title="{{brand}}" alt="{{brand}}" />
							{% endif %}
						{% endfor %}
					{% endfor %}
                </td>
                <td>{{ concept.coding_system }}</td>
                <td>{{ concept.owner }}</td>
                <td>{{ concept.publish_date|date:"Y-m-d" }}</td>
                <td class="text-right">
                    <a class="" href="{% url 'published_concept_details' pk=concept.id concept_history_id=concept.history_id  %}">
                        <button type="button" class="btn btn-info btn-xs text-right">
                            <i class="glyphicon glyphicon-search"> </i>
                        </button>
                    </a>
                    <span style="width: 10px;">&nbsp;</span>
                </td>
            <tr>
                {% empty %}
            <tr>
                <td colspan="11" class="text-center bg-warning">
                    No published concepts
                </td>
            </tr>
            {% endfor %}
            {% endblock %}
        </table>
        <div class="page-control-container">
            {% include 'pagination.html' with form_target='concept-list-filter' %}
        </div>

    </div>
    <br />

    
</form>
{% endblock container %}
