{% load entity_renderer %}
<div class="detailed-input-group fill">
  <h3 class="detailed-input-group__title">Publications</h3>
  {% if not component.hide_input_details %}
  <p class="detailed-input-group__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  {% endif %}
  <div class="publication-list-group">
    <data type="value" for="{{ component.field_name }}">
      {% if component.value %}
        {{ component.value|jsonify|safe }}
      {% endif %}
    </data>
    <input class="text-input" aria-label="Publication link input" type="text"
      placeholder="e.g. Doe J. et al. Publication. Publisher - DOI 10.111"
      minlength="3" pattern="^[a-zA-Z]{1,}.*?"
      data-class="clinical-publication" data-field="{{ component.field_name }}">
  
    <section class="publication-list-group__none-available " id="no-available-publications">
      <p class="publication-list-group__none-available-message">You haven't added any publications yet</p>
    </section>

    <section class="publication-list-group__list show" id="publication-group">
      <div class="publication-list-group__list-header" id="pub-header">
        <h3>Your publications</h3>
      </div>
      <div class="publication-list-group__list-container slim-scrollbar" id="publication-list">
        
      </div>
    </section>
  </div>
</div>
