{% extends "base.html" %}

{% load staticfiles %}

{% block title %}| Historical working set{% endblock title %}

{% block container %}

<h2 style="background-color:silver; padding-left:5px;"><i class="fa fa-history" aria-hidden="true"></i><i> {{ workingset.name }} (Historical)</i></h2>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-horizontal">
<!-- 					<div class="form-group"> -->
<!-- 						<label class="col-sm-4" for="">Working Set Name:</label> -->
<!-- 						<div class="col-sm-7"> -->
<!-- 							{{ workingset.name }}						 -->
<!-- 						</div> -->
<!-- 					</div> -->
					
					<div class="row">
						<div class="col-sm-8">
							<a href="{% url "workingset_detail" workingset.id %}" class="btn btn-success">
								<i class="fa fa-reply" aria-hidden="true"></i> Return to Working Set
							</a>
							
							<div class="dropdown btn-group">
							  <button {% if not user_can_export %} disabled title="Component concept(s) deleted or revoked access!!" {% endif %} type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="export-btn">
							    Export
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
							  <li>
							    <a {% if user_can_export %} href="{% url 'history_workingset_to_csv' pk=workingset.id workingset_history_id=workingset.history_id %}" {% endif %} 
							       class="dropdown-item" >
									<i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV
								</a>
							   </li>
							   <li>
								<a {% if user_can_export %} href="/api/export_workingset_codes_byVersionID/{{ workingset.id }}/version/{{ workingset.history_id }}/?format=json" target=_blank {% endif %} 
							       class="dropdown-item" >
									<i class="fa fa-file-text" aria-hidden="true"></i> JSON
								</a>
							   </li>
							   <li>
								<a {% if user_can_export %} href="/api/export_workingset_codes_byVersionID/{{ workingset.id }}/version/{{ workingset.history_id }}/?format=xml" target=_blank {% endif %} 
							       class="dropdown-item" >
									<i class="fa fa-file-code-o" aria-hidden="true"></i> XML
								</a>
							   </li>
							  </ul>
							</div>	
							
						{% if not CLL_READ_ONLY %}
							<a  {% if allowed_to_create and user_can_edit %} 
							        class="js-load-modal btn btn-danger" href="{% url 'workingset_history_revert' pk=workingset.id workingset_history_id=workingset.history_id %}"
								{% else %} 
								    class="btn btn-danger" disabled 
								{%endif %}
								id="revert-btn">
								<i class="fa fa-undo" aria-hidden="true"></i> Revert
							</a>
							
							<a href="#" role="button" class="btn popovers" id="help-hist-concept" data-toggle="popover" data-trigger="hover" data-container="body" title="" data-original-title="" data-placement="right">
								<i class="fa fa-question-circle" aria-hidden="true"></i>
							</a>
						{% endif %}
						</div>
					</div>
					
					<div class="alert alert-success alert-dismissable" id="success-message" style="display: none;" role="alert"></div>
					<div class="alert alert-danger alert-dismissable" id="error-message" style="display: none;" role="alert"></div>
					<hr/>	

					<div class="form-group highlight-row">
						<label class="col-sm-4">Tags:</label>
						<div class="col-sm-7">
							{% for tag in tags %}
								<div>{{ tag.description }}</div>
							{% endfor %}						
						</div>
					</div>	
																		
					<div class="form-group">
						<label class="col-sm-4">Author:</label>
						<div class="col-sm-7">
							{{ workingset.author }}							
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-4">Description:</label>
						<div class="col-sm-7">
							{{ workingset.description }}							
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4">Publication:</label>
						<div class="col-sm-7">
							{{ workingset.publication }}
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-4">Primary Publication DOI:</label>
						<div class="col-sm-7">
							{{ workingset.publication_doi }}
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4">Primary publication link:</label>
						<div class="col-sm-7">
							{{ workingset.publication_link }}
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-4">Secondary publication links:</label>
						<div class="col-sm-7">
							{{ workingset.secondary_publication_links }}
						</div>
					</div>					
					
					<div class="form-group">
						<label class="col-sm-4">Source reference:</label>
						<div class="col-sm-7">
							{{ workingset.source_reference }}
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-4">Citation requirements:</label>
						<div class="col-sm-7">
							{{ workingset.citation_requirements }}
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4">Created by:</label>
						<div class="col-sm-7">
							<p class="form-control-static">{{ workingset.created_by_username }}</p>
						</div>
					</div>
					<div class="form-group highlight-row">
						<label class="col-sm-4">Modified by:</label>
						<div class="col-sm-7">
							<p class="form-control-static">{{ workingset.modified_by_username }}</p>
						</div>
					</div>
					<hr />
					<div class="form-group">
						<label class="col-sm-4">Owner:</label>
						<div class="col-sm-7">
							<p class="form-control-static">{{ workingset.owner.username }}</p>
						</div>
					</div>
					<div class="form-group highlight-row">
						<label class="col-sm-4">Owner access:</label>
						<div class="col-sm-7">
							{% if workingset.owner_access == 1 %}
								<span>None</span>
							{% elif workingset.owner_access == 2 %}
								<span>View only</span>
							{% elif workingset.owner_access == 3 %}
								<span>View and edit</span>
							{% else %}

							{% endif %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Group:</label>
						<div class="col-sm-7">
							<p class="form-control-static">{{ workingset.group }}</p>
						</div>
					</div>
					<div class="form-group highlight-row">
						<label class="col-sm-4">Group access:</label>
						<div class="col-sm-7">
							{% if workingset.group_access == 1 %}
								<span>None</span>
							{% elif workingset.group_access == 2 %}
								<span>View only</span>
							{% elif workingset.group_access == 3 %}
								<span>View and edit</span>
							{% else %}

							{% endif %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Everyone else access:</label>
						<div class="col-sm-7">
							{% if workingset.world_access == 1 %}
								<span>None</span>
							{% elif workingset.world_access == 2 %}
								<span>View only</span>
							{% elif workingset.world_access == 3 %}
								<span>View and edit</span>
							{% else %}

							{% endif %}
						</div>
					</div>

	<!--	-------------------------------------------------------------------
				WORKINGSET VIEW PAGE CONCEPT TABLE
			-------------------------------------------------------------------
	-->		
					<hr />
					<h4><i aria-hidden="true"></i> Concepts</h4>
					<input type="hidden" id="concepts_json" value="{{ workingset.concept_informations }}">
					<input type="hidden" id="concepts_id_name" value="{{ concepts_id_name }}">
 					<input type="hidden" id="concepts_id_versionID"  value="{{ concepts_id_versionID }}"> 
					<table id="concept_table" class="table table-striped small-table">
						<thead>
							<tr>
								<th>Concept id</th>
								<th>Concept version id</th>								
								<th>Concept name</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								
							</tr>
						</tbody>
					</table>
					
					<hr/>
				
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<a href="{% url "workingset_detail" workingset.id %}" class="btn btn-success">
								<i class="fa fa-reply" aria-hidden="true"></i> Return to Working Set
							</a>
						</div>
					</div>		
				</div>
			</div>
		</div>
		<div id="popover-content-help-hist-concept" class="hide popover-lg">
			<p>
				<strong>Return to working set</strong> - Return to the current working set
			</p>
			<p>
				<strong>Revert</strong> - This will restore the working set back to this version.
			</p>
		</div>
	</div>
</div>
{% endblock container %}


{% block scripts %}
	<script src="{% static 'js/clinicalcode/component.js' %}"></script>
	<script src="{% static 'js/clinicalcode/concept.js' %}"></script>
	
	<script type="text/javascript">
		
		//reconstruction of json data(concepts)
		$(document).ready(function(){
			var concept_json = $('#concepts_json').val();
			concept_json = JSON.parse(concept_json);
			
			var concepts_id_name = $('#concepts_id_name').val();
			concepts_id_name = JSON.parse(concepts_id_name);
			
			var concepts_id_version = $('#concepts_id_versionID').val();
			concepts_id_version = JSON.parse(concepts_id_version);
			
 			$.each( concept_json, function( key, value ) {
 				$.each( value, function( key, value ) {  // go thorugh concept ids
 	  				//alert( key);
 				
 					var c_url = '/concepts/'+key+'/history/'+concepts_id_version[key]+'/detail/';
 	  				$('#concept_table tbody>tr:last').after('<tr><td>' + key + '</td>'
 	  													   +'<td>' + concepts_id_version[key] + '</td>'
 	  													   +'<td>' 
 	  													   + '<a href='+c_url+'   title='+c_url+' target="_blank" class="alert-link">'
 	  													   + get_Concept_name(concepts_id_name, key) 
 	  													   + '</td></tr>');
 	  				
 	  				$.each( value, function( key, value ) {  // go through concept data
 	  					inHeaders = false;
 	  					header_type = key.split("|");
 	 					header = header_type[0];
 	 					//type = header_type[1];
 	  	
 	  	  				headers = $('#concept_table thead>tr>th').each(function(index, input){
 	  	  					if ($(input).text() == header) {
 	  	  						inHeaders = true;
 	  	  					}
 	  	  				});
 	  	  				
 	  	  				if(!inHeaders){
 	  	  					$('#concept_table thead>tr>th:last').after('<th>' + header + '</th>');  //insert concept headers
 	  	  				} 
 	  	  				
 	  	  				$('#concept_table tbody>tr:last>td:last').after('<td>' + value + '</td>');  //isnert concept data
 	  				});
 	  				
	  
 				});
 				
 			});

 			//-------------------------------------------------------------------------------
			function  get_Concept_name(list1, id){
			    var imgPath = ' <img src="{% static 'img/brands/' %}BRANDT1/logo.png" height="10px" title="BRANDT1" alt="BRANDT1" /> ';
				var conceptBrands = {{ conceptBrands|safe }};
				for (i in list1) {
					  if (list1[i]['id']==id) {
						  imgs = '';
						  for (b in conceptBrands[id]){
							  imgs += imgPath.replace(/BRANDT1/ig, conceptBrands[id][b] ) 
						  }
					    return(list1[i]['name'] + '' + imgs );
					    
					    
					  }
					}
				return('');
			}
			
		});		
	</script>
{% endblock scripts %}
