<aside class="steps-wizard">
  <section class="steps-wizard__panel" onselectstart="return false;">
    <span class="steps-wizard__header">Skip to step...</span>
    <span class="steps-wizard__item" id="definition-step" data-value="1" data-target="definition-progress">Definition</span>
    <span class="steps-wizard__item" id="concept-step" data-value="2" data-target="concept-progress">Concepts</span>
    <span class="steps-wizard__item" id="publication-step" data-value="3" data-target="publication-progress">Publication</span>
    <span class="steps-wizard__item" id="validation-step" data-value="4" data-target="validation-progress">Validation</span>
    <span class="steps-wizard__item" id="permissions-step" data-value="5" data-target="permission-progress">Permissions</span>
  </section>
</aside>