<div class="attribute-progress_item-container">
  <div class="detailed-input-group fill">
    <h3 class="detailed-input-group__title">
      Type
      <span class="detailed-input-group__mandatory">*</span>
    </h3>
    <p class="detailed-input-group__description">
      The data type of the attribute
    </p>
    <input aria-label="" class="text-input" data-class="inputbox" data-field="name" id="type-input">
  </div>
  <div class="detailed-input-group fill">
    <h3 class="detailed-input-group__title">
      Attribute Name
      <span class="detailed-input-group__mandatory">*</span>
    </h3>
    <p class="detailed-input-group__description">
      String formatted name of attribute
    </p>
    <input aria-label="" class="text-input" data-class="inputbox" data-field="name" id="attribute-name-input">
  </div>
  <div class="detailed-input-group fill">
    <h3 class="detailed-input-group__title">
      Attribute Value
      <span class="detailed-input-group__mandatory">*</span>
    </h3>
    <p class="detailed-input-group__description">
      Attribute value depend on the type you have chosen eg INT -> 1
    </p>
    <input  aria-label="" class="text-input" data-class="inputbox" data-field="name" id="attribute-value-input">
  </div>
</div>
