<section class="entity-search-results entity-search-results--constrained">
  <div class="entity-search-results__header">
    <div
      class="entity-search-results__header-results"
      id="search-response-header"
    >
    </div>
    <div class="entity-search-results__header-modifiers">
      <div class="selection-group">
        <p class="selection-group__title">Order By:</p>
        <div class="dropdown-selection">
          <select
            id="order-by-filter"
            placeholder-text="By Relevance"
            data-element="dropdown"
            data-field="order_by"
            data-class="option"
            class="hide"
          >
            <option value="1" class="dropdown-selection__list-item" selected="">
              Relevance
            </option>
            <option value="2" class="dropdown-selection__list-item">
              Created (Asc)
            </option>
            <option value="3" class="dropdown-selection__list-item">
              Created (Desc)
            </option>
            <option value="4" class="dropdown-selection__list-item">
              Updated (Asc)
            </option>
            <option value="5" class="dropdown-selection__list-item">
              Updated (Desc)
            </option></select
          ><button
            class="dropdown-selection__button"
            data-value="null"
            type="button"
          >
            <span>Relevance</span
            ><span class="dropdown-selection__button-icon"></span>
          </button>
          <ul class="dropdown-selection__list">
            <li
              class="dropdown-selection__list-item"
              data-value="1"
              aria-label="Relevance"
              tabindex="0"
              role="button"
            >
              Relevance
            </li>
            <li
              class="dropdown-selection__list-item"
              data-value="2"
              aria-label="Created (Asc)"
              tabindex="0"
              role="button"
            >
              Created (Asc)
            </li>
            <li
              class="dropdown-selection__list-item"
              data-value="3"
              aria-label="Created (Desc)"
              tabindex="0"
              role="button"
            >
              Created (Desc)
            </li>
            <li
              class="dropdown-selection__list-item"
              data-value="4"
              aria-label="Updated (Asc)"
              tabindex="0"
              role="button"
            >
              Updated (Asc)
            </li>
            <li
              class="dropdown-selection__list-item"
              data-value="5"
              aria-label="Updated (Desc)"
              tabindex="0"
              role="button"
            >
              Updated (Desc)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="entity-search-results__container scrollable slim-scrollbar"
    id="search-response-content"
  >
    <article
      class="entity-card inactive"
      data-entity-id="PH1"
      data-entity-version-id="2901"
      style="padding: 0"
    >
      <div class="entity-card__header">
        <div class="entity-card__header-item">
          <h3 class="entity-card__title">
            PH7 / 2897 / C722 - Psoriasis - Primary Care  | Read codes v2 
          </h3>
          <p class="entity-card__author">BHF CVD COVID UK Consortium</p>
        </div>
      </div>
      <div class="entity-card__snippet" style="padding: 0.5rem">
      </div>
    </article>
    

  </div>

</section>
