<div class="attribute-progress_item-container" id="attributeContainer">
  <div class="detailed-input-group ">
    <h3 class="detailed-input-group__title">
      Type
      <span class="detailed-input-group__mandatory">*</span>
    </h3>
    <p class="detailed-input-group__description">
      The data type of the attribute
    </p>
    <div class="selection-group">
      <select aria-label="Attribute type" class="selection-input" data-class="dropdown" data-field="type" id="attribute-type-${id}" name="attribute-type">
        <option disabled="" hidden="" selected="" value="-1">Attribute Type</option>
        <option value="1">INT</option>
        <option value="2">STRING</option>
        <option value="3">FLOAT</option>
      </select>
    </div>
  </div>
  <div class="detailed-input-group ">
    <h3 class="detailed-input-group__title">
      Attribute Name
      <span class="detailed-input-group__mandatory">*</span>
    </h3>
    <p class="detailed-input-group__description">
      String formatted name of attribute
    </p>
    <input aria-label="" class="text-input" data-class="inputbox" data-field="name" id="attribute-name-input-${id}">
  </div>
  <div class="detailed-input-group ">
    <h3 class="detailed-input-group__title">
      Attribute Value
      <span class="detailed-input-group__mandatory">*</span>
    </h3>
    <p class="detailed-input-group__description">
      Attribute value depend on the type you have chosen eg INT -> 1
    </p>
    <input  aria-label="" class="text-input" data-class="inputbox" data-field="name" id="attribute-value-input-${id}">
  </div>
  <div class="concept-group-content__editor-buttons">
    <button class="secondary-btn text-accent-darkest bold washed-accent" aria-label="Cancel Changes" id="cancel-changes-${id}">Cancel</button>
    <button class="primary-btn text-accent-darkest bold secondary-accent" aria-label="Confirm Changes" id="confirm-changes-${id}">Confirm</button>
  </div>
</div>
