{% extends "base.html" %}

{% load staticfiles %}

{% block title %}| Historical concept{% endblock title %}

{% block container %}

<h2 style="background-color:silver; padding-left:5px;"><i class="fa fa-history" aria-hidden="true"></i><i> {{ concept.name }} (Historical)</i>
	{% for item in request.BRAND_GROUPS %}
		{% for brand, groups in item.iteritems %}
			{% if concept.group.name in groups %}
			<img style="margin-top:-5px;" src="{% static 'img/brands/' %}{{brand}}/logo.png" height="29px" title="{{brand}}" alt="{{brand}}" />
			{% endif %}
		{% endfor %}
	{% endfor %}
</h2>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-horizontal">
					<!--
					<div class="form-group">
						<label class="col-sm-4" for="">Name:</label>
						<div class="col-sm-7">
							{{ concept.name }}						
						</div>
					</div>
					 -->					
					<div class="row">
						<div class="col-sm-8">
							<a href="{% url "concept_detail" concept.id %}" class="btn btn-success">
								<i class="fa fa-reply" aria-hidden="true"></i> Return to Concept
							</a>
							
						   <div class="dropdown btn-group" > 
							  <button {% if not user_can_export %} disabled title="Component concept(s) deleted or revoked access!!" {% endif %} type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="export-btn">
							    Export
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
							  <li>
							    <a {% if user_can_export %} href="{% url 'history_concept_codes_to_csv' pk=concept.id concept_history_id=concept.history_id %}" {% endif %} 
							       class="dropdown-item" >
									<i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV
								</a>
							   </li>
							   <li>
								<a {% if user_can_export %} href="/api/export_concept_codes_byVersionID/{{ concept.id }}/version/{{ concept.history_id }}/?format=json" target=_blank {% endif %} 
							       class="dropdown-item" >
									<i class="fa fa-file-text" aria-hidden="true"></i> JSON
								</a>
							   </li>
							   <li>
								<a {% if user_can_export %} href="/api/export_concept_codes_byVersionID/{{ concept.id }}/version/{{ concept.history_id }}/?format=xml" target=_blank {% endif %} 
							       class="dropdown-item" >
									<i class="fa fa-file-code-o" aria-hidden="true"></i> XML
								</a>
							   </li>
							  </ul>
							</div>
							
						{% if not CLL_READ_ONLY %}
							<a 	{% if allowed_to_create %} class="js-load-modal btn btn-primary" href="{% url 'concept_history_fork' pk=concept.id concept_history_id=concept.history_id %}"
								{% else %} class="btn btn-primary" disabled 
								{% endif %} id="fork-btn">
								<i class="fa fa-code-fork" aria-hidden="true"></i> Fork
							</a>
							<a  {% if allowed_to_create and user_can_edit %} class="js-load-modal btn btn-danger" href="{% url 'concept_history_revert' pk=concept.id concept_history_id=concept.history_id %}"
								{% else %} class="btn btn-danger" disabled 
								{% endif %} id="revert-btn">
								<i class="fa fa-undo" aria-hidden="true"></i> Revert
							</a>
							{% if enable_publish and not CLL_READ_ONLY %}
							<a 
							    {% if not live_ver_is_deleted %} class="js-load-modal btn btn-primary" href="{% url 'concept_publish' pk=concept.id concept_history_id=concept.history_id %}" 
								{% else %} class="btn btn-primary" disabled title="Deleted concepts cannot be published !!" 
								{% endif %} 
								 id="publish2" >
								<i class="fa fa-paper-plane" aria-hidden="true"></i> Publish 
							</a>
							{% endif %}
						
							<a href="#" role="button" class="btn popovers" id="help-hist-concept" data-toggle="popover" data-trigger="hover" data-container="body" title="" data-original-title="" data-placement="right">
								<i class="fa fa-question-circle" aria-hidden="true"></i>
							</a>
						{% endif %}
						</div>
					</div>
					
					<div class="alert alert-success alert-dismissable" id="success-message" style="display: none;" role="alert"></div>
					<div class="alert alert-danger alert-dismissable" id="error-message" style="display: none;" role="alert"></div>
					<hr/>	
					
 					<div class="form-group">
						<label class="col-sm-4">History ID:</label>
						<div class="col-sm-7">
							{{ concept.history_id }}						
						</div>
					</div>
 					<div class="form-group highlight-row">
						<label class="col-sm-4">ID:</label>
						<div class="col-sm-7">
							{{ concept.id }}						
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Tags:</label>
						<div class="col-sm-7">
							{% for tag in tags %}
								<div>{{ tag.description }}</div>
							{% endfor %}						
						</div>
					</div>

					<div class="form-group highlight-row">
						<label class="col-sm-4" for="">Author:</label>
						<div class="col-sm-7">
							{{ concept.author }}						
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4">Entry date:</label>
						<div class="col-sm-7">
							{{ concept.entry_date }}							
						</div>
					</div>
					
					<div class="form-group  highlight-row">
						<label class="col-sm-4">Description:</label>
						<div class="col-sm-7">
							{{ concept.description }}						
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4">Coding system:</label>
						<div class="col-sm-7">
							{{ concept.coding_system_name }}
						</div>
					</div>
					<div class="form-group highlight-row">
						<label class="col-sm-4">Created by:</label>
						<div class="col-sm-7">
							<p class="form-control-static">{{ concept.created_by_username }}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Modified by:</label>
						<div class="col-sm-7">
							<p class="form-control-static">{{ concept.modified_by_username }}</p>
						</div>
					</div>
					<div class="form-group highlight-row">
						<label class="col-sm-4">Validation performed:</label>
						<div class="col-sm-7">
							<input type="checkbox" {% if concept.validation_performed %}checked="checked"{% endif %} disabled />
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4">Validation description:</label>
						<div class="col-sm-7">
							{{ concept.validation_description }}								
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-4">Primary publication DOI:</label>
						<div class="col-sm-7">
							{{ concept.publication_doi }}							
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4">Primary publication link:</label>
						<div class="col-sm-7">
							{{ concept.publication_link }}
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4">Secondary  publication link:</label>
						<div class="col-sm-7">
							{{ concept.secondary_publication_links }}
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-4">Paper published:</label>
						<div class="col-sm-7">
							<input type="checkbox" {% if concept.paper_published %}checked="checked"{% endif %} disabled />
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4">Source reference:</label>
						<div class="col-sm-7">
							{{ concept.source_reference }}
						</div>
					</div>
					
					<div class="form-group highlight-row">
						<label class="col-sm-4">Citation requirements:</label>
						<div class="col-sm-7">
							{{ concept.citation_requirements }}
						</div>
					</div>
					
					<hr />
					<div class="form-group">
						<label class="col-sm-4">Owner:</label>
						<div class="col-sm-7">
							<p class="form-control-static">
								{{ concept.owner.username }}
							</p>
						</div>
					</div>
					<div id="permissions" class="form-group highlight-row"">
						<label class="col-sm-4">Owner access:</label>
						<div class="col-sm-7">								
							{% if concept.owner_access == 1 %}	
								<span>None</span>
							{% elif concept.owner_access == 2 %}
								<span>View only</span>
							{% elif concept.owner_access == 3 %}
								<span>View and edit</span>
							{% else %}
								
							{% endif %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Group:</label>
						<div class="col-sm-7">
							<p class="form-control-static">{{ concept.group }}</p>
						</div>
					</div>
					<div id="permissions" class="form-group highlight-row">
						<label class="col-sm-4">Group access:</label>
						<div class="col-sm-7">
							{% if concept.group_access == 1 %}	
								<span>No access</span>
							{% elif concept.group_access == 2 %}
								<span>View only</span>
							{% elif concept.group_access == 3 %}
								<span>View and edit</span>
							{% else %}
								
							{% endif %}
						</div>
					</div>
					<div id="permissions" class="form-group">
						<label class="col-sm-4">Everyone else access:</label>
						<div class="col-sm-7">
							{% if concept.world_access == 1 %}	
								<span>No access</span>
							{% elif concept.world_access == 2 %}
								<span>View only</span>
							{% elif concept.world_access == 3 %}
								<span>View and edit</span>
							{% else %}
								
							{% endif %}
						</div>
					</div>
					<hr/>
					<h3><i class="fa fa-cogs" aria-hidden="true"></i> Components</h3>
					<table class="table table-striped small-table" id="component-table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Version</th>
								<th>Type</th>
								<th>Logical type</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for component in components %}
								<tr>
									<td>{% if component.component_type == 1 %}({{ component.concept_ref_id }}) {% endif %}{{ component.name }}
										{% if component.component_type == 1 %}
											{% for item in request.BRAND_GROUPS %}
												{% for brand, groups in item.iteritems %}
													{% if component.group in groups %}
													<img src="{% static 'img/brands/' %}{{brand}}/logo.png" height="10px" title="{{brand}}" alt="{{brand}}" />
													{% endif %}
												{% endfor %}
											{% endfor %}
										{% endif %}
									</td>
									<td>{% if component.component_type == 1 %}{{ component.concept_ref_history_id }}{% else %} - {% endif %}</td>
									<td>
										{% if component.component_type == 1 %}
											<span>Concept</span>
										{% elif component.component_type == 2 %}
											<span>Query Builder</span>
										{% elif component.component_type == 3 %}
											<span>Expression</span>
										{% elif component.component_type == 4 %}
											<span>Expression Select</span>
										{% endif %}
									</td>
									<td>{{ component.get_logical_type_display }}</td>
									<td class="text-right">
									<!-- Note that the data-toggle (popover) has been removed from the following
										 buttons as the codelist data is not available at this time.
									  -->
									{% if component.component_type == 1 %}
										<a class="js-load-modal" href="{% url 'component_history_concept_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">
										<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
										  <i class="glyphicon glyphicon-search"> </i>
										</button>
										</a>
										<!-- a class="js-load-modal" href="{% url 'component_history_concept_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}" data-target="modal-content">View</a-->
									{% elif component.component_type == 2 %}
										<a class="js-load-large-modal" href="{% url 'component_history_querybuilder_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">
										<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
											<i class="glyphicon glyphicon-search"> </i>
										</button>
										</a>
										<!-- a class="js-load-modal" href="{% url 'component_history_querybuilder_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}" data-target="modal-content">View</a-->
									{% elif component.component_type == 3 %}
										<a class="js-load-large-modal" href="{% url 'component_history_expression_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">
										<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
										  <i class="glyphicon glyphicon-search"> </i>
										</button>
										</a>
										<!-- a class="js-load-modal" href="{% url 'component_history_expression_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}" data-target="modal-content">View</a-->
									{% elif component.component_type == 4 %}
										<a class="js-load-large-modal" href="{% url 'component_history_expressionselect_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}">			
										<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-html="true" data-placement="left" id="code-preview-{{ component.id }}" data-trigger="hover">
											<i class="glyphicon glyphicon-search"> </i>
										</button>			
										</a>
										<!-- a class="js-load-modal" href="{% url 'component_history_expressionselect_detail' concept_id=component.concept_id concept_history_id=concept.history_id pk=component.id component_history_id=component.history_id %}" data-target="modal-content">View</a-->
									{% endif %}
										<!-- A hidden section containing the list of codes in the component. This will
											 be shown when the user hovers over the view icon using the Bootstrap popover
											 plugin. 
										  -->
										<div id="popover-content-code-preview-{{ component.id }}" class="hide popover-lg">
											{% if component.component_type == 1 %}
<!-- 												<div>Concept name: {{ component.concept_ref.name }}</div> -->
<!-- 												<div>Comment: {{ component.comment }}</div> -->
												<table class="table table-striped small-table" style="margin-bottom: 0px;">
													<thead>
														<tr>
															<th>Code</th>
															<th>Description</th>
														</tr>
													</thead>
													<tbody>
													{% for code in component.codes|slice:":10" %}
														<tr>
															<td>{{ code.code }}</td>
															<td>{{ code.description }}</td>
														</tr>
													{% empty %}
														<tr>
															<td colspan="2" class="text-center bg-warning">
																No codes
															</td>
														</tr>
													{% endfor %}
													</tbody>
												</table>
												<div>...</div>
											{% endif %}
											{% if component.component_type == 2 %}
												<table class="table table-striped small-table" style="margin-bottom: 0px;">
													<thead>
														<tr>
															<th>Code</th>
															<th>Description</th>
														</tr>
													</thead>
													<tbody>
													{% for code in component.codes|slice:":10" %}
														<tr>
															<td>{{ code.code }}</td>
															<td>{{ code.description }}</td>
														</tr>
													{% empty %}
														<tr>
															<td colspan="2" class="text-center bg-warning">
																No codes
															</td>
														</tr>
													{% endfor %}
													</tbody>
												</table>
												<div>...</div>
											{% endif %}
											{% if component.component_type == 3 or component.component_type == 4 %}		
												<div><label>Regex Code:</label> {{ component.regex_code }}</div>	
												<table class="table table-striped small-table" style="margin-bottom: 0px;">
													<thead>
														<tr>
															<th>Code</th>
															<th>Description</th>
														</tr>
													</thead>
													<tbody>
													{% for code in component.codes|slice:":10" %}
														<tr>
															<td>{{ code.code }}</td>
															<td>{{ code.description }}</td>
														</tr>
													{% empty %}
														<tr>
															<td colspan="2" class="text-center bg-warning">
																No codes
															</td>
														</tr>
													{% endfor %}
													</tbody>
												</table>
												<div>...</div>
											{% endif %}
										</div>									
									</td>
								</tr>
							{% empty %}
								<tr>
									<td colspan="5" class="text-center bg-warning">
										No components
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
  
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<a href="{% url 'concept_detail' concept.id %}" class="btn btn-success">
								<i class="fa fa-reply" aria-hidden="true"></i> Return to Concept
							</a>
						</div>
					</div>		
				</div>
			</div>
		</div>
		<div id="popover-content-help-hist-concept" class="hide popover-lg">
			<p>
				<strong>Return to concept</strong> - Return to the current concept
			</p>
			<p>
				<strong>Export</strong> - export all codes into a csv file/JSON/XML for the current concept. This will also
				take into account any code lists within related concepts. The exported codes will only contain inclusion code
				lists and exclude any code lists that have the logical type marked as exclusion(remove-codes).
				The button will be disabled unless you have permission to view <b>all</b> of the component concepts.
			</p>
			<p>
				<strong>Fork</strong> - This will take a copy of the historic concept version and create a new concept along with the historic concept components.
			</p>
			<p>
				<strong>Revert</strong> - This will restore the concept back to this version.
			</p>
			<p>
				<strong>Publish</strong> - This will publish the chosen version of the concept to the public on /publicsites/concepts/.
				Only owner can publish and concept must have exportable codes.
			</p>
		</div>
	</div>
</div>
{% endblock container %}

{% block scripts %}
	<script src="{% static 'js/clinicalcode/component.js' %}"></script>
	<script src="{% static 'js/clinicalcode/concept.js' %}"></script>
{% endblock scripts %}
