{% extends "rest_framework/base.html" %}
{% load static %}
{% block bootstrap_theme %}
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block branding %}
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				
				<div id="navbar" class="navbar-collapse collapse">
					<div class="navbar-header">
						<a id="logo-link" href="/" class="navbar-brand">
							<img style="margin-top: -10px;" src="{% static 'img/logo.png' %}" height="45px" alt="Swansea University Logo" />
						</a>
						<h4 class="navbar-text"><a id="logo-link" href="/" class="navbar-text" style="margin-top:0px;margin-bottom:0px;text-decoration:none;">Concept Library</a></h4>
					</div>
					
					
					<ul class="list-inline nav navbar-nav" id='prjnavtabs' >
						<li id="concept_li"  >
							<a id="concept_a"  class="main_menu" href="{% url 'concept_list' %}">Concepts</a>
						</li>					
					
						<li id="workingset_li"  >
							<a id="workingset_a" class="main_menu" href="{% url 'workingset_list' %}">Working Sets</a>
						</li>										
						{% if request.user.is_superuser %}
						   <li id="workingset_li"  >
						  		<a id="admin_a" class="main_menu" href="{% url 'admin:index' %}" target=_blank >Admin</a>
						   </li>	
						{% endif %}				
					</ul>
										
					<div class="navbar-header pull-right">
						<p class="navbar-text">
							{% if user.is_authenticated %}
								<i class="fa fa-user" aria-hidden="true"></i>
								<span style="color: white;">User: {{ user.get_username }}, </span>
								<a class="navbar-link" href="{% url 'logout' %}?next={% url 'login' %}">
									<i class="fa fa-sign-out" aria-hidden="true"></i> Log out
								</a>
							{% endif %}
						</p>
					</div>
					
				</div>
			</div>
		</nav>
{% endblock %}
