version: '3'

services:
  app:
    platform: linux/amd64
    image: cll/app
    restart: on-failure
    command: >
      sh -c "/home/config_cll/init-app.sh"
    ports:
      - 8080:80
    expose:
      - 80
      - 443
    env_file:
      - ./env_vars.txt
    volumes:
      - ./cl_log/:/home/config_cll/cll_srvr_logs/
      - ./media:/var/www/concept_lib_sites/v1/CodeListLibrary_project/media
    depends_on:
      - redis

  redis:
    image: redis:7.0-bullseye
    container_name: redis
    restart: on-failure
    ports:
      - 6379:6379
    expose:
      - 6379
    networks:
      default:
        aliases:
          - redis

  celery_worker:
    image: cll/celery_worker
    restart: on-failure:2
    command: >
      sh -c "/home/config_cll/worker-start.sh"
    env_file:
      - ./env_vars.txt
    profiles:
      - live
    depends_on:
      - app
      - redis

  celery_beat:
    image: cll/celery_beat
    restart: on-failure:2
    command: >
      sh -c "/home/config_cll/beat-start.sh"
    env_file:
      - ./env_vars.txt
    profiles:
      - live
    depends_on:
      - app
      - redis
      - celery_worker
