{% extends "base.html" %}

{% load static %}
{% load markdownify %}
{% load cl_extras %}

{% block title %}| phenotype: {{ workingset.name }}{% endblock title %}
{% block description %}{{ workingset.name }}{% endblock description %}
{% block keywords %}, {{ workingset.name }}{% endblock keywords %}

{% block canonical_path %}
	<link rel="canonical" href="{{ page_canonical_path }}" />
{% endblock canonical_path %}

{% block crumbs %}
    <a class="nav-bar-title underline" href="{% url 'workingset_list' %}">Phenotypes</a>
    > <strong>{{ workingset.name }}</strong>
{% endblock crumbs %}

{% block scrollNav %}
data-spy="scroll" data-target="#WorkingSetMenu" data-offset = "140"
{% endblock scrollNav %}

{% block container %}
    <div class="row">
        <nav class="col-sm-2 hideleft-navbar" id="WorkingSetMenu"
             style="padding-top: 20px; position: sticky; height: min-content; position: -webkit-sticky; top: 60px;">
            <ul class=" nav left-navbar "  id='navList'>
                <li class=" active"><a href="#Home" id="Homelinkid">Home</a></li>
                <li><a href="#Description">Description</a></li>
                <li><a href="#CitationRequirements">Citation Requirements</a></li>
                <li><a href="#Publications">Publications</a></li>
                {% if user.is_authenticated %}
                <li><a href="#Permissions">Permissions</a></li>
                {% endif %}
            </ul>
        </nav>


        <h3><span id="Home" style="margin-top: -100px;"></span></h3>
        <div class="col-sm-10">

            <div class="col-md-12">
                <div classXX="col-md-6" styleXX="margin-left: -10px">
                    <h2>
                        <strong>{{ workingset.name_highlighted|safe }}</strong>
                        {% for item in request.BRAND_GROUPS %}
                            {% for brand, groups in item.iteritems %}
                                {% if workingset.group.name in groups %}
                                    <img style="margin-top:-5px;" src="{% static 'img/brands/' %}{{ brand }}/logo.png"
                                         height="29px" title="{{ brand }}" alt="{{ brand }}"/>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </h2>
                    <span><i>{{ workingset.author_highlighted|safe }}</i></span>
                    <br>
                    <br>
                </div>


                <div class="row"></div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-2">ID</div>
                    <div class="col-sm-10">
					<span id="workingset_id_div" workingset_id="{{ workingset.id }}">
						{{ workingset.id }}						
					</span>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-2">Version ID</div>
                    <div class="col-sm-10">
						<span id="workingset_history_id_div" workingset_history_id="{{ workingset.history_id }}">
							{{ workingset.history_id }}
                            {% if user.is_authenticated %}
                                &nbsp;&nbsp;
                                &nbsp;&nbsp;
                                {% if is_latest_version %}
                                    <span class="tag label" style='background-color:#F98E2B;'>LATEST VERSION</span>
                                {% else %}
                                    <span class="tag label label-default">HISTORICAL VERSION</span>
                                {% endif %}
                            {% endif %}
						</span>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-2">Type</div>
                    <div class="col-sm-10">
					<span id="workingset_type_div" phenotype_type="{{ workingset.type }}">
                        {% if workingset_type|length %}
                            <span class="badge phenotype-type-badge card-tag-sizing"><i><strong>{{ workingset_type }}</i></strong></span>
                        {% else %}
                            <span class="card-no-data">Unknown type</span>
                        {% endif %}
					</span>
                    </div>
                </div>
                
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-2">Data Sources</div>
                    <div class="col-sm-10">
                        {% for ds in data_sources %}
                            {% if ds.url|length %}
                                <a href="{{ ds.url }}" target=_blank rel="noopener noreferrer">{{ ds.name }}</a>
                            {% else %}
                                {{ ds.name }}
                            {% endif %}
                            {% if not forloop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                {% if user.is_authenticated %}
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-2">Modified Date</div>
                    <div class="col-sm-10">
                        {{ workingset.modified }}
                    </div>
                </div>
                {% endif %}
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-2">Published Date</div>
                    <div class="col-sm-10">
                        {{ workingset.created }}
                    </div>
                </div>

				<div class="row" style="margin-top: 10px;">
					<div class="col-sm-2">Collections</div>
					<div class="col-sm-10">
						{% if has_collections %}
							{% for tag in collections %}
								{% if tag.tag_type == 2 %}
								<span class="tag label label-{{ tag.get_display_display }} card-edit-sizing">{{ tag.description }}</span>
								{% endif %}
							{% endfor %}	
						{% else %}
							<span class="card-no-data">No collections</span>
						{% endif %}		
					</div>	
				</div>
				
				<div class="row" style="margin-top: 10px;">
					<div class="col-sm-2">Tags</div>
					<div class="col-sm-10">
						{% if has_tags %}
							{% for tag in tags %}
								{% if tag.tag_type == 1 %}
								<span class="tag label label-{{ tag.get_display_display }} card-edit-sizing">{{ tag.description }}</span>
								{% endif %}
							{% endfor %}	
						{% else %}
							<span class="card-no-data">No tags</span>
						{% endif %}		
					</div>	
				</div>	

            </div>


            <!--	-------------------------------------------------------------------
                    DESCRIPTION
                    -------------------------------------------------------------------
              -->
              <div class="col-sm-12 shadow-frame">
                <h3 class="paneltitle" style="margin-top:20px; margin-bottom:20px;"><span
                        id="Description"></span><strong>Description</strong></h3>
                {% if workingset.description_highlighted|safe != '' %}
                {{ workingset.description_highlighted|markdownify }}
                {% else %}
                <span class="card-no-data">No data available</span>
                {% endif %}
            </div>

            <!--	-------------------------------------------------------------------
                    CITATION REQUIREMENTS
                    -------------------------------------------------------------------
              -->
              <div class="col-sm-12 shadow-frame">
                <h3 class="paneltitle" style="margin-top:20px; margin-bottom:20px;"><span
                        id="CitationRequirements"></span><strong>Citation Requirements</strong></h3>
                {% if workingset.citation_requirements|safe != '' %}
                {{ workingset.citation_requirements|markdownify }}
                {% else %}
                <span class="card-no-data">No data available</span>
                {% endif %}
            </div>

            <!--	-------------------------------------------------------------------
                    PUBLICATIONS
                    -------------------------------------------------------------------
              -->
            <div class="col-sm-12 shadow-frame">
                <h3 class="paneltitle" style="margin-top:20px; margin-bottom:20px;"><span
                        id="Publications"></span><strong>Publications</strong></h3>


                <div class="markdown-holder">
                    {% if workingset.publications|length %}
                        <ul>
                            {% for p in workingset.publications_highlighted %}
                                <li>{{ p|markdownify }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    <span class="card-no-data">No data available</span>
                    {% endif %}
                </div>

            </div>

            <!--	-------------------------------------------------------------------
                    PERMISSIONS
                    -------------------------------------------------------------------
              -->
            {% if user.is_authenticated %}
                <div class="col-sm-12 shadow-frame">
                    <h3 class="paneltitle" style="margin-top:20px; margin-bottom:20px;">
                        <span id="Permissions"></span><strong>Permissions</strong>
                    </h3>
                        <div id="permissions" class="row">
                            <div  class="col-sm-3">Owner</div>
                            <div class="col-sm-4">
                                <span>{{ workingset.owner.username }}</span>
                            </div>
                            <div class="col-sm-5 text-right">
                                {% if workingset.owner_access == 1 %}	
                                    <span class="tag label label-danger justified-label"><i>Owner access:&nbsp;&nbsp;</i><span class="card-noweight">None</span></span>
                                {% elif workingset.owner_access == 2 %}
                                    <span class="tag label label-warning justified-label"><i>Owner access:&nbsp;&nbsp;</i><span class="card-noweight">View only</span></span>
                                {% elif workingset.owner_access == 3 %}
                                    <span class="tag label label-success justified-label"><i>Owner access:&nbsp;&nbsp;</i><span class="card-noweight">View and edit</span></span>
                                {% else %}
                                    <span class="tag label label-success justified-label"><i>Owner access:&nbsp;&nbsp;</i><span class="card-noweight">Unknown</span></span>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="small-divider"/>
                        <div id="permissions" class="row">
                            <div  class="col-sm-3">Group</div>
                            <div class="col-sm-4">
                                {% if workingset.group %}
                                <span>{{ workingset.group }}</span>
                                {% else %}
                                <span>No associated group</span>
                                {% endif %}
                            </div>
                            <div class="col-sm-5 text-right">
                                {% if workingset.group_access == 1 %}	
                                    <span class="tag label label-danger justified-label"><i>Group access:&nbsp;&nbsp;</i><span class="card-noweight text-right">No Access</span></span>
                                {% elif workingset.group_access == 2 %}
                                    <span class="tag label label-warning justified-label"><i>Group access:&nbsp;&nbsp;</i><span class="card-noweight text-right">View only</span></span>
                                {% elif workingset.group_access == 3 %}
                                    <span class="tag label label-success justified-label"><i>Group access:&nbsp;&nbsp;</i><span class="card-noweight text-right">View and edit</span></span>
                                {% else %}
                                    <span class="tag label label-success justified-label"><i>Group access:&nbsp;&nbsp;</i><span class="card-noweight text-right">Unknown</span></span>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="small-divider"/>
                        <div id="permissions" class="row">
                            <div  class="col-sm-3">Public access</div>
                            <div class="col-sm-9">
                                {% if workingset.world_access == 1 %}	
                                    <span class="tag label label-danger">No access</span>
                                {% elif workingset.world_access == 2 %}
                                    <span class="tag label label-warning">View only</span>
                                {% elif workingset.world_access == 3 %}
                                    <span class="tag label label-success">View and edit</span>
                                {% else %}
                                    
                                {% endif %}
                            </div>
                        </div>

                </div>
            {% endif %}


        </div>
    </div>

{% endblock container %}






{% block scripts %}
    <script src="{% static 'js/clinicalcode/component.js' %}"></script>
    <script src="{% static 'js/clinicalcode/concept.js' %}"></script>
    <script src="{% static 'js/clinicalcode/dataService.js' %}"></script>


    <script type="text/javascript">

    // make api urls with site name
        $(function () {
            var v = $('#api_id').html();
            v = v.replace(/site_root/g, 'http://' + document.location.host);
            $('#api_id').html(v);
        });
    </script>

{% endblock scripts %}
