{% extends "base.html" %}

{% load static %}

{% block title %}
    {% if form.pk  is None %}
        New Working Set
    {% else %}
        Edit Working Set
    {% endif %}
{% endblock title %}

{% block crumbs %}
    <a class="nav-bar-title underline" href="{% url 'workingset_list' %}">Working Sets</a>
    > <strong>{{ form.instance.name|default_if_none:"" }}</strong>
{% endblock crumbs %}

{% block container %}



    {% if form.pk  is None %}
        <h2>Create a new working set</h2>
        <div class="row">
            <div class="col-md-12">
                <i class="help-block"><span class="required">*</span> denotes a required field</i>
                {% if form.errors %}
                    <div id="form-error" class="alert alert-danger  col-sm-12">
                        <p>The operation could not be performed because one or more error(s) occurred.<br/>
                            Please resubmit the form after making the following changes:</p>
                        <ul>
                            {% for field,error in form.errors.items %}
                                <li>{{ field }} - {{ error|striptags }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h2>Edit working set</h2>
        <div class="row">
            <div class="col-md-12">
                <i class="help-block"><span class="required">*</span> denotes a required field</i>

            </div>
        </div>
    {% endif %}



    <link href="{% static 'css/phenotypeworkingset/form.css' %}" rel="stylesheet"/>

    <!-- This is used for the forking message. -->
    <div class="alert alert-success alert-dismissable" id="success-message" style="display: none;"
         role="alert"></div>
    <div class="alert alert-danger alert-dismissable" id="error-message" style="display: none;"
         role="alert"></div>


    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    {% if form.pk is None %}
                        <form action="" method="post" class="form-horizontal" novalidate>

                    {% else %}
                        <form name='workingset-form' id='workingset-form' class="form-horizontal"
                              action="{% url "workingset_update" form.pk %}" method="POST" autocomplete="off">
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="material-textfield">
                                {{ form.name }}
                                <label class="label-material required">{{ form.name.label }}</label>
                            </div>


                        </div>
                    </div>

                    <hr/>


                    {% if form.pk  is not None %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Latest version ID</label>
                                <input type="hidden" id="latest_history_id" name="latest_history_id"
                                       value="{{ form.latest_history_id }}">
                                <input type="hidden" id="overrideVersion" name="overrideVersion"
                                       value="{{ overrideVersion|default_if_none:'0' }}">
                                {{ latest_history_id }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="material-textfield">

                                <select class="input-material col-sm-12 form-control" name="type" id="type">
                                    {% for type in form.type %}
                                        {{ type }}
                                    {% endfor %}
                                </select>
                                <label class="label-material">Type</label>

                            </div>

                        </div>


                    </div>

                    <div class="form-group">

                        <div class="col-sm-11" id="concept-tag-form-container">

                            <div class="material-textfield">
                                <input class="input-material col-sm-12 form-control" type="text" id="txtTags"
                                       name="tagids" data-role="tagsinput">
                                <label class="label-material" for="txtTags">Tags</label>

                            </div>
                        </div>

                        <div class="col-sm-1 form-help-popover">
                            <a href="#" role="button" class="btn popovers" id="concept-tag-form" data-toggle="popover"
                               data-trigger="hover" data-container="#concept-tag-form-container" title=""
                               data-original-title="Tags" data-placement="left">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="material-textfield">
                                <input class="input-material col-sm-12 form-control" type="text" name="datasources"
                                       id="datasources"
                                       value="{{ form.instance.data_sources|default_if_none:'' }}">
                                <label class="label-material">Data Sources</label>

                            </div>

                        </div>


                    </div>
                    <div class="form-group">

                        <div class="col-sm-12">
                            <div class="material-textfield">

                                <input class="input-material col-sm-12 form-control" type="text" name="collections"
                                       id="collections" data-role="tagsinput">
                                <label class="label-material" for="collections">Collections</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">

                        <div class="col-sm-12">
                            <div class="material-textfield">
                                {{ form.author }}
                                <label class="label-material required">{{ form.author.label }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-12">
                            <div class="material-textfield">
                                {{ form.description }}
                                <label class="label-material required">Description</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="material-textfield">

                                {{ form.publication }}
                                <label class="label-material">Publication</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">

                        <div class="col-sm-12">
                            <div class="material-textfield">


                                {{ form.citation_requirements }}

                                <label class="label-material">{{ form.citation_requirements.label }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3" for="">Created by</label>
                        <div class="col-sm-12">
                            <p class="form-control-static">
                                {% if form.pk  is None %}
                                    {{ user.username }}
                                {% else %}
                                    {{ form.created_by.username }}
                                {% endif %}
                            </p>
                        </div>
                    </div>


                    {% if form.pk  is not None %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="">Modified by</label>
                                <p class="form-control-static">{{ form.instance.modified_by.username }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <!-- ----------------------------------------------------------------------
                            PERMISSIONS
                         ----------------------------------------------------------------------
                     -->
                    <hr/>


                    <fieldset {% if not allowed_to_permit and form.pk  is not None %}disabled{% endif %}>
                        <!-- div class="form-group">
						<label class="col-sm-3" for="">Owned by:</label>
						<div class="col-sm-12">
							<p class="form-control-static">{{ form.owner.username}}</p>
						</div>
					</div-->

                        <!-- Allow the user to select a user from the list of known users. -->
                        <div class="form-group">

                            <div class="col-sm-11" id="workingset-owned-form-container">
                                <div class="material-textfield">
                                    {{ form.owner }}
                                    <label class="label-select required"
                                           for="{{ form.owner.id_for_label }}">{{ form.owner.label }}</label>
                                </div>
                            </div>
                            <div class="col-sm-1 form-help-popover">
                                <a href="#" role="button" class="btn popovers" id="workingset-owned-form"
                                   data-toggle="popover"
                                   data-trigger="hover" data-container="#workingset-owned-form-container" title=""
                                   data-original-title="Owned by:" data-placement="left">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div id="popover-content-workingset-owned-form" class="hide popover-lg">
                                <p>This field defines the user who has permission to modify access to the concept.
                                    Please be aware that you will not be able to modify this if you give ownership to
                                    someone else and do not have editing permission.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-11" id="workingset-group-form-container">
                                <div class="material-textfield">

                                    {{ form.group }}
                                    <label class="label-select"
                                           for="{{ form.group.id_for_label }}">{{ form.group.label }}</label>
                                </div>
                            </div>
                            <div class="col-sm-1 form-help-popover">
                                <a href="#" role="button" class="btn popovers" id="workingset-group-form"
                                   data-toggle="popover"
                                   data-trigger="hover" data-container="#workingset-group-form-container" title=""
                                   data-original-title="Permitted group:" data-placement="left">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div id="popover-content-workingset-group-form" class="hide popover-lg">
                                <p>This field defines which group has permission to modify access to the concept if
                                    group
                                    permissions are selected. You can only select a group in which you are a member.
                                </p>
                            </div>
                        </div>

                        <div id="permissions" class="form-group">
                            <label class="col-sm-3">{{ form.owner_access.label }}</label>
                            <div class="col-sm-7">
                                <table>
                                    <tr>
                                        {% for choice in form.owner_access %}
                                            <td class="col-sm-2">
                                                <div class="radio">
                                                    <label>
                                                        {{ choice.tag }}
                                                        {{ choice.choice_label }}
                                                    </label>
                                                </div>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </div>
                        </div>


                        <div id="permissions" class="form-group">
                            <label class="col-sm-3">{{ form.group_access.label }}</label>
                            <div class="col-sm-7">
                                <table>
                                    <tr>
                                        {% for choice in form.group_access %}
                                            <td class="col-sm-2">
                                                <div class="radio">
                                                    <label>
                                                        {{ choice.tag }}
                                                        {{ choice.choice_label }}
                                                        {% if choice.choice_label.strip == "View" or choice.choice_label.strip == "Edit" %}
                                                            {% if form.pk is not None %}
                                                                <span class="alert-warning"
                                                                      id="group_access_note"></span>
                                                            {% endif %}
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="permissions" class="form-group">
                            <label class="col-sm-3">Everyone else access:</label>
                            <div class="col-sm-7">
                                <table>
                                    <tr>
                                        {% for choice in form.world_access %}
                                            <td class="col-sm-2">
                                                <div class="radio">
                                                    <label>
                                                        {{ choice.tag }}
                                                        {{ choice.choice_label }}
                                                    </label>
                                                </div>
                                            </td>
                                        {% endfor %}
                                        <td class="col-sm-2">
                                            <div>&nbsp;</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                    <hr/>

                    <!-- ----------------------------------------------------------------------
                            Data LIST
                         ----------------------------------------------------------------------
                     -->


                    <div id=conceptsErrorsDiv style='display:none;'></div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Phenotype/Concepts</label>
                            <table class="table display-table" id="attributes-table" style="width:100%;display:none">


                            </table>

                        </div>

                        <div class="row-form-flex row">
                            <button class="upload-button" id="add-data" type="button" aria-pressed="false"
                                    data-toggle="modal" data-target="#myModal">
                                Upload
                            </button>

                            <button id='test' type="button">add column</button>

                        </div>


                        <hr/>

                    </div>


                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="row-form-flex row">

                                <div><br>
                                    <a href="{% url 'workingset_list' %}" class="btn">
                                        Return to list
                                    </a>
                                    <button class="btn btn-primary save-button" type="submit" id="save-changes">
                                        Save
                                    </button>

                                </div>

                            </div>
                        </div>

                    </div>


                    <input type="hidden" id="phenotypes_concepts_json" value="loh" name="phenotypes_concepts_json">



                    </form>

                    <!--	-------------------------------------------------------------------
                      Version History
                    -------------------------------------------------------------------	-->
                    {% if pk is not none %}
                        <div class="panel-body">
                            <div class="row">

                                <hr/>
                                <h3>Version History</h3>
                                <div class="pre-scrollable">
                                    <table class="table table-striped small-table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Date</th>
                                            <!-- 							<th>Type</th> -->
                                            <th>Change reason</th>
                                            <th>User</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% include './partial_history_list.html' %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div id="popover-content-concept-tag-form" class="hide popover-lg">
                        <p>Tags are added within the administration section. Once a tag has been stored then you can
                            assign it here so that you can search this working set based on tag name(s). Simply start
                            typing the tag name you are looking for and it will appear within a dropdown just beneath
                            the textbox.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock container %}

{% block scripts %}
    <script src="{% static 'js/clinicalcode/dataService.js' %}"></script>
    <script src="{% static 'js/clinicalcode/component.js' %}"></script>
    <script src="{% static 'js/clinicalcode/concept.js' %}"></script>
    <script src="{% static 'js/clinicalcode/tags.js' %}"></script>
    <script src="{% static 'js/clinicalcode/tagAutocomplete.js' %}"></script>

    <!------------------------ Selection Service dependencies -------------------------->
    <link href="{% static 'lib/daterangepicker/daterangepicker.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/lib/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'js/lib/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'js/clinicalcode/filters/utils.js' %}"></script>
    <script src="{% static 'js/clinicalcode/filters/FuzzyQuery.js' %}"></script>
    <script src="{% static 'js/clinicalcode/filters/autocompleteSearch.js' %}"></script>
    <script src="{% static 'js/clinicalcode/workingset/selectionService.js' %}"></script>
    <!---------------------------------------------------------------------------------->




    <script type="text/javascript">
        // call the tag service initialize function in tags.js
        $("#author").tagsinput('items')
        tagAutocomplete('/api/v1/public/data-sources-list/', 'datasources', 'datasource_id', 'name').initialize()
        tagAutocomplete('/api/v1/public/collections/', 'collections', 'id', 'name').initialize()
        tagService.initialize();

        $(function () {
            {% for tag in tags %}
                $('#txtTags').tagsinput('add', {
                    'id': {{ tag.id }},
                    'description': '{{ tag.description }}',
                    'display': '{{ tag.get_display_display }}'
                });
            {% endfor %}
            {% for collection in collections %}
                $('#collections').tagsinput('add', {
                    'id': '{{ collection.id }}',
                    'name': '{{ collection.description }}'
                });
            {% endfor %}

            {% for datasource in datasources %}
                $('#datasources').tagsinput('add', {
                    'datasource_id': '{{ datasource.datasource_id }}',
                    'name': '{{ datasource.name }}'
                });
            {% endfor %}

        });

        $('#add-data').createSelection({
            // Props
            clearSelectedOnClose: false,
            clearSelectedOnImport: true,

            // Methods
            onImport: (service, selected) => {
                // Clicked the 'Import Concepts' button, and imported 'selected'
                console.log(selected);

                var dataset = selected.map(element => {
                    return {
                        "Data": element.phenotype.id + '/' + element.phenotype.version + '-' + element.concept.id + '/' + element.concept.version + '-' + element.concept.name
                    }
                })


                $('#attributes-table').show()
                if ($.fn.dataTable.isDataTable('#attributes-table')) {
                    var table = $('#attributes-table').DataTable();
                    table.clear();
                    table.rows.add(dataset).draw();
                    $('#phenotypes_concepts_json').val(JSON.stringify(dataset))
                } else {
                    var table = $('#attributes-table').DataTable({
                        data: dataset,
                        columns: [
                            {data: "Data"}],

                        fixedColumns: {
                            left: 1
                        },
                        scrollY: '50vh',
                        scrollX: true,
                        scrollCollapse: true,
                        destroy: true,
                        retrieve: true,

                    })
                    $('#phenotypes_concepts_json').val(JSON.stringify(dataset))
                }

                    $('#test').click(function () {
                        var dataset = selected.map(element => {
                            return {
                                "Data": element.phenotype.id + '/' + element.phenotype.version + '-' + element.concept.id + '/' + element.concept.version + '-' + element.concept.name,
                                "Attributes": ['<input class="input-material" type="text" style="width:100%" id="attribute-input"/>']
                            }
                        })
                        console.log($('#phenotypes_concepts_json').val())

                        var columns = []
                        for (const [key, value] of Object.entries(dataset[0])) {
                                    columns.push({data:key})
                                }
                        if ($.fn.DataTable.isDataTable('#attributes-table')) {
                            $('#attributes-table').DataTable().destroy();
                            $('#attributes-table').empty();
                            var table = $('#attributes-table').DataTable({
                                data: dataset,
                                columns: columns,

                                fixedColumns: {
                                    left: 1
                                },
                                scrollY: '50vh',
                                scrollX: true,
                                retrieve: true,
                                scrollCollapse: true,

                            })
                        }
                    })


            },
            onClose: (service, selected) => {
                // Left the modal with 'selected' being their current selection

            }
        });

        const addColumn = () => {
            [...document.querySelectorAll('#attributes-table tr')].forEach((row, i) => {
                const input = document.createElement("input")
                input.setAttribute('type', 'text')
                input.setAttribute('style', 'width:100%')
                input.setAttribute('id', 'attribute-input')
                input.setAttribute('class', 'input-material')
                const cell = document.createElement(i ? "td" : "th")
                cell.appendChild(input)
                row.appendChild(cell)
            });
        }


    </script>



{% endblock scripts %}

