{% extends "base.html" %}

{% load static %}

{% load cl_extras %}

{% block title %}| Search Working Sets{% endblock title %}
{% block description %}Search Working Sets{% endblock description %}
{% block keywords %}Search Working Sets{% endblock keywords %}	

{% block container_fluid %}

<div class="bg-search">
 	<div class="container" >

		<div id="basic-search" class="bg-search">
			<form class="container_frm container-1 example" id="basic-form" action="{% url 'phenotype_list' %}" method="GET"  >
			<div  class="row form-group">
				<div>
					<h2>Phenotypes</h2>
					<div class="form-input-flex-container">
						<!-- Basic form queries -->
						<input type="text" placeholder="Search Phenotypes" name="search" id="search1" value="{{ search|default_if_none:'' }}">
						<input type="hidden" name="tag_ids" id="tag_ids"  value="{{ tag_ids|default_if_none:'' }}">
						<input type="hidden" name="collection_ids" id="collection_ids"  value="{{ collection_ids|default_if_none:'' }}">
						<input type="hidden" name="data_source_ids" id="data_source_ids"  value="{{ data_source_ids|default_if_none:'' }}">
						<input type="hidden" name="selected_workingset_types" id="selected_workingset_types"  value="{{ workingset_selected_types_str|default_if_none:'' }}">
						<input type="hidden" name="search_form" id="collection_search_form1"  class="collection_search_form"  value="{{ search_form }}"> 
						<!-- <input type="hidden" name="codingids" id="codingids"  value="{{ codingids|default_if_none:'' }}"> -->
						<input type="hidden" name="page" id="page"  value="{{ page|default_if_none:1 }}">
						<input type="hidden" name="startdate" id="startdate" value="{{ filter_start_date }}" />
						<input type="hidden" name="enddate" id="enddate" value="{{ filter_end_date }}" />
						<input type="hidden" name="order_by" id="order_by" value="{{ ordered_by }}" />
						<input type="hidden" name="page_size" id="page_size" value="{{ page_size }}" />

						<!-- Reimplemented 'Advanced' queries -->
						<input class="form-control" type="hidden" name="owner" id="txtOwner" value="{{ owner|default_if_none:'' }}">
						<input class="form-control" type="hidden" name="author" id="txtAuthor" value="{{ author|default_if_none:'' }}">
						<input id="show_my_ph_workingsets_hidden" type="hidden" name="show_my_ph_workingsets"  value="{{ show_my_ph_workingsets }}" >
						<input id="show_deleted_ph_workingsets_hidden" type="hidden" name="show_deleted_ph_workingsets"  value="{{ show_deleted_ph_workingsets }}" >
						<input id="show_my_pending_workingsets_hidden" type="hidden" name="show_my_pending_workingsets" value="{{ show_my_pending_workingsets }}" >
						<input id="show_mod_pending_workingsets_hidden" type="hidden" name="show_mod_pending_workingsets"  value="{{ show_mod_pending_workingsets }}" >
						<input id="show_rejected_workingsets_hidden" type="hidden" name="show_rejected_workingsets"  value="{{ show_rejected_workingsets }}" >
						<input id="workingset_must_have_published_versions_hidden" type="hidden" name="workingset_must_have_published_versions" value="{{ workingset_must_have_published_versions }}" >
						<input id="show_only_validated_workingsets_hidden" type="hidden" name="show_only_validated_workingsets" value="{{ show_only_validated_workingsets }}" >
						
						<button classXX="btn btn-info btn-paginate" name="search_button" value="1" id="search_btn">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
		<div class="row applied_filter_group hide">
			 <h4>Applied Filters:</h4>
			 <ul class="applied_filter_tags"></ul>
		</div>
	</div>
</div>	
</div>	
{% endblock container_fluid %}

{% block container %}
<div class="row">
	{% if user.is_authenticated %}		
		<div class="col col-xs-8 btn_group">
			{% if not CLL_READ_ONLY %}
				{% if request.CURRENT_BRAND != 'HDRUK' %}
				<a class="btn btn-primary" {% if allowed_to_create %} href="{% url 'phenotypeworkingset_create' %}" {% else %} disabled {% endif %}>
					Add new working set
				</a>
				{% endif %}
			{% endif %}
			<a class="btn btn-outline-primary btn-cl btn-cl-secondary" {% if allowed_to_create %} href="{% url 'phenotype_workingset_DB_test_create' %}" {% else %} disabled {% endif %}>
				Create DB TEST working set
			</a>   			
		</div>
	{% endif %}

	{% if user.is_authenticated %}	
	<div class="col col-xs-4 text-right filter_modal_button">
	{% else %}
	<div class="col col-xs-12 text-right filter_modal_button">
	{% endif %}
		<a href="#" class="btn btn-outline-primary btn-cl btn-cl-secondary" data-toggle="modal" data-target="#filter-modal" id="filter_modal_btn">
			<i class="fa fa-sort" style="padding: 2px;"></i>
			Filters
		</a>
	</div>
</div>
<br/>

{% include './index-cards.html' %}
				
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filter-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Filters</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<div class="toast_holder"></div>

{% endblock container %}

{% block scripts %}
	<script src="{% static 'js/clinicalcode/component.js' %}"></script>
	<!-- <script src="{% static 'js/clinicalcode/tags.js' %}"></script> -->
	
	<script type="text/javascript">
		var imgPath = '&nbsp; <img height="29px" src="{% static 'img/brands/' %}BRANDT1/logo.png"  title="BRANDT1" alt="BRANDT1" /> ';
		$('#ph_workingset_brand').on('change', function(e){
			if(this.value==''){
				 $('#ph_workingset_brand_img').html('');
			 } else {
				 $('#ph_workingset_brand_img').html(imgPath.replace(/BRANDT1/ig, this.value ) );
			 }
		});
	</script>

	<script>
		// Import references
		var filter_statistics_ordering = {{ filter_statistics_ordering|safe }};
		var phenotype_types = {{ workingset_types|safe }};
		var all_phenotypes = [];
		{% for type, id in phenotype_types.items %}
			tg = {"name": "{{ type }}", "id": "{{ id }}"};
			all_phenotypes.push(tg);
		{% endfor %}

		// var all_coding = [];
		// {% for tag in coding_system_reference %}
		// 	tg = {"name": "{{ tag.description }}", "id": {{ tag.id }}};
		// 	all_coding.push(tg);
		// {% endfor %}

		var all_tag_ref = [];
		{% for tag, tagid in brand_associated_tags.items %}
			tg = {"name": "{{ tag }}", "id": {{ tagid }}};
			all_tag_ref.push(tg);
		{% endfor %}

		var all_collections = [];
		{% for tag in brand_associated_collections %}
			tg = {"name": "{{ tag.description }}", "id": {{ tag.id }}};
			all_collections.push(tg);
		{% endfor %}
		
		var all_tags = [];
		{% for tag in allTags %}
			tg = {"id": {{ tag.id }}, "description": "{{ tag.description }}", "display": "{{ tag.get_display_display }}", "name": "{{ tag.description }}"};
			all_tags.push(tg);
		{% endfor %}

		var data_source_reference = [];
		var data_source_reference_ids = [];
		{% for src in data_sources_reference %}
			tg = {"id": {{ src.id }}, "name": "{{ src.name }}"};
			data_source_reference.push(tg)
			data_source_reference_ids.push({{ src.id }})
		{% endfor %}

		// var coding_names = all_coding.map(e => e.name),
		var collection_names = all_collections.map(e => e.name),
				tag_names = all_tag_ref.map(e => e.name),
				type_names = all_phenotypes.map(e => e.name),
				source_names = data_source_reference.map(e => e.name);
		
		var brand_associated_collections_ids = {{ brand_associated_collections_ids|safe }};
		var brand_associated_tags_ids = {{ brand_associated_tags_ids|safe }};
		//var coding_system_reference_ids = {{ coding_system_reference_ids|safe }};
		
		var filterSession = {
			'page_size': {{ page_size }},
			'page': {{ page }},
			'search': "{{ search }}",
			'author': "{{ author }}",
			'owner': "{{ owner }}",
			'data_source_ids': "{{ data_source_ids }}",
			'tag_ids': "{{ tag_ids }}",
			'collection_ids': "{{ collection_ids }}",
			//'codingids': "{{ coding_ids }}",
			'startdate': "{{ filter_start_date }}",
			'enddate': "{{ filter_end_date }}",
			'order_by': "{{ ordered_by }}",
			'selected_workingset_types': "{{ workingset_selected_types_str }}",
			'show_my_ph_workingsets': "{{ show_my_ph_workingsets }}",
			'show_deleted_ph_workingsets': "{{ show_deleted_ph_workingsets }}",
			'show_my_pending_workingsets': "{{ show_my_pending_workingsets }}",
			'show_mod_pending_workingsets': "{{ show_mod_pending_workingsets }}",
			'show_rejected_workingsets': "{{ show_rejected_workingsets }}",
			'workingset_must_have_published_versions': "{{ workingset_must_have_published_versions }}",
			'show_only_validated_workingsets': "{{ show_only_validated_workingsets }}",
		};
	</script>

	<script src="{% static 'js/clinicalcode/filters/filterService.js' %}" 
		req-scripts="{% static 'js/clinicalcode/filters/utils.js' %},{% static 'js/clinicalcode/filters/filterTags.js' %},{% static 'js/clinicalcode/filters/toastNotifications.js' %},{% static 'js/clinicalcode/filters/autocompleteSearch.js' %},{% static 'js/clinicalcode/filters/FuzzyQuery.js' %},{% static 'js/lib/daterangepicker/daterangepicker.js' %},{% static 'js/lib/daterangepicker/moment.min.js' %}"
		req-styles="{% static 'lib/daterangepicker/daterangepicker.css' %}"
		env="WORKINGSET"
	></script>
	
	
	{% endblock scripts %}

