<form method="post"
  id="publish-form"  class="form-horizontal" novalidate enctype="multipart/form-data">
    {% csrf_token %}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"> Publish Working Set"<b>{{ name }}</b>"?</h4>
    </div>
    <div class="modal-body">
    {% if is_published and approval_status == 2 %}
        <div class="alert alert-success" role="alert">
          This version is already published.
        </div>
    {% else %}

        {% if workingset_is_deleted %}
            <div class="col-md-12">
                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                <span class="text-danger">&nbsp;This working set is deleted.</span>
            </div>
        {% endif %}


        {% if not is_owner and not is_moderator %}
            <div class="col-md-12">
                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                <span class="text-danger">&nbsp;You must be the owner to publish.</span>
            </div>
        {% endif %}

        {% if not workingset_has_attributes %}
            <div class="col-md-12">
                <span class="glyphicon glyphicon-warning-sign" style="color: #8a6d3b" ></span>
                <span class="text-warning">&nbsp;The working set does not contain attributes.</span>
            </div>

        {% else %}
           {% if not is_allowed_view_children %}
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-remove" style="color:red"></span>
                    <span class="text-danger">&nbsp;You must have view access to all concepts/phenotypes.</span>
                </div>
            {% endif %}

            {% if not all_not_deleted %}
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-remove" style="color:red"></span>
                    <span class="text-danger">&nbsp;All concepts/phenotypes must not be deleted.</span>
                </div>
            {% endif %}

            {% if not all_are_published %}
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-remove" style="color:red"></span>
                    <span class="text-danger">&nbsp;All concepts/phenotypes must be published.</span>
                </div>
            {% endif %}

	 	{% endif %}

        {% if errors %}
            <br><br>
            <div class="bs-example">
                <strong><span class="text-danger">&nbsp;Errors:</span></strong>
                <br>
                <ul>
                    {% for key, error in errors.items %}
                        <li><span class="text-danger">&nbsp;{{ error|safe }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}



 	{% endif %}

        <div class="row">
            <div class="col-md-12">
                <p>
                    <br>
                    {% if is_published or approval_status == 1%}
                        {% if is_published and approval_status == 2 %}
                            <br>
<!--                            This version "{{ name }}" is already published. -->
                        {% else %}
                            {% if  approval_status == 1 and is_moderator %}
                                 Are you sure you want to approve/decline this version of "{{ name }}"?
                                 <br>
                                 Published Working Set cannot be undone.
                        <br>

                        {% else %}

                        {% if  approval_status == 1 and not is_moderator %}
                            Working Set needs to be approved.
                            Waiting for moderator to approve

                           <br>
                            {% else %}
                             <span class="text-danger">&nbsp; Cannot publish !! </span>
                            <br>

                        {% endif %}
                            {% endif %}
                            {% endif %}

                    {% else %}
                        {% if not errors %}
                        {% if is_owner or is_moderator  %}
                             {% if approval_status == 3 %}
                                 Are you sure you want to approve previously declined "{{ name }}"?
                                 {% else %}
                        Are you sure you want to publish this version of "{{ name }}"?
                                 {% endif %}


                        <br>
                        Published Working Set cannot be undone.
                            {% if not is_moderator and not is_lastapproved %}
                            <br>
                            This Working Set is going to be reviewed by the moderator and you will be notified when the Working Set will be published



                    {% endif %}
                            {% endif %}

                {% endif %}
                {% endif %}

                </p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
    	{% if is_published %}
    		<span class="glyphicon glyphicon-ok" style="color:green"></span>
		    <span class="text-success">&nbsp;Published&nbsp;</span>
    	{% else %}
            <button {% if not allowed_to_publish %} disabled="true" {% endif %} id="publishButton"
	            type="submit" class="btn btn-primary " onclick="submitForm('publish')" >
	            Publish
	        </button>
            {% if approval_status == 1 %}
                  <button {% if not allowed_to_publish %} disabled="true" {% endif %} id="declineButton"
	            type="submit" class="btn btn-danger " onclick="submitForm('decline')">
	            Decline
	        </button>

        {% endif %}
    {% endif %}

        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>

</form>

<script >

function submitForm(value){
    // unattach the submit event
	$('#modal-section').off('submit', '#publish-form');

	$('#modal-section').on('submit', '#publish-form', function(e){

		e.preventDefault();

		let form = $(this);
            value === "publish" ? doCall("{% url 'workingset_publish' pk=workingset.id workingset_history_id=workingset.history_id %}",form) : doCall("{% url 'workingset_decline' pk=workingset.id workingset_history_id=workingset.history_id %}",form)
            });

		return false;
}

function doCall(url,form){
    $.ajax({
            url:  url,
            data: form.serialize(),
            type: "POST",
            dataType: 'json',
            beforeSend: function(xhr, opts){
                //alert('doFormSubmit= b');
                $(".loader").show();
            },
			success: function(data){
				updateHistoryTable(data,form)
			},
			complete: function(){
				//alert('doFormSubmit= cc');
				$(".loader").hide();
			}
		});
}
function updateHistoryTable(data,form){
				if(data.form_is_valid){
// 					$('#component-table tbody').html(data.html_component_list);
					$('#history-table').html(data.html_history_list);
					$('#latest-history-ID-Div').html(data.latest_history_ID);
					$('#latest_history_id').val(data.latest_history_ID);
// 					$('#concept-component-form-container').html(data.add_menu_items);
					form.find('input[name=latest_history_id_shown]').val(data.latest_history_ID);

					// href needs to be updated for publish concept to show latest status
					if($('#publish2').length){
// 						var pub_href = $('#publish2').attr("href").split("/");
// 						pub_href[3] = data.latest_history_ID;
// 						pub_href = pub_href.join("/")
// 						$('#publish2').attr("href", pub_href);

						//$('#publish2').prop("disabled", true );
						var element = document.getElementById('publish2');
                        element.setAttribute('disabled', 'disabled');

						$('#publish2').attr("title", "This version is already published" );

                        if (data.approval_status === 2){
                            $('#publish2').addClass("btn-success");

						$('#publish2').removeClass($('#publish2').hasClass('btn-danger') ? "btn-danger":'btn-primary');
						$('#publish2').html("Published&nbsp;<span class='glyphicon glyphicon-ok' style='color:green'></span>");
                        }else {
                              $('#publish2').addClass("btn-danger");
						$('#publish2').removeClass("btn-primary");
						$('#publish2').html("Rejected&nbsp;<span class='glyphicon glyphicon-remove' style='color:red'></span>");
                        }


					}

					if (data.approval_status === 2){
                        $('#success-message').show();
					$('#success-message').html(data.message);
                    }else {
                        if (data.approval_status === 3){
                            $('#error-message').show();
					$('#error-message').html(data.message);
                        }
                    }


					$('#modal-section').modal('hide');
					$('#modal-section .modal-content').html('');

				}
				else{
					$('#error-message').show();
					$('#error-message').html(data.message);

					$('#modal-section').modal('hide');
					$('#modal-section .modal-content').html('');
				}
}


</script>


