@import url('https://fonts.googleapis.com/css?family=IBM Plex Sans');
.text-font {
	font-family: 'IBM Plex Sans';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	font-family: 'IBM Plex Sans';
}

.fieldWrapperHeader {
    font-size: 18px;
  }

.fieldWrapperHeader:after {
    content:" *";
    color: red;
  }

input {
width: 320px;
font-size: 16px;
  }

Textarea {
width: 600px;
font-size: 16px;
  }

Select {
width: 320px;
font-size: 16px;
  }


.search_box {
	width: 70%;
	background: #fff;
	border-radius: 5px;
	height: 50px;
	display: flex;
	padding: 10px;
	box-shadow: 0 8px 6px -10px #b3c6ff;
	border:1px solid black;


}

.btn {
	background-color: #475DA7;
	border: none;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

.search_box .search_field {
	width: 500px;
	height: 100%;
	position: relative;
}

.search_box .search_field .input {
	width: 100%;
	height: 100%;
	border: 0px;
	font-size: 16px;
	padding-right: 38px;
	color: #000000;
}

.search_box .search_field .fas {
	position: absolute;
	top: 6px;
	right: 10px;
	font-size: 22px;
	color: #000000;
	cursor: pointer;
}



  .text-rubric-design {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
	text-align:left;
	padding-bottom:10px;

}

  .text-rubric-design-v2 {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	text-align:left;

}

.header-content-design {
    padding-top:20px;
   padding-bottom:30px;
   align:left;
   font-style: normal;
   font-weight:600;
   font-size:36px;
}

.sm-header-design {
   align:left;
   font-style: normal;
   font-weight:500;
   font-size:16px;
}

.medium-header-design {
    padding-top:30px;
    padding-bottom:30px;
   align:left;
   font-style: normal;
   font-weight:600;
   font-size:26px;
}
:target:before {
    content: "";
    display: block;
    margin-top:-26px;
    height:60px;
}


.header-design {
    font-style: normal;
    font-size: 30px;
}

.row {
align:center;
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;

}

.column {
	float: left;
	width: 50%;
	padding: 30px;
}


table.spacing {
	padding-top: 30px;
	border-spacing: 20px;
}


.rubric-box{

width:20%;

}

ul.left-navbar {
    position:fixed
  	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 2.5em;
}

ul.left-navbar a {
  color: black;
        display: block;
        padding: 5px;
        padding-left: 5px;
        text-decoration: none;
        outline: none;
}

ul.left-navbar a.active {
  	color: #000000;
        background: #fff;
        position: relative;
        border-left: 5px solid #3D70B2;
	background: #475DA70D;
	font-weight: bold;

}


.leftnavbar-position {
position:fixed;
}

@media screen and (max-width: 768px) {
  div.hideleft-navbar {
    display: none;
  }

.collaborator-padding {
padding-bottom: 30px;
}