{% load static %}
{% load cl_extras %}

<aside class="pagination-box">
  <section class="pagination-container">
    <div class="pagination-container__details">
      <p class="pagination-container__details-number">Page <span id="page-number">1</span> of <span id="page-total">9</span></p>
    </div>
    <ul class="pagination-container__previous">
      <li class="disabled"><a href="">Previous</a></li>
    </ul>
    <ul class="pagination-container__pages">
      <li class="is-active"><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li class="divider"><a></a></li>
      <li><a href="">6</a></li>
      <li><a href="">7</a></li>
      <li><a href="">8</a></li>
      <li><a href="">9</a></li>
    </ul>
    <ul class="pagination-container__next">
      <li><a href="">Next</a></li>
    </ul>
  </section>
</aside>