<header class="main-header search-banner">
  <div class="search-banner__header">
    <h2 class="search-banner__title">Generic Entity</h2>
  </div>
  <div class="search-banner__container">
    <fieldset class="search-container" data-controller="filter" data-class="searchbar" data-field="search">
      <input type="text" placeholder="Search..." value="{{ search_query }}" id="searchbar" class="search-container__field bright-accent washed-outline" data-class="searchbar" data-field="search" />
    </fieldset>
  </div>
  <div class="search-banner__cards">
    <div class="hstack-cards-banner hstack-cards-banner-justify-content-space-evenly slim-scrollbar">
      <article class="referral-card referral-card referral-card-bannerised referral-card-fill-area bright-accent referral-card-shadow referral-card-border-radius">
        <div class="referral-card__header">
          <a class="referral-card__title" href="#">My Collection <span class="referral-card__title-icon"></span></a>
        </div>
        <div class="referral-card__body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl amet aliquet at.</p>
        </div>
      </article>
      <article class="referral-card referral-card-bannerised referral-card-fill-area bright-accent referral-card-shadow referral-card-border-radius">
        <div class="referral-card__header">
          <a class="referral-card__title" href="#">Create an Entity <span class="referral-card__title-icon"></span></a>
        </div>
        <div class="referral-card__body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl amet aliquet at.</p>
        </div>
      </article>
      <article class="referral-card referral-card-bannerised referral-card-fill-area bright-accent referral-card-shadow referral-card-border-radius">
        <div class="referral-card__header">
          <a class="referral-card__title" href="#">Compare Entities <span class="referral-card__title-icon"></span></a>
        </div>
        <div class="referral-card__body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl amet aliquet at.</p>
        </div>
      </article>
    </div>
  </div>
</header>