<!--	-----------------------------------------------------------------------
			CONCEPT EDIT PAGE COMPONENT TABLE WITH TOOL BUTTONS
		-----------------------------------------------------------------------
-->				
{% load static %}
{% for component in components %}
	<tr>
		<td>{% if component.component_type == 1 %}(C{{ component.concept_ref_id }}) {% endif %}{{ component.name }}
			{% if component.component_type == 1 %}
				{% for item in request.BRAND_GROUPS %}
					{% for brand, groups in item.items %}
						{% if component.group in groups %}
						<img src="{% static 'img/brands/' %}{{brand}}/logo.png" height="10px" title="{{brand}}" alt="{{brand}}" />
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endif %}
		</td>
		<td>{% if component.component_type == 1 %}
				{{ component.concept_ref_history_id }}
				{% if user.is_authenticated and component.is_published %}
					- Published
<!-- 					<span title="Published" ><i class="fa fa-paper-plane" aria-hidden="true"></i></span> -->
				{% endif %}
		    {% else %}
		     - 
			{% endif %}
		</td>
		<td>{{ component.get_component_type_display }}</td>
		<td>{{ component.get_logical_type_display }}</td>
		<td class="text-right">
			{% if component.component_type == 1 %}
				{% if component.pk in component_error_msg_view %}
	 				    <div class="alert-danger" role="alert" style=" display:inline-block;" >
	 						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	 						<span class="sr-only">Error:</span>
	 						{% for key,value in component_error_msg_view.items %}
	 						   {% if key == component.pk %}
							 {% for v in value %}
							 	- {{ v }}<br> 
							 {% endfor %}
						   {% endif %}
						{% endfor %}
	 					</div>
				{% endif %}
				<a class="js-load-modal" href="{% url 'component_concept_update' component.concept_id component.pk 0 %}?latest_history_id={{ latest_history_id }}"
					title="Edit component">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</a>
				<a class="js-load-modal" href="{% url 'component_concept_delete' component.concept_id component.pk %}?latest_history_id={{ latest_history_id }}"
					title="Delete component">
					<span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span>
				</a>
					<a class="js-load-modal" href="{% url 'component_history_concept_detail' concept_id=component.concept_id concept_history_id=component.concept_history_id pk=component.pk component_history_id=component.component_history_id %}">
					<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" 
							data-html="true" data-placement="left" id="code-preview-{{ component.pk }}" data-trigger="hover">
					  <i class="glyphicon glyphicon-search"> </i>
					</button>
				</a>

			{% elif component.component_type == 2 %}
			<a class="js-load-large-modal" href="{% url 'component_querybuilder_update' component.concept_id component.pk %}?latest_history_id={{ latest_history_id }}"
				title="Edit query builder component">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>
			<a class="js-load-modal" href="{% url 'component_querybuilder_delete' component.concept_id component.pk %}?latest_history_id={{ latest_history_id }}"
				title="Delete query builder component">
				<span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span>
			</a>
			<a class="js-load-modal" href="{% url 'component_history_querybuilder_detail' concept_id=component.concept_id concept_history_id=component.concept_history_id pk=component.pk component_history_id=component.component_history_id %}">									
			<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover"
					data-html="true" data-placement="left" id="code-preview-{{ component.pk }}" data-trigger="hover">
				<i class="glyphicon glyphicon-search"> </i>
			</button>
			</a>
			{% elif component.component_type == 3 %}
			<a class="js-load-large-modal" href="{% url 'component_expression_update' component.concept_id component.pk %}?latest_history_id={{ latest_history_id }}"
				title="Edit match code with expression component">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>
			<a class="js-load-modal" href="{% url 'component_expression_delete' component.concept_id component.pk %}?latest_history_id={{ latest_history_id }}"
				title="Delete match code with expression component">
				<span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span>
			</a>
				<a class="js-load-modal" href="{% url 'component_history_expression_detail' concept_id=component.concept_id concept_history_id=component.concept_history_id pk=component.pk component_history_id=component.component_history_id %}">
			<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover"
					data-html="true" data-placement="left" id="code-preview-{{ component.pk }}" data-trigger="hover">
			  <i class="glyphicon glyphicon-search"> </i>
			</button>
			</a>
			{% elif component.component_type == 4 %}
			<a class="js-load-large-modal" href="{% url 'component_expressionselect_update' component.concept_id component.pk %}?latest_history_id={{ latest_history_id }}"
				title="Edit select codes individually and/or import codes component">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>
			<a class="js-load-modal" href="{% url 'component_expressionselect_delete' component.concept_id component.pk %}?latest_history_id={{ latest_history_id }}"
				title="Delete select codes individually and/or import codes component">
				<span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span>
			</a>
			<a class="js-load-modal" href="{% url 'component_history_expressionselect_detail' concept_id=component.concept_id concept_history_id=component.concept_history_id pk=component.pk component_history_id=component.component_history_id %}">						
			<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover"
					data-html="true" data-placement="left" id="code-preview-{{ component.pk }}" data-trigger="hover">
				<i class="glyphicon glyphicon-search"> </i>
			</button>			
			</a>
			{% else  %}
				<p>No component type available</p>
			{% endif %}
			
			<div id="popover-content-code-preview-{{ component.pk }}" class="hide popover-lg">

					<table class="table table-striped small-table" style="margin-bottom: 0px;">
						<thead>
							<tr>
								<th>Code</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
						{% for code in component.codelist.codes.all|slice:":10" %}
							<tr>
								<td>{{ code.code }}</td>
								<td>{{ code.description }}</td>
							</tr>
						{% empty %}
							<tr>
								<td colspan="2" class="text-center bg-warning">
									No codes
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<div>...</div>

			</div>
		</td>
	</tr>
{% empty %}
	<tr>
		<td colspan="5" class="text-center bg-warning">
			No components
		</td>
	</tr>
{% endfor %}