	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title"><i class="fa fa-cog" aria-hidden="true"></i> View Query Builder Component</h4>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2">Name:</label>
				<div class="col-sm-7">
					{{ object.name }}
				</div>
			</div>
		
			<div class="form-group">
				<label class="col-sm-2">Comment:</label>
				<div class="col-sm-7">
					{{ object.comment }}
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2">Type:</label>
				<div class="col-sm-7">								
					{{ object.get_logical_type_display }}
				</div>
			</div>
			
			<!-- 
			<div class="form-group">
				<label class="col-sm-2">Code list description:</label>
				<div class="col-sm-7">
					{{ codelist.description }}
				</div>
			</div>
			 -->
			
			<hr/>
			<div class="row">
				<div class="col-md-8">
					<h4><i class="fa fa-barcode" aria-hidden="true"></i> Codes</h4>
				</div>
				<div class="col-md-4 text-right">
					<span class="codeListAmount label label-primary"></span>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="clusterize" style="height: 500px;">
						<table id="codeListTable" class="table table-striped small-table" style="margin-bottom: 0px;">
							<thead>
								<tr>
									<th style="width: 120px; border: none;">Code</th>
									<th style="border: none;">Description</th>
								</tr>
							</thead>
						</table>
						<div id="codeListScrollArea" class="clusterize-scroll" style="max-height: 450px;">
							<table class="table table-striped small-table">
								<thead>
									<tr>
										<th style="width: 120px; border: none;"></th>
										<th style="border: none;"></th>
									</tr>
								</thead>
								<tbody id="codeListContentArea" class="clusterize-content">
								
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-right">
					<span class="codeListAmount label label-primary"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
	
	<script>
	var codeLists = {{ codes|safe }};
	
	$(function(){
		var formatCodes = function(data){
			return data.map(function(row){
				return "<tr><td>" + row.code + "</td><td>" + row.description + "</td></tr>";
			});
		}
		
		var rowsData = formatCodes(codeLists);
		var codeListClusterize = new Clusterize({
			rows: rowsData,
			scrollId: 'codeListScrollArea',
			contentId: 'codeListContentArea'
		});
		$('.codeListAmount').text('Rows: ' + codeListClusterize.getRowsAmount());
	})
</script>