{% block content %}
<a href="{{ request.scheme }}://{{ request.get_host }}{{url_redirect}}" class="status-card">
	<h2 class="status-title">
		{{id}}/{{history_id}} - {{entity_name}}
	</h2>

	{% if status == "Published" %}
		<div class="status-report status-report--status">
			<strong>Status:</strong>
			<span class="status-button status-button--published">
				Published
			</span>
		</div>
	{% elif status == "Pending" %}
		<div class="status-report status-report--status">
			<strong>Status:</strong>
			<span class="status-button status-button--pending">
				Pending
			</span>
		</div>
	{% elif status == "Rejected" %}
		<div class="status-report status-report--status">
			<strong>Status:</strong>
			<span class="status-button status-button--rejected">
				Rejected
			</span>
		</div>
	{% endif %}
	{% if custom_message %}
		<p class="status-report">
			<strong>Description:</strong> {{message}}
		</p>
		<p class="status-report">
			<strong>Message from reviewer:</strong> {{custom_message}}
		</p>
	{% else %}
		<p class="status-report">
			<strong>Description:</strong>  {{message}}
		</p>
	{% endif %}
</a> 
{% endblock content %}
