{% load static %}
{% load cl_extras %}
{% load entity_renderer %}

<div class="accordian">
  <input class="accordian__input" id="filter-{{ filter_info.field }}" name="filter-{{ filter_info.field }}" type="checkbox" />
  <label class="accordian__label" for="filter-{{ filter_info.field }}">
    <h4>{{ filter_info.title }}</h4>
  </label>
  <article class="accordian__container">
    <div class="constrained-filter-group">
      {% for option in filter_info.options %}
        <div class="checkbox-item-container">
          <input id="{{ filter_info.field }}-{{ option.pk }}" type="checkbox" class="checkbox-item" />
          <label for="{{ filter_info.field }}-{{ option.pk }}" class="constrained-filter-item">{{ option.value }}</label>
        </div>
      {% endfor %}
    </div>
  </article>
</div>
