/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif; /* Use a clean, professional font like Open Sans */
    background-color: #f5f5f5; /* Light background */
    color: #333; /* Darker text for readability */
}

/* Header Styles */
h1 {
    font-size: 36px;
    font-weight: 700;
    color: #004f7c; /* Darker blue to match SAIL colors */
    margin-bottom: 20px;
}

.header-logo {
    max-height: 60px;
    margin: 10px 0;
}

.logo-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* Filters Section */
.filters-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.filter-label {
    font-weight: bold;
    color: #495057;
}

.date-picker, .drop-down {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    height: 60px;
    font-size: 18px !important;
}
/* Specific Styling for Dash DatePicker */
.DatePickerSingle .SingleDatePickerInput__withBorder {
    border-radius: 6px;
    padding: 8px;
    border: 1px solid #CED4DA;
    font-size: 16px;
    background-color: #fff;
    box-shadow: none;
}
.DatePickerSingle .DateInput_input {
    font-size: 16px;
    color: #333;
    padding: 8px;
}
.DatePickerSingle .CalendarDay__default {
    border: 1px solid #CED4DA;
    background: #fff;
}
.DatePickerSingle .CalendarDay__selected {
    background: #005F99;
    color: #fff;
}
.DatePickerSingle .DateInput {
    width: 100%;
}
.DatePickerSingle .SingleDatePicker {
    width: 100%;
}
/* Additional Dropdown styling */
/* Specific styling for dropdowns to remove arrow outline and borders */
.drop-down .Select-control,
.date-picker .SingleDatePickerInput__withBorder {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent;
}

/* Remove the dropdown arrow focus outline */
.drop-down .Select-control:focus {
    outline: none;
}

/* Remove focus outline for cleaner look */
.date-picker:focus, .drop-down:focus {
    outline: none;
}


/* KPI Cards */
.kpi-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.card-value {
    font-size: 40px;
    font-weight: bold;
    color: #005f99;
}

/* Graphs */
.plots-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px
}

/* Buttons */
.btn-primary {
    background-color: #005f99;
    border-color: #005f99;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #004f7c;
}

/* Footer Styles */
.footer {
    background-color: #004f7c;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}