{% extends "base.html" %}

{% load staticfiles %}

{% block container %}

	{% if validlink %}
		<p>Please enter (and confirm) your new password.</p>
		
		<form action="" method="post" class="form-horizontal">
			<div style="display:none">
				<input type="hidden" value="{{ crsf_token }}" name="csrfmiddlewaretoken">
			</div>
			<div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
				<label for="{{ form.new_password1.id_for_label }}" class="col-sm-3 required">{{ form.new_password1.label }}</label>
				<div class="col-sm-7">
					{{ form.new_password1 }}
					{% if form.new_password1.errors %}
		              <span class="help-block">
		                {% for error in form.new_password1.errors %}{{ error }}{% endfor %}
		              </span>
		            {% endif %}
				</div>
			</div>
			<div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
				<label for="{{ form.new_password2.id_for_label }}" class="col-sm-3 required">{{ form.new_password2.label }}</label>
				<div class="col-sm-7">
					{{ form.new_password2 }}
					{% if form.new_password2.errors %}
		              <span class="help-block">
		                {% for error in form.new_password2.errors %}{{ error }}{% endfor %}
		              </span>
		            {% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-10">
					<button class="btn btn-primary" id="change-password">Change my password</button>
				</div>
			</div>
		</form>
	{% else %}
		<h1>Password reset failed</h1>
		<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
	{% endif %}
	
{% endblock container %}