{% load static %}
{% load i18n %}

{% load mathfilters %}
{% load cl_extras %}

{% block content %}


  <!-- about tab -->

  <div class="dropdown">
    <div class="dropdown-text">
      <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="About">About</a>
    </div>
    
    <div class="dropdown-content">
    <ul class="row__about">
      {% if request.BRAND_OBJECT.about_menu is not none %}
									{% for lnk in request.BRAND_OBJECT.about_menu %}
											{% for header, view_pg_name in lnk.items %}
                      {% url 'about_page' pg_name=view_pg_name as url_drop%}
												    
                          {% include "components/search/cards/dropdown_list_item.html" with url=url_drop title=header %}
										
											{% endfor %}
									{% endfor %}

								{% else %}		
                {% url 'about_page' pg_name='cl_about_page' as url_drop%}
                {% include "components/search/cards/dropdown_list_item.html" with url=url_drop title="Concept Library" %}
								{% endif %}
								
								{% if not CLL_READ_ONLY %}
                <li class="content-container__full">
                  <hr>
                  <a href="{% url 'contact_us' %}" class="item-dropdown">
                    <div class="item-dropdown__icon"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M29 23C29 23.5304 28.7893 24.0391 28.4142 24.4142C28.0391 24.7893 27.5304 25 27 25H15L11 29V13C11 12.4696 11.2107 11.9609 11.5858 11.5858C11.9609 11.2107 12.4696 11 13 11H27C27.5304 11 28.0391 11.2107 28.4142 11.5858C28.7893 11.9609 29 12.4696 29 13V23Z" fill="#CCF3EE" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                      
                      </div>
                    
                      <div class="item-dropdown__title">Contact us</div>
                    
                  </a>
                </li>
	                                
								{% endif %}

        
        
      </ul>
    </div>


  </div>
 


{% endblock content %}