{% load static %}
{% load i18n %}

{% load mathfilters %}
{% load cl_extras %}

{% block content %}


  <!-- about tab -->
  <div class="dropdown">
    <div class="dropdown-text">
      <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="About">About</a>
    </div>
    
    <div class="dropdown-content">
    <div class="row">
        <div class="column">
          <h3>Category 1</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>

        </div>
        <div class="column">
          <h3>Category 2</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div class="column">
          <h3>Category 3</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
    </div>
    </div>


  </div>
 


{% endblock content %}