{% load static %}
{% load i18n %}

{% block content %}
  <footer class="page-footer" id="footer_main">
    <section class="page-footer__row">
      <div class="page-footer__listlinks">
        <hr class='footer-hr'>
				<p>
					<a href="{% url 'terms' %}">
            Terms & Conditions
          </a>
				 	 |
					<a href="{% url 'privacy_and_cookie_policy' %}">
            Privacy & Cookie Policy
          </a>
					 | 
					<a href="https://github.com/SwanseaUniversityMedical/concept-library/wiki/Concept-Library-Documentation" target=_blank>
            Support & Documentation
          </a>
					 |
					<a href="{% url 'contact_us' %}">Contact Us</a>
        </p>
        <p>
          Copyright &copy; {% now 'Y' %} - SAIL Databank - Swansea University. All rights reserved.
        </p>
				
        {% block footer_links %}
          {% include "components/base/footer_link_img.html" %}
        {% endblock footer_links %}
      </div>      
    </section>
  </footer>
{% endblock content %}
