{% load static %}
{% load i18n %}

{% block content %}
<script type="module" src="{% static "js/clinicalcode/redesign/components/navigation.js" %}"></script>
<nav class="page-navigation">
  <div class="page-navigation__container">
    <div class="page-navigation__logo"></div>
    <div class="page-navigation__buttons">
      <div class="page-navigation__items">
        {% if request.BRAND_OBJECT.allowed_tabs is none or 'home' in request.BRAND_OBJECT.allowed_tabs %}
          {% url 'concept_library_home' as home_url %}
          <a href="{{ home_url }}" id="Home">Home</a>
        {% endif %}

        {% if request.BRAND_OBJECT.allowed_tabs is none or 'phenotypes' in request.BRAND_OBJECT.allowed_tabs %}
          {% url 'phenotype_list' as phenotype_url %}
          <a href="{{ phenotype_url }}" id="Phenotypes">Phenotypes</a>
        {% endif %}

        {% if user.is_authenticated %}
          {% if IS_DEMO or IS_DEVELOPMENT_PC %}
            {% url 'search_entity' as entity_url %}
            <a href="{{ entity_url }}" id="GenericEntity">Generic Entity</a>
          {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
          {% if IS_DEMO or IS_DEVELOPMENT_PC %}
            {% if request.BRAND_OBJECT.allowed_tabs is none or 'phenotypeworkingsets' in request.BRAND_OBJECT.allowed_tabs %}
              {% url 'phenotypeworkingsets_list' as workingset_url %}
              <a href="{{ workingset_url }}" id="WorkingSets">Working Sets</a>
            {% endif %}
          {% endif %}
        {% endif %}

        {% block about_wrapper %}
          {% include "components/base/about_menu.html" %}
        {% endblock about_wrapper %}


        {% if request.BRAND_OBJECT.allowed_tabs is none or 'api' in request.BRAND_OBJECT.allowed_tabs %}
          {% url 'api:root' as api_url %}
          <a href="{{ api_url }}" id="API">API</a>
        {% endif %}

        {% url 'login' as login_url %}
        {% if not user.is_authenticated %}
          <!-- Need to change to profile later -->
          <a href="{{ login_url }}" id="Profile" role="profile">My Profile</a>
        {% else %}
          <a href="{{ login_url }}" id="Login" role="login">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
{% endblock content %}