{% load i18n %}
{% load cache %}
{% load static %}
{% load compress %}
{% load cl_extras %}

{% block content %}
{% compress js %}
  <script type="module" src="{% static "js/clinicalcode/components/navigation.js" %}"></script>
{% endcompress %}

<nav class="page-navigation">
  <div class="page-navigation__container">
    {% with request.CURRENT_BRAND|default:"BASE_BRAND" as brand_target %}
      {% cache 3600 brand_nav_logo brand_target %}
        {% url 'concept_library_home' as home_url %}
        <a class="page-navigation__logo-anchor" href="{{ home_url }}" id="Logourl">
          <div class="page-navigation__logo"></div>
        </a>
        <div class="page-navigation__buttons"></div>
      {% endcache %}
    {% endwith %}

    <div class="page-navigation__items slim-scrollbar">
      {% with request.CURRENT_BRAND|default:"BASE_BRAND" as brand_target %}
        {% cache 3600 brand_nav_tabs brand_target %}
          {% block search_bar %}
            {% include "components/navigation/search_navigation.html" %}
          {% endblock search_bar %}

          {% if request.BRAND_OBJECT.allowed_tabs is none or 'home' in request.BRAND_OBJECT.allowed_tabs %}
            {% url 'concept_library_home' as home_url %}
            <a href="{{ home_url }}" id="Home">Home</a>
          {% endif %}

          {% if request.BRAND_OBJECT.allowed_tabs is none or 'phenotypes' in request.BRAND_OBJECT.allowed_tabs %}
            {% url 'search_phenotypes' as entity_url %}
            {% if request.BRAND_OBJECT.allowed_tabs.phenotypes|get_type == 'dict' %}
              <a href="{{ entity_url }}" id="{{ request.BRAND_OBJECT.allowed_tabs.phenotypes.id|default:'Phenotypes' }}" data-root="search,update,create">
                {{ request.BRAND_OBJECT.allowed_tabs.phenotypes.title|default:'Phenotypes' }}
              </a>
            {% else %}
              <a href="{{ entity_url }}" id="Phenotypes" data-root="search,update,create">Phenotypes</a>
            {% endif %}
          {% endif %}

          {% if request.BRAND_OBJECT.allowed_tabs is none or 'api' in request.BRAND_OBJECT.allowed_tabs %}
            {% url 'api:root' as api_url %}
            <a href="{{ api_url }}" id="API" data-root="api">API</a>
          {% endif %}

          {% block about_wrapper %}
            {% include "components/base/about_menu.html" %}
          {% endblock about_wrapper %}
        {% endcache %}
      {% endwith %}

      {% url 'login' as login_url %}
      {% if not user.is_authenticated %}
        <!-- Need to change to profile later -->
        <a href="{{ login_url }}?next={{ request.path|urlencode }}" id="Login" role="login">Login</a>
      {% else %}
        {% block profile_wrapper %}
          {% include "components/base/profile_menu.html" %}
        {% endblock profile_wrapper %}
      {% endif %}
    </div>
  </div>
</nav>
<div class="page-navigation__overlay"></div>
{% endblock content %}
