{% load svg %}
{% load i18n %}
{% load static %}
{% load compress %}
{% load cl_extras %}
{% load entity_renderer %}

{% block content %}
  <!-- about tab -->
  {% get_brand_base_title request.BRAND_OBJECT as base_page_title %}
  <div class="nav-dropdown">
    {% include "components/navigation/avatar_component.html"  %}
    
    <div class="nav-dropdown__content nav-dropdown__content--target" id="dropdown-account">
      <ul class="profile-row slim-scrollbar">
        <li class="content-container content-container--wrap-row">
          {% if request.user.is_superuser and SHOWADMIN and not CLL_READ_ONLY %}
            <!--Admin panel-->
            <a href="{% url 'admin:index' %}" target=_blank class="item-dropdown">
              <div class="item-dropdown__icon profile-row--stylised-icon" id="admin_icon">
                {% svg "person_icon" %}
              </div>
              <div class="item-dropdown__title">Admin</div> 
            </a>
            <!--Analytics Dash-->
            <a href="/dash" target=_blank class="item-dropdown">
              <div class="item-dropdown__icon profile-row--stylised-icon" id="admin_icon">
                {% svg "bar_chart_icon" %}
              </div>
              <div class="item-dropdown__title">Analytics</div> 
            </a>
          {% endif %}
          {% if IS_BRAND_ADMIN and not CLL_READ_ONLY %}
            <!--Dashboard-->
            <a href="{% url 'brand_dashboard' %}" target=_blank class="item-dropdown">
              <div class="item-dropdown__icon profile-row--stylised-icon" id="admin_icon">
                {% svg "technical_icon" %}
              </div>
              <div class="item-dropdown__title">Dashboard</div> 
            </a>
          {% endif %}
          <a href="{% url 'my_collection' %}" class="item-dropdown">
            <div class="item-dropdown__icon profile-row--stylised-icon" id="collection_icon">
              {% svg "collection_icon" %}
            </div>
            <div class="item-dropdown__title">My Collection</div> 
          </a>
          <a href="{% url 'my_organisations' %}" class="item-dropdown">
            <div class="item-dropdown__icon profile-row--stylised-icon" id="organisation_icon">
              {% svg "organisation_icon" %}
            </div>
            <div class="item-dropdown__title">My Organisations</div> 
          </a>
        </li>
        <hr/>

        <!-- Brands -->
        {% if request.user.is_superuser and request.session.all_brands %}
          {% get_brand_map_rules False as emap %}
          {%
            include "components/navigation/dropdown_profile_item.html"
            with
              rules=emap
              currentBrand=""
              image="/static/img/brands/SAIL/apple-touch-icon.png"
              title=base_page_title
          %}

          {% for brand in request.session.all_brands %}
            {% get_brand_map_rules brand as bmap %}
            {%
              include "components/navigation/dropdown_profile_item.html"
              with
                rules=bmap
                currentBrand=brand|upper
                image=brand|get_brand_logo
                title=brand|upper
            %}
          {% endfor %}

          {% to_json_script request.session.all_brands id="brand-target-source" name="brand-targets" desc-type="text/json" host-target=IS_PRODUCTION_SERVER %}

          <hr/>
        {% endif %}

        <!-- Logout -->
        <li class="content-container">
          <form method="post" action="{% url 'logout' %}?next={% url 'search_entities' %}" class="item-dropdown">
            {% csrf_token %}
            <button class="item-dropdown__submit" type="submit" aria-label="Log out" role="button" tabindex="0">
              <div class="item-dropdown__icon" id="logout-icon">
                {% svg "exit_icon" %}
              </div>
              Log out
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}
