{% load static %}
{% load i18n %}

{% load mathfilters %}
{% load cl_extras %}

{% block content %}


  <!-- about tab -->
  <script type="module" src="{% static "js/clinicalcode/redesign/components/brandurls.js" %}"></script>
  <div class="dropdown">
    <div class="dropdown-text">
        <a href="{{ login_url }}" id="Profile" role="profile">My Profile</a>
    </div>
    
    <div class="dropdown-content">
    <ul class="row__profile">
        <li class="content-container">
          <a href="#" class="item-dropdown">
            <div class="item-dropdown__icon"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28 29V27C28 25.9391 27.5786 24.9217 26.8284 24.1716C26.0783 23.4214 25.0609 23 24 23H16C14.9391 23 13.9217 23.4214 13.1716 24.1716C12.4214 24.9217 12 25.9391 12 27V29" fill="#CCF3EE"/>
                <path d="M28 29V27C28 25.9391 27.5786 24.9217 26.8284 24.1716C26.0783 23.4214 25.0609 23 24 23H16C14.9391 23 13.9217 23.4214 13.1716 24.1716C12.4214 24.9217 12 25.9391 12 27V29" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20 19C22.2091 19 24 17.2091 24 15C24 12.7909 22.2091 11 20 11C17.7909 11 16 12.7909 16 15C16 17.2091 17.7909 19 20 19Z" fill="#CCF3EE" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
              </div>
              <div class="item-dropdown__title">Admin</div> 
          </a>
        </li>
        <hr>
        {% if request.user.is_superuser  and request.session.all_brands %}
        {% include "components/search/cards/dropdown_image_listitem.html" with  currentBrand="" image="/static/img/header_logo.png" title="Concept Library" %}
        {% endif %}

       

        {% for brand in request.session.all_brands %}
        {% include "components/search/cards/dropdown_image_listitem.html" with  currentBrand=brand|upper  image="/static/img/header_logo.png" title=brand|upper %}
								{% endfor %}



<!--
 <li class="content-container">
          <a href="#" class="item-dropdown">
            <div class="item-dropdown__icon"><img   alt="HDRUK Logo" src="/static/img/brands/HDRUK/header_logo.png">
              </div>
              <div class="item-dropdown__title">HDRUK</div>
          </a>
        </li>

        <li class="content-container">
          <a href="#" class="item-dropdown">
            <div class="item-dropdown__icon">
                <img alt="ADP Logo" src="/static/img/brands/ADP/header_logo.png">
              </div>   
              <div class="item-dropdown__title">ADP</div>
          </a>
        </li>

        <li class="content-container">
          <a href="#" class="item-dropdown">
            <div class="item-dropdown__icon">
                <img alt="SAIL Logo" src="/static/img/brands/SAIL/header_logo.png">
                
            </div>
              <div class="item-dropdown__title">SAIL</div>

          </a>
        </li>

-->
       

        <hr> 

        <li class="content-container">
          <a href="#" class="item-dropdown">
            <div class="item-dropdown__icon"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 9L21 12M21 12L18 15M21 12H9" stroke="#FF0101" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15 7.5V7C15 4.79086 13.2091 3 11 3H7C4.79086 3 3 4.79086 3 7V17C3 19.2091 4.79086 21 7 21H11C13.2091 21 15 19.2091 15 17V16.5" stroke="#F4001D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
              </div>
            
              <div class="item-dropdown__title">Log out</div>
            
          </a>
        </li>
      </ul>
    </div>


  </div>
 


{% endblock content %}