{% load static %}
{% load entity_renderer %}

<article class="entity-card" data-target="{% url 'entity_history_detail' pk=entity.id history_id=entity.history_id %}"
  data-entity-id="{{ entity.id }}" data-entity-version-id="{{ entity.history_id }}" data-layout-id="{{ layout.id }}"
  aria-label="View {{ entity.name }}">
  
  <a class="entity-card__click" href="{% url 'entity_history_detail' pk=entity.id history_id=entity.history_id %}">
    <div class="entity-card__header">
      <h3 class="entity-card__title">{{ entity.id }} - {{ entity.name }}</h3>
      <p class="entity-card__author">{{ entity.author }}</p>
    </div>
    <div class="entity-card__snippet">
      <div class="entity-card__snippet-metadata">
        <span class="entity-card__snippet-metadata-type">{% render_field_value entity layout "type" %}</span>
        <span class="entity-card__snippet-metadata-divider"></span>
        <span class="entity-card__snippet-metadata-date">Last updated {{ entity.created|stylise_date }}</span>
      </div>
      <div class="entity-card__snippet-tags">
        <div class="entity-card__snippet-tags-group">
          {% renderable_field_values entity layout "coding_system" as coding_systems %}
          {% for code in coding_systems %}
            <div class="meta-chip meta-chip-washed-accent">
              <span class="meta-chip__name meta-chip__name-text-accent-dark meta-chip__name-bold">{{ code.name }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="entity-card__snippet-tags-group">
          {% renderable_field_values entity layout "collections" as collections %}
          {% for collection in collections %}
            <div class="meta-chip meta-chip-tertiary-accent">
              <span class="meta-chip__name meta-chip__name-text-accent-dark meta-chip__name-bold">{{ collection.name }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </a>
</article>