{% load static %}
{% load cl_extras %}

<article class="entity-card">
  <div class="entity-card__header">
    <h3 class="entity-card__title">PH790 - Heart failure</h3>
    <p class="entity-card__author">Carr E, Bendayan R, Bean D, O'Gallagher K, Pickles A, Stahl D, Zakeri R, Searle T</p>
  </div>
  <div class="entity-card__snippet">
    <div class="entity-card__snippet-metadata">
      <span class="entity-card__snippet-metadata-type">Disease or Syndrome</span>
      <span class="entity-card__snippet-metadata-divider"></span>
      <span class="entity-card__snippet-metadata-date">Published 2023-03-03</span>
    </div>
    <div class="entity-card__snippet-tags">
      <div class="entity-card__snippet-tags-group">
        <div class="meta-chip meta-chip-washed-accent">
          <span class="meta-chip__name meta-chip__name-text-accent-dark meta-chip__name-bold">SNOMED CODES</span>
        </div>
        <div class="meta-chip meta-chip-washed-accent">
          <span class="meta-chip__name meta-chip__name-text-accent-dark meta-chip__name-bold">ICD-10</span>
        </div>
      </div>
      <div class="entity-card__snippet-tags-group">
        <div class="meta-chip meta-chip-tertiary-accent">
          <span class="meta-chip__name meta-chip__name-text-accent-dark meta-chip__name-bold">PHENOTYPE LIBRARY</span>
        </div>
        <div class="meta-chip meta-chip-tertiary-accent">
          <span class="meta-chip__name meta-chip__name-text-accent-dark meta-chip__name-bold">BREATHE</span>
        </div>
      </div>
    </div>
  </div>
</article>