<li class="content-container">
    <a href={{url}} class="item-dropdown">
      <div class="item-dropdown__icon"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22 10H14C13.4696 10 12.9609 10.2107 12.5858 10.5858C12.2107 10.9609 12 11.4696 12 12V28C12 28.5304 12.2107 29.0391 12.5858 29.4142C12.9609 29.7893 13.4696 30 14 30H26C26.5304 30 27.0391 29.7893 27.4142 29.4142C27.7893 29.0391 28 28.5304 28 28V16L22 10Z" fill="#CCF3EE" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M22 10V16H28" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M24 21H16" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M24 25H16" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18 17H17H16" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </div> 
      <div class="item-dropdown__text">
        <div class="item-dropdown__title">{{title}}</div>
        <p class="item-dropdown__description">Learn more about concept library</p>
      </div>
    </a>
  </li>