{% load static %}
{% load i18n %}

{% load mathfilters %}
{% load cl_extras %}

{% block content %}
<li class="content-container">
  <a href='javascript:log()'  class="item-dropdown userBrand" >
    <div class="item-dropdown__icon"><img alt="Logo" src="{{image}}" /></div>

    <div class="item-dropdown__title">{{title}}</div>
  </a>
</li>

<script>    
    function log(){
        brandUrlsgen("{{request.session.all_brands}}","{{IS_PRODUCTION_SERVER}}","{{currentBrand}}")
    }
</script>



{%endblock content%}