{% extends "base.html" %}
{% load static %}

{% block title %}| Page not found{% endblock title %}

{% block container %}
  <header class="main-header search-banner">
    <div
      class="main-header__inner-container main-header__inner-container--constrained main-header__inner-container--centred">
      <div class="search-banner__header search-banner__header--pad-bottom-2">
        <h2 class="search-banner__title">Concept Library</h2>
      </div>
    </div>
  </header>
  <main class="main-content main-content--inner-padding">
    <div
        class="main-content__inner-container main-content__inner-container--constrained main-content__inner-container--centred">
      <h2>404: Page not found</h2>
      <p>Sorry but it looks like you followed a bad link. If we sent you here, please contact us and let us know.</p>
      <p>Follow this link to get back to the <a href="{% url 'concept_library_home' %}">homepage</a>.</p>
      <p>Or, click <a href="javascript:history.back()">here</a> to go back.</p>
    </div>
  </main>
{% endblock container %}
