<!DOCTYPE html>
<html lang="en">
	{% load static %}
	{% load mathfilters %}
	{% load i18n %}
	{% load cl_extras %}
	
{% if SHOW_COOKIE_ALERT %}
    {% load cookielaw_tags%}
{% endif %}

	<head>
		<style>
			h3{ position:relative; }
			h3 span{ position:absolute; top:-70px;}
		</style>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="{% block description %}{% if not request.CURRENT_BRAND|length %}The concept library is a system for storing, managing, sharing, and documenting clinical code lists in health research.{% endif %}{% endblock description %}">
    	<meta name="keywords" content="Concept Library{% if request.CURRENT_BRAND|length and request.BRAND_OBJECT.site_title is not none %}, {{ request.BRAND_OBJECT.site_title }}{% endif %}{% block keywords %}{% endblock keywords %}">
 
<!--     	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"> -->
<!--     	<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo="> -->
		<link rel="icon" href="data:,">

			{% if IS_DEMO or IS_DEVELOPMENT_PC or IS_HDRUK_EXT == '0' %}
				<!-- Stop indexing the demo site -->
				<meta name="robots" content="noindex, nofollow">
				<meta name="googlebot" content="noindex, nofollow">
			{% endif %} 
    	
    	{% block canonical_path %}
    		<link rel="canonical" href="{{ CANONICAL_PATH }}" />
    	{% endblock canonical_path %}

	
    	<title>
			{% if request.CURRENT_BRAND|length and request.BRAND_OBJECT.site_title is not none %}
				{{ request.BRAND_OBJECT.site_title }}
			{% else %}
				Concept Library
			{% endif %} 
    		{% block title %}{% endblock title %}
    	</title>    	
    	

		
		
		<!-- core styles -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" />
		<link href="{% static 'css/autocomplete.css' %}" rel="stylesheet" />
		<link href="{% static 'lib/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" />
		<link href="{% static 'css/clusterize.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/jstree/style.min.css' %}" rel="stylesheet" />
		<link href="{% static 'lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" />
		<link href="{% static 'css/bootstrap-tagsinput.css' %}" rel="stylesheet" />
		<link href="{% static 'css/bootstrap-tagsinput-typeahead.css' %}" rel="stylesheet" />	
		<link href="{% static 'css/query-builder.default.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" />


		
		<link href="{% static 'css/site.css' %}" rel="stylesheet" />
		<link href="{% static 'css/brands/SM/brand.css' %}" rel="stylesheet" />

		<link href="{% static 'css/main.css' %}" rel="stylesheet" />
		{% if request.CURRENT_BRAND|length %}
			<link href="{% static 'css/brands/' %}{{request.CURRENT_BRAND}}/brand.css" rel="stylesheet" />
		{% endif %}


		{% block head %}{% endblock head %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/lib/html5shiv.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/lib/respond.min.js' %}" type="text/javascript"></script>
    <![endif]-->
	</head>
	
	<body>
		<div class="loader" style="display:none;"></div>
		<nav id="nav_bar_main" class="navbar navbar-default navbar-fixed-top">
		
 			<div class="container" id="nav_bar_main" > 
 			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      
<!-- 					<div class="navbar-header"> -->
						
						<!-- Header logo -->
						<a id="logo-link"  class="navbar-brand" href="{% url 'concept_library_home' %}"	>
							<img style="margin-top: -5px;" widthXX="115px" height="35px"   alt="{{request.CURRENT_BRAND}} Logo" 
								{% if request.CURRENT_BRAND|length %} src="{% static 'img/brands/' %}{{request.CURRENT_BRAND}}/header_logo.png" {% else %} src="{% static 'img//header_logo.png' %}" {% endif %}
							/>
						</a>	
						
<!-- 					</div> -->
			    </div>

    			<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"  id="navbar" >

					
					
			<div class="navbar-header" style="float: right !important;">			
					<ul class="list-inline nav navbar-nav CL-tabs" id='prjnavtabs' styleXX="float: right !important;">

						{% if request.BRAND_OBJECT.allowed_tabs is none or 'home' in request.BRAND_OBJECT.allowed_tabs %}					
							<li id="home_li">
								<a id="home_a" class="main_menu nav-bar-title"  
									href="{% url 'concept_library_home' %}"
								>Home</a>
							</li>
						{% endif %}
												
						{% if request.BRAND_OBJECT.allowed_tabs is none or 'phenotypes' in request.BRAND_OBJECT.allowed_tabs %}																	
							<li id="phenotype_li">
								<a id="phenotype_a" class="main_menu nav-bar-title"  href="{% url 'phenotype_list' %}">Phenotypes</a>
							</li>
						{% endif %}
						
						{% if request.BRAND_OBJECT.allowed_tabs is none or 'concepts' in request.BRAND_OBJECT.allowed_tabs %}					
							<li id="concept_li" >
								<a id="concept_a"  class="main_menu nav-bar-title" href="{% url 'concept_list' %}">Concepts</a>
							</li>	
						{% endif %}				

						{% if user.is_authenticated %}					
							{% if request.BRAND_OBJECT.allowed_tabs is none or 'workingsets' in request.BRAND_OBJECT.allowed_tabs %}					
								<li id="workingset_li"  >
									<a id="workingset_a" class="main_menu nav-bar-title" href="{% url 'workingset_list' %}">Working Sets</a>
								</li>	
							{% endif %}		
						{% endif %}		
							
						{% if request.BRAND_OBJECT.allowed_tabs is none or 'api' in request.BRAND_OBJECT.allowed_tabs %}					
							<li id="api_li"  >
								<a id="api_a" class="main_menu  nav-bar-title" href="{% url 'api:root' %}" >API</a>
							</li>	
						{% endif %}		
						
	
						<!-- about tab -->
						<li id="about_li" class="dropdown">
	                        <a id="about_a" href="#" class="nav-bar-title dropdown-toggle"  style="font-weight: normal !important;"
	                          data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
	                        <ul class="dropdown-menu">

                                {% if request.BRAND_OBJECT.about_menu is not none %}
									{% for lnk in request.BRAND_OBJECT.about_menu %}
											{% for header, view_pg_name in lnk.items %}
												{% if view_pg_name|islist  %}
													<li role="separator" class="divider"></li>
													<li class="dropdown-submenu">
														<a tabindex="-1" href="#">{{ header }}</a>
														<ul class="dropdown-menu">
															{% for lnk2 in view_pg_name %}
																{% for header2, view_pg_name2 in lnk2.items %}
																	  <li>
																		<a href="{% url 'about_page' pg_name=view_pg_name2 %}" >{{ header2 }}</a>
																	</li>
																 {% endfor %}
															 {% endfor %}

														</ul>
												     </li>
												{% else %} 
												    <li>
														<a href="{% url 'about_page' pg_name=view_pg_name %}" >{{ header }}</a>
													</li>
												{% endif %}
											{% endfor %}
									{% endfor %}

								{% else %}		
    									<li><a href="{% url 'about_page' pg_name='cl_about_page' %}" >Concept Library</a></li>
								{% endif %}
								
								<li role="separator" class="divider"></li>
								<li><a href="{% url 'reference_data' %}">Reference data</a></li>
								{% if not CLL_READ_ONLY %}
	                                <li><a href="{% url 'contact_us' %}">Contact us</a></li>
								{% endif %}
        				                                                                                                                                    
	                        </ul>
                    	</li>
                    	
                    	
                    <!-- user/login -->
                    {% if user.is_authenticated %}	
                    	<li id="user_li" class="dropdown">
                    		<a id="user_a" href="#" class="nav-bar-title dropdown-toggle activeXX " style="font-weight: normal !important;"
	                          data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  title="{{ user.get_username }}" >
	                          <i class="fa fa-user" aria-hidden="true"></i> {{ user.get_username }} <span class="caret"></span></a>
	                         <ul class="dropdown-menu"> 
								
								<!-- admin -->
								{% if request.user.is_superuser and SHOWADMIN and not CLL_READ_ONLY %}
								   <li >
								  		<a href="{% url 'admin:index' %}" target=_blank >Admin</a>
								   </li>	
								   <li role="separator" class="divider"></li>
								{% endif %}	
						
								{% if not CLL_READ_ONLY and 1 == 2 %}
									<!-- change password is disabled for now -->
									<li>
										<a href="{% url 'password_change' %}">
											<i class="glyphicon glyphicon-lock" aria-hidden="true"></i> Change Password
										</a>
								    </li>
								    <li role="separator" class="divider"></li>
								{% endif %}	
								
								
								<!-- brands -->								
							   	 {% if request.user.is_superuser  and request.session.all_brands %}
							   	 	<li>
										<a class="userBrand2" value="" href="javascript:void(null);">
											Default site
										</a>
								    </li>
								    
										{% for brand in request.session.all_brands %}
											<li {% if brand|upper == request.session.current_brand|upper %} class="active" {% endif %}  >
												<a class="userBrand2" 
													value="{{ brand|upper }}"  href="javascript:void(null);">
													{{ brand|upper }}
												</a>
										    </li>
										{% endfor %}
									<li role="separator" class="divider"></li>
								{% endif %}

								
						
								<!-- logout -->
								<li>
									<a href="{% url 'logout' %}?next={% url 'phenotype_list' %}">
										<i class="fa fa-sign-out" aria-hidden="true"></i> Log out
									</a>
								</li>
								
							</ul>
                    	</li>
					{% else %}
					    <li id="login_li" >
							<a id="login_a" class="navbar-link nav-bar-title" href="{% url 'login' %}?next={{ request.path|urlencode }}">
								<i class="fa fa-sign-in" aria-hidden="true"></i> Log in
							</a>
						</li>
					{% endif %}
														
					<!-- main ul -->	
					</ul>
					
					

					</div>
					
				</div> <!-- /.navbar-collapse -->
			</div> <!-- /.container -->
		</nav>
		
		<div class="container-fluid" style="padding-right: 0px; padding-left:0px;">			
			{% block container_fluid %}
			{% endblock container_fluid %}
		</div>
		

			
		<div class="container">		
		    <div class="breadcrumbs breadcrumbs-padding">
		        {% block crumbs %}
		        {% endblock crumbs %}
		    </div>
			
				
			{% block messages %}
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-{{ message.tags }}">
							<a class="close" data-dismiss="alert">x</a>
							{{ message|safe }}
						</div>
					{% endfor %}
				{% endif %}
			{% endblock messages %}
			
			{% block container %}{% endblock container %}
			
			<div class="modal fade" id="modal-section">
				<div class="modal-dialog">
					<div class="modal-content">
					
					</div>
				</div>
			</div>
		</div>
		<br/>
		
		<!-- SITE FOOTER -->
		{% block footer %}
		<footer id="footer_main">
			<div class="container" id="baseFooter" >
			<hr>
				<p>
					<a href="{% url 'terms' %}" >Terms & Conditions</a>
				 	 |
					<a href="{% url 'privacy_and_cookie_policy' %}" >Privacy & Cookie Policy</a>
					 | 
					<a href="https://github.com/SwanseaUniversityMedical/concept-library/wiki/Concept-Library-Documentation" target=_blank  >Support & Documentation</a>
					{% if not CLL_READ_ONLY %}
					 |
					<a href="{% url 'contact_us' %}"  >Contact Us</a>
					{% endif %}
				</p>
				<p>Copyright &copy; {% now 'Y' %} - SAIL Databank - Swansea University. All rights reserved.</p>	
				
				<div class="navbar-header">
					{% if request.CURRENT_BRAND == 'HDRUK' %}
						<a href="https://www.hdruk.ac.uk/" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/hdruk_logo.png' %}" height="30px"  alt="HDR UK Logo" />
						</a>
						
						<a href="https://conceptlibrary.saildatabank.com/" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/concept_library_on_white.png' %}" height="30px"  alt="Concept Library Logo" />
						</a>
						
						<a href="http://saildatabank.com" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/SAIL_alt_logo_on_white.png' %}" height="30px"  alt="SAIL Databank Logo" />
						</a>
											
						<a href="https://denaxaslab.org/" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/Caliber_Thin_Lines_Transparent.png' %}" height="30px"  alt="CALIBER Phenotype Portal Logo" />
						</a>
											
						<a href="https://www.dundee.ac.uk/hic" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/HIC_Logo_bold_blue.png' %}" height="30px"  alt="HIC Logo" />
						</a>
						
					{% elif request.CURRENT_BRAND == 'ADP' %}
						<a href="https://www.adolescentmentalhealth.uk/" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/ADP_logo.png' %}" height="30px"  alt="ADP UK Logo" />
						</a>
						
						<a href="https://conceptlibrary.saildatabank.com/" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/concept_library_on_white.png' %}" height="30px"  alt="Concept Library Logo" />
						</a>
						
						<a href="http://saildatabank.com" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/SAIL_alt_logo_on_white.png' %}" height="30px"  alt="SAIL Databank Logo" />
						</a>

					{% elif request.CURRENT_BRAND == 'BREATHE' %}
						<a href="https://www.ed.ac.uk/usher/breathe/" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/breathe_logo.png' %}" height="30px"  alt="BREATHE Logo" />
						</a>

						<a href="https://conceptlibrary.saildatabank.com/" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/concept_library_on_white.png' %}" height="30px"  alt="Concept Library Logo" />
						</a>

						<a href="http://saildatabank.com" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/SAIL_alt_logo_on_white.png' %}" height="30px"  alt="SAIL Databank Logo" />
						</a>

					{% else %}
						<a href="https://conceptlibrary.saildatabank.com/" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/concept_library_on_white.png' %}" height="30px"  alt="Concept Library Logo" />
						</a>
						
						<a href="http://saildatabank.com" target=_blank  class="navbar-brand" rel="noopener noreferrer">
							<img style="margin-top: -10px;" src="{% static 'img/Footer_logos/SAIL_alt_logo_on_white.png' %}" height="30px"  alt="SAIL Databank Logo" />
						</a>
					{% endif %} 

				</div>		
				
				{% if DEV_PRODUCTION|length or CLL_READ_ONLY %}
				<div class="row ">
			    	<div class="col-xs-offset-3 col-xs-9 text-right">
			    		<span class="alert alert-warning" role="alert">
			    		{{ DEV_PRODUCTION|safe }}
			    			{% if CLL_READ_ONLY %}
							   read only 
							{% endif %}	
			    		</span>
			    	</div>
			    </div>
			    {% endif %}
			    			    
			</div>
		</footer>	 
		{% endblock footer %}


		<script src="{% static 'js/lib/jquery/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
         <script src="{% static 'js/lib/DataTables/datatables.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/lib/moment-with-locales.min.js'%}" type="text/javascript"></script>
		<script src="{% static 'js/lib/bootstrap/bootstrap.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/lib/jquery.autocomplete.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/lib/clusterize.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/lib/jstree/jstree.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/lib/bootstrap-tagsinput.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/lib/typeahead.bundle.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/lib/jQuery.extendext.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/lib/doT.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/lib/query-builder.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/lib/jquery.validate.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/lib/additional-methods.min.js' %}" type="text/javascript"></script>



 		
		
		
		<script>
			$(function(){
				if ($(".input-group.date")[0]){
					$('.input-group.date').datepicker({
						autoclose: true,
						format: 'dd/mm/yyyy',
						pickDate: true,
						todayHighlight: true,
					});
				}
			});
			
			
			
		</script>
		
		<script type="text/javascript">
			//Setting an active menu item based on the current URL with jQuery		
			$(function () {
			    setNavigation();
			});
	
			function setNavigation() {
			    var path = window.location.pathname;
			    path = path.replace(/\/$/, "");
			    path = decodeURIComponent(path);
	
			    $("#prjnavtabs a").each(function () {
			        var href = $(this).attr('href');
			        href = href.replace(/\/$/, "");
			        if (path.substring(0, href.length) === href) {
			            $(this).closest('li').addClass('active');
			        }
			    });
			}
		
		</script>
		
		<script>
			$(function(){
				var lTrimRegex = new RegExp('^/');
				var lTrim = function(input){
				    return input.replace(lTrimRegex, '');
				}
				
				var all_brands = []; 
				{% for brand in request.session.all_brands %}
					all_brands.push('{{ brand|upper }}');
			    {% endfor %}

				$( '.userBrand2' ).click(function(e){
					$(".loader").show();
					var path = window.location.pathname;
					path = lTrim(path);
					old_root = path.split('/')[0];
					
					new_root = '';
					if($(this).attr("value") != ''){
						new_root = '/' + $(this).attr("value");
					}
					
					indx = 1;
					if(all_brands.indexOf(old_root.toUpperCase()) == -1){
						indx = 0;
					}
					
					
					{% if IS_PRODUCTION_SERVER %}
						if(window.location.href.toLowerCase().includes('phenotypes.healthdatagateway'.toLowerCase()) ){
							if(new_root == '/HDRUK'){
								// do nothing
							}else{
								window.location.href = 'https://conceptlibrary.saildatabank.com' + new_root + '/' + path.split('/').slice(indx).join('/');
							}

						}else{
							if(new_root == '/HDRUK'){
								new_root = '';
								window.location.href = 'https://phenotypes.healthdatagateway.org' + new_root + '/' + path.split('/').slice(indx).join('/');
							}else{
								window.location.href = 'https://conceptlibrary.saildatabank.com' + new_root + '/' + path.split('/').slice(indx).join('/');
							}
						}
					{% else %}
						window.location.href = document.location.origin + new_root + '/' + path.split('/').slice(indx).join('/');
					{% endif %}
					
					$(".loader").hide();

				});
				

			});
			
		</script>
		

		{% block scripts %}
		{% endblock scripts %}

	{% if SHOW_COOKIE_ALERT %}
	    {% cookielaw_banner %}
	{% endif %}		

	</body>
</html>
