{% extends "base.html" %}

{% load static %}
{% load entity_renderer %}

{% block title %}| Page Unavailable{% endblock title %}

{% block container %}
  {% get_brand_base_title request.BRAND_OBJECT as base_page_title %}
  <header class="main-header search-banner">
    <div
      class="main-header__inner-container main-header__inner-container--constrained main-header__inner-container--centred">
      <div class="search-banner__header search-banner__header--pad-bottom-2">
        <h2 class="search-banner__title">{{ base_page_title }}</h2>
      </div>
    </div>
  </header>
  <main class="main-content main-content--inner-padding">
    <div
        class="main-content__inner-container main-content__inner-container--constrained main-content__inner-container--centred">

			<h2>{{ msg_title }}</h2>
      <p>Click <a href="javascript:history.back()">here</a> to go back.</p>

			<br/>

			{% if successMsg %}
				<strong>Success:</strong>
				<br/>
				<ul>
						{% for msg in successMsg %}
						<li>{{ msg|safe }}</li>
						{% endfor %}
				</ul>
			{% endif %}

			{% if warningsMsg %}
				<strong>Warning:</strong>
				<br/>
				<ul>
						{% for msg in warningsMsg %}
						<li>{{ msg|safe }}</li>
						{% endfor %}
				</ul>
			{% endif %}

			{% if errorMsg %}
				<strong>Error:</strong>
				<br/>
				<ul>
						{% for msg in errorMsg %}
						<li>{{ msg|safe }}</li>
						{% endfor %}
				</ul>
			{% endif %}
    </div>
  </main>
{% endblock container %}
