{% extends "base.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load cl_extras %}
{% load markdownify %}
{% load breadcrumbs %}
{% load entity_renderer %}
{% load entity_publish_renderer %}

{% block title %}| {% get_template_entity_name entity_class template %}: {{ entity.name }}{% endblock title %}
{% block description %}{% get_template_entity_name entity_class template %} {{ entity.id }}/{{ entity.history_id }} - {{ entity.name }}{% endblock description %}
{% block keywords %}, {{ entity.name }}, {{ entity.id }}/{{ entity.history_id }}, {% get_template_entity_name entity_class template %}{% endblock keywords %}

{% block canonical_path %}
	<link rel="canonical" href="{{ page_canonical_path }}" />
{% endblock canonical_path %}

{% block embedding_wrapper %}
  {% with entity.history_id|stringformat:"i" as hxid %}
    {% render_og_tags header=entity_class|add:': '|add:entity.id|add:'/'|add:hxid %}
  {% endwith %}
{% endblock embedding_wrapper %}

{% block container %}
  <!-- Vendor -->
  <script src="{% static 'js/lib/simple-datatables/simple-datatables.min.js' %}"></script>

  {% compress js %}
    <script type="module" src="{% static 'js/clinicalcode/components/stepsWizard.js' %}"></script>
  {% endcompress %}

  <!-- Page Stylesheets -->
  {% compress css %}
    <link rel="stylesheet" href="{% sass_src 'scss/pages/detail.scss' %}" type="text/css" />
  {% endcompress %}

  <!-- Form -->
  <header class="main-header">
    <div class="main-header__inner-container main-header__inner-container--centre-constrained">
      {% comment %} {% breadcrumbs useMap=False includeHome=True includeHeader=False %}
      {% endbreadcrumbs %} {% endcomment %}

      <section class="breadcrumbs">
        <span class="breadcrumb-item">
          <span class="marker"></span>
          <span class="breadcrumb">
            <a href="{% url 'search_entities' %}">Search</a>
          </span>
        </span>
        <span class="breadcrumb-item">
          <span class="marker"></span>
          <span class="breadcrumb">{{ entity.name }}</span>
        </span>
      </section>
    </div>
  </header>
  
  <main class="main-content">
    {% render_wizard_navigation detail_pg=True %}
    {% endrender_wizard_navigation %}

    <div class="main-content__inner-container main-content__inner-container--constrained main-content__inner-container--centred">
      <article class="phenotype-creation">
        <section class="phenotype-creation__header">
          <div class="phenotype-creation__header-title">
            <h1>{{ entity.name }}</h1>
            {% include './detail_buttons.html' %}
          </div>
          <div class="phenotype-creation__header-row phenotype-creation__header--fill phenotype-creation__header--jc-sb">
            <div class="phenotype-creation__header-col phenotype-creation__header--fmax-1">
              <div class="phenotype-creation__header-row phenotype-creation__header--no-wrap">
                <span class="as-icon phenotype-creation--icn" data-icon="&#xf5b7;" aria-hidden="true"></span>
                <p><strong>{{ entity.id }} / {{ entity.history_id }}</strong></p>
              </div>
              {% if not entity.author|is_empty_value %}
                <div class="phenotype-creation__header-row phenotype-creation__header--no-wrap">
                  <span class="as-icon phenotype-creation--icn" data-icon="&#x40;" aria-hidden="true"></span>
                  <p><em>{{ entity.author }}</em></p>
                </div>
              {% endif %}
              <div class="phenotype-creation__header-row phenotype-creation__header--no-wrap">
                <span class="as-icon phenotype-creation--icn" data-icon="&#xf0e7;" aria-hidden="true"></span>
                <p>{{ entity.updated|date:'M j, Y' }}</p>
              </div>
            </div>
            <div class="phenotype-creation__header-col phenotype-creation__header--ai-fe phenotype-creation__header--fmin-0">
              <span class="tag tag--detail tag--success">
                <strong>
                  <span class="as-icon phenotype-creation__header--mr-05" data-icon="&#xf15b;" aria-hidden="true"></span>
                  {{ template.definition.template_details.name }}
                </strong>
              </span>
              {% if user.is_authenticated %}
                {% if is_latest_version %}
                  <span class="tag tag--detail tag--warning">
                    <strong>
                      <span class="as-icon phenotype-creation__header--mr-05" data-icon="&#xf126;" aria-hidden="true"></span>
                      LATEST VERSION
                    </strong>
                  </span>
                {% else %}
                  <span class="tag tag--detail tag--danger">
                    <strong>
                      <span class="as-icon phenotype-creation__header--mr-05" data-icon="&#xf126;" aria-hidden="true"></span>
                      LEGACY VERSION
                    </strong>
                  </span>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </section>

        <ol class="phenotype-progress" id="main-wizard">
          {% render_wizard_sections detail_pg=True %}
          {% endrender_wizard_sections %}
        </ol>
      </article>
    </div>
  </main>
{% endblock container %}
