{% extends "base.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load cl_extras %}
{% load markdownify %}
{% load breadcrumbs %}
{% load entity_renderer %}
{% load entity_publish_renderer %}

{% block title %}| {% get_template_entity_name entity_class template %}: {{ entity.name }}{% endblock title %}
{% block description %}{% get_template_entity_name entity_class template %} {{ entity.id }}/{{ entity.history_id }} - {{ entity.name }}{% endblock description %}
{% block keywords %}, {{ entity.name }}, {{ entity.id }}/{{ entity.history_id }}, {% get_template_entity_name entity_class template %}{% endblock keywords %}

{% block canonical_path %}
	<link rel="canonical" href="{{ page_canonical_path }}" />
{% endblock canonical_path %}

{% block embedding_wrapper %}
  {% with entity.history_id|stringformat:"i" as hxid %}
    {% render_og_tags header=entity_class|add:': '|add:entity.id|add:'/'|add:hxid %}
  {% endwith %}
{% endblock embedding_wrapper %}

{% block container %}
  <!-- Vendor -->
  <script src="{% static 'js/lib/simple-datatables/simple-datatables.min.js' %}"></script>

  {% compress js %}
    <script type="text/javascript" src="{% static 'js/clinicalcode/components/copyButton.js' %}"></script>
    <script type="module" src="{% static 'js/clinicalcode/components/toastNotification.js' %}"></script>
    <script type="module" src="{% static 'js/clinicalcode/components/stepsWizard.js' %}"></script>
  {% endcompress %}

  <!-- Page Stylesheets -->
  {% compress css %}
    <link rel="stylesheet" href="{% sass_src 'scss/pages/detail.scss' %}" type="text/css" />
  {% endcompress %}

  <!-- Form -->
  <header class="main-header phenotype-banner">
    <div class="main-header__inner-container main-header__inner-container--constrained-no-pad main-header__inner-container--centred">
      <div class="phenotype-banner__container">
        <div class="phenotype-banner__header">
          <div class="phenotype-banner__title">
            <section class="phenotype-banner__title__name">
              <a class="phenotype-banner__title__name__back-btn" href="{% url 'search_entities' %}" aria-label="Go back to Search">
                <span aria-hidden="true">Go Back</span>
              </a>
              <h1 class="phenotype-banner__title__name__label">
                {{ entity.name }}
              </h1>
            </section>
          </div>

          <div class="phenotype-banner__actions">
            {% include './detail_buttons.html' %}
          </div>
        </div>

        <div class="phenotype-banner__details">
          <div class="phenotype-creation__header-row phenotype-creation__header--fill phenotype-creation__header-detail-root phenotype-creation__header--ai-stretch">
            <div class="phenotype-creation__header-col phenotype-creation__header--fmax-1 phenotype-creation__header-detail-item">
              <div class="phenotype-creation__header-row phenotype-creation__header--no-wrap">
                <span class="as-icon phenotype-creation--icn" data-icon="&#xf5b7;" aria-hidden="true"></span>
                <p><strong>{{ entity.id }} / {{ entity.history_id }}</strong></p>
              </div>
              {% if is_published %}
                <div class="phenotype-creation__header-row phenotype-creation__header--no-wrap">
                  <span class="as-icon phenotype-creation--icn" data-icon="&#xf7a2;" aria-hidden="true"></span>
                  <p><strong>Published</strong></p>
                </div>
              {% else %}
                <div class="phenotype-creation__header-row phenotype-creation__header--no-wrap">
                  <span class="as-icon phenotype-creation--icn" data-icon="&#xf7a2;" aria-hidden="true"></span>
                  <p>Draft</p>
                </div>
              {% endif %}
              {% if not entity.author|is_empty_value %}
                <div class="phenotype-creation__header-row phenotype-creation__header--no-wrap phenotype-creation__header-detail-item">
                  <span class="as-icon phenotype-creation--icn" data-icon="&#x40;" aria-hidden="true"></span>
                  <p class="phenotype-creation__header-detail-item"><em>{{ entity.author }}</em></p>
                </div>
              {% endif %}
              <div class="phenotype-creation__header-row phenotype-creation__header--no-wrap">
                <span class="as-icon phenotype-creation--icn" data-icon="&#xf0e7;" aria-hidden="true"></span>
                <p>{{ entity.updated|date:'M j, Y' }}</p>
              </div>
              {% if not entity.doi|is_empty_value and entity.doi|get_type == 'str' %}
                <div class="phenotype-creation__header-row phenotype-creation__header--no-wrap phenotype-creation__header-detail-item">
                  <span class="as-icon phenotype-creation--icn" data-icon="&#xf0c1;" aria-hidden="true"></span>
                  <div href="{{ entity.doi }}" target=_blank rel="noopener noreferrer" class="phenotype-creation__header-detail-item">
                    <div class="copy-area" data-state="copyable">
                      <input class="copy-area__input" value="{{ entity.doi }}" readonly></input>
                      <button class="copy-area__button" aria-label="Copy DOI Link" title="Copy DOI link">
                        <span class="copy-area__button__icon" data-name="copy" aria-hidden="true"></span>
                        <span class="copy-area__button__icon" data-name="check" aria-hidden="true"></span>
                        <span class="copy-area__button__icon" data-name="cross" aria-hidden="true"></span>
                      </button>
                    </div>
                  </div>
                </div>
              {% elif is_published and DOI_ACTIVE %}
                <div class="phenotype-creation__header-row phenotype-creation__header--no-wrap phenotype-creation__header-detail-item">
                  <span class="as-icon phenotype-creation--icn" data-icon="&#xf0c1;" aria-hidden="true">
                    <span class="phenotype-creation--loading"></span>
                  </span>
                  <p><span class="badge wrapped-tspan">REGISTERING DOI...</span></p>
                </div>
              {% endif %}
            </div>
            <div class="phenotype-creation__header-col phenotype-creation__header--fmin-0 phenotype-creation__header-detail-item phenotype-creation__header--as-fs phenotype-creation__header--ml-auto">
              <span class="tag tag--detail tag--success">
                <strong>
                  <span class="as-icon phenotype-creation__header--mr-05" data-icon="&#xf15b;" aria-hidden="true"></span>
                  {{ template.definition.template_details.name }}
                </strong>
              </span>
              {% if user.is_authenticated %}
                {% if is_latest_version %}
                  <span class="tag tag--detail tag--warning">
                    <strong>
                      <span class="as-icon phenotype-creation__header--mr-05" data-icon="&#xf126;" aria-hidden="true"></span>
                      LATEST VERSION
                    </strong>
                  </span>
                {% else %}
                  <span class="tag tag--detail tag--danger">
                    <strong>
                      <span class="as-icon phenotype-creation__header--mr-05" data-icon="&#xf126;" aria-hidden="true"></span>
                      LEGACY VERSION
                    </strong>
                  </span>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <main class="main-content">
    <div class="main-content__inner-container main-content__inner-container--constrained main-content__inner-container--centred">
      <div class="phenotype-content">
        {% render_wizard_navigation detail_pg=True %}
        {% endrender_wizard_navigation %}
        <article class="phenotype-creation phenotype-creation--relative">
          <ol class="phenotype-progress" id="main-wizard">
            {% render_wizard_sections detail_pg=True %}
            {% endrender_wizard_sections %}
          </ol>
        </article>
      </div>
    </div>
  </main>
{% endblock container %}
