{% load static %}
{% load cl_extras %}
{% load entity_publish_renderer %}

<div id="topButtons" class="box-container action-buttons-container">
  <div class="row">    
    <div class="col-md-12 text-align-right">
      <label class="dropdown-group">
        <div class="dropdown-group__button">
          Export {{ entity_class }}
        </div>

        <input type="checkbox" class="dropdown-group__input" id="dd_1">
      
        <ul class="dropdown-group__menu dropdown-group__menu--fall-right" {% if not user_can_export %} disabled title="Component concept(s) deleted or revoked access!!" {% endif %} >
          <li aria-label="Export phenotype as JSON" role="button" tabindex="0">
            <a {% if user_can_export %}
               href="{% url 'api:get_generic_entity_detail_by_version' entity.id entity.history_id %}?format=json"
               target=_blank 
               aria-label="Export JSON"
               {% endif %}>
              JSON
            </a>
          </li>
        </ul>
      </label>
      
      {% if user.is_authenticated and not CLL_READ_ONLY %}
        {% if user_can_edit %}
          {% url 'update_phenotype' entity.id entity.history_id as update_entity_url %}
          <button role="link" 
                  class="primary-btn bold dropdown-btn__label"
                  title="Edit Phenotype"
                  aria-label="Edit Phenotype"
                  onClick="window.location.href='{{ update_entity_url }}';">
            &nbsp;Edit&nbsp;
          </button>
        {% endif %}

        {% if is_published and approval_status == APPROVED_STATUS_DICT.APPROVED %}
          {% if user_can_edit %}
            <button 
                    id="publication-information"
                    class="primary-btn bold dropdown-btn__label text-success"
                    title="This version is already published"
                    aria-disabled="true"
                    disabled>
              &nbsp;Published&nbsp;
            </button>
          {% endif %}
        {% else %}
          {% render_publish_button %} 
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
