{% load static %}
{% load i18n static %}
{% load compress %}
{% load sass_tags %}
{% load mathfilters %}
{% load cl_extras %}

{% block content %}

{% compress css %}
<link href="{% sass_src 'scss/components/_email_content.scss' %}" rel="stylesheet" type="text/css" />
{% endcompress %}

<div class="email-notification">
    <div class="email-notification__content">
        <h2><img class="title-icon" src="{% static 'img/apple-touch-icon.png' %}" alt="Title Icon">Notification from Concept Library</h2>
        {% include "components/email/email_card.html" %}
        <div class="email-notification__footer">
            <div class="email-notification__footer__footer-icons">
                <img src="{% static 'img/Footer_logos/SAIL_alt_logo_on_white.png' %}" alt="Icon 1" />
                <img src="{% static 'img/Footer_logos/hdruk_logo.png' %}" alt="Icon 2" />
                <img src="{% static 'img/Footer_logos/concept_library_on_white.png' %}" alt="Icon 3" />
            </div>
            <p>Copyright © 2023 - SAIL Databank - Swansea University. All rights reserved.</p>
        </div>
    </div>
    </div>

{% endblock content %}


