{% extends "base.html" %}

{% load static %}

{% load cl_extras %}

{% block title %}| Search Phenotypes{% endblock title %}
{% block description %}Search Phenotypes{% endblock description %}
{% block keywords %}Search Phenotypes{% endblock keywords %}	

{% block container_fluid %}

<div class="bg-search">
 	<div class="container" >

		<div id="basic-search" class="bg-search" {% if search_form == 'advanced-form' %} style="display:none;" {% endif %} >
  			<form class="container_frm container-1 example" id="basic-form" action="{% url 'phenotype_list' %}" method="POST"  >
			    {% csrf_token %}
				<div  class="row form-group">
					<div>
						<h2>Phenotypes</h2>
						<input type="text" placeholder="Search Phenotypes" name="search" id="search1" value="{{ search|default_if_none:'' }}">
						<input type="hidden" name="tagids" id="tagids"  value="{{ tag_ids|default_if_none:'' }}">
						<input type="hidden" name="search_form" id="collection_search_form1"  class="collection_search_form"  value="{{ search_form }}"> 
						
						<button classXX="btn btn-info" name="page" value="1">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
				<div class="row form-group">
					<div >
						<a  id="show-advanced-search" href="javascript:void(null);" >Advanced search</a>
					</div>
				</div>
			</form>
		</div>

	
		<div id="advanced-search" {% if search_form == 'basic-form' %} style="display:none;" {% endif %} > 
			<h2 class="page-header">Phenotypes</h2>
			<form  id="advanced-form" action="{% url 'phenotype_list' %}" method="POST" >
				{% csrf_token %}
				<div class="panel panel-default bg-search">
					<div class="panel-body container-2">
					
						<div class="row form-group">
							<div class="col-md-2">
								<label for="search">Search:</label>
							</div>
							<div class="col-sm-6">
								<input class="form-control" type="text" placeholder="Phenotype name" name="search" id="search" value="{{ search|default_if_none:'' }}">
							</div>
							<div class="col-md-2">
								<label for="page_size">Results per page:</label>
							</div>
							<div class="col-md-2"> 
								<select class="form-control" id="page_size" name="page_size">
									<option value="20" {% if page_size == "20" %}selected="selected" {% endif %}>20</option>
									<option value="50" {% if page_size == "50" %}selected="selected" {% endif %}>50</option>
									<option value="100" {% if page_size == "100" %}selected="selected" {% endif %}>100</option>
								</select>
								
								<input type="hidden" name="search_form" id="collection_search_form"  class="collection_search_form"  value="{{ search_form }}"> 
								
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-2">
								<label for="tag">Tag/Collection:</label>
							</div>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="tagids" id="txtTags" data-role="tagsinput" value="{{ tag|default_if_none:'' }}">
							</div>					
						</div>
						
						<div class="row form-group">
							<div class="col-sm-2">
								<label for="author">Author: <i class="help-block-no-break" style="font-size: 10px;">(free text)</i></label>
							</div>
							<div class="col-sm-6">
								<input class="form-control" type="text" name="author" id="txtAuthor" data-role="authorinput" value="{{ author|default_if_none:'' }}">
							</div>			
							
						{% if user.is_authenticated %}
							<div class="col-md-2">
								<label for="owner">Owner: <i class="help-block-no-break" style="font-size: 10px;">(full user name)</i></label>
							</div>
							<div class="col-md-2"> 
								<input class="form-control" type="text" name="owner" id="txtOwner" data-role="ownerinput" value="{{ owner|default_if_none:'' }}">
							</div>	
						{% endif %}
						</div>
													
<!-- 						<div class="row form-group">							 -->
<!-- 						   <div class="col-sm-2"> -->
<!-- 								<label for="brand">Brand:</label> -->
<!-- 							</div> -->
<!-- 							<div class="col-sm-10"> -->
<!-- 							   {% if request.session.all_brands %} -->
<!-- 								   <ul class="nav navbar-nav"> -->
<!-- 									     <select class="form-control" name="phenotype_brand" id="phenotype_brand"  >   -->
<!-- 										    <option value=""  style='background-color: lightgreen;' >Any</option> -->
<!-- 											{% for brand in request.session.all_brands %} -->
<!-- 												<option value="{{ brand|upper }}"  -->
<!-- 												       {% if brand|upper == phenotype_brand|upper %} selected="selected" {% endif %} -->
<!-- 												       > -->
<!-- 													{{ brand|upper }} -->
<!-- 													{% if brand|upper in request.session.user_brands %} (*) {% endif %} -->
<!-- 											</option> -->
<!-- 											{% empty %} -->
<!-- 												<option value="-1" >No Brands !!!</option> -->
<!-- 											{% endfor %} -->
<!-- 										  </select> -->
<!-- 									</ul> -->
<!-- 								{% endif %} -->
<!-- 								<span id="phenotype_brand_img"> -->
<!-- 								{% if phenotype_brand|length %}  -->
<!-- 									&nbsp; <img height="29px" src="{% static 'img/brands/' %}{{phenotype_brand|upper}}/logo.png" title="{{phenotype_brand|upper}}" alt="{{phenotype_brand|upper}}" />  -->
<!-- 								{% endif %} -->
<!-- 								</span> -->
<!-- 							</div>	 -->
<!-- 						</div> -->
						
						<div class="row form-group">
							{% if user.is_authenticated %}
								<div class="col-md-4">
									<div class="checkbox">
										<label>
											<input id="show_deleted_phenotypes" type="checkbox" name="show_deleted_phenotypes" {% if show_deleted_phenotypes %}checked="checked"{% endif %} value="1" >
											Show deleted phenotypes
										</label>
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="checkbox">
										<label>
											<input id="show_my_phenotypes" type="checkbox" name="show_my_phenotypes" {% if show_my_phenotypes %}checked="checked"{% endif %} value="1" >
											Only show phenotypes owned by me
										</label>
									</div>
								</div>
							{% endif %}	
							
		<!-- 					<div class = "col-md-3">    -->
		<!-- 						<div class="checkbox"  > -->
		<!-- 							<label> -->
		<!-- 								<input id="show_only_validated_phenotypes" type="checkbox" name="show_only_validated_phenotypes" {% if show_only_validated_phenotypes %}checked="checked"{% endif %} value="1" > -->
		<!-- 								Only Show validated phenotypes -->
		<!-- 							</label> -->
		<!-- 						</div> -->
		<!-- 					</div>			 -->
		
						{% if user.is_authenticated %}
							<div  class = "col-md-4">
								<div class="checkbox"  >
									<label>
										<input id="phenotype_must_have_published_versions" type="checkbox" name="phenotype_must_have_published_versions" {% if phenotype_must_have_published_versions %}checked="checked"{% endif %} value="1" >
										Only show phenotypes with published version
									</label>
								</div>
							</div>		
						{% endif %}		
																
		<!-- 				{% if published_count %} -->
		<!-- 					<div  class = "col-md-3"> -->
		<!-- 						<div class="checkbox"  > -->
		<!-- 							<label> -->
		<!-- 								<input id="expand_published_versions" type="checkbox" name="expand_published_versions" {% if expand_published_versions %}checked="checked"{% endif %} value="1" > -->
		<!-- 								expand published versions -->
		<!-- 							</label> -->
		<!-- 						</div> -->
		<!-- 					</div>		 -->
		<!-- 				{% endif %}	 -->
						
						</div>
						
						<div class="row form-group">
							<div class="col-md-2 ">
								<input type=hidden name="search_form" value='advanced-form'>
								<a  id="show-basic-search" href="javascript:void(null);" >Basic search</a>
							</div>				
							<div class="col-md-10 text-right">				
								<a class="btn btn-info" name="reset-form" id="reset-form" >
									<i class="glyphicon glyphicon-repeat"></i> Reset							
								</a>
								
								<button class="btn btn-primary" name="page" value="1">
									<i class="fa fa-search"></i> Search Phenotypes
								</button>
							</div>					
						</div>		
					
					</div>
				</div>
			</form>			
		</div>	


	</div>	
</div>	
{% endblock container_fluid %}

{% block container %}
			
		
		<br/>

{% include './index-cards.html' %}
				
{% endblock container %}



{% block scripts %}
	<script src="{% static 'js/clinicalcode/component.js' %}"></script>
	<script src="{% static 'js/clinicalcode/tags.js' %}"></script>
	
	<script type="text/javascript">
		tagService.initialize();
		
		$(function(){
			{% for tag in tags %}
				$('#txtTags').tagsinput('add', {'id': {{ tag.id }}, 'description': '{{ tag.description }}', 'display': '{{ tag.get_display_display }}'});
			{% endfor %}
		});	
		//--------------------------------	

		var imgPath = '&nbsp; <img height="29px" src="{% static 'img/brands/' %}BRANDT1/logo.png"  title="BRANDT1" alt="BRANDT1" /> ';
		$('#phenotype_brand').on('change', function(e){
			if(this.value==''){
				 $('#phenotype_brand_img').html('');
			 } else {
				 $('#phenotype_brand_img').html(imgPath.replace(/BRANDT1/ig, this.value ) );
			 }
		});

	</script>
	
	<script type="text/javascript">
		$('#reset-form').click(function() {
			 
			$("input[id^='search']").val('');		
			$('#page_size').val('20');
						
			$('#txtTags').tagsinput('removeAll');
			
			$('#txtAuthor').val('');
			
			$('#phenotype_brand').val('');
			$('#phenotype_brand_img').html('');
						
			{% if user.is_authenticated %}
				$('#show_deleted_phenotypes').prop("checked", false);
				$('#show_my_phenotypes').prop("checked", false);	
				$('#phenotype_must_have_published_versions').prop("checked", false);
				$('#txtOwner').val('');
			{% endif %}						
			
			$('#show_only_validated_phenotypes').prop("checked", false);
			
// 			{% if published_count %}
// 				$('#expand_published_versions').prop("checked", false);
// 			{% endif %}	
		});
		

		{% if search_form == 'advanced-form' %}
			$("#basic-search").hide();
		{% else %}
			$("#advanced-search").hide();
		{% endif %}
			

		$(document).ready(function() {
			$("#show-advanced-search").click(function(){
				  $("#advanced-search").toggle();
				  $("#basic-search").toggle();
				  $(".collection_search_form").val('advanced-form');
			});
			
			$("#show-basic-search").click(function(){
				  $("#advanced-search").toggle();
				  $("#basic-search").toggle();
				  $(".collection_search_form").val('basic-form');				  
			});
		});		
					
	</script>
			

	
	<script type="text/javascript">
		// check if all elements in array 'arr1' are included in array 'arr2'
		function isSubset(arr1, arr2){
		  return arr1.every(i => arr2.includes(i));
		}

		//------------------------------------------
		$(".collection_tag").change(function() {

				if($(this).prop('id') == 'checkAll'){
				    $(".collection_tag").prop('checked', $(this).prop('checked'));
				}else{
					if(!$(this).prop('checked')){
						if($("#checkAll").prop('checked')){
							$("#checkAll").prop('checked', false);
						}
					}
				}
						
				
		         var selected_collections = []
		         $("input:checkbox[name=collection_id]:checked").each(function(){
		        	 selected_collections.push(parseInt($(this).val()));
		         });
		         
		         $("#filter_form input[id=tagids]").val(selected_collections);
		         
		         
		        var all_tags = [];
				{% for tag in allTags %}
					tg = {"id": {{ tag.id }}, "description": "{{ tag.description }}", "display": "{{ tag.get_display_display }}" };
					all_tags.push(tg);
				{% endfor %}	   
				
				if($("#collection_search_form1").val() == 'advanced-form'){
						
						//first - remove all associated collections
						{% for tag in brand_associated_collections %}
							$('#txtTags').tagsinput('remove', {'id': {{ tag.id }}, 'description': '{{ tag.description }}'});
						{% endfor %}
						
						
						for (let t = 0; t < all_tags.length; t++) { 
							for( let c = 0; c < selected_collections.length; c++) { 
								if(selected_collections[c] == all_tags[t].id){
									$('#txtTags').tagsinput('add', {'id': all_tags[t].id , 'description': all_tags[t].description, 'display': all_tags[t].display} );
								}
							}
						}

						if(isSubset({{ brand_associated_collections_ids|safe }}, selected_collections)){
							$("#checkAll").prop('checked', true);
						}

						
						$("#advanced-form").submit();
						
				}else{
						$("#basic-form input[id=tagids]").val(selected_collections);
	
						if(isSubset({{ brand_associated_collections_ids|safe }}, selected_collections)){
							$("#checkAll").prop('checked', true);
						}
						
						$("#basic-form").submit();
				}
			
		});	
		
			
	</script>
	
	
	{% endblock scripts %}

