{% extends "base.html" %}

{% load static %}

{% load cl_extras %}

{% block title %}| Search Phenotypes{% endblock title %}
{% block description %}Search Phenotypes{% endblock description %}
{% block keywords %}Search Phenotypes{% endblock keywords %}	

{% block container_fluid %}

<div class="bg-search">
 	<div class="container" >

		<div id="basic-search" class="bg-search">
  			<form class="container_frm container-1 example" id="basic-form" action="{% url 'phenotype_list' %}" method="GET"  >
				<div  class="row form-group">
					<div>
						<h2>Phenotypes</h2>
						<div class="form-input-flex-container">
							<!-- Basic form queries -->
							<input type="text" placeholder="Search Phenotypes" name="search" id="search1" value="{{ search|default_if_none:'' }}">
							<input type="hidden" name="tag_collection_ids" id="tag_collection_ids"  value="{{ tag_ids|default_if_none:'' }}">
							<input type="hidden" name="selected_phenotype_types" id="selected_phenotype_types"  value="{{ selected_phenotype_types_str|default_if_none:'' }}">
							<input type="hidden" name="search_form" id="collection_search_form1"  class="collection_search_form"  value="{{ search_form }}"> 
							<input type="hidden" name="codingids" id="codingids"  value="{{ codingids|default_if_none:'' }}">
							<input type="hidden" name="page" id="page"  value="{{ page|default_if_none:1 }}">
							<input type="hidden" name="startdate" id="startdate" value="{{ filter_start_date }}" />
							<input type="hidden" name="enddate" id="enddate" value="{{ filter_end_date }}" />
							<input type="hidden" name="order_by" id="order_by" value="{{ ordered_by }}" />
							<input type="hidden" name="page_size" id="page_size" value="{{ page_size }}" />
 
							<!-- Reimplemented 'Advanced' queries -->
							<input class="form-control" type="hidden" name="owner" id="txtOwner" value="{{ owner|default_if_none:'' }}">
							<input class="form-control" type="hidden" name="author" id="txtAuthor" value="{{ author|default_if_none:'' }}">
							<input id="show_deleted_phenotypes_hidden" type="hidden" name="show_deleted_phenotypes"  value="{{ show_deleted_phenotypes }}" >
							<input id="show_my_phenotypes_hidden" type="hidden" name="show_my_phenotypes"  value="{{ show_my_phenotypes }}" >
							<input id="phenotype_must_have_published_versions_hidden" type="hidden" name="phenotype_must_have_published_versions"  value="{{ phenotype_must_have_published_versions }}" >
							<input id="show_mod_pending_phenotypes_hidden" type="hidden" name="show_mod_pending_phenotypes"  value="{{ show_mod_pending_phenotypes }}" >
							<input id="show_my_pending_phenotypes_hidden" type="hidden" name="show_my_pending_phenotypes" value="{{ show_my_pending_phenotypes }}" >
							<input id="show_rejected_phenotypes_hidden" type="hidden" name="show_rejected_phenotypes"  value="{{ show_rejected_phenotypes }}" >
							
							<button classXX="btn btn-info btn-paginate" name="search_button" value="1" id="search_btn">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>	
</div>	
{% endblock container_fluid %}

{% block container %}

<div class="row">
	<div class="col col-xs-12 text-right filter_modal_button">
		<a href="#" class="btn btn-outline-primary btn-cl btn-cl-secondary" data-toggle="modal" data-target="#filter-modal" id="filter_modal_btn">
			<i class="fa fa-sort" style="padding: 2px;"></i>
			Filters
		</a>
	</div>
</div>

{% include './index-cards.html' %}
				
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filter-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Filters</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<div class="toast_holder"></div>

{% endblock container %}



{% block scripts %}
	<script src="{% static 'js/clinicalcode/component.js' %}"></script>
	<!-- <script src="{% static 'js/clinicalcode/tags.js' %}"></script> -->
	
	<script type="text/javascript">
		var imgPath = '&nbsp; <img height="29px" src="{% static 'img/brands/' %}BRANDT1/logo.png"  title="BRANDT1" alt="BRANDT1" /> ';
		$('#phenotype_brand').on('change', function(e){
			if(this.value==''){
				 $('#phenotype_brand_img').html('');
			 } else {
				 $('#phenotype_brand_img').html(imgPath.replace(/BRANDT1/ig, this.value ) );
			 }
		});
	</script>
	
	<script type="text/javascript">
		$('#reset-form').click(function() {
			 
			$("input[id^='search']").val('');		
			$('#page_size').val('20');
						
			$('#txtTags').tagsinput('removeAll');
			
			$('#txtAuthor').val('');
			
			$('#phenotype_brand').val('');
			$('#phenotype_brand_img').html('');
						
			{% if user.is_authenticated %}
				$('#show_deleted_phenotypes').prop("checked", false);
				$('#show_deleted_phenotypes_hidden').val("0");
				
				$('#show_my_phenotypes').prop("checked", false);
				$('#show_my_phenotypes_hidden').val("0");
				
				$('#show_my_pending_phenotypes').prop("checked", false);
				$('#show_my_pending_phenotypes_hidden').val("0");

				$('#show_mod_pending_phenotypes').prop("checked", false);
				$('#show_mod_pending_phenotypes_hidden').val("0");
				
				$('#show_rejected_phenotypes').prop("checked", false);
				$('#show_rejected_phenotypes_hidden').val("0");				

				$('#phenotype_must_have_published_versions').prop("checked", false);
				$('#phenotype_must_have_published_versions_hidden').val("0");

				$('#txtOwner').val('');
			{% endif %}						
			
			$('#show_only_validated_phenotypes').prop("checked", false);
			$('#show_only_validated_phenotypes_hidden').val("0");

		});
	</script>

	<script>
		// Import references
		var phenotype_types = {{ phenotype_types|safe }};
		var all_phenotypes = [];
		{% for type in phenotype_types %}
			tg = {"name": "{{ type }}", "id": "{{ type }}"};
			all_phenotypes.push(tg);
		{% endfor %}

		var all_coding = [];
		{% for tag in coding_system_reference %}
			tg = {"name": "{{ tag.description }}", "id": {{ tag.id }}};
			all_coding.push(tg);
		{% endfor %}

		var all_tag_ref = [];
		{% for tag, tagid in brand_associated_tags.items %}
			tg = {"name": "{{ tag }}", "id": {{ tagid }}};
			all_tag_ref.push(tg);
		{% endfor %}

		var all_collections = [];
		{% for tag in brand_associated_collections %}
			tg = {"name": "{{ tag.description }}", "id": {{ tag.id }}};
			all_collections.push(tg);
		{% endfor %}
		
		var all_tags = [];
		{% for tag in allTags %}
			tg = {"id": {{ tag.id }}, "description": "{{ tag.description }}", "display": "{{ tag.get_display_display }}", "name": "{{ tag.description }}"};
			all_tags.push(tg);
		{% endfor %}

		var coding_names = all_coding.map(e => e.name),
				collection_names = all_collections.map(e => e.name),
				tag_names = all_tag_ref.map(e => e.name),
				type_names = all_phenotypes.map(e => e.name);
		
		var brand_associated_collections_ids = {{ brand_associated_collections_ids|safe }};
		var brand_associated_tags_ids = {{ brand_associated_tags_ids|safe }};
		var coding_system_reference_ids = {{ coding_system_reference_ids|safe }};
		
		var filterSession = {
			'page_size': {{ page_size }},
			'page': {{ page }},
			'search': "{{ search }}",
			'author': "{{ author }}",
			'owner': "{{ owner }}",
			'tag_collection_ids': "{{ tag_ids }}",
			'codingids': "{{ coding_ids }}",
			'startdate': "{{ filter_start_date }}",
			'enddate': "{{ filter_end_date }}",
			'show_deleted_phenotypes': "{{ show_deleted_phenotypes }}",
			'show_my_phenotypes': "{{ show_my_phenotypes }}",
			'show_only_validated_phenotypes': "{{ show_only_validated_phenotypes }}",
			'phenotype_must_have_published_versions': "{{ phenotype_must_have_published_versions }}",
			'order_by': "{{ ordered_by }}",
			'selected_phenotype_types': "{{ selected_phenotype_types_str }}",
			'show_my_pending_phenotypes': "{{ show_my_pending_phenotypes }}",
			'show_mod_pending_phenotypes': "{{ show_mod_pending_phenotypes }}",
			'show_rejected_phenotypes': "{{ show_rejected_phenotypes }}",
		};
		console.log(filterSession);
	</script>


	<script src="{% static 'js/clinicalcode/filters/filterService.js' %}" 
		req-scripts="{% static 'js/clinicalcode/filters/utils.js' %},{% static 'js/clinicalcode/filters/toastNotifications.js' %},{% static 'js/clinicalcode/filters/autocompleteSearch.js' %},{% static 'js/clinicalcode/filters/FuzzyQuery.js' %},{% static 'js/lib/daterangepicker/daterangepicker.js' %},{% static 'js/lib/daterangepicker/moment.min.js' %}"
		req-styles="{% static 'lib/daterangepicker/daterangepicker.css' %}"
		env="PHENOTYPE"
	></script>
	
	
	{% endblock scripts %}

