{% extends "base.html" %}

{% load staticfiles %}

{% block title %}| Search Phenotypes{% endblock title %}

{% block container %}

	<h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i> Phenotypes</h2>
	<form id="phenotype-list-filter" action="{% url 'phenotype_list' %}" method="POST" >
		{% csrf_token %}
		<div class="panel panel-default">
			<div class="panel-body">
			
				<div class="row form-group">
					<div class="col-md-2">
						<label for="search">Search: <i class="help-block-no-break" style="font-size: 10px;">(Phenotype name)</i></label>
					</div>
					<div class="col-sm-6">
						<input class="form-control" type="text" placeholder="Search by name" name="search" id="search" value="{{ search|default_if_none:'' }}">
					</div>
					<div class="col-md-2">
						<label for="page_size">Results per page:</label>
					</div>
					<div class="col-md-2"> 
						<select class="form-control" id="page_size" name="page_size">
							<option value="20" {% if page_size == "20" %}selected="selected" {% endif %}>20</option>
							<option value="50" {% if page_size == "50" %}selected="selected" {% endif %}>50</option>
							<option value="100" {% if page_size == "100" %}selected="selected" {% endif %}>100</option>
						</select>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-2">
						<label for="tag">Tag:</label>
					</div>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="tagids" id="txtTags" data-role="tagsinput" value="{{ tag|default_if_none:'' }}">
					</div>					
				</div>
				
				<div class="row form-group">
					<div class="col-sm-2">
						<label for="author">Author: <i class="help-block-no-break" style="font-size: 10px;">(free text)</i></label>
					</div>
					<div class="col-sm-6">
						<input class="form-control" type="text" name="author" id="txtAuthor" data-role="authorinput" value="{{ author|default_if_none:'' }}">
					</div>			
					
					<div class="col-md-2">
						<label for="owner">Owner: <i class="help-block-no-break" style="font-size: 10px;">(full user name)</i></label>
					</div>
					<div class="col-md-2"> 
						<input class="form-control" type="text" name="owner" id="txtOwner" data-role="ownerinput" value="{{ owner|default_if_none:'' }}">
					</div>	
				</div>
											
				<div class="row form-group">							
				   <div class="col-sm-2">
						<label for="brand">Brand:</label>
					</div>
					<div class="col-sm-10">
					   {% if request.session.all_brands %}
						   <ul class="nav navbar-nav">
							     <select class="form-control" name="ws_brand" id="ws_brand"  >  
								    <option value=""  style='background-color: lightgreen;' >Any</option>
									{% for brand in request.session.all_brands %}
										<option value="{{ brand|upper }}" 
										       {% if brand|upper == ws_brand|upper %} selected="selected" {% endif %}
										       >
											{{ brand|upper }}
											{% if brand|upper in request.session.user_brands %} (*) {% endif %}
									</option>
									{% empty %}
										<option value="-1" >No Brands !!!</option>
									{% endfor %}
								  </select>
							</ul>
						{% endif %}
						<span id="phenotype_brand_img">
						{% if ws_brand|length %} 
							&nbsp; <img height="29px" src="{% static 'img/brands/' %}{{ws_brand|upper}}/logo.png" title="{{ws_brand|upper}}" alt="{{ws_brand|upper}}" /> 
						{% endif %}
						</span>
					</div>	
				</div>
				
				<div class="row form-group">
					<div class="col-md-offset-2 col-md-3">
						<div class="checkbox">
							<label>
								<input id="show_deleted_phenotypes" type="checkbox" name="show_deleted_phenotypes" {% if show_deleted_phenotypes %}checked="checked"{% endif %} value="1" >
								Show Deleted Items
							</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="checkbox">
							<label>
								<input id="show_my_phenotypes" type="checkbox" name="show_my_phenotypes" {% if show_my_phenotypes %}checked="checked"{% endif %} value="1" >
								Only show Phenotypes owned by me
							</label>
						</div>
					</div>
					<div class="col-md-3 text-right">
						<button class="btn btn-info" name="page" value="1">
							<i class="fa fa-search"></i> Search Phenotypes
						</button>
					</div>
				</div>
			</div>
		</div>
<!-- 		{% if not CLL_READ_ONLY %} -->
<!-- 			<div> -->
<!-- 			<a class="btn btn-primary"  {% if allowed_to_create %} href="{% url 'phenotype_create' %}" {% else %} disabled {% endif %}> -->
<!-- 				<i class="fa fa-plus"></i> Add New Phenotype -->
<!-- 			</a> -->
<!-- 			</div> -->
<!-- 		{% endif %} -->
		
		<!-- div class="page-control-container">
			{% include 'pagination.html' with form_target='phenotype-list-filter' %}	
		</div-->
		
		<br/>
		{% if ws_brand|length %} 
			 <!--div class="w-50 p-3 bs-example" style="width:50%;">
			    <div class="alert-info fade in" style="height:20px;">
			       	Showing concepts affiliated with <b>{{ ws_brand|upper }}</b>. 
			       	<span><img height="20px" src="{% static 'img/brands/' %}{{ ws_brand }}/logo1.png"  alt="{{ ws_brand }} Logo" /></span>
			    </div>
			</div-->
		{% endif %}
		
		
		<table class="table table-striped small-table table-hover">
			<tr>
				<th>Id</th>
				<th style="width: 200px;">Phenotype Name</th>
				<th>Author</th>
				<th>Owner</th>
				<th>Created by</th>
				<th>Modified by</th>
				<th>Is del.</th>
				<th style="width: 60px;"></th>
				<th style="width: 60px;"></th>
			</tr>
			{% block content %}
				{% for phenotype in page_obj.object_list %}  
				<tr {% cycle '' ' class="form-group highlight-row" ' %} >
					<td>{{ phenotype.id }}</td>
					<td><!-- a href="{% url 'phenotype_detail' phenotype.id %}" title="View Phenotype details">{{ phenotype.name }}</a-->{{ phenotype.name }}
					{% for item in request.BRAND_GROUPS %}
						{% for brand, groups in item.iteritems %}
							{% if phenotype.group.name in groups %}
							<img src="{% static 'img/brands/' %}{{brand}}/logo.png" height="10px" title="{{brand}}" alt="{{brand}}" />
							{% endif %}
						{% endfor %}
					{% endfor %}
					</td>				
					<td title="{{ phenotype.author }}" >{{ phenotype.author|truncatechars:20 }}</td>
					<td>{{ phenotype.owner }}</td>
					<td>{{ phenotype.created_by }}<br><i>{{ phenotype.created|date:"Y-m-d H:i" }}</i></td>
					<td>{% if phenotype.updated_by is not None %}
						{{ phenotype.updated_by }}<br><i>{{ phenotype.modified|date:"Y-m-d H:i" }}</i>
						{% endif %}
					</td>
					<td>{% if phenotype.is_deleted is True %}
						<span>&#10004;</span><br><i>{{ phenotype.deleted|date:"Y-m-d H:i" }}</i>
						{% endif %}
					</td>
					<td class="text-right" style="width: 80px;">
						{% if phenotype.is_deleted is not True and phenotype.can_edit %}
						<a href="{% url "phenotype_update" phenotype.id %}" title="Edit phenotype">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</a> 
						<span style="width: 10px;">&nbsp;</span>
						{% endif %}
						{% if phenotype.is_deleted is not True and phenotype.can_edit %}
						<a class="js-load-modal" href="{% url "phenotype_delete" phenotype.id %}" title="Delete phenotype">
							<span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span>
						</a>
						<span style="width: 10px;">&nbsp;</span>
						{% endif %}
						{%if phenotype.is_deleted is True and phenotype.can_edit %}
						<a class="js-load-modal" href="{% url 'phenotype_restore' phenotype.id %}" title="Restore phenotype">
							<span class="glyphicon glyphicon-repeat text-success" aria-hidden="true"></span>
						</a>
						<span style="width: 10px;">&nbsp;</span>
						{% endif %}
					</td>
					<td class="text-right">
						<a class="" href="{% url 'phenotype_detail' phenotype.id %}">
						<button type="button" class="btn btn-info btn-xs text-right">
							<i class="glyphicon glyphicon-search"> </i>
						</button>
						</a>
						<!-- a class="" href="{% url 'phenotype_detail' phenotype.id %}" title="View Phenotype details">
							<span class="glyphicon glyphicon-search text-info" aria-hidden="true"></span>
						</a -->
						<span style="width: 10px;">&nbsp;</span>
					</td>
				<tr>
				{% empty %}
					<tr>
						<td colspan="9" class="text-center bg-warning">
							No phenotypes
						</td>
					</tr>
				{% endfor %}
			{% endblock %}
		</table>
		<div class="page-control-container">
			{% include 'pagination.html' with form_target='phenotype-list-filter' %}	
		</div>
	</form>	
{% endblock container %}

{% block scripts %}
	<script src="{% static 'js/clinicalcode/component.js' %}"></script>
	<script src="{% static 'js/clinicalcode/tags.js' %}"></script>
	
	<script type="text/javascript">
		tagService.initialize();
		
		$(function(){
			{% for tag in tags %}
				$('#txtTags').tagsinput('add', {'id': {{ tag.id }}, 'description': '{{ tag.description }}', 'display': '{{ tag.get_display_display }}'});
			{% endfor %}
		});	
		//--------------------------------	

		var imgPath = '&nbsp; <img height="29px" src="{% static 'img/brands/' %}BRANDT1/logo.png"  title="BRANDT1" alt="BRANDT1" /> ';
		$('#ws_brand').on('change', function(e){
			if(this.value==''){
				 $('#phenotype_brand_img').html('');
			 } else {
				 $('#phenotype_brand_img').html(imgPath.replace(/BRANDT1/ig, this.value ) );
			 }
			});

	</script>
		
	

{% endblock scripts %}

