<!-- ----------------------------------------------------------------------
	 The table of history entries.
	 This is the content of the history table. 
	 ---------------------------------------------------------------------- 
-->
<table class="table table-striped small-table table-hover" id="history-table" >
	<thead>
		<tr>
			<th>Version<br> ID</th>
			<th>Name</th>
<!-- 			<th>Description</th> -->
			{% if user.is_authenticated %}
				<th>Date</th>
				<th>Change reason</th>
				<th>User</th>
				{% if enable_publish %}
					<th>Is Published?</th>
				{% endif %}
			{% else %}
				<th>Owner</th>
				<th>Publish date</th>
			{% endif %}
			<th></th>
		</tr>
	</thead>
	<tbody>	 
	{% for history in history %}
		<tr>
			<td>{{ history.history_id }}</td>
			<td>
				<a class="" href="{% url 'phenotype_history_detail' pk=history.id phenotype_history_id=history.history_id %}">	
				{{ history.name }}
				</a>
			</td>
<!-- 			<td title="{{ history.description }}">{{ history.description|truncatechars:50 }}</td> -->
			{% if user.is_authenticated %}
				<td>{{ history.history_date}}</td>
				<td>{{ history.history_change_reason }}</td>
				<td>
					{% if history.updated_by is not None %}
						{{ history.updated_by }}
					{% else %}
						{{ history.created_by }}
					{% endif %}
				</td>
				{% if enable_publish %}
				<td classXX="text-center">
					{% if history.history_id in published_historical_ids%}
						<span>&#10004;</span>
					{% else %}
						{{ history.approval_status_label }}
					{% endif %}
				</td>
				{% endif %}
			{% else %}
				<td>{{ history.owner }}</td>
				<td>{{ history.publish_date|date:"Y-m-d" }}</td>
			{% endif %}			
			<td class="text-right">
				{% if current_phenotype_history_id == history.history_id %}
					<span class="help-block-no-break" style="font-size: 10px;">currently shown</span>
				{% endif %}
<!-- 				<a class="" href="{% url 'phenotype_history_detail' pk=history.id phenotype_history_id=history.history_id %}">			 -->
<!-- 					<button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="" data-html="true" data-placement="left"  data-trigger="hover"> -->
<!-- 						<i class="glyphicon glyphicon-search"> </i> -->
<!-- 					</button>			 -->
<!-- 				</a> -->
			</td>
		</tr>
	{% empty %}
		<tr>
			<td colspan="7" class="text-center bg-warning">
				No history
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
   
