
 <h3><i aria-hidden="true"></i> Tabs</h3>
 <div >
 
     
    <ul class="nav nav-tabs">
    	{% for t in distinct_tab_names %}
		  <li {% if forloop.counter == 1 %} class="active" {% endif %}>
		    <a data-toggle="tab" href="#{{ t.split|join:"_" }}">{{ t }}</a>
		  </li>
	  	{% endfor %}
	</ul>
	    
	<div class="tab-content">
		{% for t in distinct_tab_names %}
		  <div id="{{ t.split|join:"_" }}" class="tab-pane fade in {% if forloop.counter == 1 %} active {% endif %}">
		  	{% for c in components %}
		       {%if c.group_name == t %}
				   <li>File path: {{ c.file_name }}</li>
				   <li>Included concepts: {{ c.concept_ids }}</li>		       
				   <li>{{ c.table_description }}</li>
				   <li>{{ c.table_name }}</li>

				   <table class="table table-striped small-table table-hover" border=1 >
				   		<thead>
				   		<tr>
				   			{% for h in c.table_data.columns %}
				   				<th>{{ h }}</th>
				   			{% endfor %}
				   		</tr>
				   		</thead>
				   		<tbody>
				   			{% for row in c.table_data.data %}
				   				<tr {% cycle ' class=" highlight-row" ' ' ' %} >
									{% for cl in row %}
						   				<td>{{ cl }}</td>
						   			{% endfor %}
				   				</tr>
				   			{% endfor %}
				   		</tbody>
				   </table>
				  <br>
			   {% endif %}
		   {% endfor %}
		  </div>
	    {% endfor %}
	</div>	    
 
   
</div>
              
              
                    
                    
                    
                    
                    
                    
                    
                    
        