

<form
  id="publish-form"  class="form-horizontal" novalidate enctype="multipart/form-data">
    {% csrf_token %}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"> Publish phenotype"<b>{{ name }}</b>"?</h4>
    </div>
    <div class="modal-body">
    {% if is_published and is_approved == 2 %}
        <div class="alert alert-success" role="alert">
          This version is already published.
        </div>
    {% else %}

        {% if phenotype_is_deleted %}
            <div class="col-md-12">
                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                <span class="text-danger">&nbsp;This phenotype is deleted.</span>
            </div>
        {% endif %}


        {% if not is_owner and not is_moderator %}
            <div class="col-md-12">
                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                <span class="text-danger">&nbsp;You must be the owner to publish.</span>
            </div>
        {% endif %}

        {% if not phenotype_has_codes %}
            <div class="col-md-12">
                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                <span class="text-danger">&nbsp;The phenotype does not contain exportable codes.</span>
            </div>

        {% else %}
            {% if not isAllowedtoViewChildren %}
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-remove" style="color:red"></span>
                    <span class="text-danger">&nbsp;You must have view access to all concepts.</span>
                </div>
            {% endif %}

            {% if not AllnotDeleted %}
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-remove" style="color:red"></span>
                    <span class="text-danger">&nbsp;All concepts must not be deleted.</span>
                </div>
            {% endif %}

            {% if not AllarePublished %}
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-remove" style="color:red"></span>
                    <span class="text-danger">&nbsp;All concepts must be published.</span>
                </div>
            {% endif %}

        {% endif %}

        {% if errors %}
            <br><br>
            <div class="bs-example">
                <strong><span class="text-danger">&nbsp;Errors:</span></strong>
                <br>
                <ul>
                    {% for key, error in errors.items %}
                        <li><span class="text-danger">&nbsp;{{ error|safe }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}



    {% endif %}

        <div class="row">
            <div class="col-md-12">
                <p>
                    <br>
                    {% if is_published or is_approved == 1%}
                        {% if is_published and is_approved == 2 %}
                            <br>
<!--                            This version "{{ name }}" is already published. -->
                        {% else %}
                            {% if  is_approved == 1 and is_moderator %}
                                 Are you sure you want to approve this version of "{{ name }}"?
                                Published phenotype cannot be undone.
                        <br>

                        {% else %}

                        {% if  is_approved == 1 and not is_moderator %}
                            Phenotype needs to be approved.
                            Waiting for moderator to approve

                           <br>
                            {% else %}
                             <span class="text-danger">&nbsp; Cannot publish !! </span>
                            <br>

                        {% endif %}
                            {% endif %}
                            {% endif %}

                    {% else %}
                        {% if is_owner or is_moderator %}
                        Are you sure you want to publish this version of "{{ name }}"?

                        <br>
                        Published phenotype cannot be undone.
                            {% if not is_moderator and not is_lastapproved %}
                            <br>
                            This phenotype is going to be reviewed by the moderator and you will be notified when phenotype will be published



                    {% endif %}
                    {% endif %}
                    {% endif %}

                </p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        {% if is_published and is_approved == 2 %}
            <span class="glyphicon glyphicon-ok" style="color:green"></span>
            <span class="text-success">&nbsp;Published&nbsp;</span>
        {% else %}
        {% if is_approved == 1 and not is_moderator and is_latest_pending_version%}
            <span class="glyphicon glyphicon-ok" style="color:green"></span>
            <span class="text-warning">&nbsp;Waiting to approve&nbsp</span>
            {% else %}
            <button {% if not allowed_to_publish %} disabled="false"

            {% endif %} id="publishButton" name ="submitPublish"
                type="button" onclick = "submitForm('publish')" class="btn btn-primary">
            {% if is_moderator %}
                Publish
                {% else %}
                {% if not is_lastapproved  %}
                Submit
                    {% else %}
                    Publish
                {% endif %}
                {% endif %}
            {% endif %}
            </button>
            {% if is_moderator and is_approved == 1 and is_latest_pending_version %}
                <button type="button" class="btn btn-primary" id = "declineButton" onclick = "submitForm('decline')" name="declinePublish">Decline
                </button>
                {% endif %}

        {% endif %}

        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>

</form>

<script >
function submitForm(status){

    // unattach the submit event

        var form = $('#publish-form');


        //=============================================
        // post form

        $.ajax({
            url:  "{% url 'phenotype_publish' pk=pk phenotype_history_id=phenotype_history_id %}",
            data: form.serialize() + '&value='+status,
            type: "POST",
            dataType: 'json',
            beforeSend: function(xhr, opts){
                //alert('doFormSubmit= b');
                $(".loader").show();
            },
            success: function(data){


                if(data.form_is_valid){
                    $('#history-table').html(data.html_history_list);
                    $('#latest-history-ID-Div').html(data.latest_history_ID);
                    $('#latest_history_id').val(data.latest_history_ID);

                    form.find('input[name=latest_history_id_shown]').val(data.latest_history_ID);

                    // href needs to be updated for publish phenotype to show latest status
                    if(data.is_approved === 2) {
//                      var pub_href = $('#publish2').attr("href").split("/");
//                      pub_href[3] = data.latest_history_ID;
//                      pub_href = pub_href.join("/")
//                      $('#publish2').attr("href", pub_href);

                        // $('#publish2').prop("disabled", true );
                        var element = document.getElementById('publish2');
                        element.setAttribute('disabled', 'disabled');

                        $('#publish2').attr("title", "This version is already published ");
                        $('#publish2').addClass("btn-success");
                        $('#publish2').removeClass("btn-primary");
                        $('#publish2').html("Published&nbsp;<span class='glyphicon glyphicon-ok' style='color:green'></span>");
                          //alert(data.message);
                        $('#success-message').show();
                        $('#success-message').html(data.message);

                        $('#modal-section').modal('hide');
                        $('#modal-section .modal-content').html('');

                    }else {
                        if(data.is_approved === 1){
                            var element2 = document.getElementById('publish2');
                        element2.setAttribute('disabled', 'disabled');

                        $('#publish2').attr("title", "This version needs to be approved ");
                        $('#publish2').addClass("btn-warning");
                        $('#publish2').removeClass("btn-primary");
                        $('#publish2').html("Pending");

                          //alert(data.message);
                        $('#success-message').show();
                        $('#success-message').html(data.message);

                        $('#modal-section').modal('hide');
                        $('#modal-section .modal-content').html('');
                        }
                        else {
                            if (data.is_approved === 3) {

                                var element3 = document.getElementById('publish2');
                                element3.setAttribute('disabled', 'disabled');

                                $('#publish2').attr("title", "This version is declined ");
                                $('#publish2').addClass("btn-danger");
                                $('#publish2').removeClass("btn-primary");
                                $('#publish2').html("Declined");

                                //alert(data.message);
                                $('#success-message').show();
                                $('#success-message').html(data.message);

                                $('#modal-section').modal('hide');
                                $('#modal-section .modal-content').html('');
                            }
                        }
                    }

                }
                else{
                    $('#error-message').show();
                    $('#error-message').html(data.message);

                    $('#modal-section').modal('hide');
                    $('#modal-section .modal-content').html('');
                }
            },
            complete: function(){
                //alert('doFormSubmit= cc');
                $(".loader").hide();
            }
        });

        //=============================================


        return false;


}


</script>
