{% extends "base.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load cl_extras %}
{% load breadcrumbs %}
{% load entity_renderer %}

{% block title %}| Admin Tools{% endblock title %}

{% block bodyclass %}{% endblock bodyclass %}

{% block indexing_robots %}
<!-- Stop indexing this page at all times -->
<meta name="robots" content="noindex, nofollow">
<meta name="googlebot" content="noindex, nofollow">
{% endblock indexing_robots %}

{% block container %}
  {% compress css %}
		<link rel="stylesheet" href="{% sass_src 'scss/pages/tools.scss' %}" type="text/css" />
  {% endcompress %}

  <header class="main-header banner">
    <div class="main-header__inner-container main-header__inner-container--constrained-no-pad main-header__inner-container--centred">
      <div class="banner__container">
        <h2 class="banner__title">{{ action_title }}</h2>
        <p class="banner__description">
          Admin Tools
        </p>
      </div>
    </div>
  </header>
  
  <main class="main-content">
    <div class="main-content__inner-container">
      <article class="tool-panel">
        <section class="tool-panel__container">
					{% if errorMsg %}
						<strong>Errors!</strong>
						<br>
						<ul>
							{% for key, error in errorMsg.items %}
								{% if not key == 'children' %}
									<li>{{ error|safe }}</li>
								{% else %}
									<li>Errors:</li>
									<ul>
									{% for key2, error2 in error.items %}
										<li>{{ key2|safe }}: {{ error2|safe }}</li>
									{% endfor %}
									</ul>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
					
					{% if successMsg %}
						<strong>Success!</strong>
						<br>
						<ul>
							{% for msg in successMsg %}
								<li>{{ msg|safe }}</li>
							{% endfor %}
						</ul>
					{% endif %}	

					{% if pk is None %}
						<form name="form1" id="form1" class="tool-panel__form" action="{{ url }}" method="POST" autocomplete="off" >
							{% csrf_token %}
							{% if not hide_phenotype_options %}
								<div class="detailed-input-group fill">
									<h3 class="detailed-input-group__title">
										Data
									</h3>
									<p class="detailed-input-group__description">
										Data to send
									</p>
									<textarea
										class="text-area-input text-area-input--bbox-size" aria-label="Data"
										id="cphenotype_idsode" name="input_data"
										type="text" placeholder=""></textarea>
								</div>
							{% endif %}	
				
							<div class="row">
								<div class="col-md-6">								
									<div>
										<br/>
										<button class="primary-btn text-accent-darkest bold tertiary-accent icon create-icon sweep-left" aria-label="Confirm" id="save-changes">
											{{ action_title }}
										</button>
									</div>
								</div>
							</div>
						</form>
					{% else %}
						<div class="tool-panel__form">
							<ul>
								{% for id, stmt in rowsAffected.items %}
									<li>
										<b>{{ id|safe }}</b>
										<br/>
										{{ stmt|safe }}
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
        </section>
      </article>
    </div>
  </main>
{% endblock container %}
