{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
	Admin Only
{% endblock title %}

{% block container %}

{% if request.user.is_superuser %}
	<h2><i class="fa fa-file-text-o" aria-hidden="true"></i> api_remove_longIDfromName</h2>
	{% if errorMsg %}
		<div class="bs-example">
		    <div class="alert alert-danger fade in">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Errors!</strong>
				<br>
		        <ul>
		            {% for key, error in errorMsg.items %}
		                {% if not key == 'children' %}
		            		<li>{{ error|safe }}</li> 
		            	{% else %}
		                	<li>Concepts errors:</li>
		                	<ul>	         
		                	{% for key2, error2 in error.items %}
				                	<li>Concept({{ key2|safe }}): {{ error2|safe }}</li> 			                		            	           
				            {% endfor %}  
				            </ul> 	
	                    {% endif %}	            
		            {% endfor %}
		        </ul>
		    </div>
		</div>
	{% endif %}
	
	{% if successMsg %}
		<div class="bs-example">
		    <div class="alert alert-success fade in">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Success!</strong>
		        <br>
		        <ul>
		            {% for msg in successMsg %}
		            <li>{{ msg|safe }}</li>
		            {% endfor %}
		        </ul>
		    </div>
		</div>
	{% endif %}	
	
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">	
	{% if pk is None %}
	    <form name='workingset-form' id='workingset-form' class="form-horizontal" action="{% url "api_remove_longIDfromName" %}" method="POST" autocomplete="off" >
	    	{% csrf_token %}
	    	<div class="form-group">
				<label class="col-sm-3 required">Auth-Code</label>
				<div class="col-sm-7">
					<input class="col-sm-7 form-control" type="text" name="code" id="code" value="">
				</div>
			</div>
	
	    	<div class="row">
				<div class="col-md-6">								
					<div><br>
						<button class="btn btn-danger" id="save-changes">
							<i class="fa fa-remove" aria-hidden="true"></i> api_remove_longIDfromName
						</button>
					</div> 
			
				</div>
			</div>
	    </form>					
	{% else %}
		<div class="bs-example"> 
		    <div class="alert alert-success fade in">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Success!</strong>
		        <br>
		        <ul>
		            {% for tbl, sql in rowsAffected.items %}
		            	<li>{{ tbl }}</b>
		            		</br>
		            		{{ sql|safe }}
							
		            	</li>            
		            {% endfor %}
		        </ul>
		    </div>
		</div>
	{% endif %}		   

				</div>
			</div>
		</div>
	</div>
{% endif %}				


{% endblock container %}


{% block scripts %}

{% endblock scripts %}