{% extends "base.html" %}

{% load static %}

{% block title %}
	Admin Only
{% endblock title %}

{% block container %}

{% if request.user.is_superuser %}
	{% if errorMsg %}
		<div class="bs-example">
		    <div class="alert alert-danger fade in">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Errors!</strong>
				<br>
		        <ul>
		            {% for key, error in errorMsg.items %}
		                {% if not key == 'children' %}
		            		<li>{{ error|safe }}</li> 
		            	{% else %}
		                	<li>Concepts errors:</li>
		                	<ul>	         
		                	{% for key2, error2 in error.items %}
				                	<li>Concept({{ key2|safe }}): {{ error2|safe }}</li> 			                		            	           
				            {% endfor %}  
				            </ul> 	
	                    {% endif %}	            
		            {% endfor %}
		        </ul>
		    </div>
		</div>
	{% endif %}
	
	{% if successMsg %}
		<div class="bs-example">
		    <div class="alert alert-success fade in">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Success!</strong>
		        <br>
		        <ul>
		            {% for msg in successMsg %}
		            <li>{{ msg|safe }}</li>
		            {% endfor %}
		        </ul>
		    </div>
		</div>
	{% endif %}	
	
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">	

		<div class="bs-example"> 
		    <div class="alert alert-danger fade in">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>concepts not in phenotypes = {{ count }} !!</strong>
		        <br>
		        <ul>
		            {% for c in concepts %}
		            	<li>{{ c.id }} - {{ c.name }}</b>

		            	</li>            
		            {% endfor %}
		        </ul>
		    </div>
		</div>

				</div>
			</div>
		</div>
	</div>
{% endif %}				


{% endblock container %}


{% block scripts %}

{% endblock scripts %}