{% load svg %}
{% load cl_extras %}
{% if list_pages %} 
<li class="content-container__nested">
  {%else%}
<li class="content-container">
  {% endif %}
    <a href="{{url}}" class="item-dropdown">
      <div class="item-dropdown__icon">
        {% svg icon %}
        </div> 
      <div class="item-dropdown__text">
        <div class="item-dropdown__title">{{title}}</div>
        <p class="item-dropdown__description">{{description}}</p>
      </div>
    </a>
    
    {% if list_pages %}
    <ul class="nested-menu">
      {% for item in list_pages %}
            <li>
            <a href="{% url 'about_page' pg_name=item.page_name %}" >{{ item.title }}</a>
          </li>
      {% endfor %}

    </ul>
    {% endif %}
