{% load svg %}
{% load cl_extras %}

<li class="content-container">
  <a href="{{url}}" class="item-dropdown">
    <div class="item-dropdown__icon">
      {% svg icon %}
      </div> 
    <div class="item-dropdown__text">
      <div class="item-dropdown__title">{{title}}</div>
      <p class="item-dropdown__description">{{description}}</p>
    </div>
  </a>
  
  {% if list_pages %}
  <ul class="nested-menu">
    {% for lnk2 in list_pages %}
      <li>
        <a href="{% url 'about_page' pg_name=lnk2.page_name %}" >{{ lnk2.title }}</a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</li>
