{% load i18n %}
{% load static %}
{% load cl_extras %}
{% load entity_renderer %}

{% block content %}
{% get_brand_map_rules as brand_mapping %}
<form action="{% url 'search_phenotypes' %}" class="search-navigation__search" method="GET">
    <input
      aria-label="Search {{ brand_mapping.phenotype }}s"
      class="search-navigation__search-input"
      id="data-search"
      minlength="3"
      name="search"
      placeholder="Search..."
    />
    <button
      aria-label="Go to search"
      class="search-navigation__search-icon"
      name="page"
      tabindex="0"
      value="1"
    ></button>
  </form>
{% endblock content %}
