{% load entity_publish_renderer %}
{% csrf_token %}
{% load compress %}
{%load static%}

{% compress js %}
<script type="text/javascript" src="{% static "js/clinicalcode/redesign/forms/clinical/entityPublish.js" %}"></script>
{%endcompress%}



<data data-owner="publish-modal" id="publish-url" name="url" type="text/json">{{ url }}</data>
<data data-owner="publish-modal" id="decline-url" name="url" type="text/json">{{ url_decline }}</data>
<data data-owner="publish-modal" id="redirect-url" name="url" type="text/json">{{ url_redirect }}</data>