{% load entity_publish_renderer %}
{% csrf_token %}
{% load compress %}
{%load static%}

{% compress js %}
  <script type="text/javascript" src="{% static "js/clinicalcode/forms/entityPublish.js" %}"></script>
{%endcompress%}

<script aria-hidden="true" data-owner="publish-modal" id="publish-url" name="url" type="text/plain">{{ url }}</script>
<script aria-hidden="true" data-owner="publish-modal" id="decline-url" name="url" type="text/plain">{{ url_decline }}</script>
<script aria-hidden="true" data-owner="publish-modal" id="redirect-url" name="url" type="text/plain">{{ url_redirect }}</script>
