{% load static %}
{% load i18n %}

{% block content %}
  <footer class="page-footer">
    <section class="page-footer__row">
      <div class="page-footer__items">
        <a href="#">{% trans "Terms & Conditions" %}</a>
        <a href="#">{% trans "Privacy Policy" %}</a>
        <a href="#">{% trans "Contact Us" %}</a>
      </div>
      <p class="page-footer__copyright">Copyright © 2022 - SAIL Databank - Swansea University. All rights reserved.</p>
    </section>
  </footer>
{% endblock content %}