{% extends "base.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load cl_extras %}
{% load breadcrumbs %}
{% load entity_renderer %}

{% block title %}{% if pageName %} {{ pageName }} {% else %} Run Statistics {% endif %} - Admin Only{% endblock title %}

{% block bodyclass %}{% endblock bodyclass %}

{% block indexing_robots %}
<!-- Stop indexing this page at all times -->
<meta name="robots" content="noindex, nofollow">
<meta name="googlebot" content="noindex, nofollow">
{% endblock indexing_robots %}

{% block container %}
  {% compress css %}
		<link rel="stylesheet" href="{% sass_src 'scss/pages/tools.scss' %}" type="text/css" />
  {% endcompress %}

  <header class="main-header banner">
    <div class="main-header__inner-container main-header__inner-container--constrained-no-pad main-header__inner-container--centred">
      <div class="banner__container">
        <h2 class="banner__title">{% if pageName %} {{ pageName }} {% else %} Run Statistics {% endif %}</h2>
        <p class="banner__description">
          Admin Tools
        </p>
      </div>
    </div>
  </header>
  
  <main class="main-content">
    <div class="main-content__inner-container">
      <article class="tool-panel">
        <section class="tool-panel__container">
					{% if errorMsg %}
						<strong>Errors:</strong>
						<br>
						<ul>
							{% for error in errorMsg %}
								<li>{{ error|safe }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					
					{% if successMsg %}
						<strong>Success:</strong>
						<br>
						<ul>
							{% for msg in successMsg %}
								<li>{{ msg|safe }}</li>
							{% endfor %}
						</ul>
					{% endif %}	

					<div class="tool-panel__form">
						<div class="row">
							<div class="col-md-12">	
								<div class="bs-example"> 
									<div class="alert alert-success fade in">
										<a href="#" class="close" data-dismiss="alert">&times;</a>
										<strong>Success!</strong>
										<br>
										<ul>
											{% for s in stat %}
												<li>{{ s|safe }}</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

        </section>
      </article>
    </div>
  </main>
{% endblock container %}
