{% extends "base_scss.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load breadcrumbs %}

{% block title %}| About Us {% endblock title %}

{% block container %}
<!-- Page Stylesheets -->
<link href="{% sass_src 'scss/pages/about.scss' %}" rel="stylesheet" type="text/css" />

<!-- Dependencies -->
{% compress js %}
  <script type="text/javascript" src="{% static 'js/clinicalcode/redesign/components/scrollspy.js' %}"></script>
{% endcompress %}

<!-- Main -->
<main class="main-content">
  <div class="main-content__inner-container main-content__inner-container--constrained main-content__inner-container--centred">
    <article class="about-container">
      <section class="page-split">
        <div class="page-split__left">
          <aside class="scrollspy">
            <div class="scrollspy__container">
              <button class="scrollspy__container__item scrollspy__container__item--tertiary active"
                aria-label="Go to What is the BHF Data Science Centre?" data-target="#home">
                <a href="#home">What is the BHF Data Science Centre?</a>
              </button>
              <button class="scrollspy__container__item scrollspy__container__item--tertiary"
                aria-label="Go to Phenotypes in this Collection" data-target="#phenotypes">
                <a href="#phenotypes">Phenotypes in this Collection</a>
              </button>
            </div>
          </aside>
        </div>
        <div class="page-split__right">
          <div class="page-split__container">
            <img class="img-banner" src="{% static 'img/brands/BHF/BHFDataSci.png'%}"/>
            <h2>
              BHF Data Science Centre
            </h2>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="home"></span>
                What is the BHF Data Science Centre?
              </h3>
              <p>
                The BHF Data Science Centre is a partnership between Health Data Research UK 
                (HDR UK) and the British Heart Foundation (BHF), and sits within HDR UK.
              </p>
              <p>
                We work with a wide range of partners including patients, public, clinicians, 
                researchers and NHS organisations to help them carry out research using 
                health data into the causes, prevention and treatment of all diseases of 
                the heart and circulation (such heart attacks, stroke and vascular dementia). 
                We do this to ensure new advances in treatment and care for diseases of the 
                heart and circulation get to the patient as quickly as possible.
              </p>
              <p>
                Visit the 
                <a href="https://www.hdruk.ac.uk/helping-with-health-data/bhf-data-science-centre/">
                  website
                </a>
                for more information.
              </p>
            </section>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="phenotypes"></span>
                Phenotypes in this Collection
              </h3>
              <a href="{% url 'search_phenotypes' %}?collections=20">
                <button class="secondary-btn text-accent-darkest bold icon create-icon secondary-accent">
                  Browse Phenotypes
                </button>
              </a>
            </section>
          </div>
        </div>
      </section>
    </article>
  </div>
</main>

{% endblock container %}
