
         <div style="display: flex; flex-wrap:nowrap; ">
            <form class="row" style="padding-left:12px;" action="{% url 'phenotype_list' %}" method="GET">
               <div style="height:0;width:0;overflow:hidden;">
                  <input class="form-control" type="hidden" name="collection_ids" data-role="tagsinput" value="30">
               </div>
               <div style="display: flex; flex-wrap: nowrap;">
                  <button class="btn-link" name="page" value="1">
                     Browse EUROlinkCAT Phenotypes
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock container %}
{% block scripts  %}
<script type="text/javascript">
   function showSelection(e) {
      if (document.querySelector('#navList a.active') !== null) {
         document.querySelector('#navList a.active').classList.remove('active');
      }
      e.target.className = "active";
   }
</script>
<script type="text/javascript">
   window.onload = function () {
      document.getElementById("eurolinkcatHeader").click();
   };
</script>
{% endblock scripts %}