{% extends "base_scss.html" %}

{% load static %}
{% load compress %}
{% load sass_tags %}
{% load breadcrumbs %}

{% block title %}| About Us {% endblock title %}

{% block container %}
<!-- Page Stylesheets -->
{% compress css %}
<link href="{% sass_src 'scss/pages/about.scss' %}" rel="stylesheet" type="text/css" />
{% endcompress %}

<!-- Dependencies -->
{% compress js %}
  <script type="text/javascript" src="{% static 'js/clinicalcode/redesign/components/scrollspy.js' %}"></script>
{% endcompress %}

<!-- Main -->
<main class="main-content">
  <div
    class="main-content__inner-container main-content__inner-container--constrained main-content__inner-container--centred">
    <article class="about-container">
      <section class="page-split">
        <div class="page-split__left">
          <aside class="scrollspy">
            <div class="scrollspy__container">
              <button class="scrollspy__container__item scrollspy__container__item--tertiary active"
                aria-label="Go to What is EUROlinkCAT?" data-target="#home">
                <a href="#home">What is EUROlinkCAT?</a>
              </button>
              <button class="scrollspy__container__item scrollspy__container__item--tertiary"
                aria-label="Go to What is EUROCAT?" data-target="#eurocat">
                <a href="#eurocat">What is EUROCAT?</a>
              </button>
              <button class="scrollspy__container__item scrollspy__container__item--tertiary"
                aria-label="Go to Phenotypes in Collection" data-target="#phenotypes">
                <a href="#phenotypes">Phenotypes in Collection</a>
              </button>
            </div>
          </aside>
        </div>
        <div class="page-split__right">
          <div class="page-split__container">
            <img class="img-banner img-banner--sz-6x1" src="{% static 'img/brands/EUROCAT/eurolinkcat.png'%}" />
            <h2>
              EUROlinkCAT
            </h2>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="home"></span>
                What is BREATHE?
              </h3>
              <p>
                EUROlinkCAT is a pan-European project investigating the health and 
                educational outcomes of children born with congenital anomalies. 22 
                registries from 14 countries have linked congenital anomaly data from the 
                EUROCAT surveillance network to routinely collected health and educational 
                data sources, creating a rich data resource and large population size to 
                further our understanding of these conditions.
              </p>
              <p>
                Visit the official 
                <a href="https://eurolinkcat.eu/">
                  EUROlinkCAT website
                </a>
                for more information.
              </p>
            </section>
            <img class="img-banner img-banner--sz-6x1" src="{% static 'img/brands/EUROCAT/eurocat.png'%}" />
            <h2>
              EUROCAT
            </h2>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="eurocat"></span>
                What is EUROCAT?
              </h3>
              <p>
                EUROCAT is a European network of population-based registries for the 
                epidemiological surveillance of congenital anomalies. It was established in 
                1979. Currently, with 36 full and 5 associate members in 20 European 
                countries the network surveys more than 1.5 million births per year.
              </p>
              <p>
                Visit the official 
                <a href="https://eu-rd-platform.jrc.ec.europa.eu/eurocat_en">
                  EUROCAT network
                </a>
                for more information.
              </p>
            </section>
            <section class="about-container__section__text">
              <h3 class="subheader">
                <span class="scrollspy-target" id="phenotypes"></span>
                Phenotypes in this Collection
              </h3>
              <a href="{% url 'search_phenotypes' %}?collections=30">
                <button class="secondary-btn text-accent-darkest bold icon create-icon secondary-accent">
                  Browse Phenotypes
                </button>
              </a>
            </section>
          </div>
        </div>
      </section>
    </article>
  </div>
</main>

{% endblock container %}