/* ************************************************************************* */
/* Branding CSS for BREATHE.													 */
/* ************************************************************************* */
/* The following CSS file is used after all other files have been            */
/* processed. The changes listed here can be modified or commented out.      */
/* This is an attempt to create a list of the minimum settings that would    */
/* allow the user to create a coherent branding of the application.          */
/* ------------------------------------------------------------------------- */
/* Can we use a CSS preprocessor such as less or stylus? E.g.				 */
/* @nav-colour: black;														 */
/* @nav-bgcolour: linen;													 */
/* We would then have to compile all the CSS files which contain these       */
/* definitions if we make a change.                                          */
/* ************************************************************************* */

.navbar {
	background-color: #3c3c3b;
	/*background-image: url("../../../img/brands/BREATHE/placeholder.png");*/
	/*background-repeat: no-repeat;*/
	/*background-position: top right;*/
}

#nav_bar_main {
  background-color: #000000;
  border-color: #000000;
  text-shadow: 0 1px 0 rgb(255 255 255 / 25%);
  box-shadow: none;
}

.nav-bar-title {
    color: white !important;
    /* font-weight: bold; */
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #000000;
    background-image: none;
    background-repeat: none;
    box-shadow: none;
    font-weight: bold;
}

.big-banner_breathe {
	height: 165px;
	width: 100%;
	background-image: url("../../../img/brands/BREATHE/breathe_banner.png");
	background-repeat: no-repeat;
  	background-size: 100%;
	margin: 0;
}

.header-breathe{
	background-color: #333f48;
	color: white;
  	padding-bottom: 25px;
  	padding-top: 25px;
	padding-left: 5px;
	display: block;
    	font-family: 'Crimson Text',serif;
    	font-weight: 400;
	font-size: 33px;
	margin: 0;
}


@import url('https://fonts.googleapis.com/css?family=IBM Plex Sans');
.text-font {
	font-family: 'IBM Plex Sans';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	font-family: 'IBM Plex Sans';
}


.search-design {
	font-style: normal;
	font-weight: normal;
}


.search_box {
	width: 70%;
	background: #fff;
	border-radius: 5px;
	height: 50px;
	display: flex;
	padding: 10px;
	box-shadow: 0 8px 6px -10px #b3c6ff;
	border:1px solid black;


}

.btn {
	background-color: #475DA7;
	border: none;
	color: white;
	cursor: pointer;
}

.search_box .search_field {
	width: 500px;
	height: 100%;
	position: relative;
}

.search_box .search_field .input {
	width: 100%;
	height: 100%;
	border: 0px;
	font-size: 16px;
	padding-right: 38px;
	color: #000000;
}


  .text-rubric-design {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
	text-align:left;
	padding-bottom:10px;

}

  .text-rubric-design-v2 {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	text-align:left;

}

.header-content-design {
    padding-top:20px;
   padding-bottom:30px;
   align:left;
   font-style: normal;
   font-weight:600;
   font-size:36px;
}

.sm-header-design {
   align:left;
   font-style: normal;
   font-weight:500;
   font-size:16px;
}

.medium-header-design {
    padding-top:30px;
    padding-bottom:30px;
   align:left;
   font-style: normal;
   font-weight:600;
   font-size:26px;
}
:target:before {
    content: "";
    display: block;
    margin-top:-26px;
    height:60px;
}


.header-design {
    font-style: normal;
    font-size: 30px;
}

.table-responsive-md thead th{
	background: #408090;
	color: white;
}


