
{% load i18n static %}
<div class="text-center cookiealert" role="alert">
    <span class ='cookies_text'>
    This site uses cookies: <a class="link" href="https://saildatabank.com/privacy-and-cookie-policy" target="_blank">Learn more</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        Accept cookies
    </button>
</div>
<script src="{% static 'cookielaw/js/cookiealert.js' %}"></script>
<link href="{% static 'cookielaw/css/cookiealert.css' %}" rel="stylesheet" />