{% load static %}
{% load markdownify %}
{% load cl_extras %}
{% load entity_renderer %}

<div class="detailed-input-group fill">
  <div class="publication-list-group">
    <section class="publication-list-group__list show" id="publication-group">
      <!-- <div class="publication-list-group__list-container " id="publication-list"> -->
        {% if component.value|length %}
          <ul>
              {% for p in component.value %}
                  <li>{{ p.details|markdownify }}
                    {% if p.doi %}
                    (DOI:{{ p.doi }})
                    {% endif %}
                    {% if p.primary and p.primary == 1 %}
                    <span class="badge">
                        <strong>Primary</strong>
                    </span>
                    {% endif %}
                  </li>
              {% endfor %}
          </ul>
        {% else %}
        <span class="card-no-data">No publications</span>
        {% endif %}
      <!-- </div> -->
    </section>
  </div>
</div>
