{% load static %}
{% load markdownify %}
{% load cl_extras %}
{% load entity_renderer %}

<div class="detailed-input-group fill">
  <div class="publication-list-group">
    <h3 class="detailed-input-group__title">
      {{ component.field_data.title }}
    </h3>
    <section class="publication-list-group__list show" id="reference-group">
      {% if component.value|length %}
        {% fmtstr "%s/%d" entity.id entity.history_id as entity_ref %}
        <ul>
          {% for p in component.value %}
            <li>
              {% if p.url %}
                <a
                  rel="noopener"
                  href="{{ p.url }}"
                  target="_blank"
                  data-ba-hook="interaction"
                  data-ba-source="{{ entity_ref }}"
                  data-ba-resource="references"
                >
                  {{ p.title }}
                </a>
              {% else %}
                {{ p.title }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <span class="card-no-data">No Related References</span>
      {% endif %}
    </section>
  </div>
</div>
