<div class="detailed-input-group fill">
  <h3 class="detailed-input-group__title">{{ component.field_data.title }}</h3>
  <p class="detailed-input-group__description">{{ component.description }}</p>
  <fieldset class="date-range-field" id="entity-{{ component.field_name }}">
    <input type="text" class="date-range-picker" aria-label="{{ component.field_data.title }}" id="entity-{{ component.field_name }}-input" data-class="datepicker" data-range="false" data-field="{{ component.field_name }}" data-value="{{ component.value }}" />
  </fieldset>
</div>
