<div class="detailed-input-group fill">
  {% if not component.hide_input_details %}
  <h3 class="detailed-input-group__title">
    {{ component.field_data.title }}
    {% if component.mandatory %}
    <span class="detailed-input-group__mandatory">*</span>
    {% endif %}
  </h3>
  <pre class="detailed-input-group__description">{{ component.description }}</pre>
  {% endif %}
  <fieldset class="date-range-field" id="entity-{{ component.field_name }}">
    <input type="text" class="date-range-picker" aria-label="{{ component.field_data.title }}" id="entity-{{ component.field_name }}-input" data-class="datepicker" data-range="true" data-field="{{ component.field_name }}" data-value="{{ component.value }}" />
  </fieldset>
</div>
