<div class="detailed-input-group fill">
  {% if not component.hide_input_details %}
  <h3 class="detailed-input-group__title">
    Assign to your Organisation 
    {% if component.mandatory %}
    <span class="detailed-input-group__mandatory">*</span>
    {% endif %}
  </h3>
  <p class="detailed-input-group__description">
    {{ component.description }}
  </p>
  {% endif %}
  <select class="selection-input" aria-label="Select Entity Group" name="entity-group" id="entity-{{ component.field_name }}" data-class="group-select" data-field="{{ component.field_name }}">
    <option value="-1" {% if component.value %} selected {% endif %}>Select Organisation</option>
    {% for option in component.options %}
    <option value="{{ option.id }}" {% if component.value and component.value.name == option.name %} selected{% endif %}>{{ option.name }}</option>
    {% endfor %}
  </select>
</div>
