{% load entity_renderer %}
<div class="detailed-input-group fill">
  {% if not component.hide_input_details %}
  <h3 class="detailed-input-group__title">
    {{ component.field_data.title }}
    {% if component.mandatory %}
    <span class="detailed-input-group__mandatory">*</span>
    {% endif %}
  </h3>
  <p class="detailed-input-group__description">
    {{ component.description }}
  </p>
  {% endif %}

  {% if component.options %}
  <data aria-hidden="true" data-type="options" for="{{ component.field_name }}">{{ component.options|jsonify|striptags }}</data>
  {% endif %}

  {% if component.properties %}
  <data aria-hidden="true" data-type="properties" for="{{ component.field_name }}">{{ component.properties|jsonify|striptags }}</data>
  {% endif %}

  {% if component.value %}
  <data aria-hidden="true" data-type="value" for="{{ component.field_name }}">{{ component.value|jsonify|striptags }}</data>
  {% endif %}

  <fieldset class="hstack-radio-group" id="entity-{{ component.field_name }}" data-class="groupedenum"
    data-field="{{ component.field_name }}" data-value="">

  </fieldset>
</div>
