<div class="detailed-input-group fill">
  <h3 class="detailed-input-group__title">Assign to Organisation</h3>
  <p class="detailed-input-group__description">{{ component.description }}</p>
  <select class="selection-input" aria-label="Select Entity Group" name="entity-group" id="entity-{{ component.field_name }}" data-class="group-select" data-field="{{ component.field_name }}">
    <option disabled value="0" selected hidden>Select Organisation</option>
    <option value="0">ADP</option>
    <option value="1">HDRUK</option>
    <option value="2">BREATHE</option>
    <option value="3">SAIL</option>
  </select>
</div>
