{% load cl_extras %}

<div class="detailed-input-group fill">
  {% if not component.hide_input_details %}
  <h3 class="detailed-input-group__title">
    {{ component.field_data.title }}
    {% if component.mandatory %}
    <span class="detailed-input-group__mandatory">*</span>
    {% endif %}
  </h3>
  <pre class="detailed-input-group__description">{{ component.description }}</pre>
  {% endif %}
  {{ component.value }}
  <input
    id="entity-{{ component.field_name }}"
    class="text-input"
    value="{% if component.value %}{{ component.value }}{% endif %}"
    {% if component.placeholder|get_type == "str" and component.placeholder.length > 0 %}
      placeholder="{{ component.placeholder }}"
    {% else %}
      placeholder="Enter {{ component.field_data.title }}"
    {% endif %}
    {% if component.field_data.validation.length|get_type == "list" and component.field_data.validation.length|length >= 2 %}
      minlength="{{ component.field_data.validation.length.0 }}"
      maxlength="{{ component.field_data.validation.length.1 }}"
    {% endif %}
    {% if component.field_data.validation.regex|get_type == 'str' and component.field_data.validation.regex|length > 0 %}
      pattern="{{ component.field_data.validation.regex }}"
    {% endif %}
    aria-label="{{ component.field_data.title }}"
    data-class="inputbox"
    data-field="{{ component.field_name }}">
</div>
