<div class="detailed-input-group fill">
  {% if not component.hide_input_details %}
  <h3 class="detailed-input-group__title">{{ component.field_data.title }} {% if component.mandatory %}<span class="detailed-input-group__mandatory">*</span>{% endif %}</h3>
  <p class="detailed-input-group__description">{{ component.description }}</p>
  {% endif %}
  <input class="text-input" aria-label="{{ component.field.title }}" id="entity-{{ component.field_name }}"
    placeholder=""  {% if component.field_data.validation and component.field_data.validation == 'string' %} minlength="3" pattern="^[a-zA-Z]{1,}.*?" {% endif %} data-class="inputbox"
    data-field="{{ component.field_name }}" value="{% if component.value %} {{ component.value }} {% endif %}">
</div>
