<div class="detailed-input-group fill">
  {% if not component.hide_input_details %}
  <h3 class="detailed-input-group__title">{{ component.field_data.title }}</h3>
  <p class="detailed-input-group__description">{{ component.description }}</p>
  {% endif %}
  <fieldset class="hstack-radio-group" id="entity-{{ component.field_name }}" data-field="{{ component.field_name }}">
    {% for option in component.options %}
      <input class="radio-input" aria-label="{{ option.name }}" type="radio" id="{{ component.field_name }}-{{ option.value }}" name="entity-radio-{{ component.field_name }}" {% if component.value.0.value == option.value %} checked {% endif %}>
      <label for="{{ component.field_name }}-{{ option.value }}">{{ option.name }}</label>
    {% endfor %}
  </fieldset>
</div>
