{% load entity_renderer %}

<div class="detailed-input-group fill">
  <h3 class="detailed-input-group__title">{{ component.field_data.title }} {% if component.mandatory %}<span class="detailed-input-group__mandatory">*</span>{% endif %}</h3>
  {% if not component.hide_input_details %}
  <pre class="detailed-input-group__description">{{ component.description }}</pre>
  {% endif %}
  <div class="publication-list-group">
    {% if component.value %}
      {% to_json_script component.value desc-type="value" for=component.field_name %}
    {% else %}
      <script type="application/json" desc-type="value" for="{{ component.field_name }}"></script>
    {% endif %}

    <div class="publication-list-group__interface" data-class="string_inputlist" data-field="{{ component.field_name }}">
      <p>Add {{ component.field_data.title }}</p>
      <div class="publication-list-group__interface-children">
        <input class="text-input" aria-label="{{ component.field_data.title }} details" type="text"
          placeholder=""
          minlength="3" pattern="^[a-zA-Z]{1,}.*?"
          id="{{ component.field_data.title }}-input-box">
        <button class="primary-btn text-accent-darkest bold secondary-accent" aria-label="Add {{ component.field_data.title }}" id="add-input-btn">Add</button>
      </div>
    </div>
  
    <section class="publication-list-group__none-available " id="no-available-publications">
      <p class="publication-list-group__none-available-message">You haven't added any yet.</p>
    </section>

    <section class="publication-list-group__list show" id="publication-group">
      <div class="publication-list-group__list-header" id="pub-header">
        <h3>Your {{ component.field_data.title }}</h3>
      </div>
      <div class="publication-list-group__list-container slim-scrollbar" id="publication-list">
        
      </div>
    </section>
  </div>
</div>
