{% load entity_renderer %}
<div class="detailed-input-group fill">
  {% if not component.hide_input_details %}
  <h3 class="detailed-input-group__title">
    {{ component.field_data.title }}
    {% if component.mandatory %}
    <span class="detailed-input-group__mandatory">*</span>
    {% endif %}
  </h3>
  <p class="detailed-input-group__description">
    {{ component.description }}
  </p>
  {% endif %}

  {% if component.options %}
    {% to_json_script component.options desc-type="options" for=component.field_name %}
  {% endif %}

  {% if component.value %}
    {% to_json_script component.value desc-type="value" for=component.field_name %}
  {% else %}
    <script type="application/json" desc-type="value" for="{{ component.field_name }}"></script>
  {% endif %}

  <input
    id="entity-{{ component.field_name }}" type="text"
    class="text-input" aria-label="{{ component.field_data.title }}" 
    name="entity-{{ component.field_name }}" placeholder=""
    data-class="tagify" data-field="{{ component.field_name }}"
    data-vis="{% if component.vis_vary_on_opts %}1{% else %}0{% endif %}">
</div>