{% load entity_renderer %}

<div class="detailed-input-group fill">
  <h3 class="detailed-input-group__title">
    {{ component.field_data.title }}
    {% if component.mandatory %}
      <span class="detailed-input-group__mandatory">*</span>
    {% endif %}
  </h3>
  {% if not component.hide_input_details %}
    <pre class="detailed-input-group__description">{{ component.description }}</pre>
  {% endif %}

  <div
    class="var-selection-group"
    data-class="var_data"
    data-field="{{ component.field_name }}"
  >
    {% if component.value %}
      {% to_json_script component.value data-type="value" for=component.field_name %}
    {% else %}
      <script type="application/json" data-type="value" for="{{ component.field_name }}"></script>
    {% endif %}

    {% if component.options %}
      {% to_json_script component.options data-type="options" for=component.field_name %}
    {% else %}
      <script type="application/json" data-type="options" for="{{ component.field_name }}"></script>
    {% endif %}

    {% if component.properties %}
      {% to_json_script component.properties data-type="properties" for=component.field_name %}
    {% else %}
      <script type="application/json" data-type="properties" for="{{ component.field_name }}"></script>
    {% endif %}

    {% if component.appearance and component.appearance.txt %}
      {% to_json_script component.appearance.txt data-type="txt" for=component.field_name %}
    {% else %}
      <script type="application/json" data-type="txt" for="{{ component.field_name }}"></script>
    {% endif %}

    <header id="var-interface" class="var-selection-group__interface">
      {% if component.appearance and component.appearance.clear_btn %}
        <button
          id="clear-btn"
          class="primary-btn text-accent-darkest bold danger-accent"
          data-fn="button"
          data-area="clearBtn"
          data-owner="var-selector"
          data-action="clear"
          aria-label="{{ component.appearance.clear_btn.label }}"
        >
          {{ component.appearance.clear_btn.label }}
          {% if component.appearance.clear_btn.icon %}
            <span class="as-icon" data-icon="{{ component.appearance.clear_btn.icon|safe }}" aria-hidden="true"></span>
          {% endif %}
        </button>
      {% else %}
        <button
          id="clear-btn"
          class="primary-btn text-accent-darkest bold danger-accent"
          data-fn="button"
          data-area="clearBtn"
          data-owner="var-selector"
          data-action="clear"
          aria-label="Clear All {{ component.field_data.title }}"
        >
          Clear All
          <span class="as-icon" data-icon="&#xf2ed;" aria-hidden="true"></span>
        </button>
      {% endif %}
      {% if component.appearance and component.appearance.add_btn %}
        <button
          id="add-btn"
          class="primary-btn text-accent-darkest bold secondary-accent"
          data-fn="button"
          data-area="addBtn"
          data-owner="var-selector"
          data-action="add"
          aria-label="{{ component.appearance.add_btn.label }}"
        >
          {{ component.appearance.add_btn.label }}
          {% if component.appearance.add_btn.icon %}
            <span class="as-icon" data-icon="{{ component.appearance.add_btn.icon|safe }}" aria-hidden="true"></span>
          {% endif %}
        </button>
      {% else %}
        <button
          id="add-btn"
          class="primary-btn text-accent-darkest bold secondary-accent"
          data-fn="button"
          data-area="addBtn"
          data-owner="var-selector"
          data-action="add"
          aria-label="Add New {{ component.field_data.title }}"
        >
          Create New
          <span class="as-icon" data-icon="&#xf1ec;" aria-hidden="true"></span>
        </button>
      {% endif %}
    </header>

    <section
        id="none-available"
        class="var-selection-group__none-available show"
        data-area="noneAvailable">
      <p class="var-selection-group__none-available-message">
        You haven't added any {{ component.field_data.title }} yet.
      </p>
    </section>

    <section
        id="var-group"
        class="var-selection-group__list"
        data-area="contentGroup">
      <header id="var-header" class="var-selection-group__list-header">
        <h3>
          Your {{ component.field_data.title }}
        </h3>
      </header>
      <div
          id="var-list"
          class="var-selection-group__list-container show slim-scrollbar"
          data-area="contentList">
        
      </div>
    </section>

    <template data-name="item" data-view="vinterface">
      <div
        class="var-selection-group__item"
        data-area="item"
        data-ref="${ref}"
      >
        <div class="var-selection-group__item-text">
          <p>${name} (<em>${type}</em>)</p>
          <p class="var-selection-group__badge">${value}</p>
        </div>
        <button
          class="var-selection-group__item-btn"
          role="button"
          tabindex="0"
          title="Edit Item"
          aria-label="Edit Item"
          data-fn="button"
          data-ref="${ref}"
          data-owner="var-selector"
          data-action="edit"
        >
          <span class="as-icon" data-icon="&#xf044;"></span>
        </button>
        <button
          class="var-selection-group__item-btn"
          role="button"
          tabindex="0"
          title="Remove Item"
          aria-label="Remove Item"
          data-fn="button"
          data-ref="${ref}"
          data-owner="var-selector"
          data-action="remove"
        >
          <span class="as-icon" data-icon="&#xf1f8;"></span>
        </button>
      </div>
    </template>

    <template data-name="panel" data-view="vinterface">
      <section class="var-selection">
        <header class="var-selection__header" data-section="header">
          <div class="var-selection__header-group">
            <p class="var-selection__header-label">
              ${title}
            </p>
            <select
              id="tmpl-selector"
              class="selection-input"
              aria-label="${title}"
            >
              <option value="-1" disabled selected hidden>
                ${label}
              </option>
            </select>
          </div>
        </header>
        <section
            id="none-available"
            class="var-selection__none-available"
            data-section="none">
          <p class="var-selection-group__none-available-message">
            Please select an option.
          </p>
        </section>
        <section
          class="var-selection__content"
          data-section="content"
        >

        </section>
        <section
          class="var-selection__content"
          data-section="prompt"
        >

        </section>
      </section>
    </template>

    <template data-name="number" data-view="inputs">
      <div class="input-field-container number-input" data-ctrl="number" data-ref="${ref}">
        <p class="input-field-container__label input-field-container--fill-w">
          ${label}
          <span class="input-field-container__mandatory ${mandatory ? '' : 'hidden'}">*</span>
        </p>
        <div class="number-input__group">
          <div class="number-input__group-inner">
            <input
              id="${id}"
              name="${ref}"
              class="number-input__group-input"
              type="number"
              value="${value}"
              pattern="(\\-)?(\\d+(\\.\\d{0,})?)|(\\.\\d+)"
              ${step}
              ${rangemin}
              ${rangemax}
              tabindex="0"
              placeholder="${placeholder}"
              aria-label="Enter number value"
              data-step="${btnStep}"
              data-type="${type}"
              ${disabled}
            />
            <span class="as-icon" aria-hidden="true"></span>
          </div>
          <div class="number-input__group-spin">
            <button
              class="number-input__group-action"
              type="button"
              role="button"
              tabindex="0"
              title="Increase number value"
              aria-label="Increase number value"
              data-op="increment"
              data-ref="${ref}"
              data-role="button"
              ${disabled}
            >
            </button>
            <button
              class="number-input__group-action"
              type="button"
              role="button"
              tabindex="0"
              title="Decrease number value"
              aria-label="Decrease number value"
              data-op="decrement"
              data-ref="${ref}"
              data-role="button"
              ${disabled}
            >
            </button>
          </div>
        </div>
      </div>
    </template>

    <template data-name="inputbox" data-view="inputs">
      <div class="input-field-container" data-ctrl="inputbox" data-ref="${ref}">
        <p class="input-field-container__label input-field-container--fill-w">
          ${label}
          <span class="input-field-container__mandatory ${mandatory ? '' : 'hidden'}">*</span>
        </p>
        <input
          id="${id}"
          name="${ref}"
          class="text-input input-field-container__input"
          value="${value}"
          ${minlength}
          ${maxlength}
          placeholder="${placeholder}"
          aria-label="Text field"
          ${disabled}
        />
      </div>
    </template>

    <template data-name="rangeslider" data-view="inputs">
      <div class="input-field-container" data-ctrl="rangeslider" data-ref="${ref}">
        <p class="input-field-container__label input-field-container--fill-w">
          ${label}
          <span class="input-field-container__mandatory ${mandatory ? '' : 'hidden'}">*</span>
        </p>
        <fieldset
          id="${id}"
          name="${ref}"
          class="double-slider"
        >
          <div class="double-slider__input">
            <div class="double-slider__input__progress" id="progress-bar"></div>
            <input type="range" min="0" max="100" value="0" id="min-slider" data-target="min" ${disabled}>
            <input type="range" min="0" max="100" value="100" id="max-slider" data-target="max" ${disabled}>
          </div>
          <div class="double-slider__group">
            <div class="double-slider__group__input">
              <input type="number" value="0" id="min-value" data-target="min" ${disabled}>
            </div>
            <div class="double-slider__group__input">
              <input type="number" value="100" id="max-value" data-target="max" ${disabled}>
            </div>
          </div>
        </fieldset>
      </div>
    </template>

    <template data-name="numericrange" data-view="inputs">
      <div class="input-field-container number-input" data-ctrl="numericrange" data-ref="${ref}">
        <p class="input-field-container__label input-field-container--fill-w">
          ${label}
          <span class="input-field-container__mandatory ${mandatory ? '' : 'hidden'}">*</span>
        </p>
        <div class="input-field-container__row">
          <div class="input-field-container__group">
            <p class="input-field-container__desc">
              Min value
            </p>
            <div class="number-input__group">
              <div class="number-input__group-inner">
                <input
                  id="min"
                  name="min"
                  class="number-input__group-input"
                  type="number"
                  value="${min}"
                  pattern="(\\-)?(\\d+(\\.\\d{0,})?)|(\\.\\d+)"
                  ${step}
                  tabindex="0"
                  placeholder="Enter number..."
                  aria-label="Enter number"
                  data-step="${btnStep}"
                  data-type="${type}"
                  ${disabled}
                />
                <span class="as-icon" aria-hidden="true"></span>
              </div>
              <div class="number-input__group-spin">
                <button
                  class="number-input__group-action"
                  type="button"
                  role="button"
                  tabindex="0"
                  title="Increase number value"
                  aria-label="Increase number value"
                  data-op="increment"
                  data-ref="min"
                  data-role="button"
                  ${disabled}
                >
                </button>
                <button
                  class="number-input__group-action"
                  type="button"
                  role="button"
                  tabindex="0"
                  title="Decrease number value"
                  aria-label="Decrease number value"
                  data-op="decrement"
                  data-ref="min"
                  data-role="button"
                  ${disabled}
                >
                </button>
              </div>
            </div>
          </div>
          <div class="input-field-container__group">
            <p class="input-field-container__desc">
              Max value
            </p>
            <div class="number-input__group">
              <div class="number-input__group-inner">
                <input
                  id="max"
                  name="max"
                  class="number-input__group-input"
                  type="number"
                  value="${max}"
                  pattern="(\\-)?(\\d+(\\.\\d{0,})?)|(\\.\\d+)"
                  tabindex="0"
                  ${step}
                  placeholder="Enter number..."
                  aria-label="Enter number"
                  data-step="${btnStep}"
                  data-type="${type}"
                  ${disabled}
                />
                <span class="as-icon" aria-hidden="true"></span>
              </div>
              <div class="number-input__group-spin">
                <button
                  class="number-input__group-action"
                  type="button"
                  role="button"
                  tabindex="0"
                  title="Increase number value"
                  aria-label="Increase number value"
                  data-op="increment"
                  data-ref="max"
                  data-role="button"
                  ${disabled}
                >
                </button>
                <button
                  class="number-input__group-action"
                  type="button"
                  role="button"
                  tabindex="0"
                  title="Decrease number value"
                  aria-label="Decrease number value"
                  data-op="decrement"
                  data-ref="max"
                  data-role="button"
                  ${disabled}
                >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template data-name="ciinterval" data-view="inputs">
      <div class="input-field-container number-input" data-ctrl="ciinterval" data-ref="${ref}">
        <p class="input-field-container__label input-field-container--fill-w">
          ${label}
          <span class="input-field-container__mandatory ${mandatory ? '' : 'hidden'}">*</span>
        </p>
        <div class="input-field-container__row">
          <div class="input-field-container__group">
            <p class="input-field-container__desc">
              CI Probability
            </p>
            <div class="number-input__group">
              <div class="number-input__group-inner">
                <input
                  id="probability"
                  name="probability"
                  class="number-input__group-input"
                  type="number"
                  value="${probability}"
                  pattern="(\\-)?(\\d+(\\.\\d{0,})?)|(\\.\\d+)"
                  min="0"
                  max="100"
                  step="0.1"
                  tabindex="0"
                  placeholder="Enter CI Probability"
                  aria-label="Enter probability"
                  data-step="0.1"
                  data-type="percentage"
                  ${disabled}
                />
                <span class="as-icon" aria-hidden="true"></span>
              </div>
              <div class="number-input__group-spin">
                <button
                  class="number-input__group-action"
                  type="button"
                  role="button"
                  tabindex="0"
                  title="Increase number value"
                  aria-label="Increase number value"
                  data-op="increment"
                  data-ref="probability"
                  data-role="button"
                  ${disabled}
                >
                </button>
                <button
                  class="number-input__group-action"
                  type="button"
                  role="button"
                  tabindex="0"
                  title="Decrease number value"
                  aria-label="Decrease number value"
                  data-op="decrement"
                  data-ref="probability"
                  data-role="button"
                  ${disabled}
                >
                </button>
              </div>
            </div>
          </div>
          <div class="input-field-container__group">
            <p class="input-field-container__desc">
              Lower Bound
            </p>
            <div class="number-input__group">
              <div class="number-input__group-inner">
                <input
                  id="lower"
                  name="lower"
                  class="number-input__group-input"
                  type="number"
                  value="${lower}"
                  pattern="(\\-)?(\\d+(\\.\\d{0,})?)|(\\.\\d+)"
                  step="0.1"
                  tabindex="0"
                  placeholder="Enter CI lower bound"
                  aria-label="Enter lower bound"
                  data-step="0.1"
                  data-type="numeric"
                  ${disabled}
                />
                <span class="as-icon" aria-hidden="true"></span>
              </div>
              <div class="number-input__group-spin">
                <button
                  class="number-input__group-action"
                  type="button"
                  role="button"
                  tabindex="0"
                  title="Increase number value"
                  aria-label="Increase number value"
                  data-op="increment"
                  data-ref="lower"
                  data-role="button"
                  ${disabled}
                >
                </button>
                <button
                  class="number-input__group-action"
                  type="button"
                  role="button"
                  tabindex="0"
                  title="Decrease number value"
                  aria-label="Decrease number value"
                  data-op="decrement"
                  data-ref="lower"
                  data-role="button"
                  ${disabled}
                >
                </button>
              </div>
            </div>
          </div>
          <div class="input-field-container__group">
            <p class="input-field-container__desc">
              Upper Bound
            </p>
            <div class="number-input__group">
              <div class="number-input__group-inner">
                <input
                  id="upper"
                  name="upper"
                  class="number-input__group-input"
                  type="number"
                  value="${upper}"
                  pattern="(\\-)?(\\d+(\\.\\d{0,})?)|(\\.\\d+)"
                  step="0.1"
                  tabindex="0"
                  placeholder="Enter CI upper bound"
                  aria-label="Enter upper bound"
                  data-step="0.1"
                  data-type="numeric"
                  ${disabled}
                />
                <span class="as-icon" aria-hidden="true"></span>
              </div>
              <div class="number-input__group-spin">
                <button
                  class="number-input__group-action"
                  type="button"
                  role="button"
                  tabindex="0"
                  title="Increase number value"
                  aria-label="Increase number value"
                  data-op="increment"
                  data-ref="upper"
                  data-role="button"
                  ${disabled}
                >
                </button>
                <button
                  class="number-input__group-action"
                  type="button"
                  role="button"
                  tabindex="0"
                  title="Decrease number value"
                  aria-label="Decrease number value"
                  data-op="decrement"
                  data-ref="upper"
                  data-role="button"
                  ${disabled}
                >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</div>
