name: 'Issue States/open/close'

on:
  project_card:
    types: [created, edited, moved]

permissions:
  repository-projects: read
  issues: write
  pull-requests: write

jobs:
  action:
    runs-on: ubuntu-latest
    steps:
      - uses: dessant/issue-states@v2
        with:
            github-token: ${{ github.token }}
            open-issue-columns: ''
            closed-issue-columns: 'Done / Deployed'
            log-output: false