name: Release

on:
  push:
    branches:
      - master

permissions:
  # read needed for changes detection
  # write needed to author a Github release 
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:

  changes:
    # Detect which files have been changed on this PR's full history
    uses: SwanseaUniversityMedical/workflows/.github/workflows/changes-release.yaml@v4.1.0
    with:
      slack-channel: ${{ vars.SLACK_CHANNEL }}
      filters: |
        concept-library-container:
          - './.github/workflows/on-release.yaml'
          - './CodeListLibrary_project/**'
          - './docker/**'

    secrets:
      slack-token: ${{ secrets.SLACK_TOKEN }}

  concept-library-container:
    needs: changes
    if: fromJSON(needs.changes.outputs.changes).concept-library-container == 'true'
    uses: SwanseaUniversityMedical/workflows/.github/workflows/on-release-container.yaml@v4.1.0
    with:
      job-name: concept-library-container
      container-registry: ${{ vars.HARBOR_REGISTRY }}
      container-registry-user: ${{ vars.HARBOR_USER }}
      container-registry-project: ${{ vars.HARBOR_PROJECT }}
      container-registry-repo: concept-library
      release-tag-format: 'Concept-Library-${version}'
      release-branches: |
        ['master']
      slack-channel: ${{ vars.SLACK_CHANNEL }}
      build-command: |
        docker build -t $IMAGE -f "docker/production/build.Dockerfile" --build-arg server_name="conceptlibrary.saildatabank.com" .
    secrets:
      container-registry-token: ${{ secrets.HARBOR_TOKEN }}
      slack-token: ${{ secrets.SLACK_TOKEN }}      
      
