{% load static %}
{% load markdownify %}
{% load cl_extras %}
{% load entity_renderer %}

<div class="detailed-input-group fill">
  <p class="detailed-input-group__description">
    {{ component.field_data.title }}
  </p>
  <div class="publication-list-group">
    <section class="publication-list-group__list mg-sm show" id="string_inputlist-group">
      {% if component.value|length %}
        <ul>
          {% for p in component.value %}
            {% if p.title and p.title|length %}
            <li>
              <a href="{% if p.url and p.url|length %}{{ p.url }}{% endif %}"
                 aria-label="Visit Reference: {{ p.title }}">
                {{ p.title }}
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <span class="card-no-data">None available</span>
      {% endif %}
    </section>
  </div>
</div>
