{% extends "base.html" %}

{% load staticfiles %}

{% block title %}| Search Concepts{% endblock title %}

{% block container %}

	<h2 class="page-header"><i class="fa fa-list" aria-hidden="true"></i> Concepts</h2>
	<form id="concept-list-filter" action="{% url 'concept_list' %}" method="POST" >
		{% csrf_token %}
		<div class="panel panel-default">
			<div class="panel-body">
			
				<div class="row form-group">
					<div class="col-md-2">
						<label for="search">Search:</label>
					</div>
					<div class="col-sm-6">
						<input class="form-control" type="text" placeholder="Search" name="search" id="search" value="{{ search|default_if_none:'' }}">
					</div>
					<div class="col-md-2">
						<label for="page_size">Results per page:</label>
					</div>
					<div class="col-md-2"> 
						<select class="form-control" id="page_size" name="page_size">
							<option value="20" {% if page_size == "20" %}selected="selected" {% endif %}>20</option>
							<option value="50" {% if page_size == "50" %}selected="selected" {% endif %}>50</option>
							<option value="100" {% if page_size == "100" %}selected="selected" {% endif %}>100</option>
						</select>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-2">
						<label for="tag">Tag:</label>
					</div>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="tagids" id="txtTags" data-role="tagsinput" value="{{ tag|default_if_none:'' }}">
					</div>					
				</div>
				
				<div class="row form-group">
				   <div class="col-sm-2">
						<label for="brand">Brand:</label>
					</div>
					<div class="col-sm-10">
					   {% if request.session.all_brands %}
						   <ul class="nav navbar-nav">
							     <select class="form-control" name="concept_brand" id="concept_brand"  >  
								    <option value=""  style='background-color: lightgreen;' >Any</option>
									{% for brand in request.session.all_brands %}
										<option value="{{ brand|upper }}" 
										       {% if brand|upper == concept_brand|upper %} selected="selected" {% endif %}
										       >
											{{ brand|upper }}
											{% if brand|upper in request.session.user_brands %} (*) {% endif %}
									</option>
									{% empty %}
										<option value="-1" >No Brands !!!</option>
									{% endfor %}
								  </select>
							</ul>
						{% endif %}
					</div>	
				</div>
				
				<div class="row form-group">
					<div class="col-md-3">
						<div class="checkbox">
							<label>
								<input id="show_deleted_concepts" type="checkbox" name="show_deleted_concepts" {% if show_deleted_concepts %}checked="checked"{% endif %} value="1" >
								Show deleted concepts
							</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="checkbox">
							<label>
								<input id="show_only_validated_concepts" type="checkbox" name="show_only_validated_concepts" {% if show_only_validated_concepts %}checked="checked"{% endif %} value="1" >
								Only Show validated concepts
							</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="checkbox">
							<label>
								<input id="show_my_concepts" type="checkbox" name="show_my_concepts" {% if show_my_concepts %}checked="checked"{% endif %} value="1" >
								Only show concepts owned by me
							</label>
						</div>
					</div>
					<div class="col-md-3 text-right">
						<button class="btn btn-info" name="page" value="1">
							<i class="fa fa-search"></i> Search Concepts
						</button>
					</div>
				</div>					
			</div>
		</div>
		
		<div>
		{% if not CLL_READ_ONLY %}
			<a class="btn btn-primary" {% if allowed_to_create %} href="{% url 'concept_create' %}" {% else %} disabled {% endif %}>
				<i class="fa fa-plus"></i> Add new concept
			</a>
			<span style="width: 10px;">&nbsp;</span>
		{% endif %}
		
			<a class="btn btn-info"  href="{% url 'choose_concepts_to_compare' %}" target=_blank >
				<i class="fa fa-columns"></i> Compare concepts
			</a>
			
		{% if enable_publish %}	
			<span style="width: 10px;">&nbsp;</span>
			<a class="btn btn-info"  href="{% url 'published_concept_list' %}" target=_blank >
				<i class="fa fa-paper-plane"></i> Published concepts
			</a>
		{% endif %}	
			     			
		</div>
		
		<!-- div class="page-control-container">
			{% include 'pagination.html' with form_target='concept-list-filter' %}	
		</div-->
		<br/>
		{% if concept_brand|length %} 
			 <!--div class="w-50 p-3 bs-example" style="width:50%;">
			    <div class="alert-info fade in" style="height:20px;">
			       	Showing concepts affiliated with <b>{{ concept_brand|upper }}</b>. 
			       	<span><img height="20px" src="{% static 'img/brands/' %}{{ concept_brand }}/logo1.png"  alt="{{ concept_brand }} Logo" /></span>
			    </div>
			</div-->
		{% endif %}
		<table class="table table-striped small-table table-hover">
			<tr>
				<th>Id</th>
				<th style="width: 200px;">Concept name</th>	
				<th>Coding system</th>
				<th>Owner</th>
<!-- 				<th>Tags</th> -->
				<th>Created</th>
				<th>Created date</th>
				<th>Modified</th>
				<th>Modified date</th>
				<th>Is del.</th>
				<th>Deleted date</th>
				<th style="width: 60px;"></th>
				<th></th>
			</tr>
			{% block content %}
				{% for concept in page_obj.object_list %}  
				<tr {% cycle '' ' class="form-group highlight-row" ' %} >
					<td>{{ concept.id }}</td>
					<td><!-- a href="{% url "concept_detail" concept.id %}" title="View concept details">{{ concept.name }}</a -->{{ concept.name }}
					{% for item in request.BRAND_GROUPS %}
						{% for brand, groups in item.iteritems %}
							{% if concept.group.name in groups %}
							<img src="{% static 'img/brands/' %}{{brand}}/logo.png" height="10px" title="{{brand}}" alt="{{brand}}" />
							{% endif %}
						{% endfor %}
					{% endfor %}
					</td>				
					<td>{{ concept.coding_system }}</td>
<!-- 					<td></td> -->
					<td>{{ concept.owner }}</td>
					<td>{{ concept.created_by }}</td>
					<td>{{ concept.created|date:"Y-m-d H:i" }}</td>
					<td>{{ concept.modified_by }}</td>
					<td>{{ concept.modified|date:"Y-m-d H:i" }}</td>
					<td>{% if concept.is_deleted is True %}
						<span>&#10004;</span>
						{% endif %}
					</td>
					<td>{{ concept.deleted|date:"Y-m-d H:i" }}</td>
					<td class="text-right" style="width: 60px;">
						{% if concept.is_deleted is not True and concept.can_edit %}
						<a href="{% url 'concept_update' concept.id %}" title="Edit concept">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</a> 
						<span style="width: 10px;">&nbsp;</span>
						{% endif %}
						{% if concept.is_deleted is not True and concept.can_edit %}
						<a class="js-load-modal" href="{% url 'concept_delete' concept.id %}" title="Delete concept">
							<span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span>
						</a>
						<span style="width: 10px;">&nbsp;</span>
						{% endif %}
						{% if concept.is_deleted is True and concept.can_edit %}
						<a class="js-load-modal" href="{% url 'concept_restore' concept.id %}" title="Restore concept">
							<span class="glyphicon glyphicon-repeat text-success" aria-hidden="true"></span>
						</a>
						<span style="width: 10px;">&nbsp;</span>
						{% endif %}
						<!-- Tree not currently working.
						<a class="js-load-modal" href="{% url 'concept_tree' pk=concept.id %}" title="View tree">
							<i class="fa fa-tree" aria-hidden="true"></i>
						</a>
						  -->
					</td>
					<td class="text-right">
						<a class="" href="{% url 'concept_detail' concept.id %}">
						<button type="button" class="btn btn-info btn-xs text-right">
							<i class="glyphicon glyphicon-search"> </i>
						</button>
						</a>
						<!-- a class="" href="{% url 'concept_detail' concept.id %}" title="View concept details">
							<span class="glyphicon glyphicon-search text-info" aria-hidden="true"></span>
						</a -->
						<span style="width: 10px;">&nbsp;</span>
					</td>
				<tr>
				{% empty %}
					<tr>
						<td colspan="11" class="text-center bg-warning">
							No concepts
						</td>
					</tr>
				{% endfor %}
			{% endblock %}
		</table>
		<div class="page-control-container">
			{% include 'pagination.html' with form_target='concept-list-filter' %}	
		</div>
	</form>	
{% endblock container %}

{% block scripts %}
	<script src="{% static 'js/clinicalcode/component.js' %}"></script>
	<script src="{% static 'js/clinicalcode/tags.js' %}"></script>
	
	<script type="text/javascript">
		tagService.initialize();
		
		$(function(){
			{% for tag in tags %}
				$('#txtTags').tagsinput('add', {'id': {{ tag.id }}, 'description': '{{ tag.description }}', 'display': '{{ tag.get_display_display }}'});
			{% endfor %}
		});
		
	</script>
	

	
{% endblock scripts %}

