<form method="post" action="{% url 'concept_upload_codes' pk=pk %}" id="concept-upload-codes-form" class="form-horizontal" novalidate enctype="multipart/form-data">
	{% csrf_token %}
	
	<input type="hidden" name="action" id="action" />
	
	<script  type="text/javascript">
	    $(document).ready(function () {
	        //when a submit button is clicked, put its name into the action hidden field
	        $(":submit").click(function () { $("#action").val(this.name); });
	    });
	</script>
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
			<i class="fa fa-upload" aria-hidden="true"></i> Upload codes
		</h4>
		<div class="text-right">
			<button type="submit" class="btn btn-primary" name="Save">
				<i class="fa fa-save" aria-hidden="true"></i> Save
			</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		</div>
	</div>

	<div class="modal-body">
		<div class="row">
			<div class="col-sm-3">
				<i class="help-block"><span class="required">*</span> denotes a required field</i>
			</div>
			<div class="col-sm-9 text-right" id="concept-upload-container">
				<a href="#" role="button" class="popovers" id="concept-upload" data-container="#concept-upload-container" data-toggle="popover" data-trigger="hover" title="" data-original-title="Upload codes help" data-placement="left">
					<i class="fa fa-question-circle" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		
<div>
	<input type="hidden" id="latest_history_id_shown" name="latest_history_id_shown"  value="{{ request.GET.latest_history_id }}"> 
 	<input type="hidden" id="component_id" name="component_id"  value="{{ object.id }}">
 	
 	<input type="hidden" id="latest_history_id_concept" name="latest_history_id_concept"  value="{{ latest_history_ID }}">
 	 
</div>
		
		<div class="form-group {% if form.upload_name.errors %}has-error{% endif %}">
			<label for="{{ form.upload_name.id_for_label }}" class="col-sm-3 required">{{ form.upload_name.label }}</label>
			<div class="col-sm-7">
				{{ form.upload_name }}
				{% if form.name.errors %}
	              <span class="help-block">
	                {% for error in form.name.errors %}{{ error }}{% endfor %}
	              </span>
	            {% endif %}
			</div>
		</div>
		<div class="form-group {% if form.logical_type.errors %}has-error{% endif %}">
			<label class="col-sm-3">{{ form.logical_type.label }}</label>
			<div class="col-sm-7">
				{% for choice in form.logical_type %}
				<div class="radio">
					<label>
						{{ choice.tag }}
						{{ choice.choice_label }}
					</label>
				</div>
				{% endfor %}
			</div>
		</div>
		
		<div class="form-group {% if form.concept_level_depth.errors %}has-error{% endif %}">
			<label class="col-sm-3">Concept level depth:</label>
			<div class="col-sm-3">
				{{ form.concept_level_depth }}
				{% if form.concept_level_depth.errors %}
	              <span class="help-block">
	                {% for error in form.concept_level_depth.errors %}{{ error }}{% endfor %}
	              </span>
	            {% endif %}
			</div>
			<div class="col-sm-6" id="concept-level-depth-container">
				<a href="#" role="button" class="popovers" id="concept-level-depth" data-container="#concept-level-depth-container" data-toggle="popover" data-trigger="hover" title="" data-original-title="Concept level depth" data-placement="right">
					<i class="fa fa-question-circle" aria-hidden="true"></i>
				</a>
			</div>
		</div> 
		
		<div class="form-group {% if form.category_column.errors %}has-error{% endif %}">
			<label class="col-sm-3">Category description:</label>
			<div class="col-sm-4">
				{{ form.category_column }}
				{% if form.category_column.errors %}
				<span class="help-block">
					{% for error in form.category_column.errors %}{{ error }}{% endfor %}
				</span>
				{% endif %}
			</div>
			<div class="col-sm-5" id="concept-cat-sub-cat-description-container">
				<a href="#" role="button" class="popovers" id="concept-cat-sub-cat-description" data-container="#concept-cat-sub-cat-description-container" data-toggle="popover" data-trigger="hover" title="" data-original-title="Category and sub category descriptions" data-placement="right">
					<i class="fa fa-question-circle" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		
		<div class="form-group {% if form.sub_category_column.errors %}has-error{% endif %}">
			<label class="col-sm-3">Sub category description:</label>
			<div class="col-sm-4">
				{{ form.sub_category_column }}
				{% if form.sub_category_column.errors %}
				<span class="help-block">
					{% for error in form.sub_category_column.errors %}{{ error }}{% endfor %}
				</span>
				{% endif %}
			</div>
		</div>
	
		<div class="form-group {% if form.first_row_has_column_headings.errors %}has-error{% endif %}">
			<label class="col-sm-3">{{ form.first_row_has_column_headings.label }}</label>
			<div class="col-sm-1">
				{{ form.first_row_has_column_headings }}
				{% if form.first_row_has_column_headings.errors %}
	              <span class="help-block">
	                {% for error in form.first_row_has_column_headings.errors %}{{ error }}{% endfor %}
	              </span>
	            {% endif %}
			</div>
			<div class="col-sm-8" id="concept-first-row-has-column-headings-container">
				<a href="#" role="button" class="popovers" id="concept-first-row-has-column-headings" data-container="#concept-first-row-has-column-headings-container" data-toggle="popover" data-trigger="hover" title="" data-original-title="First row has column headings" data-placement="right">
					<i class="fa fa-question-circle" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		
		<div class="form-group {% if form.col_1.errors %}has-error{% endif %}">
			<label class="col-sm-3">{{ form.col_1.label }}</label>
			<div class="col-sm-4">
				{{ form.col_1 }}
				{% if form.col_1.errors %}
	              <span class="help-block">
	                {% for error in form.col_1.errors %}{{ error }}{% endfor %}
	              </span>
	            {% endif %}
			</div>
			<div class="col-sm-5" id="concept-col-1-container">
				<a href="#" role="button" class="popovers" id="concept-col-1" data-container="#concept-col-1-container" data-toggle="popover" data-trigger="hover" title="" data-original-title="Column mappings" data-placement="right">
					<i class="fa fa-question-circle" aria-hidden="true"></i>
				</a>
			</div>
		</div> 
		
		<div class="form-group {% if form.col_2.errors %}has-error{% endif %}">
			<label class="col-sm-3">{{ form.col_2.label }}</label>
			<div class="col-sm-4">
				{{ form.col_2 }}
				{% if form.col_2.errors %}
	              <span class="help-block">
	                {% for error in form.col_2.errors %}{{ error }}{% endfor %}
	              </span>
	            {% endif %}
			</div>
		</div> 
		
		<div class="form-group {% if form.col_3.errors %}has-error{% endif %}">
			<label class="col-sm-3">{{ form.col_3.label }}</label>
			<div class="col-sm-4">
				{{ form.col_3 }}
				{% if form.col_3.errors %}
	              <span class="help-block">
	                {% for error in form.col_3.errors %}{{ error }}{% endfor %}
	              </span>
	            {% endif %}
			</div>
		</div> 
		
		<div class="form-group {% if form.col_4.errors %}has-error{% endif %}">
			<label class="col-sm-3">{{ form.col_4.label }}</label>
			<div class="col-sm-4">
				{{ form.col_4 }}
				{% if form.col_4.errors %}
	              <span class="help-block">
	                {% for error in form.col_4.errors %}{{ error }}{% endfor %}
	              </span>
	            {% endif %}
			</div>
		</div> 
		
		<div class="form-group {% if form.col_5.errors %}has-error{% endif %}">
			<label class="col-sm-3">{{ form.col_5.label }}</label>
			<div class="col-sm-4">
				{{ form.col_5 }}
				{% if form.col_5.errors %}
	              <span class="help-block">
	                {% for error in form.col_5.errors %}{{ error }}{% endfor %}
	              </span>
	            {% endif %}
			</div>
		</div> 
		
		<div class="form-group {% if form.col_6.errors %}has-error{% endif %}">
			<label class="col-sm-3">{{ form.col_6.label }}</label>
			<div class="col-sm-4">
				{{ form.col_6 }}
				{% if form.col_6.errors %}
	              <span class="help-block">
	                {% for error in form.col_6.errors %}{{ error }}{% endfor %}
	              </span>
	            {% endif %}
			</div>
		</div> 
		<div class="form-group {% if form.upload_concept_file.errors %}has-error{% endif %}">
			<label for="{{ form.upload_concept_file.id_for_label }}" class="col-sm-3 required">{{ form.upload_concept_file.label }}</label>
			<div class="col-sm-7">
				{{ form.upload_concept_file }}
				{% if form.upload_concept_file.errors %}
	              <span class="help-block">
	                {% for error in form.upload_concept_file.errors %}{{ error }}{% endfor %}
	              </span>
	            {% endif %}
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" name="Save">Save</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>
	
	<div id="popover-content-concept-upload" class="hide">
		<div>
			<p>The uploaded csv file can contain the following columns: code, description, category, category description, sub category, sub category description within the first 6 columns.</p>
			<p>There are three scenarios:</p>
			
			<ol>
				<li>Upload code and descriptions only. This will create a component and attach the uploaded codes to the component. This is the minimum requirement for uploading.</li>
				<li>Upload code and descriptions with a category. This will create component for each category and attach the codes to the relevant category component.</li>
				<li>Upload code and descriptions with categories and sub categories. This will attach a concept component for each category and create a component for each sub category.</li>
			</ol>
			
			<p>
				If you have sub categories then you need to set the Concept level depth to 2. This will ensure that the correct concept hierarchy is created.
			</p>
			<p>
				The category description and sub category description fields are used when naming components. So if you have categories and/or sub categories then you need to specify the column(s) that will be used when naming the components. This will usually be category description or sub category description.
			</p>
			<p>
				If the column names are contained within the first row of the csv file then check the "Has column names in the first row" checkbox.
			</p>
			<p>
				The last step is to map the columns in the csv file to the code list columns to be inserted into the database.
			</p>
		</div>
	</div>
	<div id="popover-content-concept-level-depth" class="hide">
		<div>
			If you have sub categories then you need to set the Concept level depth to 2. This will ensure that the correct concept hierarchy is created.
		</div>
	</div>
	<div id="popover-content-concept-cat-sub-cat-description" class="hide">
		<div>
			The category description and sub category description fields are used when naming components. So if you have categories and/or sub categories then you need to specify the column(s) that will be used when naming the components. This will usually be category description or sub category description.
		</div>
	</div>
	<div id="popover-content-concept-first-row-has-column-headings" class="hide">
		<div>If the column names are contained within the first row of the csv file then check the "Has column names in the first row" check box.</div>
	</div>
	<div id="popover-content-concept-col-1" class="hide">
		<div>Map the columns in the csv file to the code list columns to be inserted into the database. e.g. Column 1 contains the code field, Column 2 contains the description field.</div>
	</div>
</form>

<script>
	$(function(){
		// unattach the submit event (it was posting multiple times because of validation)
		$('#modal-section').off('submit', '#concept-upload-codes-form');
	
		//post the code list form
		$('#modal-section').on('submit', '#concept-upload-codes-form', function(e){
			e.preventDefault();
			
			var form = $(this);
			var params = form.serializeArray();
			
			// get the files collection
			var files = $("#id_upload_concept_file")[0].files;
			
		    var formData = new FormData();
			
		  	// Looping through uploaded files collection in case there is a Multi File Upload. This also works for single i.e simply remove MULTIPLE attribute from file control in HTML.  
		    for (var i = 0; i < files.length; i++) {
		        formData.append('upload_concept_file', files[i]);
		    }

		    //Now Looping the parameters for all form input fields and assigning them as Name Value pairs. 
		    $(params).each(function (index, element) {
		    	formData.append(element.name, element.value);
		    });
		
	    //=============================================	 	
		var doFormSubmit = function(form){	
		    // post form 
			$.ajax({
				url:  form.attr("action"),
				data: formData,
				type: form.attr("method"),
				contentType: false,
				processData: false,
				beforeSend: function(xhr, opts){
					$(".loader").show();
				},
				success: function(data){
					if(data.form_is_valid){
						$('#component-table tbody').html(data.html_component_list);
						$('#history-table tbody').html(data.html_history_list);
						$('#latest-history-ID-Div').html(data.latest_history_ID);
						$('#latest_history_id').val(data.latest_history_ID);
						$('#concept-component-form-container').html(data.add_menu_items);
						
						// href needs to be updated for publish concept to get latest history id
						if($('#publish2').length){
							var pub_href = $('#publish2').attr("href").split("/");
							pub_href[3] = data.latest_history_ID;
							pub_href = pub_href.join("/")
							$('#publish2').attr("href", pub_href);
						}
						
						if ($("#action").val() == "Save")
						{
							$('#modal-section').modal('hide');
							$('#modal-section .modal-content').html('');
						}
						else
						{
							$('#modal-section').modal('hide');
							$('#modal-section .modal-content').html('');
						}
					}
					else{
						$('#modal-section .modal-content').html(data.html_form);
					}
				},
				complete: function(){
					$(".loader").hide();
				}
			});
		}
		//=============================================
		//=============================================
			//alert( "first ajax....." );
			$.ajax({
				url: '{% url "check_concurrent_concept_update" pk %}',
		        type: 'GET',
				data: {"latest_history_id_shown": form.find('input[name=latest_history_id_shown]').val()  
					  ,"component_id": form.find('input[name=component_id]').val()  
					},
				//dataType: 'json',
				beforeSend: function(xhr, opts){
					$(".loader").show();
				},
				success: function(data){
					//alert('check done.......');
							 
					if(data.errorMsg){
						 if(data.overrideVersion == -1){
							 alert(data.errorMsg);
							 $(".loader").hide();
						 } else {
							 confrm = false;
							 confrm = confirm(data.errorMsg);
							 if(confrm){
								 doFormSubmit(form);
							 }else{
								 $(".loader").hide();
							 }
						 }
					}
						   

					if(data.successMsg){
						//alert(data.successMsg);
						doFormSubmit(form);		
					}
				},
				complete: function(){
					//$(".loader").hide();
				}
			});
            //=============================================
            	
			return false;
		});
	});

</script>